workflows/youtube-agent/parser.json
{"updatedAt":"2025-08-04T16:26:54.921Z","createdAt":"2025-08-04T16:26:54.921Z","id":"OnCnYDvSqSflxFVp","name":"youtube-agent/parser","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/commentThreads","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"id,snippet,replies"},{"name":"videoId","value":"={{ $('Execute Workflow Trigger').item.json.query.video_id }}"},{"name":"maxResults","value":"100"}]},"options":{}},"id":"0506216a-01e8-4d03-a6d6-1d875a2e96e3","name":"Get Comments","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,-500]},{"parameters":{},"id":"138f31ab-9fdb-4374-ac64-6a32bf113899","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2480,-500]},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/channels","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"forHandle","value":"={{ $('Execute Workflow Trigger').item.json.query.handle }}"}]},"options":{}},"id":"ac9575b0-200a-4c08-95db-c8ea9b620931","name":"Get Channel Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,-820]},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/videos","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,contentDetails,statistics"},{"name":"id","value":"={{ $('Execute Workflow Trigger').item.json.query.video_id }}"}]},"options":{}},"id":"0e13a8c7-9195-4f05-bcc8-ba0e1cc1bc2c","name":"Get Video Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,-660]},{"parameters":{"assignments":{"assignments":[{"id":"469d89ba-23fc-482a-b4ae-ce5d3bc13579","name":"response","value":"={{ JSON.stringify(`  Comments:  ${$json.items.map(item => {   const topLevelComment = `${item.snippet.topLevelComment.snippet.authorDisplayName}: ${item.snippet.topLevelComment.snippet.textOriginal}`;   const replies = item.replies?.comments.map(reply =>      `${reply.snippet.authorDisplayName}: ${reply.snippet.textOriginal}`   ).join('\\n') || '';   return [topLevelComment, replies].filter(Boolean).join('\\n'); }).join('\\n\\n')}    `) }}","type":"string"}]},"options":{}},"id":"b72a0815-fc95-4a75-a258-9bd370c664ba","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1700,-500]},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"q","value":"={{ $('Execute Workflow Trigger').item.json.query.query }}"},{"name":"order","value":"={{ $('Execute Workflow Trigger').item.json.query.order }}"},{"name":"type","value":"={{ $('Execute Workflow Trigger').item.json.query.type }}"},{"name":"maxResults","value":"={{ $('Execute Workflow Trigger').item.json.query.number_of_videos }}"},{"name":"publishedAfter","value":"={{ $('Execute Workflow Trigger').item.json.query.publishedAfter }}"}]},"options":{}},"id":"7478cf61-920b-4eb5-8e6d-270a64f1ae66","name":"Run Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,-340]},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/search","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"channelId","value":"={{ $('Execute Workflow Trigger').item.json.query.channel_id }}"},{"name":"order","value":"={{ $('Execute Workflow Trigger').item.json.query.order }}"},{"name":"maxResults","value":"={{ $('Execute Workflow Trigger').item.json.query.number_of_videos }}"},{"name":"type","value":"video"},{"name":"publishedAfter","value":"={{ $('Execute Workflow Trigger').item.json.query.publishedAfter }}"}]},"options":{}},"id":"5ea6a12f-6bf8-47ae-b846-64a5c5aa992d","name":"Get Videos by Channel","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,-180]},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"={{$json}}","type":"object"}]},"options":{}},"id":"c2f365b3-84d9-4c8c-9b34-8e3f9b81896b","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"get_channel_details","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_channel_details"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26a3ffe8-c8a6-4564-8d18-5494a8059372","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"video_details","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_details"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f51cc26-2e42-42e1-a5c2-cb1d2e384962","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"comments","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"comments"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51031140-5ceb-48aa-9f33-d314131a9653","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"search","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"search"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f160bf0a-423f-448d-ab80-50a0b6a177ca","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"videos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"videos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29542ac4-7b9d-413f-aabb-a1cdabed2fa7","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"analyze_thumbnail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"analyze_thumbnail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"35fc39b8-6cf1-4ea6-9609-4a195c5526f8","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"video_transcription","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_transcription"}]},"options":{}},"id":"51593cb5-b1d5-4564-9501-678a7349e4e5","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2300,-520]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/dB9f4B02ocpTICIEY/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"startUrls\": [\n    \"{{ $('Execute Workflow Trigger').item.json.query.video_url }}\"\n  ]\n}","options":{}},"id":"073494ec-817b-42c7-9fb8-02afe0552135","name":"Get Video Transcription","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1860,140]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"={{ $('Execute Workflow Trigger').item.json.query.prompt }}","imageUrls":"={{ $('Execute Workflow Trigger').item.json.query.url }}","options":{}},"id":"c48bc9bc-cf3c-4f41-86ff-42ee6c71e3b8","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1860,-20]},{"parameters":{"options":{}},"id":"1cf69a8e-0670-4c50-85ab-df106afdf7bf","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1200,120]},{"parameters":{"name":"get_channel_details","description":"Get channel_id, title and description by handle/username.\nChannel_id is required to find videos and details about this channel.\nIf Youtube link to channel provided - parse handle from there or return channel_id. (e.g. https://www.youtube.com/@example_handle - example_handle)\n\n\nExample Input:\nexample_handle\n\nExample Output:\nid:UCOgz_YflAsYnGbdvzXuKNCA\ntitle:Daniel Simmons\ndescription:Digital Diary 🤎\\n\\n\\nWeekly videos around fashion...","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"=get_channel_details"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"handle\": {\n      \"type\": \"string\",\n      \"description\": \"Handle/username of channel\"\n    }},\n  \"required\": [\"handle\"]\n}"},"id":"ebee856d-cf91-47c6-9f58-caf1706b775a","name":"get_channel_details","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-840,120]},{"parameters":{"name":"get_video_description","description":"Fetch video details - the full description, title, and publish date of a video using its video_id.\n\nExample input:\nvideo_id:dQw4w9WgXcQ\n\nExample Output:\ntitle:Never Gonna Give You Up\ndescription: \"The official video for “Never Gonna Give You Up” by Rick Astley.\nduration:4 min\nviewCount:154\nlikeCount:6\nthumbnails: urls","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"video_details"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"video_id\": {\n      \"type\": \"string\",\n      \"description\": \"The ID of the video to fetch details for\"\n    }\n  },\n  \"required\": [\"video_id\"]\n}"},"id":"5c920388-26a3-452c-8043-2d71c6704f22","name":"get_video_description","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-720,120]},{"parameters":{"name":"get_list_of_videos","description":"Retrieve a list of videos from a channel using channel_id. Supports sorting by date, relevance, or view count.\n\nExample Input:\nchannel_id\": \"UCxxxxxxxxxxxxxxxx\"\nnumber_of_videos\": 5\norder: \"date\"\npublishedAfter: \"timestamp\"\n\nExample Output:\nvideo_id:abc123\ntitle:Latest Video\nshort cut description:Latest Video\npublished_at:2023-12-05T10:00:00Z","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"videos"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"channel_id\": {\n      \"type\": \"string\",\n      \"description\": \"The ID of the channel to fetch videos from\"\n    },\n    \"number_of_videos\": {\n      \"type\": \"integer\",\n      \"description\": \"The maximum number of videos to retrieve (max 50)\"\n    },\n    \"order\": {\n      \"type\": \"string\",\n      \"enum\": [\"date\", \"relevance\", \"viewCount\"],\n      \"description\": \"Order in which to fetch videos\"\n    },\n    \"publishedAfter\": {\n      \"type\": \"string\",\n      \"description\": \"Timestamp for filtering like 2023-11-03T15:28:05Z.\"\n    }\n  },\n  \"required\": [\"channel_id\", \"number_of_videos\", \"order\"]\n}"},"id":"4903291e-e5bc-4b79-8226-fd7fe3147eda","name":"get_list_of_videos","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-600,120]},{"parameters":{"name":"get_list_of_comments","description":"Retrieve a list of comments from a video using video_id.\n\nInput:\n  \"video_id\": \"dQw4w9WgXcQ\"\n\nOutput:\n    \"author\": \"John Doe\",\n    \"comment\": \"This is an amazing video!\",\n    \"published_at\": \"2023-12-04T12:00:00Z\"","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"comments"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"video_id\": {\n      \"type\": \"string\",\n      \"description\": \"The ID of the video to fetch comments from\"\n    }\n  },\n  \"required\": [\"video_id\"]\n}"},"id":"eda7d100-cbd5-40e8-9991-720164ed3385","name":"get_list_of_comments","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-480,120]},{"parameters":{"name":"search","description":"Search for videos or channels using a query. Supports filtering by type (video or channel) and sorting (date, viewCount, relevance). Use | for OR and - to exclude terms in the query.\n\nInput:\ntype: video or channel\nquery: search query\nsorting: date, viewCount, relevance\npublishedAfter: timestamp\n\nOutput:\n- id, title, short cut description, and published_at.","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"search"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"type\": {\n      \"type\": \"string\",\n      \"enum\": [\"video\", \"channel\"],\n      \"description\": \"Type of results to retrieve: video or channel\"\n    },\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"Search query. Supports | for OR and - to exclude terms\"\n    },\n    \"sorting\": {\n      \"type\": \"string\",\n      \"enum\": [\"date\", \"viewCount\", \"relevance\"],\n      \"description\": \"Sorting criteria for search results\"\n    },\n    \"publishedAfter\": {\n      \"type\": \"string\",\n      \"description\": \"Timestamp for filtering like 2023-11-03T15:28:05Z\"\n    }\n  },\n  \"required\": [\"type\", \"query\", \"sorting\"]\n}"},"id":"96e0305a-bf74-46ab-917d-8dd137bf34b8","name":"search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-360,120]},{"parameters":{"name":"analyze_thumbnail","description":"Analyze a thumbnail image based on a given prompt. The prompt can be customized for specific analysis needs, such as design critique, color scheme evaluation, or content assessment.\nUse link of maxRes thumbnail. \n\nInput:\n- url: URL of the thumbnail image.\n- prompt: Customizable instruction for the analysis.\n\nOutput:\n- Results of the analysis based on the given prompt.","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"analyze_thumbnail"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"url\": {\n      \"type\": \"string\",\n      \"description\": \"URL of the thumbnail image to analyze\"\n    },\n    \"prompt\": {\n      \"type\": \"string\",\n      \"description\": \"Customizable instruction to guide the image analysis\"\n    }\n  },\n  \"required\": [\"url\", \"prompt\"]\n}"},"id":"4c844b23-1676-46cc-9043-2261c58d10fc","name":"analyze_thumbnail","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-240,120]},{"parameters":{"name":"video_transcription","description":"Transcribe a video and retrieve its text transcription. Useful for analyzing video content or repurposing it for other formats.\n\nInput:\n- video_url: URL of the video to transcribe.\n\nOutput:\n- The text transcription of the video.","workflowId":{"__rl":true,"value":"FgknOUpOBkpY85NX","mode":"list","cachedResultName":"Youtube parser - tools"},"fields":{"values":[{"name":"command","stringValue":"video_transcription"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"video_url\": {\n      \"type\": \"string\",\n      \"description\": \"URL of the video to transcribe\"\n    }\n  },\n  \"required\": [\"video_url\"]\n}"},"id":"8fdfac95-1495-4daf-8ccf-3cc89a19577b","name":"video_transcription","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-120,120]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"id":"f6fdc0f5-4d35-41e2-8491-0b5ddb965e18","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1040,120]},{"parameters":{"options":{}},"id":"cb708278-11c7-4007-a59a-15a229235ad2","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1280,-100],"webhookId":"6e95bc27-99a6-417c-8bf7-2831d7f7a4be"},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are Youtube assistant. \nYou need to process user's requests and run relevant tools for that. \n\nPlan and execute in right order runs of tools to get data for user's request.\n\nIMPORTANT Search query and list of videos for channel tools returns all videos including shorts - use Get Video description tool to identify shorts (less than minute) and filter them out if needed.\n\nFeel free to ask questions before do actions - especially if you noticed some inconcistency in user requests that might be error/misspelling. "}},"id":"fa0b1077-3b66-407c-8cce-834ead2a957e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-980,-140]}],"connections":{"Get Comments":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get Channel Details":{"main":[[{"node":"Response","type":"main","index":0}]]},"Run Query":{"main":[[{"node":"Response","type":"main","index":0}]]},"Get Videos by Channel":{"main":[[{"node":"Response","type":"main","index":0}]]},"Get Video Description":{"main":[[{"node":"Response","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Response","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Channel Details","type":"main","index":0}],[{"node":"Get Video Description","type":"main","index":0}],[{"node":"Get Comments","type":"main","index":0}],[{"node":"Run Query","type":"main","index":0}],[{"node":"Get Videos by Channel","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}],[{"node":"Get Video Transcription","type":"main","index":0}]]},"Get Video Transcription":{"main":[[{"node":"Response","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Response","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"get_channel_details":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_video_description":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_list_of_videos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_list_of_comments":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"analyze_thumbnail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"video_transcription":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"0c0e5136-88d8-4e85-b604-e811de657751","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:26:54.921Z","createdAt":"2025-08-04T16:26:54.921Z","role":"workflow:owner","workflowId":"OnCnYDvSqSflxFVp","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:26:31.978Z","createdAt":"2025-08-04T16:26:31.978Z","id":"rmTsWtd2ruuzH2Lr","name":"5minAI Lessons"}]}