workflows/receptionist/administrator.json
{"updatedAt":"2025-08-04T18:02:55.573Z","createdAt":"2025-08-04T18:01:21.356Z","id":"dN77ktGb12QnDo1e","name":"receptionist/administrator","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"62d320bb-788e-4dd8-bae7-0316c9adee65","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,620],"id":"39485526-3b35-42fc-a701-99fa7555dcf5","name":"Webhook","webhookId":"62d320bb-788e-4dd8-bae7-0316c9adee65"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f67ad9b5-e57a-48ee-ae88-8a5943926f57","leftValue":"={{ $json.body.message.type }}","rightValue":"tool-calls","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,620],"id":"ffdabcef-4605-4924-82fb-275e12a0168f","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"1f579f6c-447f-4a04-81c7-0e652ceec49d","name":"guests","value":"={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.guests }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,320],"id":"80203b94-72a5-43d8-991e-b9fa2a0dc05f","name":"guests"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appxtRRlb5NSZiaxQ","mode":"list","cachedResultName":"Restaurant_Management","cachedResultUrl":"https://airtable.com/appxtRRlb5NSZiaxQ"},"table":{"__rl":true,"value":"tblAxvB06ZIIZMnUA","mode":"list","cachedResultName":"Table_Availability","cachedResultUrl":"https://airtable.com/appxtRRlb5NSZiaxQ/tblAxvB06ZIIZMnUA"},"filterByFormula":"=AND(\n{Status} = 'Available',\n{Date} = '{{ $('parse date').first().json.message.content.date }}',\nOR({{ $json.tableFilter }})\n)","returnAll":false,"options":{},"sort":{"property":[{"field":"Time Slot"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1980,320],"id":"2fc5eda4-9c76-4bdc-8cec-82f141af8d59","name":"Available slots","notesInFlow":true},{"parameters":{"jsCode":"const guests = $input.first().json.guests\n\n// Get suitable tables based on party size\nfunction getSuitableTables(guests) {\n    if (guests <= 2) return ['T1', 'T2'];\n    if (guests <= 4) return ['T3', 'T4'];\n    if (guests <= 6) return ['T5'];\n    return [];\n}\n\nconst suitableTables = getSuitableTables(guests);\nconst tableFilter = `OR(${suitableTables.map(table => `{Table ID} = '${table}'`).join(', ')})`;\n\n\n\n\nreturn {json: {\n  suitableTables,\n  tableFilter\n}};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,320],"id":"085bd5e3-2235-40a6-a755-4b9b95e502bb","name":"suitableTables","notesInFlow":true},{"parameters":{"jsCode":"const requestedTime = $('parseTime').first().json.requestedTime;\nconst availableSlots = $('Available slots').all().map(item => item.json);\nconst LUNCH_END = \"13:30\";\nconst DINNER_END = \"21:00\";\nconst isLunchPeriod = requestedTime <= LUNCH_END;\n\nfunction getNextSlot(time) {\n    const [hours, minutes] = time.split(':').map(Number);\n    const date = new Date();\n    date.setHours(hours, minutes + 30, 0, 0); // Add 30 minutes\n    const nextHours = String(date.getHours()).padStart(2, '0');\n    const nextMinutes = String(date.getMinutes()).padStart(2, '0');\n    return `${nextHours}:${nextMinutes}`;\n}\n\n// For debugging\nconsole.log('Initial available slots:', availableSlots);\n\n// Filter slots by period first\nconst periodSlots = availableSlots.filter(slot => {\n    if (isLunchPeriod) {\n        return slot['Time Slot'] <= LUNCH_END;\n    } else {\n        return slot['Time Slot'] > LUNCH_END && slot['Time Slot'] <= DINNER_END;\n    }\n});\n\nconsole.log('Period slots:', periodSlots);\n\n// Generate potential starting times within the period\nconst potentialTimes = [...new Set(periodSlots.map(slot => slot['Time Slot']))].sort();\n\nconsole.log('Potential times:', potentialTimes);\n\n// Adjust validTimes to include times where there are no explicit unavailabilities in the next 4 slots\nconst validTimes = potentialTimes.filter(time => {\n    // Generate required slots starting from 'time'\n    let requiredSlots = [time];\n    let nextSlot = time;\n    const endTime = isLunchPeriod ? LUNCH_END : DINNER_END;\n\n    for (let i = 0; i < 3; i++) { // Need up to 3 more slots\n        nextSlot = getNextSlot(nextSlot);\n        if (nextSlot > endTime) {\n            // Reached end of period; slots beyond endTime don't exist, so we consider them acceptable\n            break;\n        }\n        requiredSlots.push(nextSlot);\n    }\n\n    // Now check if there is any explicit unavailability for these slots for any table\n    // We assume that a slot is unavailable if it exists in the data and the table is not available\n    // If the slot does not exist, we consider it acceptable (e.g., beyond closing time)\n\n    // Get tables available at the initial time\n    const tablesAtTime = periodSlots\n        .filter(slot => slot['Time Slot'] === time)\n        .map(slot => slot['Table ID']);\n    if (tablesAtTime.length === 0) {\n        // No tables available at the initial time\n        return false;\n    }\n\n    // Check for each table if there's any explicit unavailability in the required slots\n    for (const tableId of tablesAtTime) {\n        let isTableValid = true;\n        for (const timeSlot of requiredSlots) {\n            if (timeSlot <= endTime) {\n                // Check if the slot exists in periodSlots for this table\n                const slotExists = periodSlots.some(slot =>\n                    slot['Time Slot'] === timeSlot &&\n                    slot['Table ID'] === tableId\n                );\n                if (!slotExists) {\n                    // Slot is explicitly unavailable (since it exists in the period but not for this table)\n                    isTableValid = false;\n                    break;\n                }\n                // Slot exists and is available\n            }\n        }\n        if (isTableValid) {\n            // Found a table with no explicit unavailability\n            return true;\n        }\n    }\n    // No table is valid for the required slots\n    return false;\n});\n\nconsole.log('Valid times with available slots:', validTimes);\n\n// **Check if requestedTime is within valid times**\nif (!validTimes.includes(requestedTime)) {\n    console.log(`Requested time ${requestedTime} is not within valid times.`);\n    return {json: {\n        available: false,\n        requestedTime,\n        alternativeTimes:validTimes,\n        message: 'Requested time is not available',\n        period: isLunchPeriod ? 'lunch' : 'dinner'\n    }};\n}\n\n// Get initial tables available at the requested time within the period\nconst initialTables = periodSlots\n    .filter(slot => slot['Time Slot'] === requestedTime)\n    .map(slot => slot['Table ID']);\n\nconsole.log('Initial tables at requested time:', initialTables);\n\n// Generate required slots starting from requestedTime\nlet requiredSlots = [requestedTime];\nlet nextSlot = requestedTime;\nconst endTime = isLunchPeriod ? LUNCH_END : DINNER_END;\n\nfor (let i = 0; i < 3; i++) { // Need up to 3 more slots\n    nextSlot = getNextSlot(nextSlot);\n    if (nextSlot > endTime) {\n        // Reached end of period\n        break;\n    }\n    requiredSlots.push(nextSlot);\n}\n\nconsole.log('Required slots:', requiredSlots);\n\n// Check table availability for required slots\nconst availableTablesWithSlots = initialTables.filter(tableId => {\n    for (const timeSlot of requiredSlots) {\n        if (timeSlot <= endTime) {\n            const slotExists = periodSlots.some(slot =>\n                slot['Time Slot'] === timeSlot &&\n                slot['Table ID'] === tableId\n            );\n            if (!slotExists) {\n                // Slot is explicitly unavailable\n                return false;\n            }\n            // Slot exists and is available\n        }\n    }\n    return true; // Table is available for all required slots\n});\n\nconsole.log('Available tables with required slots:', availableTablesWithSlots);\n\nconst hasAvailableSlots = availableTablesWithSlots.length > 0;\n\nreturn {json: {\n    available: hasAvailableSlots,\n    requestedTime,\n    requiredSlots,\n    initialTables,\n    availableTablesWithSlots,\n    alternativeTimes:validTimes,\n    isEndOfDay: requiredSlots.some(slot => slot > endTime),\n    period: isLunchPeriod ? 'lunch' : 'dinner'\n}};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,320],"id":"6779fc1e-8d6a-4a0c-ba88-81a70c0bf9e6","name":"availabilityOnRequestedTime"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"459d5385-30cb-4a9e-a55b-6b8ffbc7a1cf","leftValue":"={{ $json.available }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2620,320],"id":"4e99d5a5-ee2f-4988-8c2f-56dbf34b5693","name":"If1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are a date parsing assistant. Today's date is {{$today}}. Your task is to convert natural language date expressions into YYYY-MM-DD format.\nRules:\n\nAlways output only the date in YYYY-MM-DD format\nIf the year isn't specified, assume the nearest future date\nFor \"next [day]\", select the next occurrence after the upcoming one\nFor relative dates (tomorrow, day after tomorrow), calculate from today's date\nFor numeric dates (e.g., \"15th\"), assume the nearest future occurrence\nFor month names, use the next occurrence if the day has passed\n\nInput examples and expected outputs (assuming today is {{$today}}):\n\n\"tomorrow\" → [calculate tomorrow's date]\n\"next monday\" → [calculate second monday from today]\n\"this friday\" → [calculate next friday]\n\"day after tomorrow\" → [calculate date after tomorrow]\n\"in 3 days\" → [calculate date 3 days from today]\n\"next week tuesday\" → [calculate next tuesday]\n\"december 25th\" → [calculate next December 25th]\n\"25/12\" → [calculate next December 25th]\n\"25th of next month\" → [calculate 25th of next month]\n\"first tuesday of next month\" → [calculate accordingly]\n\"end of this month\" → [calculate last day of current month]\n\"2024-12-25\" → 2024-12-25\n\nOnly respond with the date in YYYY-MM-DD format. No explanations or additional text.\nInput: {{ $json.body.message.toolCalls[0].function.arguments.date }}"}]},"jsonOutput":true,"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[700,360],"id":"66fa9289-16cd-4a9b-8ba6-acbbddf15fda","name":"parse date"},{"parameters":{"jsCode":"\nfunction formatTime(timeStr) {\n  // Remove any spaces\n  timeStr = timeStr.toLowerCase().replace(/\\s/g, '');\n  \n  // Handle cases like \"7:30pm\", \"7pm\", \"19:30\", \"7\", \"7:30\"\n  let hours, minutes;\n  \n  if (timeStr.includes('pm')) {\n    timeStr = timeStr.replace('pm', '');\n    let [h, m] = timeStr.split(':').map(Number);\n    hours = (h === 12 ? 12 : h + 12);\n    minutes = m || 0;\n  } else if (timeStr.includes('am')) {\n    timeStr = timeStr.replace('am', '');\n    let [h, m] = timeStr.split(':').map(Number);\n    hours = (h === 12 ? 0 : h);\n    minutes = m || 0;\n  } else {\n    // Assume 24-hour format or just hours\n    let [h, m] = timeStr.split(':').map(Number);\n    hours = h;\n    minutes = m || 0;\n  }\n  \n  // Format with leading zeros\n  return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n}\nlet requestedTime =$('Webhook').first().json.body.message.toolCalls[0].function.arguments.time\nrequestedTime = formatTime(requestedTime);\n\nreturn {\n  json:{\n    requestedTime\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,320],"id":"98ca1c8f-8774-4886-b7d2-012f4117d5fb","name":"parseTime"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"available:{{ $json.available }}\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2940,20],"id":"aa38a9a2-d261-4009-bc43-859c8815a66b","name":"Respond time is available"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"alertnativeTimes:{{ $json.alternativeTimes }}\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3020,520],"id":"a6c0d2f4-bf14-420e-b388-74a3b7895581","name":"Respond alternative times"},{"parameters":{"content":"\n\n\n#### transform Natural language dates, like tomorrow, into real dates properly formatted for airtable\n\n\n\n\n\n\n\n\n\n","height":280,"width":420,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,240],"id":"9346e521-e68e-4cfe-b7e4-a5ecb5e822a1","name":"Sticky Note"},{"parameters":{"content":"#### We get the suitable tables for a given number of guests\nand we create a filter to apply in the formula for airtables in the next node","height":280,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1560,180],"id":"69594e6e-0cc5-4642-acc7-8efcfc058444","name":"Sticky Note1"},{"parameters":{"content":"#### we filter the tables by date, availability and suitable tables","height":220,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1900,240],"id":"b59b933c-6887-4527-beed-fdfdfc94fc00","name":"Sticky Note2"},{"parameters":{"content":"#### Check if the requested time is available, and propose alternative times in the same period (dinner or lunch)","height":320,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2240,160],"id":"b8320429-92bc-45a6-bacd-e82f28f37dd1","name":"Sticky Note3"},{"parameters":{"content":"#### Transform time to 24h format","height":240,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,220],"id":"9a36af13-214b-45ca-9dd5-fcef8037d211","name":"Sticky Note4"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"appxtRRlb5NSZiaxQ","mode":"id"},"tableId":{"__rl":true,"value":"tblEfvAEJnuRjzKSR","mode":"id"},"triggerField":"updatedTime","additionalFields":{"fields":""}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[80,1700],"id":"977e3c49-ce4a-48e8-bcb6-b9d8840e7e21","name":"Airtable Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9db895c8-c5a4-4d3d-9ade-b57d06af7d14","name":"startTime","value":"={{ $json.fields.Time }}","type":"string"},{"id":"161dbc05-afae-40fe-a111-1241e453f560","name":"tableId","value":"={{ $json.fields['Table ID'] }}","type":"string"},{"id":"1161c6b8-a588-495a-bc8d-f2b27f5cf0f0","name":"date","value":"={{ $json.fields.Date }}","type":"string"},{"id":"dd7c2494-a16f-4978-941e-34035e25831d","name":"resId","value":"={{ $json.fields[\"Res ID\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,1700],"id":"81ce1c79-8ab9-4638-99f1-65ba2d2bd824","name":"Edit Fields"},{"parameters":{"jsCode":"const reservation = $input.first().json;\nconst startTime = reservation.startTime;  \nconst tableId = reservation.tableId;\nconst date = reservation.date;\nconst resId = reservation.resId\n\n// Generate the 4 time slots that need to be updated\nfunction getNextSlot(time) {\n    const [hours, minutes] = time.split(':').map(Number);\n    const date = new Date();\n    date.setHours(hours, minutes + 30);\n    return `${String(date.getHours()).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}`;\n}\n\nlet timesToUpdate = [startTime];\nlet currentTime = startTime;\nfor(let i = 0; i < 3; i++) {\n    currentTime = getNextSlot(currentTime);\n    timesToUpdate.push(currentTime);\n}\n\n// Format records for Airtable update\nlet records = timesToUpdate.map(timeSlot => ({\n        \"Date\": date,\n        \"Time Slot\": timeSlot,\n        \"Table ID\": tableId,\n        \"Status\": \"Unavailable\",\n         \"Reservation ID\": resId  \n}));\n\n\n\n\nreturn records\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,1700],"id":"cb839cd1-73b4-455e-a23b-40b18753e4a9","name":"generateRecords"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appxtRRlb5NSZiaxQ","mode":"list","cachedResultName":"Restaurant_Management","cachedResultUrl":"https://airtable.com/appxtRRlb5NSZiaxQ"},"table":{"__rl":true,"value":"tblAxvB06ZIIZMnUA","mode":"list","cachedResultName":"Table_Availability","cachedResultUrl":"https://airtable.com/appxtRRlb5NSZiaxQ/tblAxvB06ZIIZMnUA"},"columns":{"mappingMode":"defineBelow","value":{"Time Slot":"={{ $json[\"Time Slot\"] }}","Table ID":"={{ $json[\"Table ID\"] }}","Date":"={{ $json.Date }}","Status":"Unavailable","Reservation ID":"={{ $json[\"Reservation ID\"] }}"},"matchingColumns":["Time Slot","Table ID","Date"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Table ID","displayName":"Table ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"T1","value":"T1"},{"name":"T3","value":"T3"},{"name":"T5","value":"T5"},{"name":"T2","value":"T2"},{"name":"T4","value":"T4"}],"readOnly":false,"removed":false},{"id":"Time Slot","displayName":"Time Slot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"11:00","value":"11:00"},{"name":"11:30","value":"11:30"},{"name":"12:00","value":"12:00"},{"name":"12:30","value":"12:30"},{"name":"13:00","value":"13:00"},{"name":"13:30","value":"13:30"},{"name":"14:00","value":"14:00"},{"name":"14:30","value":"14:30"},{"name":"19:00","value":"19:00"},{"name":"19:30","value":"19:30"},{"name":"20:00","value":"20:00"},{"name":"20:30","value":"20:30"},{"name":"18:30","value":"18:30"},{"name":"21:00","value":"21:00"},{"name":"18:00","value":"18:00"},{"name":"21:30","value":"21:30"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Unavailable","value":"Unavailable"},{"name":"Available","value":"Available"}],"readOnly":false,"removed":false},{"id":"Reservation ID","displayName":"Reservation ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"reservation","displayName":"reservation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"table","displayName":"table","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Table ID (from table)","displayName":"Table ID (from table)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Date (from reservation)","displayName":"Date (from reservation)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Time (from reservation)","displayName":"Time (from reservation)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Guests (from reservation)","displayName":"Guests (from reservation)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Reservations","displayName":"Reservations","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tables","displayName":"Tables","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[920,1700],"id":"b1305e87-6e8e-427b-b2c0-c00c2fb54901","name":"Airtable1"},{"parameters":{"content":"#### Triggered by changes in the Reservation table","height":240,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,1600],"typeVersion":1,"id":"c1335334-61d4-4818-9322-31d82f2c2c47","name":"Sticky Note5"},{"parameters":{"content":"#### Create 3 additional Records, corresponding to the 3 next consecutive 30mn slots to cover a 2h reservation, and format the records for the table_availability table ","height":280,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[440,1560],"typeVersion":1,"id":"e00844e3-8efc-455e-a2d4-39b30770f613","name":"Sticky Note6"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"results\":[\n        {\n            \"toolCallId\":\"{{ $('Webhook1').first().json.body.message.toolCalls[0].id }}\",\n            \"result\":\"the table has been reserved\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1680,1060],"id":"de22f763-a3c7-4e80-a9b4-e30da0524672","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"0637d1d3-5eaf-449b-8b0a-82db04f60609","name":"formattedDate","value":"={{ $json.message.content.date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,1060],"id":"0d1dad82-7374-48a0-98e8-ed76ea2f5c08","name":"formattedDate"},{"parameters":{"httpMethod":"POST","path":"0119b32c-b257-4bcb-a78c-a4016640b844","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,1060],"id":"0d1dc1e9-a539-4255-99b6-8d8ad18a4088","name":"Webhook1","webhookId":"0119b32c-b257-4bcb-a78c-a4016640b844"},{"parameters":{"jsCode":"const guests = $input.first().json.guests\n\n// Get suitable tables based on party size\nfunction getSuitableTables(guests) {\n    if (guests <= 2) return ['T1', 'T2'];\n    if (guests <= 4) return ['T3', 'T4'];\n    if (guests <= 6) return ['T5'];\n    return [];\n}\n\nconst suitableTables = getSuitableTables(guests);\n\n\nreturn {json: {\n  table: suitableTables[0],\n}};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1060],"id":"cb245c67-cfd9-4a0d-ae0e-0091e3d713eb","name":"suitableTables1","notesInFlow":true,"notes":"We get the suitable tables for a given number of guests\nand we create a filter to apply in the formula for airtables in the next node"},{"parameters":{"assignments":{"assignments":[{"id":"4529b69f-9edd-4558-989f-440cf5ade08d","name":"guests","value":"={{ $json.body.message.toolCalls[0].function.arguments.guests }}","type":"number"},{"id":"6a105262-9cd4-403c-a6ed-28e1ee9dba0f","name":"name","value":"={{ $json.body.message.toolCalls[0].function.arguments.name }}","type":"string"},{"id":"5c2f4e3c-f6b0-414a-8bf8-ed6c24c96846","name":"date","value":"={{ $json.body.message.toolCalls[0].function.arguments.date }}","type":"string"},{"id":"697476d2-f635-4638-a578-a1b245d74a71","name":"notes","value":"={{ $json.body.message.toolCalls[0].function.arguments.notes }}","type":"string"},{"id":"a9f9d8d6-a568-40bf-9aba-64276d03ee8f","name":"email","value":"={{ $json.body.message.toolCalls[0].function.arguments.email }}","type":"string"},{"id":"38eac618-1267-42ba-bace-d5bc490404d7","name":"time","value":"={{ $json.body.message.toolCalls[0].function.arguments.time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,1060],"id":"057e18ec-142f-4ecb-b333-7a8bb9890adb","name":"Edit Fields1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are a date parsing assistant. Today's date is {{$today}}. Your task is to convert natural language date expressions into YYYY-MM-DD format.\nRules:\n\nAlways output only the date in YYYY-MM-DD format\nIf the year isn't specified, assume the nearest future date\nFor \"next [day]\", select the next occurrence after the upcoming one\nFor relative dates (tomorrow, day after tomorrow), calculate from today's date\nFor numeric dates (e.g., \"15th\"), assume the nearest future occurrence\nFor month names, use the next occurrence if the day has passed\n\nInput examples and expected outputs (assuming today is {{$today}}):\n\n\"tomorrow\" → [calculate tomorrow's date]\n\"next monday\" → [calculate second monday from today]\n\"this friday\" → [calculate next friday]\n\"day after tomorrow\" → [calculate date after tomorrow]\n\"in 3 days\" → [calculate date 3 days from today]\n\"next week tuesday\" → [calculate next tuesday]\n\"december 25th\" → [calculate next December 25th]\n\"25/12\" → [calculate next December 25th]\n\"25th of next month\" → [calculate 25th of next month]\n\"first tuesday of next month\" → [calculate accordingly]\n\"end of this month\" → [calculate last day of current month]\n\"2024-12-25\" → 2024-12-25\n\nOnly respond with the date in YYYY-MM-DD format. No explanations or additional text.\nInput: {{ $('Edit Fields1').item.json.date }}"}]},"jsonOutput":true,"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[600,1060],"id":"099ea797-250c-4c46-a9ff-ec2e61257e8e","name":"parse date1"},{"parameters":{"jsCode":"\nfunction formatTime(timeStr) {\n  // Remove any spaces\n  timeStr = timeStr.toLowerCase().replace(/\\s/g, '');\n  \n  // Handle cases like \"7:30pm\", \"7pm\", \"19:30\", \"7\", \"7:30\"\n  let hours, minutes;\n  \n  if (timeStr.includes('pm')) {\n    timeStr = timeStr.replace('pm', '');\n    let [h, m] = timeStr.split(':').map(Number);\n    hours = (h === 12 ? 12 : h + 12);\n    minutes = m || 0;\n  } else if (timeStr.includes('am')) {\n    timeStr = timeStr.replace('am', '');\n    let [h, m] = timeStr.split(':').map(Number);\n    hours = (h === 12 ? 0 : h);\n    minutes = m || 0;\n  } else {\n    // Assume 24-hour format or just hours\n    let [h, m] = timeStr.split(':').map(Number);\n    hours = h;\n    minutes = m || 0;\n  }\n  \n  // Format with leading zeros\n  return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n}\nlet requestedTime =$('Webhook1').first().json.body.message.toolCalls[0].function.arguments.time\nrequestedTime = formatTime(requestedTime);\n\nreturn {\n  json:{\n    requestedTime\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1060],"id":"b0b2d4d4-250a-4416-82cb-854ff7e9bc46","name":"parseTime1"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appxtRRlb5NSZiaxQ","mode":"list","cachedResultName":"Restaurant_Management","cachedResultUrl":"https://airtable.com/appxtRRlb5NSZiaxQ"},"table":{"__rl":true,"value":"tblEfvAEJnuRjzKSR","mode":"list","cachedResultName":"Reservations","cachedResultUrl":"https://airtable.com/appxtRRlb5NSZiaxQ/tblEfvAEJnuRjzKSR"},"columns":{"mappingMode":"defineBelow","value":{"Res ID":"=RES{{ Math.floor(Math.random() * 100000) }}","Date":"={{ $('formattedDate').item.json.formattedDate }}","Time":"={{ $json.requestedTime }}","Table ID":"={{ $('suitableTables1').item.json.table }}","Guests":"={{ $('Edit Fields1').item.json.guests }}","Name":"={{ $('Edit Fields1').item.json.name }}","Email":"={{ $('Edit Fields1').item.json.email }}","Status":"Confirmed","Notes":"={{ $('Edit Fields1').item.json.notes }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Res ID","displayName":"Res ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Table ID","displayName":"Table ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Guests","displayName":"Guests","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Confirmed","value":"Confirmed"}],"readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"updatedTime","displayName":"updatedTime","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Table_Availability","displayName":"Table_Availability","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"timeSlots","displayName":"timeSlots","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"table","displayName":"table","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Date (from timeSlots)","displayName":"Date (from timeSlots)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Time Slot (from timeSlots)","displayName":"Time Slot (from timeSlots)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1420,1060],"id":"72d45b16-67c0-488a-a501-831c1aa31a8a","name":"Airtable"},{"parameters":{"content":"# Check table availability\n","height":940,"width":3580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-80],"id":"f59d9ee9-37e6-4ba1-a6e9-a0e8bd1bf41b","name":"Sticky Note7"},{"parameters":{"content":"# Reserve Table\n","height":420,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,940],"id":"eab43464-e0e0-4f2c-a40d-ae60003c0f79","name":"Sticky Note8"},{"parameters":{"content":"# Update airtable availability table\n","height":520,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,1460],"id":"a8c9e085-c697-4e5d-ac05-d9e97f647794","name":"Sticky Note9"},{"parameters":{"content":"##prompt-restaurant.md\n","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-500,-20],"id":"d37cecc4-202b-4b60-9b96-f82df1ecb556","name":"Sticky Note10"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"parse date","type":"main","index":0}]]},"guests":{"main":[[{"node":"suitableTables","type":"main","index":0}]]},"Available slots":{"main":[[{"node":"availabilityOnRequestedTime","type":"main","index":0}]]},"suitableTables":{"main":[[{"node":"Available slots","type":"main","index":0}]]},"availabilityOnRequestedTime":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Respond time is available","type":"main","index":0}],[{"node":"Respond alternative times","type":"main","index":0}]]},"parse date":{"main":[[{"node":"parseTime","type":"main","index":0}]]},"parseTime":{"main":[[{"node":"guests","type":"main","index":0}]]},"Airtable Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"generateRecords","type":"main","index":0}]]},"generateRecords":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"formattedDate":{"main":[[{"node":"parseTime1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"suitableTables1":{"main":[[{"node":"parse date1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"suitableTables1","type":"main","index":0}]]},"parse date1":{"main":[[{"node":"formattedDate","type":"main","index":0}]]},"parseTime1":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"797a7d8a-5d98-4d5e-a03b-659d0062db87","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:01:21.356Z","createdAt":"2025-08-04T18:01:21.356Z","role":"workflow:owner","workflowId":"dN77ktGb12QnDo1e","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T18:02:02.980Z","createdAt":"2025-08-04T18:02:02.980Z","id":"ffik5pzqvs5m8gbh","name":"restaurant agent"}]}
