workflows/copy-viral-reels/gemini.json
{"updatedAt":"2025-10-01T08:29:22.880Z","createdAt":"2025-08-04T16:23:17.730Z","id":"ypnWssUPOdZfDhXB","name":"copy-viral-reels/gemini","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2040,800],"id":"6dfa39ee-f480-4f08-bd75-3ad4867714e8","name":"Wait","webhookId":"2126ffb5-dcff-4328-85f7-aff6470bffd1"},{"parameters":{"assignments":{"assignments":[{"id":"a21fe2d1-533b-4f09-94aa-9312c3dd05b8","name":"prompt","value":"=Analyze reels: 1. How it starts  2. How it ends 3. What is going on video.  For us important to understand main params of the video to be able reproduct it. Params: 1. Background 2. Pose 3. Text 4. Clothes 5. Context 6. People/participants/roles  Example of result: Example 1: - Girl in the frame in evening dress - Party - Text: “Let's already admit that the most important ponte of a man is a gorgeous wife by his side” - Formatting: White text in the center on the background of a dynamic frame.  Example 2: - Behind-the-scenes moments from the shooting of the video - A girl with a beautiful figure, large breasts in a swimsuit and bathing skirt - Text below “When at 35 you explain to your man that you need a hand in the frame for the strongest part”.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,800],"id":"34dec0ce-33fa-4f1c-a6c2-d8fd70a5b6ca","name":"Set Prompt"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/upload/v1beta/files","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"<your_token_here>"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Upload-Protocol","value":"resumable"},{"name":"X-Goog-Upload-Command","value":"start"},{"name":"X-Goog-Upload-Header-Content-Length","value":"={{ $json.Video[0].size }}"},{"name":"X-Goog-Upload-Header-Content-Type","value":"={{ $json.Video[0].type }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"file\": {\n\"display_name\": \"{{ $json.Video[0].filename }}\"\n}\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,800],"id":"d705ca1e-fcc6-42cf-bb1f-4b7fa471f042","name":"Gemini - Generate Upload URL"},{"parameters":{"method":"POST","url":"={{ $('Gemini - Generate Upload URL').item.json.headers['x-goog-upload-url'] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"<your_token_here>"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Length","value":"={{ $('Get Video').item.json.Video[0].size }}"},{"name":"X-Goog-Upload-Offset","value":"0"},{"name":"X-Goog-Upload-Command","value":"upload, finalize"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,800],"id":"7a90933b-0572-4302-91f2-ee81cc4d7bd2","name":"Gemini - Upload File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"<your_token_here>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"contents\": [\n      {\n         \"parts\": [\n            {\n               \"text\": \"{{ $json.prompt }}\"\n            },\n            {\n               \"file_data\": {\n                  \"mime_type\": \"{{ $('Save Values').item.json.mimeType }}\",\n                  \"file_uri\": \"{{ $('Save Values').item.json.gemini_file_url }}\"\n               }\n            }\n         ]\n      }\n   ]\n}\n","options":{"response":{}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,800],"id":"de80eab2-6bd2-401b-b58a-3b3137e44e54","name":"Gemini - Ask Questions"},{"parameters":{"assignments":{"assignments":[{"id":"4fb7b732-17f9-41a2-986d-5d62b1331242","name":"gemini_file_url","value":"={{ $json.file.uri }}","type":"string"},{"id":"5f3018b4-571f-433c-a07b-2fb86f63b9b6","name":"mimeType","value":"={{ $json.file.mimeType }}","type":"string"},{"id":"c5532f11-ec31-49f8-aa26-7f42b7d24fa4","name":"airtable_rec_id","value":"={{ $('Get Video').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,800],"id":"33bddb0a-7442-4363-b154-a2928d6b8071","name":"Save Values"},{"parameters":{"content":"## Scenario 1","height":380,"width":2180},"type":"n8n-nodes-base.stickyNote","position":[780,0],"typeVersion":1,"id":"30a644fa-bda2-48dc-b4d7-3c5bf8d9a406","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"<your_token_here>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"https://www.instagram.com/{{ $json['Instagram Username'] }}/\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"onlyPostsNewerThan\": \"{{ new Date().toISOString().slice(0, 10).replace(/-\\d+$/, '-01')  }}\",\n    \"resultsLimit\": 20,\n    \"resultsType\": \"stories\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,100],"id":"a1e74582-0f02-4963-bbf7-a4bceb6f06e7","name":"Apify - Fetch Reels"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"views","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1960,100],"id":"800e9a50-cfab-4dcc-9e1a-ceb4ac569bbc","name":"Sort"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2160,100],"id":"414aceec-5f5a-45bf-9439-6331fefe8ce3","name":"Limit"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"url\": {{ JSON.stringify($json.videoUrl) }}\n,\n  \"views\": {{ $json.videoViewCount }},\n\"caption\": {{ JSON.stringify($json.caption) }}\n,\n\"creator\": \"{{ $('Loop Over Items').item.json.Name }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,100],"id":"d7092639-7898-4b64-a66c-413ca258f8a5","name":"Save Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,100],"id":"57aa5f95-bd49-40c1-a67b-507ec599b6dd","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"6gkO35O8e27oFfyq","mode":"list","cachedResultName":"Gemini - Video Analysis 2"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2640,100],"id":"4e58fd57-8ba2-4d9b-b317-ef13f9625ed1","name":"Execute Workflow1"},{"parameters":{"url":"={{ $('Get Video').item.json.Video[0].url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,800],"id":"32bd0d66-5c9e-4b16-abf9-559c0dcc3565","name":"Download File"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"Philipp's Base","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tbldgihe8Tx1DsAWq","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbldgihe8Tx1DsAWq"},"columns":{"mappingMode":"defineBelow","value":{"Video":"={{ [ {\"url\":$json.url} ] }}","Views":"={{ $json.views }}","Creator":"={{ [$json.creator] }}","Caption":"={{ $json.caption }}"},"matchingColumns":["Name"],"schema":[{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Video","displayName":"Video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Guideline","displayName":"Guideline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Creation Date","displayName":"Creation Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Creator","displayName":"Creator","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Views","displayName":"Views","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2420,100],"id":"92bd458d-9c77-45ee-81c4-f5e5f1d272ab","name":"Create Video","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"Philipp's Base","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tbldgihe8Tx1DsAWq","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbldgihe8Tx1DsAWq"},"id":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1160,800],"id":"6464eba8-703c-4122-8af7-aea265685381","name":"Get Video"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"Philipp's Base","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tbldgihe8Tx1DsAWq","mode":"list","cachedResultName":"Videos","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbldgihe8Tx1DsAWq"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get Video').first().json.id }}","Guideline":"={{ $json.candidates[0].content.parts[0].text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Video","displayName":"Video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Guideline","displayName":"Guideline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2580,800],"id":"209a7620-44ba-4924-bce3-3858e0d8cf78","name":"Set Guideline"},{"parameters":{"content":"## Scenario 2","height":380,"width":2180},"type":"n8n-nodes-base.stickyNote","position":[780,680],"typeVersion":1,"id":"93f2a0ef-c52d-4a1f-b156-6ebec091eeeb","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"Philipp's Base","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tbl8uSud7C0kZe3RO","mode":"list","cachedResultName":"Creators","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbl8uSud7C0kZe3RO"},"returnAll":false,"limit":null,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1060,100],"id":"eef4b954-41ef-4ba2-8497-52febe89b80c","name":"Search Creators","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[840,100],"id":"6814b5c0-e969-4a65-aea5-9b1aab78f77b","name":"Schedule Trigger"},{"parameters":{"content":"### Replace Apify token","height":80,"width":220,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1480,0],"typeVersion":1,"id":"f90c7657-e21f-4be0-94e5-43d7d5f26373","name":"Sticky Note2"},{"parameters":{"content":"### Replace Google token","height":80,"width":200,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1300,680],"typeVersion":1,"id":"85ee6c53-bea0-4366-9bdf-b924fffe06c6","name":"Sticky Note3"},{"parameters":{"content":"### Replace Google token","height":80,"width":200,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1660,680],"typeVersion":1,"id":"0c472f5e-521f-4dd5-bae3-ea5839b8ae32","name":"Sticky Note4"},{"parameters":{"content":"### Replace Google token","height":80,"width":200,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2360,680],"typeVersion":1,"id":"d5f0627b-13b2-42da-9b7f-a224e42aa22e","name":"Sticky Note5"},{"parameters":{"content":"### Set own prompt for analysis","height":80,"width":200,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2140,680],"typeVersion":1,"id":"62a90de8-cdd5-43aa-9f82-4413637ad559","name":"Sticky Note6"},{"parameters":{"content":"![5min Logo](https://res.cloudinary.com/de9jgixzm/image/upload/v1739773200/Skool%20Assets/ejm3hqnvhgwpnu2fv92s.png)\n## Copy Viral Reels with Gemini AI\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nAnalyzing video performance on Instagram can be tedious and time-consuming, requiring multiple steps and data extraction. This workflow automates the process of fetching, analyzing, and recording insights from Instagram Reels, making it simpler for users to track engagement metrics without manual intervention.\n\nThis workflow integrates several services to analyze Instagram Reels, allowing users to:\n- Automatically fetch recent Reels from specified creators.\n- Analyze the most-watched videos for insights.\n- Store and manage data in Airtable for easy access and reporting.\n\n","height":497.1532689930921,"width":636.2128494576581,"color":7},"id":"019c0b64-e7bf-415b-9853-a8c0bdb6f262","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### Set up steps\n\n1. **Create accounts**:\n   - Set up Airtable, Edify, n8n, and Gemini accounts.\n\n2. **Prepare triggers and modules**:\n   - Replace credentials in each node accordingly.\n\n3. **Configure data flow**:\n   - Ensure modules are set to fetch and analyze the correct data fields as outlined in the guide.","height":346,"width":280,"color":7},"id":"ca8bf0b2-58ac-45e2-b51f-d4ea171439c4","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[0,520],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [8 min]\n[![Youtube Thumbnail](https://res.cloudinary.com/de9jgixzm/image/upload/v1740390927/Youtube%20Thumbs/Video_21_-_Philipp_Instagram_Blur.png)](https://youtu.be/SQPPM0KLsrM)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"9d0172ca-6599-4045-b9ff-68c5d57713b2","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[300,520],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[940,800],"id":"5242d8a8-4d0d-46ae-87e4-fb205b763d66","name":"When Executed by Another Workflow"}],"connections":{"Wait":{"main":[[{"node":"Set Prompt","type":"main","index":0}]]},"Set Prompt":{"main":[[{"node":"Gemini - Ask Questions","type":"main","index":0}]]},"Gemini - Generate Upload URL":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Gemini - Upload File":{"main":[[{"node":"Save Values","type":"main","index":0}]]},"Gemini - Ask Questions":{"main":[[{"node":"Set Guideline","type":"main","index":0}]]},"Save Values":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Apify - Fetch Reels":{"main":[[{"node":"Save Fields","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Save Fields":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Apify - Fetch Reels","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Gemini - Upload File","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Gemini - Generate Upload URL","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search Creators":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search Creators","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"92040356-6d98-4c83-b1d3-02258969b03b","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:23:17.730Z","createdAt":"2025-08-04T16:23:17.730Z","role":"workflow:owner","workflowId":"ypnWssUPOdZfDhXB","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:22:48.592Z","createdAt":"2025-08-04T16:22:48.592Z","id":"n5bEV3cSK8SadFcY","name":"N8N Template"}]}