workflows/ai agent for data analysis.json
{"updatedAt":"2025-08-04T17:59:35.006Z","createdAt":"2025-08-04T17:47:34.321Z","id":"tlsA2o3vi1rDHz5K","name":"ai agent for data analysis","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## open ai assistent prompt\n\nYou are data analyst assistant. \nYou need to process user's requests and run relevant tools for that. \n\nPlan and execute in right order runs of tools to get data for user's request.\n\nFeel free to ask questions before do actions - especially if you noticed some inconcistency in user requests that might be error/misspelling. \n\nUse generate_sql_query function to generate reports that will be saved and returned to user as dashboard link.\nUse generate_graph_template function to generate custom graph templates based on generated report.\nUse analysis function to generate analyse data temporary and return temporary graphs. \n\nIMPORTANT Always check right table and base ids before doing queries.\n\nIMPORTANT Use Code function to do aggregation functions that requires math like - count, sum, average and etc.  Aggegation function could be recognized by words like \"how many\",\"count\",\"what number\" and etc.\nUse Code function to generate graph and images.\n\nIMPORTANT Generate graphs and images only with PNG format.","height":220,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2520,-1180],"id":"23df44dc-5b2e-420c-9e3e-42cb6445bca6","name":"Sticky Note"},{"parameters":{"content":"## SQL queries\ncreate table public.profiles (\n  id uuid not null default gen_random_uuid (),\n  date_created timestamp with time zone not null default (now() AT TIME ZONE 'utc'::text),\n  external_id text null,\n  openai_thread_id text null,\n  constraint profiles_pkey primary key (id)\n) TABLESPACE pg_default;\n\ncreate table public.analyses (\n  id uuid not null default gen_random_uuid (),\n  date_created timestamp with time zone null default (now() AT TIME ZONE 'utc'::text),\n  data jsonb null default '[]'::jsonb,\n  templates jsonb null default '[]'::jsonb,\n  execution_id numeric null,\n  sql_query text null,\n  name text null,\n  profile_id uuid null,\n  constraint message_results_pkey primary key (id),\n  constraint analyses_profile_id_fkey foreign KEY (profile_id) references profiles (id) on delete set null\n) TABLESPACE pg_default;\n\n(Optional) Demo_sales table\nOptional\n\ncreate table public.demo_sales (\n  id serial not null,\n  date date not null,\n  price numeric(10, 2) not null,\n  region text not null,\n  in_stock boolean not null,\n  product text not null,\n  revenue numeric(10, 2) not null,\n  category text not null,\n  customer text not null,\n  quantity integer not null,\n  payment_method text not null,\n  date_created timestamp with time zone null default now(),\n  constraint demo_sales_pkey primary key (id)\n) TABLESPACE pg_default;","height":400,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2540,-1680],"id":"bd04f4d2-487b-4335-9d7a-f7ba0c8833cf","name":"Sticky Note1"},{"parameters":{"path":"3d416911-389d-4041-ab87-5ef2a647ca4b","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1560,-1040],"id":"fd128232-71ab-48af-b126-57078347f7b3","name":"Webhook","webhookId":"3d416911-389d-4041-ab87-5ef2a647ca4b"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[760,-1320],"id":"254e624d-dda3-40e5-9a55-f9f4dbd719ff","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce0e3b4e-38e4-49d7-83f8-87329510aa52","leftValue":"={{$('Webhook').item.json.query.type }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a490f9f4-4412-4fe4-9562-428094a28fc1","leftValue":"={{$('Webhook').item.json.query.type }}","rightValue":"graph","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"graph"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cc29e32-e4a2-4397-a4a0-e75834d0f2e6","leftValue":"={{$('Webhook').item.json.query.type }}","rightValue":"table","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"table"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c674e88e-cede-46a0-b0e9-5fcc43154c49","leftValue":"={{$('Webhook').item.json.query.type }}","rightValue":"main","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"main"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-380,-1100],"id":"21fc92e1-314e-4ff8-8460-b2f10115cdb1","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n    <title>Dashboard</title>\n    <style>\n        body { \n            font-family: Arial, sans-serif; \n            padding: 20px;\n            margin: 0;\n        }\n        .container { \n            max-width: 1200px; \n            margin: 0 auto; \n        }\n        table {\n            border-collapse: collapse;\n            width: 100%;\n            margin: 20px 0;\n        }\n        th, td {\n            border: 1px solid #ddd;\n            padding: 8px;\n            text-align: left;\n        }\n        th {\n            background-color: #f2f2f2;\n            cursor: pointer;\n        }\n        th:hover {\n            background-color: #ddd;\n        }\n        .controls {\n            margin: 20px 0;\n            padding: 10px;\n            background: #f8f8f8;\n            border-radius: 4px;\n        }\n        .btn {\n            padding: 8px 16px;\n            margin: 0 5px;\n            cursor: pointer;\n            background: #4CAF50;\n            color: white;\n            border: none;\n            border-radius: 4px;\n        }\n        .btn:hover {\n            background: #45a049;\n        }\n        .tab-container {\n            margin: 20px 0;\n        }\n        .tab-button {\n            padding: 10px 20px;\n            border: none;\n            background: #f2f2f2;\n            cursor: pointer;\n        }\n        .tab-button.active {\n            background: #4CAF50;\n            color: white;\n        }\n        .graph-controls {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 15px;\n            margin: 20px 0;\n            padding: 15px;\n            background: #f8f8f8;\n            border-radius: 4px;\n        }\n        .control-group {\n            display: flex;\n            flex-direction: column;\n            gap: 5px;\n        }\n        select, input {\n            padding: 8px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n        }\n        #graphContainer {\n            background: white;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n            margin: 20px 0;\n        }\n/* Sorting icons styles */\nth {\n    position: relative;\n    padding-right: 25px; /* Space for sort icon */\n}\nth:after {\n    content: '↕';\n    position: absolute;\n    right: 8px;\n    color: #999;\n}\nth.sort-asc:after {\n    content: '↑';\n    color: #000;\n}\nth.sort-desc:after {\n    content: '↓';\n    color: #000;\n}\n\n/* Pagination styles */\n.pagination {\n    display: flex;\n    gap: 10px;\n    align-items: center;\n    margin: 20px 0;\n    justify-content: center;\n}\n.pagination button {\n    padding: 5px 10px;\n    border: 1px solid #ddd;\n    background: white;\n    cursor: pointer;\n    border-radius: 4px;\n}\n.pagination button:disabled {\n    background: #f5f5f5;\n    cursor: not-allowed;\n    opacity: 0.5;\n}\n.pagination span {\n    padding: 0 10px;\n}\n.page-size {\n    margin-left: 20px;\n}\n.templates-section {\n    grid-column: 1 / -1;\n    padding: 10px;\n    border-bottom: 1px solid #ddd;\n    margin-bottom: 15px;\n}\n\n.template-buttons {\n    display: flex;\n    gap: 10px;\n    flex-wrap: wrap;\n    margin-top: 10px;\n}\n\n.template-button {\n    padding: 8px 16px;\n    background: #f0f0f0;\n    border: 1px solid #ddd;\n    border-radius: 4px;\n    cursor: pointer;\n    transition: all 0.3s;\n}\n\n.template-button:hover {\n    background: #e0e0e0;\n}\n\n.template-button.active {\n    background: #4CAF50;\n    color: white;\n    border-color: #4CAF50;\n}\n    </style>\n   <!-- React and ReactDOM dependencies -->\n    <script crossorigin src=\"https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js\"></script>\n    <script crossorigin src=\"https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js\"></script>\n    \n\n\n<!-- Add this after other script tags -->\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Dashboard</h1>\n        \n        <div class=\"tab-container\">\n            <button class=\"tab-button active\" onclick=\"switchTab('table')\">Table View</button>\n            <button class=\"tab-button\" onclick=\"switchTab('graph')\">Graph View</button>\n        </div>\n\n        <!-- Table View -->\n        <div id=\"tableView\">\n            <div class=\"controls\">\n                <input type=\"text\" id=\"filterInput\" placeholder=\"Search...\" />\n                <select id=\"filterColumn\">\n                    <option value=\"all\">All Columns</option>\n                </select>\n                <button class=\"btn\" onclick=\"exportToCSV()\">Export to CSV</button>\n            </div>\n            <div id=\"tableContainer\"></div>\n<div class=\"pagination\">\n    <button onclick=\"previousPage()\" id=\"prevBtn\">Previous</button>\n    <span id=\"pageInfo\">Page 1 of 1</span>\n    <button onclick=\"nextPage()\" id=\"nextBtn\">Next</button>\n    <select id=\"pageSize\" onchange=\"changePageSize()\" class=\"page-size\">\n        <option value=\"5\">5 per page</option>\n        <option value=\"10\" selected>10 per page</option>\n        <option value=\"20\">20 per page</option>\n        <option value=\"50\">50 per page</option>\n    </select>\n</div>\n        </div>\n\n        <!-- Graph View -->\n       <div id=\"graphView\" style=\"display: none;\">\n    <div class=\"graph-controls\">\n        <!-- Add templates section -->\n        <div class=\"templates-section\">\n            <h3>Chart Templates</h3>\n            <div id=\"templateButtons\" class=\"template-buttons\">\n                <!-- Template buttons will be added here dynamically -->\n            </div>\n        </div>\n        \n        <!-- Existing controls -->\n        <div class=\"control-group\">\n            <label>X Axis:</label>\n            <select id=\"xAxis\" onchange=\"updateGraph()\"></select>\n        </div>\n        <div class=\"control-group\">\n            <label>Y Axis:</label>\n            <select id=\"yAxis\" onchange=\"updateGraph()\"></select>\n        </div>\n        <div class=\"control-group\">\n            <label>Group By:</label>\n            <select id=\"groupBy\" onchange=\"updateGraph()\"></select>\n        </div>\n        <div class=\"control-group\">\n            <label>Chart Type:</label>\n            <select id=\"chartType\" onchange=\"updateGraph()\">\n    <option value=\"bar\">Bar Chart</option>\n    <option value=\"line\">Line Chart</option>\n    <option value=\"pie\">Pie Chart</option>\n    <option value=\"doughnut\">Doughnut Chart</option>\n</select>\n        </div>\n<!-- Add this in graph-controls div after other controls -->\n<div class=\"control-group\">\n    <label>Aggregation:</label>\n    <select id=\"aggregation\" onchange=\"updateGraph()\">\n        <option value=\"sum\">Sum</option>\n        <option value=\"average\">Average</option>\n        <option value=\"count\">Count</option>\n        <option value=\"min\">Minimum</option>\n        <option value=\"max\">Maximum</option>\n    </select>\n</div>\n    </div>\n    <div id=\"graphContainer\">\n        <canvas id=\"myChart\"></canvas>\n    </div>\n</div>\n\n    <script>\n        // Sample data - sales transactions\n        const data = {{ JSON.stringify($json.data) }};\nconst chartTemplates = {{ JSON.stringify($json.templates) }};\n        // Column type definitions for formatting\n        function detectColumnTypes(data) {\n    if (!data || data.length === 0) return {};\n    \n    // Get keys from first data item\n    const firstItem = data[0];\n    const columnTypes = {};\n    \n    // Determine type for each column\n    Object.keys(firstItem).forEach(key => {\n        const value = firstItem[key];\n        let type = 'string'; // default type\n        \n        if (value instanceof Date) {\n            type = 'date';\n        } else if (typeof value === 'number') {\n            type = 'number';\n        } else if (typeof value === 'boolean') {\n            type = 'boolean';\n        } else if (typeof value === 'string') {\n            // Check if string is actually a date\n            const dateCheck = new Date(value);\n            if (!isNaN(dateCheck) && value.includes('-')) {\n                type = 'date';\n            } else {\n                type = 'string';\n            }\n        }\n        \n        columnTypes[key] = type;\n    });\n    \n    return columnTypes;\n}\n\n// Remove the hardcoded columnTypes and replace with:\nlet columnTypes = {};\n\n        let filteredData = [...data];\n        let currentPage = 1;\n        let pageSize = 10;\nlet currentSortColumn = null;\nlet sortAscending = true;\n\nfunction applyTemplate(index) {\n    const template = chartTemplates[index];\n    \n    // Update selects\n    document.getElementById('chartType').value = template.chartType;\n    document.getElementById('xAxis').value = template.xAxis;\n    document.getElementById('yAxis').value = template.yAxis;\n    document.getElementById('groupBy').value = template.groupBy;\n    document.getElementById('aggregation').value = template.aggregation || 'sum'; // added aggregation\n    \n    // Update buttons\n    document.querySelectorAll('.template-button').forEach((btn, i) => {\n        btn.classList.toggle('active', i === index);\n    });\n    \n    updateGraph();\n}\n\nfunction initializeGraphControls() {\n    const templateContainer = document.getElementById('templateButtons');\n    templateContainer.innerHTML = chartTemplates.map((template, index) => `\n        <button class=\"template-button\" onclick=\"applyTemplate(${index})\">\n            ${template.title}\n        </button>\n    `).join('');\n}\n\n    function initialize() {\n    // Detect column types from data\n    columnTypes = detectColumnTypes(data);\n    console.log('Detected columns:', columnTypes);\n    \n    const columns = Object.keys(columnTypes);\n    \n    // Initialize filter dropdown\n    const filterColumn = document.getElementById('filterColumn');\n    filterColumn.innerHTML = '<option value=\"all\">All Columns</option>';\n    columns.forEach(column => {\n        filterColumn.innerHTML += `<option value=\"${column}\">${column}</option>`;\n    });\n\n    // Initialize graph axis selectors\n    const xAxis = document.getElementById('xAxis');\n    const yAxis = document.getElementById('yAxis');\n    // In the initialize function, add empty option for groupBy\nconst groupBy = document.getElementById('groupBy');\ngroupBy.innerHTML = '<option value=\"\">No Grouping</option>';\ncolumns.forEach(column => {\n    groupBy.innerHTML += `<option value=\"${column}\">${column}</option>`;\n});\n    \n    xAxis.innerHTML = '';\n    yAxis.innerHTML = '';\n    \n    columns.forEach(column => {\n        xAxis.innerHTML += `<option value=\"${column}\">${column}</option>`;\n        yAxis.innerHTML += `<option value=\"${column}\">${column}</option>`;\n        groupBy.innerHTML += `<option value=\"${column}\">${column}</option>`;\n    });\n\n    // Set default Y axis to a numeric column\n    const numericColumns = columns.filter(col => columnTypes[col] === 'number');\n    if (numericColumns.length > 0) {\n        yAxis.value = numericColumns[0];\n    }\n\n    setupEventListeners();\n    refreshTable();\n    initializeGraphControls();\n}\n\n        // Format cell values based on type\n        function formatValue(value, type) {\n            if (value === null || value === undefined) return '';\n            \n            switch (type) {\n                case 'date':\n                    return new Date(value).toLocaleDateString();\n                case 'number':\n                    return value.toLocaleString();\n                case 'boolean':\n                    return value ? 'Yes' : 'No';\n                default:\n                    return value.toString();\n            }\n        }\n\n        // Create and update table\n        function createTable() {\n    const table = document.createElement('table');\n    const thead = document.createElement('thead');\n    const tbody = document.createElement('tbody');\n    \n    // Create header row with sorting indicators\n    const headerRow = document.createElement('tr');\n    Object.keys(columnTypes).forEach(column => {\n        const th = document.createElement('th');\n        th.textContent = column.charAt(0).toUpperCase() + column.slice(1);\n        th.onclick = () => sortTable(column);\n        \n        // Add sorting indicators\n        if (column === currentSortColumn) {\n            th.classList.add(sortAscending ? 'sort-asc' : 'sort-desc');\n        }\n        \n        headerRow.appendChild(th);\n    });\n    thead.appendChild(headerRow);\n    \n    // Apply pagination\n    const startIndex = (currentPage - 1) * pageSize;\n    const endIndex = Math.min(startIndex + pageSize, filteredData.length);\n    const paginatedData = filteredData.slice(startIndex, endIndex);\n    \n    // Create data rows\n    paginatedData.forEach(row => {\n        const tr = document.createElement('tr');\n        Object.entries(columnTypes).forEach(([column, type]) => {\n            const td = document.createElement('td');\n            td.textContent = formatValue(row[column], type);\n            if (type === 'boolean') {\n                td.style.color = row[column] ? 'green' : 'red';\n            }\n            tr.appendChild(td);\n        });\n        tbody.appendChild(tr);\n    });\n    \n    table.appendChild(thead);\n    table.appendChild(tbody);\n    updatePagination();\n    return table;\n}\n\n        // Sort table by column\n        // Replace your existing sortTable function\nfunction sortTable(column) {\n    if (currentSortColumn === column) {\n        sortAscending = !sortAscending;\n    } else {\n        currentSortColumn = column;\n        sortAscending = true;\n    }\n    \n    const type = columnTypes[column];\n    filteredData.sort((a, b) => {\n        const valueA = a[column];\n        const valueB = b[column];\n        \n        let comparison = 0;\n        switch (type) {\n            case 'number':\n                comparison = valueA - valueB;\n                break;\n            case 'date':\n                comparison = new Date(valueA) - new Date(valueB);\n                break;\n            case 'boolean':\n                comparison = valueA === valueB ? 0 : valueA ? -1 : 1;\n                break;\n            default:\n                comparison = valueA.toString().localeCompare(valueB.toString());\n        }\n        return sortAscending ? comparison : -comparison;\n    });\n    \n    refreshTable();\n}\n\n        // Filter data\n        function filterData() {\n            const filterValue = document.getElementById('filterInput').value.toLowerCase();\n            const filterColumn = document.getElementById('filterColumn').value;\n            \n            filteredData = data.filter(row => {\n                if (filterColumn === 'all') {\n                    return Object.values(row).some(value => \n                        value.toString().toLowerCase().includes(filterValue)\n                    );\n                } else {\n                    return row[filterColumn].toString().toLowerCase().includes(filterValue);\n                }\n            });\n            \n            refreshTable();\n            if (document.getElementById('graphView').style.display !== 'none') {\n                updateGraph();\n            }\n        }\n\n        // Update graph\n       function updateGraph() {\n    const xAxis = document.getElementById('xAxis').value;\n    const yAxis = document.getElementById('yAxis').value;\n    const groupBy = document.getElementById('groupBy').value;\n    const chartType = document.getElementById('chartType').value;\n    const aggregation = document.getElementById('aggregation').value;\n    \n    // Prepare data\n    const groupedData = {};\n    filteredData.forEach(row => {\n        const groupKey = groupBy ? row[groupBy] : 'All';\n        if (!groupedData[groupKey]) {\n            groupedData[groupKey] = {};\n        }\n        const xValue = formatValue(row[xAxis], columnTypes[xAxis]);\n        if (!groupedData[groupKey][xValue]) {\n            groupedData[groupKey][xValue] = [];\n        }\n        groupedData[groupKey][xValue].push(parseFloat(row[yAxis]) || 0);\n    });\n\n    // Process data with aggregation\n    const labels = [...new Set(filteredData.map(item => formatValue(item[xAxis], columnTypes[xAxis])))];\n    const datasets = Object.entries(groupedData).map(([key, values]) => ({\n        label: key,\n        data: labels.map(label => {\n            const vals = values[label] || [];\n            switch(aggregation) {\n                case 'sum':\n                    return vals.reduce((a, b) => a + b, 0);\n                case 'average':\n                    return vals.length ? vals.reduce((a, b) => a + b, 0) / vals.length : 0;\n                case 'count':\n                    return vals.length;\n                case 'min':\n                    return vals.length ? Math.min(...vals) : 0;\n                case 'max':\n                    return vals.length ? Math.max(...vals) : 0;\n                default:\n                    return vals.reduce((a, b) => a + b, 0);\n            }\n        })\n    }));\n    // Create chart\n    const ctx = document.getElementById('myChart');\n    if (window.currentChart) {\n        window.currentChart.destroy();\n    }\n    \n   // Update the chart configuration in updateGraph function\nwindow.currentChart = new Chart(ctx, {\n    type: chartType,\n    data: {\n        labels: labels,\n        datasets: datasets.map(dataset => ({\n            ...dataset,\n            // Line chart settings\n            borderWidth: 2,\n            tension: 0,  // Remove curve for straight lines\n            pointRadius: 4,  // Larger points\n            pointHoverRadius: 6,\n            \n            // Bar chart settings\n            barPercentage: 0.8,  // Make bars wider (0-1)\n            categoryPercentage: 0.9,  // Space between bar groups\n            \n            // Colors\n            backgroundColor: dataset.backgroundColor || 'rgba(75, 192, 192, 0.6)',\n            borderColor: dataset.borderColor || 'rgba(75, 192, 192, 1)',\n        }))\n    },\n    options: {\n        responsive: true,\n        plugins: {\n            legend: {\n                position: 'top',\n            }\n        },\n        scales: chartType !== 'pie' && chartType !== 'doughnut' ? {\n            y: {\n                beginAtZero: true,\n                ticks: {\n                    font: {\n                        size: 12\n                    }\n                }\n            },\n            x: {\n                ticks: {\n                    font: {\n                        size: 12\n                    }\n                }\n            }\n        } : undefined,\n        // Pie chart size control\n        layout: {\n            padding: 20\n        },\n        aspectRatio: chartType === 'pie' || chartType === 'doughnut' ? 2 : 1.5,\n    }\n});}\n\n        // Export to CSV\n        function exportToCSV() {\n            const headers = Object.keys(columnTypes);\n            const csv = [\n                headers.join(','),\n                ...filteredData.map(row =>\n                    headers.map(header => {\n                        const value = formatValue(row[header], columnTypes[header]);\n                        return `\"${value.toString().replace(/\"/g, '\"\"')}\"`\n                    }).join(',')\n                )\n            ].join('\\n');\n            \n            const blob = new Blob([csv], { type: 'text/csv' });\n            const url = window.URL.createObjectURL(blob);\n            const a = document.createElement('a');\n            a.href = url;\n            a.download = 'export.csv';\n            a.click();\n        }\n\n        // Switch between table and graph views\n        function switchTab(tab) {\n            document.querySelectorAll('.tab-button').forEach(button => {\n                button.classList.remove('active');\n            });\n            document.querySelector(`[onclick=\"switchTab('${tab}')\"]`).classList.add('active');\n            \n            document.getElementById('tableView').style.display = tab === 'table' ? 'block' : 'none';\n            document.getElementById('graphView').style.display = tab === 'graph' ? 'block' : 'none';\n            \n            if (tab === 'graph') {\n                updateGraph();\n            }\n        }\n\n        // Set up event listeners\n\n        // Set up event listeners\nfunction setupEventListeners() {\n    // Filter input listener\n    document.getElementById('filterInput').addEventListener('input', filterData);\n    document.getElementById('filterColumn').addEventListener('change', filterData);\n    \n    // Graph control listeners\n    document.getElementById('xAxis').addEventListener('change', updateGraph);\n    document.getElementById('yAxis').addEventListener('change', updateGraph);\n    document.getElementById('groupBy').addEventListener('change', updateGraph);\n    document.getElementById('chartType').addEventListener('change', updateGraph);\n    document.getElementById('aggregation').addEventListener('change', updateGraph); // Add this line\n}\n\n        // Refresh table display\n        function refreshTable() {\n            const container = document.getElementById('tableContainer');\n            container.innerHTML = '';\n            container.appendChild(createTable());\n        }\n// Add these pagination functions before initialize()\nfunction updatePagination() {\n    const totalPages = Math.ceil(filteredData.length / pageSize);\n    document.getElementById('pageInfo').textContent = `Page ${currentPage} of ${totalPages}`;\n    document.getElementById('prevBtn').disabled = currentPage === 1;\n    document.getElementById('nextBtn').disabled = currentPage === totalPages || totalPages === 0;\n}\n\nfunction previousPage() {\n    if (currentPage > 1) {\n        currentPage--;\n        refreshTable();\n    }\n}\n\nfunction nextPage() {\n    const totalPages = Math.ceil(filteredData.length / pageSize);\n    if (currentPage < totalPages) {\n        currentPage++;\n        refreshTable();\n    }\n}\n\nfunction changePageSize() {\n    pageSize = parseInt(document.getElementById('pageSize').value);\n    currentPage = 1;\n    refreshTable();\n}\n        // Start the application\n        initialize();\n    </script>\n</body>\n</html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-1260],"id":"529e3f03-d08b-479b-afd1-09bc29b91c76","name":"Set HTML","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n    <title>Charts Dashboard</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n    <style>\n        .chart-container {\n            width: 800px;\n            margin: 20px auto;\n            padding: 20px;\n            border: 1px solid #eee;\n            border-radius: 8px;\n        }\n        .chart-title {\n            text-align: center;\n            margin-bottom: 20px;\n            font-family: Arial, sans-serif;\n            color: #333;\n        }\n        .subtitle {\n            text-align: center;\n            color: #666;\n            font-size: 0.9em;\n            margin-bottom: 15px;\n        }\n    </style>\n</head>\n<body>\n    <div id=\"chartsContainer\"></div>\n    <script>\n        // Data placeholder\n        const data = {{ JSON.stringify($json.data) }};\n        // List of chart settings\n        const settingsList = {{ JSON.stringify($json.templates) }};\n        \n        // Aggregation functions\n        const aggregateFunctions = {\n            sum: (values) => values.reduce((a, b) => a + b, 0),\n            average: (values) => values.length ? values.reduce((a, b) => a + b, 0) / values.length : 0,\n            count: (values) => values.length,\n            min: (values) => values.length ? Math.min(...values) : 0,\n            max: (values) => values.length ? Math.max(...values) : 0\n        };\n\n        // Function to format value based on type\n        function formatValue(value, type) {\n            if (value === null || value === undefined) return '';\n            switch (type) {\n                case 'date':\n                    return new Date(value).toLocaleDateString();\n                case 'number':\n                    return value.toLocaleString(undefined, {\n                        maximumFractionDigits: 2\n                    });\n                default:\n                    return value.toString();\n            }\n        }\n        \n        // Function to create a single chart\n        function createChart(settings, containerId) {\n            const groupValues = [...new Set(data.map(item => item[settings.groupBy]))];\n            \n            // Group and aggregate data\n            const aggregatedData = {};\n            const xValues = [...new Set(data.map(item => item[settings.xAxis]))];\n            \n            groupValues.forEach(group => {\n                aggregatedData[group] = {};\n                xValues.forEach(x => {\n                    const values = data\n                        .filter(d => d[settings.groupBy] === group && d[settings.xAxis] === x)\n                        .map(d => parseFloat(d[settings.yAxis]) || 0);\n                    \n                    aggregatedData[group][x] = aggregateFunctions[settings.aggregation || 'sum'](values);\n                });\n            });\n            \n            const chartConfig = {\n                type: settings.chartType,\n                data: {\n                    labels: xValues.map(x => formatValue(x, typeof x === 'string' && x.includes('-') ? 'date' : typeof x)),\n                    datasets: groupValues.map(group => ({\n                        label: group,\n                        data: xValues.map(x => aggregatedData[group][x]),\n                        borderWidth: 2,\n                        fill: false,\n                        backgroundColor: settings.chartType === 'bar' ? 'rgba(75, 192, 192, 0.6)' : undefined,\n                        borderColor: 'rgba(75, 192, 192, 1)',\n                        tension: 0.1\n                    }))\n                },\n                options: {\n                    responsive: true,\n                    plugins: {\n                        legend: {\n                            display: groupValues.length > 1,\n                            position: 'top'\n                        },\n                        tooltip: {\n                            enabled: true,\n                            callbacks: {\n                                label: (context) => {\n                                    const value = context.raw;\n                                    return `${context.dataset.label}: ${formatValue(value, 'number')}`;\n                                }\n                            }\n                        }\n                    },\n                    scales: settings.chartType !== 'pie' ? {\n                        y: {\n                            beginAtZero: true,\n                            title: {\n                                display: true,\n                                text: `${settings.yAxisLabel} (${settings.aggregation || 'sum'})`\n                            },\n                            ticks: {\n                                callback: value => formatValue(value, 'number')\n                            }\n                        },\n                        x: {\n                            title: {\n                                display: true,\n                                text: settings.xAxisLabel\n                            }\n                        }\n                    } : undefined,\n                    animation: false,\n                    aspectRatio: settings.chartType === 'pie' ? 1.5 : 2\n                }\n            };\n\n            new Chart(\n                document.getElementById(containerId),\n                chartConfig\n            );\n        }\n\n        // Create container and charts for each settings object\n        settingsList.forEach((settings, index) => {\n            // Create container for this chart\n            const container = document.createElement('div');\n            container.className = 'chart-container';\n            \n            // Add title\n            const title = document.createElement('h2');\n            title.className = 'chart-title';\n            title.textContent = settings.title || `Chart ${index + 1}`;\n            container.appendChild(title);\n            \n            // Add subtitle with aggregation info\n            const subtitle = document.createElement('div');\n            subtitle.className = 'subtitle';\n            subtitle.textContent = `${settings.yAxisLabel} ${settings.aggregation || 'sum'} by ${settings.xAxisLabel}`;\n            container.appendChild(subtitle);\n            \n            // Add canvas for the chart\n            const canvas = document.createElement('canvas');\n            const canvasId = `chart${index}`;\n            canvas.id = canvasId;\n            container.appendChild(canvas);\n            \n            // Add container to the page\n            document.getElementById('chartsContainer').appendChild(container);\n            \n            // Create the chart\n            createChart(settings, canvasId);\n        });\n    </script>\n</body>\n</html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-1460],"id":"3060a80a-07f4-47a7-944d-5cfa06850085","name":"Set HTML1","onError":"continueErrorOutput"},{"parameters":{"respondWith":"binary","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,-1700],"id":"06c11051-dcd1-469b-9c94-9ae4ae82d1b2","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n    <title>Analysis Dashboard</title>\n    <style>\n        body { \n            font-family: Arial, sans-serif; \n            padding: 20px;\n            margin: 0;\n        }\n        .container { \n            max-width: 1200px; \n            margin: 0 auto; \n        }\n        table {\n            border-collapse: collapse;\n            width: 100%;\n            margin: 20px 0;\n        }\n        th, td {\n            border: 1px solid #ddd;\n            padding: 12px;\n            text-align: left;\n        }\n        th {\n            background-color: #f2f2f2;\n        }\n        .action-cell {\n            text-align: center;\n            padding: 8px;\n        }\n        .action-buttons {\n            display: flex;\n            gap: 4px;\n            justify-content: center;\n        }\n        .btn-icon {\n            width: 32px;\n            height: 32px;\n            padding: 4px;\n            border-radius: 4px;\n            border: none;\n            cursor: pointer;\n            display: inline-flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n        }\n        .btn-green {\n            background-color: #4CAF50;\n        }\n        .btn-green:hover {\n            background-color: #45a049;\n        }\n        .btn-blue {\n            background-color: #2196F3;\n        }\n        .btn-blue:hover {\n            background-color: #1976D2;\n        }\n        .tooltip {\n            position: fixed;\n            background: #333;\n            color: white;\n            padding: 5px 10px;\n            border-radius: 4px;\n            font-size: 12px;\n            display: none;\n            z-index: 1000;\n        }\n        .notification {\n            position: fixed;\n            top: 20px;\n            right: 20px;\n            padding: 15px 25px;\n            background: #4CAF50;\n            color: white;\n            border-radius: 4px;\n            display: none;\n            animation: fadeIn 0.3s;\n            z-index: 1000;\n        }\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(-10px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Analysis Dashboard</h1>\n        <div id=\"tableContainer\"></div>\n    </div>\n    <div id=\"tooltip\" class=\"tooltip\"></div>\n    <div id=\"notification\" class=\"notification\"></div>\n\n    <script>\n        // Sample data\n        const analyses = {{ \n  Array.isArray($('Set list').item.json.list) \n    ? JSON.stringify($('Set list').item.json.list.map(item => ({ id: item.id, name: item.name, date_created: item.date_created })) )  \n    : JSON.stringify([{ id: $('Set list').item.json.list.id, name: $('Set list').item.json.list.name, date_created: $('Set list').item.json.list.date_created }] )\n}};\n\n        function formatDate(dateStr) {\n            return new Date(dateStr).toLocaleDateString();\n        }\n\n        function showTooltip(text, event) {\n            const tooltip = document.getElementById('tooltip');\n            tooltip.textContent = text;\n            tooltip.style.left = event.pageX + 10 + 'px';\n            tooltip.style.top = event.pageY + 10 + 'px';\n            tooltip.style.display = 'block';\n        }\n\n        function hideTooltip() {\n            document.getElementById('tooltip').style.display = 'none';\n        }\n\n        function showNotification(message) {\n            const notification = document.getElementById('notification');\n            notification.textContent = message;\n            notification.style.display = 'block';\n            setTimeout(() => {\n                notification.style.display = 'none';\n            }, 3000);\n        }\n\n        function copyToClipboard(text) {\n            navigator.clipboard.writeText(text).then(() => {\n                showNotification('URL copied to clipboard!');\n            });\n        }\n\n        function getActionUrl(id, type) {\n            const baseUrl = window.location.href.split('?')[0];\n            return `${baseUrl}?analysis_id=${id}&type=${type}`;\n        }\n\n        function triggerUpdate(id) {\n    const url = getActionUrl(id, 'update');\n    window.open(url, '_blank');\n}\n\n        function createActionButtons(id, type) {\n            const div = document.createElement('div');\n            div.className = 'action-buttons';\n\n            // Open button\n            const openBtn = document.createElement('button');\n            openBtn.className = 'btn-icon btn-green';\n            openBtn.innerHTML = '↗️';\n            openBtn.onmouseover = (e) => showTooltip('Open in new tab', e);\n            openBtn.onmouseout = hideTooltip;\n            openBtn.onclick = () => window.open(getActionUrl(id, type), '_blank');\n\n            // Copy button\n            const copyBtn = document.createElement('button');\n            copyBtn.className = 'btn-icon btn-green';\n            copyBtn.innerHTML = '📋';\n            copyBtn.onmouseover = (e) => showTooltip('Copy URL', e);\n            copyBtn.onmouseout = hideTooltip;\n            copyBtn.onclick = () => copyToClipboard(getActionUrl(id, type));\n\n            div.appendChild(openBtn);\n            div.appendChild(copyBtn);\n            return div;\n        }\n\n        function createTable() {\n            const table = document.createElement('table');\n            \n            // Header\n            const thead = document.createElement('thead');\n            const headerRow = document.createElement('tr');\n            const headers = [\n    { text: 'Name', width: '40%' },\n    { text: 'Date Created', width: '20%' },\n    { text: 'Table', width: '13%' },   // Adjusted widths\n    { text: 'Graph', width: '13%' },   // Adjusted widths\n    { text: 'File', width: '14%' }     // Adjusted widths\n];\n\n            headers.forEach(header => {\n                const th = document.createElement('th');\n                th.style.width = header.width;\n                th.textContent = header.text;\n                if (header.text !== 'Name' && header.text !== 'Date Created') {\n                    th.style.textAlign = 'center';\n                }\n                headerRow.appendChild(th);\n            });\n            thead.appendChild(headerRow);\n            table.appendChild(thead);\n            \n            // Body\n            const tbody = document.createElement('tbody');\n            analyses.forEach(analysis => {\n                const tr = document.createElement('tr');\n                \n                // Name column\n                const tdName = document.createElement('td');\n                tdName.textContent = analysis.name;\n                tr.appendChild(tdName);\n                \n                // Date column\n                const tdDate = document.createElement('td');\n                tdDate.textContent = formatDate(analysis.date_created);\n                tr.appendChild(tdDate);\n                \n                // Action columns\n                ['table', 'graph', 'file'].forEach(type => {\n                    const td = document.createElement('td');\n                    td.className = 'action-cell';\n                    td.appendChild(createActionButtons(analysis.id, type));\n                    tr.appendChild(td);\n                });\n                \n                // Update column\n              \n                \n                tbody.appendChild(tr); \n            });\n            table.appendChild(tbody);\n            \n            return table;\n        }\n\n        // Initialize\n        document.getElementById('tableContainer').appendChild(createTable());\n    </script>\n</body>\n</html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-1080],"id":"ffda90cb-4a0b-433c-bb2d-b02a0f154290","name":"Set HTML5","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n    <title>Error Status</title>\n    <style>\n        body { \n            font-family: Arial, sans-serif; \n            padding: 20px;\n            margin: 0;\n            display: flex;\n            min-height: 100vh;\n            align-items: center;\n            justify-content: center;\n            background-color: #f8f9fa;\n        }\n        .container { \n            max-width: 600px;\n            margin: 0 auto;\n            text-align: center;\n            padding: 40px;\n            background: white;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .error-icon {\n            font-size: 48px;\n            margin-bottom: 20px;\n            color: #dc3545;\n        }\n        .title {\n            color: #dc3545;\n            margin-bottom: 16px;\n            font-size: 24px;\n        }\n        .message {\n            color: #666;\n            margin-bottom: 24px;\n            font-size: 16px;\n            line-height: 1.5;\n        }\n        .btn {\n            padding: 10px 20px;\n            background: #dc3545;\n            color: white;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 16px;\n            text-decoration: none;\n            display: inline-block;\n            margin: 0 8px;\n        }\n        .btn:hover {\n            background: #c82333;\n        }\n        .btn-secondary {\n            background: #6c757d;\n        }\n        .btn-secondary:hover {\n            background: #5a6268;\n        }\n        .details {\n            margin-top: 20px;\n            padding-top: 20px;\n            border-top: 1px solid #eee;\n            color: #888;\n            font-size: 14px;\n        }\n        .error-code {\n            font-family: monospace;\n            background: #f8f9fa;\n            padding: 8px 16px;\n            border-radius: 4px;\n            display: inline-block;\n            margin: 8px 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"error-icon\">⚠️</div>\n        <h1 class=\"title\">Error Occurred</h1>\n        <p class=\"message\">An error occurred while preparing the analysis data.</p>\n        <p class=\"message\">Please try again later or contact support if the problem persists.</p>\n        <div class=\"error-code\">Error Code: HTML_PREP_ERROR</div>\n        <div>\n            <a href=\"javascript:window.close();\" class=\"btn\">Close Window</a>\n            <a href=\"javascript:location.reload();\" class=\"btn btn-secondary\">Try Again</a>\n        </div>\n        <div class=\"details\">\n            <p>Analysis ID: <span id=\"analysisId\"></span></p>\n            <p>Time: <span id=\"errorTime\"></span></p>\n        </div>\n    </div>\n\n    <script>\n        // Get URL parameters\n        const urlParams = new URLSearchParams(window.location.search);\n        const analysisId = urlParams.get('analysis_id');\n        \n        // Update details\n        document.getElementById('analysisId').textContent = analysisId || 'N/A';\n        document.getElementById('errorTime').textContent = new Date().toLocaleString();\n    </script>\n</body>\n</html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,-940],"id":"c6ef3c31-3870-4e95-840f-7279eaa40737","name":"Error page"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[200,-1620],"id":"d3eb6f68-be67-43ef-b2db-03c975a82300","name":"Convert to File","onError":"continueErrorOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-920,-1200],"id":"2a310c6c-f929-4987-8c0e-db69ecc2aeed","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"data","value":"={{ $('Merge').item.json.analysis_data }}","type":"array"},{"id":"52e0716b-4f8f-4ade-8d0d-445f2ea11e27","name":"templates","value":"={{$('Find Analysis').item.json.templates }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1260],"id":"f96acac4-aa30-4605-888e-93668439c9e3","name":"Set data and templates"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"data","value":"={{ $('Merge').item.json.analysis_data }}","type":"array"},{"id":"f30c566c-9955-4cfe-8bfa-4817675cfad5","name":"templates","value":"={{$('Find Analysis').item.json.templates }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1460],"id":"8e962da2-609f-4673-aec1-bcdb27d2cf11","name":"Set data and templates1"},{"parameters":{"operation":"executeQuery","query":"{{ $('Find Analysis').item.json.sql_query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-980,-920],"id":"c51b2656-c879-4639-b43c-e0579cf59f18","name":"Run SQL query"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a49c158-0f55-43c9-a3fd-d3bbd4e1c574","leftValue":"={{$('Webhook').item.json.query.type }}","rightValue":"main","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,-1040],"id":"046931b5-45cb-473c-afab-85247314fcf6","name":"Main page"},{"parameters":{"operation":"getAll","tableId":"analyses","filters":{"conditions":[{"keyName":"profile_id","condition":"eq","keyValue":"={{  $json.query.profile_id}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1080,-1200],"id":"0a80ddcb-aaf9-4552-9945-ceb9c4e315b8","name":"Find Analyses","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-540,-1060],"id":"e61a9c3e-4439-4da5-ab00-26424dba835b","name":"Merge"},{"parameters":{"operation":"get","tableId":"analyses","filters":{"conditions":[{"keyName":"id","keyValue":"={{  $json.query.analysis_id}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,-920],"id":"64a75222-14c9-4b51-9cad-f334e5886499","name":"Find Analysis"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-820,-920],"id":"8262f637-db0d-4282-a833-c808f2d05ee0","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"f9b88d05-3644-471f-996a-359eecc52a4c","name":"analysis_data","value":"={{ $('Aggregate2').item.json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,-920],"id":"e48e1084-f357-4590-b12a-76aa8804a471","name":"Set variables - data and record"},{"parameters":{"assignments":{"assignments":[{"id":"820014ff-1d21-48d3-b64f-5fad336cf64c","name":"analyses_list","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,-1200],"id":"ed4fa1cb-29b7-41ff-bcea-a856c3bf3f57","name":"Set variables - analyses list"},{"parameters":{"assignments":{"assignments":[{"id":"1257d6ca-3c5c-476b-8d26-f8fb84a0c38e","name":"list","value":"={{ $('Merge').item.json.analyses_list }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1080],"id":"50892d81-d819-4c18-9706-ac7a3051b7c4","name":"Set list"},{"parameters":{"fieldToSplitOut":"analysis_data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-40,-1620],"id":"3dbc96d2-b7ff-4410-a167-1e09cc4bffdb","name":"Split Out"},{"parameters":{"content":"## Dashboard","height":1000,"width":2540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1580,-1760],"id":"c7ab252c-b6f6-457a-af6f-0e08f954efdf","name":"Sticky Note2"},{"parameters":{},"id":"2d02956f-9518-4434-9679-5795d013cdb1","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1360,-260]},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"={{ $('OPENAI - Get messages').item.json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"03561748-c2b0-48ae-b0c1-3bb7851cf62b","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-20]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('OpenAI - Create thread2').item.json.id }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"=Request:\n{{ $('Execute Workflow Trigger').item.json.query.request }}\n\nData:\n{{ JSON.stringify($('Aggregate').item.json) }}"}]},"options":{}},"id":"a89adc04-da25-43e6-b23b-625458641694","name":"OPENAI - Send message","type":"n8n-nodes-base.httpRequest","position":[-600,140],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('OpenAI - Create thread2').item.json.id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_Og4vMOJcEbu5uTfH2r381Kpx"},{"name":"stream","value":"={{true}}"},{"name":"tool_choice","value":"={{ {\"type\": \"code_interpreter\"} }}"},{"name":"tools","value":"={{ [{\"type\": \"code_interpreter\"}] }}"},{"name":"instructions","value":"You are a data analyst. Please use the provided data, query and code interpreter to analyse the data. You may be asked to create graphs or perform simple data analysis with conclusions.\n\nIMPORTANT Generate graph images only in PNG format."}]},"options":{}},"id":"f394a8f4-a1fe-4024-bb0e-aff19f84be7a","name":"OPENAI - Run assistant","type":"n8n-nodes-base.httpRequest","position":[-400,140],"typeVersion":4.2},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('OpenAI - Create thread2').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"4dbb0f1a-cf69-44d1-a860-6fc2824c3821","name":"OPENAI - Get messages","type":"n8n-nodes-base.httpRequest","position":[-200,140],"typeVersion":4.2},{"parameters":{"url":"=https://api.openai.com/v1/files/{{ $json.data[0].attachments[0]?.file_id ?? $json.data[0].content.find(x=>x.type==\"image_file\")?.image_file.file_id }}/content","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"bd814854-c47c-4fa8-b9f0-260626414598","name":"OPENAI - Download File","type":"n8n-nodes-base.httpRequest","position":[240,140],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcb24127-53f9-4498-b0fd-463bd4966ac9","leftValue":"={{ $json.data[0].attachments[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"016ecba7-f6af-4881-a7d6-780dcb43223c","leftValue":"={{ $json.data[0].content.find(x=>x.type==\"image_file\").image_file.file_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,140],"id":"ac559ed3-d929-4938-8082-bbcd6e52c0dd","name":"If1"},{"parameters":{"method":"POST","url":"=https://tmpfiles.org/api/v1/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"a0bbfe3f-8b29-409b-bbd9-9f3a1d9dec4c","name":"Upload File","type":"n8n-nodes-base.httpRequest","position":[420,140],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"={{ $json.data.url.replace('org/','org/dl/') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"22227342-07d8-4c63-b616-7abab7c8e85e","name":"Response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,140]},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"={{$json}}","type":"object"}]},"options":{}},"id":"eb2973d9-d272-4fad-bcab-82b206d75f3f","name":"Error Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,-100]},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"=Analysis created.","type":"string"},{"id":"a96cb31b-c557-451e-9cb9-1118060691b3","name":"analysis_id","value":"={{ $('Create Analysis').item.json.id }}","type":"string"}]},"options":{}},"id":"3c76ad5a-73dd-44e4-9bd9-ae9a7f755f55","name":"Response2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-300]},{"parameters":{"tableId":"analyses","fieldsUi":{"fieldValues":[{"fieldId":"name","fieldValue":"={{ $('Execute Workflow Trigger').item.json.query.name }}"},{"fieldId":"sql_query","fieldValue":"={{ $('Execute Workflow Trigger').item.json.query.sql_query }}"},{"fieldId":"execution_id","fieldValue":"={{ $('Execute Workflow Trigger').item.json.execution_id }}"},{"fieldId":"=profile_id","fieldValue":"={{ $('Execute Workflow Trigger').item.json.profile_id }}"},{"fieldId":"data","fieldValue":"={{ $('Aggregate3').item.json.data }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-280,-300],"id":"cba61762-fd9f-4d31-802a-0f612abba1f9","name":"Create Analysis"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.analyses\nSET templates = COALESCE(templates, '[]'::jsonb) || jsonb_build_object({{ Object.entries($('Execute Workflow Trigger').item.json.query.template).map(([key, value]) => `'${key}', ${typeof value === 'string' ? `'${value}'` : value}`).join(', ') }})\nWHERE id = '{{ $('Find Analysis').item.json.id }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-280,-460],"id":"d60364f2-e7ff-4b6a-9c79-b159b8202c12","name":"Update Template"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"6c2a2645-72d3-4116-bbe3-5f2eafb22934","name":"OpenAI - Create thread2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,140]},{"parameters":{"operation":"executeQuery","query":"{{ $('Execute Workflow Trigger').item.json.query.sql_query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1120,140],"id":"79346fdb-ccd2-47d1-aa3f-f6c21cbea3c9","name":"Run SQL query1","onError":"continueErrorOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-960,140],"id":"76e3b170-f218-461c-8e34-0f19d1ec5297","name":"Aggregate"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"graph","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"graph"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26a3ffe8-c8a6-4564-8d18-5494a8059372","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51031140-5ceb-48aa-9f33-d314131a9653","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"analysis","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"analysis"}]},"options":{}},"id":"40e5c8c0-50b9-452a-9002-460d3c683712","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1180,-260]},{"parameters":{"operation":"executeQuery","query":"{{ $('Execute Workflow Trigger').item.json.query.sql_query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-660,-240],"id":"2b528a60-79b3-4fe2-aed0-6d5a55b9656f","name":"Run SQL query2","onError":"continueErrorOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-480,-300],"id":"6990add3-8b1e-4d09-9fc7-68c05d5362bb","name":"Aggregate3"},{"parameters":{"operation":"get","tableId":"analyses","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Execute Workflow Trigger').item.json.query.analysis_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,-460],"id":"3777813a-ff73-4505-b459-dc99743b5a8e","name":"Find Analysis1","alwaysOutputData":false},{"parameters":{"content":"### Replace OpenAI credentials and assistant id","height":80},"type":"n8n-nodes-base.stickyNote","position":[-460,320],"typeVersion":1,"id":"316878f9-5c6c-4a35-952d-ee386068a851","name":"Sticky Note3"},{"parameters":{"content":"##Agent tools","height":980,"width":2400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1400,-520],"id":"cae639af-1b71-436f-a042-fc77b27d88b1","name":"Sticky Note4"},{"parameters":{"options":{}},"id":"f86aa3b8-4ee2-4354-b961-6f51ba1b5b08","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1520,1320],"webhookId":"72ff4b2f-7044-450c-ba63-4618821dc482"},{"parameters":{"descriptionType":"manual","toolDescription":"Get list of all tables in database","operation":"executeQuery","query":"SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';","options":{}},"id":"3d86d7cd-76f0-45e8-9ec3-5b53d3da9874","name":"DB Schema","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[300,1520]},{"parameters":{"descriptionType":"manual","toolDescription":"Get table definition to find all columns and types.","operation":"executeQuery","query":"SELECT \n    c.column_name,\n    c.data_type,\n    c.is_nullable,\n    c.column_default,\n    tc.constraint_type,\n    ccu.table_name AS referenced_table,\n    ccu.column_name AS referenced_column\nFROM \n    information_schema.columns c\nLEFT JOIN \n    information_schema.key_column_usage kcu \n    ON c.table_name = kcu.table_name \n    AND c.column_name = kcu.column_name\nLEFT JOIN \n    information_schema.table_constraints tc \n    ON kcu.constraint_name = tc.constraint_name\n    AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN\n    information_schema.constraint_column_usage ccu\n    ON tc.constraint_name = ccu.constraint_name\nWHERE \n    c.table_name = '{{ $fromAI(\"table_name\") }}' -- Your table name\n    AND c.table_schema = 'public' -- Ensure it's in the right schema\nORDER BY \n    c.ordinal_position;\n","options":{}},"id":"f0ad5a80-13ac-4e1f-b3c5-01438fd99516","name":"Get table definition1","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[440,1520]},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_Og4vMOJcEbu5uTfH2r381Kpx","mode":"list","cachedResultName":"Data analyst"},"prompt":"define","text":"={{ $('Merge Inputs').item.json.message }} ","memory":"threadId","threadId":"={{$('Merge Profiles').item.json.openai_thread_id}}","options":{"preserveOriginalTools":false}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[140,1280],"id":"700266d9-c98a-4fff-aa0b-72dc1cb8b62d","name":"AI Agent2"},{"parameters":{"httpMethod":"POST","path":"5e56c599-2beb-4ced-9881-9a8553d27b0b","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1520,1140],"id":"b98d55e3-1ddf-4ecc-a7ad-b9770d53aedb","name":"Webhook1","webhookId":"5e56c599-2beb-4ced-9881-9a8553d27b0b","disabled":true},{"parameters":{"operation":"getAll","tableId":"profiles","limit":1,"filters":{"conditions":[{"keyName":"external_id","condition":"eq","keyValue":"={{ $('Merge Inputs').item.json.external_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,1280],"id":"4f16f4ae-f41d-49c1-819a-05f3e15ec103","name":"Find profile","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"f8b90080-2ca2-4856-b97f-c8179a46392c","name":"external_id","value":"={{ $('Webhook1').item.json.body.session_id }}","type":"string"},{"id":"7a0d371d-fa65-4c82-9142-fa075dfcf48e","name":"message","value":"={{ $('Webhook1').item.json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,1140],"id":"afeccc6c-b5b6-407e-87ad-5e7959157455","name":"Set variables"},{"parameters":{"assignments":{"assignments":[{"id":"f8b90080-2ca2-4856-b97f-c8179a46392c","name":"external_id","value":"={{ $('When chat message received').item.json.sessionId }}","type":"string"},{"id":"7a0d371d-fa65-4c82-9142-fa075dfcf48e","name":"message","value":"={{ $('When chat message received').item.json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,1320],"id":"584eaa90-fd19-4c0d-8b82-117eefdf58dd","name":"Set variables1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"247efa2c-ac52-4076-b76d-b5e1205b0b5f","leftValue":"={{ $json?.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-680,1280],"id":"8fdbb0e9-55de-4f94-a1fe-93fed7ce823b","name":"Profile Exists"},{"parameters":{"name":"analysis","description":"Process data with code. Use for math functions and image (graphs) generation. \nIMPORTANT Provide raw data only, don't preprocess or use math functions by yourself\n\nInput example:\nrequest - Count average\nsql query - SELECT * FROM ...\n\nOutput examples:\nAverage is 2\nImage file","workflowId":{"__rl":true,"value":"6BeJu7A1IFVsajsM","mode":"list","cachedResultName":"DB Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"analysis"},{"name":"openai_thread_id","stringValue":"={{ $('Merge Profiles').item.json.openai_thread_id }}"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"request\": {\n      \"type\": \"string\",\n      \"description\": \"Description of the operation to perform.\"\n    },\n    \"sql_query\": {\n      \"type\": \"string\",\n      \"description\": \"Generated SQL query\"\n    }\n  },\n  \"required\": [\"request\", \"data\"]\n}"},"id":"9dc3f93d-fa1a-4dd8-9975-bd3b5e0d6b51","name":"analysis","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[580,1520]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-160,1280],"id":"0e0057cc-16ce-4106-9c59-d939b6a72cac","name":"Merge Profiles"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1020,1280],"id":"e46a6dfb-7177-4daf-8d9c-db513e6ac35a","name":"Merge Inputs"},{"parameters":{"tableId":"profiles","fieldsUi":{"fieldValues":[{"fieldId":"openai_thread_id","fieldValue":"={{ $('OpenAI - Create thread').item.json.id }}"},{"fieldId":"external_id","fieldValue":"={{ $('Merge Inputs').item.json.external_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-320,1400],"id":"c8c017b4-6ab8-473c-94dc-39d07ed82279","name":"Create Profile"},{"parameters":{"name":"generate_sql_query","description":"Generate custom SQL queries using knowledge about DB schema and table definitions to provide needed response for user request.\nGenerate appropriate short name for query - 4 words max. \nUse ->> operator to extract JSON data.\n\nQuery example:\nSELECT * FROM FILES","workflowId":{"__rl":true,"value":"6BeJu7A1IFVsajsM","mode":"list","cachedResultName":"DB Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"data"},{"name":"profile_id","stringValue":"={{ $('Merge Profiles').item.json.id }}"},{"name":"execution_id","stringValue":"={{ $execution.id }}"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sql_query\": {\n      \"type\": \"string\",\n      \"description\": \"Generated SQL query\"\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"Short name for the query (max 4 words)\"\n    }\n  },\n  \"required\": [\"sql_query\", \"name\"]\n}"},"id":"c5bc229e-63ca-4fd2-9f5a-61834edac8f0","name":"generate_sql_query","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[720,1520]},{"parameters":{"name":"generate_graph_template","description":"Generate JSON with params for Chart.js.\n1. Params:\n- title and labels are strings for displaying.\n- axises and groupBy are names of columns from data set generated with SQL query.\n- aggregation and groupBy are enum values. GroupBy is only optional param.\n\n2. Provide id of record from Analyses table from DB.\n\nInput example:\ntitle: \"Revenue by Category\"\nxAxis: \"date\"\nyAxis: \"revenue\"\ngroupBy: \"category\"\nchartType: \"line\"\nxAxisLabel: \"Date\"\nyAxisLabel: \"Revenue ($)\"\naggregation: \"sum\"\n\nOutput example:\nSuccess!","workflowId":{"__rl":true,"value":"6BeJu7A1IFVsajsM","mode":"list","cachedResultName":"DB Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"graph"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"analysis_id\": {\n      \"type\": \"string\",\n      \"description\": \"ID of the record from the Analyses table\"\n    },\n    \"template\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": { \"type\": \"string\" },\n        \"xAxis\": { \"type\": \"string\" },\n        \"yAxis\": { \"type\": \"string\" },\n        \"groupBy\": { \"type\": [\"string\",\"null\"] },\n        \"chartType\": {\n          \"type\": \"string\",\n          \"enum\": [\"bar\", \"line\", \"pie\", \"doughnut\"],\n          \"description\": \"Chart Types: bar (comparison), line (trends), pie/doughnut (proportions)\"\n        },\n        \"xAxisLabel\": { \"type\": \"string\" },\n        \"yAxisLabel\": { \"type\": \"string\" },\n        \"aggregation\": {\n          \"type\": \"string\",\n          \"enum\": [\"sum\", \"average\", \"count\", \"min\", \"max\"],\n          \"description\": \"Aggregation Methods: sum (total of Y axis value), average (mean), count (number of records), min (lowest value), max (highest value)\"\n        }\n      },\n      \"required\": [\"title\", \"xAxis\", \"yAxis\", \"groupBy\", \"chartType\", \"xAxisLabel\", \"yAxisLabel\", \"aggregation\"]\n    }\n  },\n  \"required\": [\"analysis_id\", \"template\"]\n}"},"id":"d12c70d9-c98a-441e-a342-d4c66fe257d2","name":"generate_graph_template","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[160,1520]},{"parameters":{"operation":"getAll","tableId":"analyses","limit":1,"filters":{"conditions":[{"keyName":"execution_id","condition":"eq","keyValue":"={{ $execution.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[520,1260],"id":"8347a837-d400-4347-ab7a-00a01b2c681b","name":"Get Generated Analysis","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff2d5d0-8ec8-4a6d-b9c2-651fffbda277","leftValue":"={{ $('Get Generated Analysis').item.json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,1260],"id":"423e8d04-9933-4814-a971-811f9521e6ab","name":"If"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"9e05766c-a251-4b2e-8ac1-0420b2fa39d2","name":"OpenAI - Create thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-520,1400]},{"parameters":{"assignments":{"assignments":[{"id":"7a0d371d-fa65-4c82-9142-fa075dfcf48e","name":"output","value":"={{ $('AI Agent2').item.json.output }}\n\n[Link to all reports](https://n8n.lowcoding.dev/webhook/3d416911-389d-4041-ab87-5ef2a647ca4b?profile_id={{ $('Merge Profiles').item.json.id }}&type=main)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,1340],"id":"2e0e045f-eba2-493f-a092-42c1b043a4e7","name":"Response3"},{"parameters":{"assignments":{"assignments":[{"id":"7a0d371d-fa65-4c82-9142-fa075dfcf48e","name":"output","value":"={{ $('AI Agent2').item.json.output }}\n\n[Link to generated report](https://n8n.lowcoding.dev/webhook/3d416911-389d-4041-ab87-5ef2a647ca4b?analysis_id={{ $('Get Generated Analysis').item.json.id }}&type=table)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,1180],"id":"b3658c62-abab-4f68-a1ba-d9db02948843","name":"Response4"},{"parameters":{"content":"### Example of queries:\n\n1. Analyse demo_sales count total sales by region and make graph\n\n2. Please, make analysis based on data in demo_sales - Moving Average of Sales Revenue:\n\nCalculate the moving average of total sales revenue over a specified window 2 days to smooth out fluctuations and identify trends.\nGenerate graph with code","height":320,"width":300},"type":"n8n-nodes-base.stickyNote","position":[120,900],"typeVersion":1,"id":"fe57d131-59ad-423e-8576-116fa36d4949","name":"Sticky Note5"},{"parameters":{"content":"### Replace address with webhook address of \"DB Response\" workflow"},"type":"n8n-nodes-base.stickyNote","position":[1140,1240],"typeVersion":1,"id":"6ce7f0e6-e64c-4e12-b6df-3a0e62ebc920","name":"Sticky Note6"},{"parameters":{"content":"## Chat agent\n","height":1000,"width":3320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,780],"id":"f3dc2e9c-f240-48a9-95f2-efd6abcaa936","name":"Sticky Note7"}],"connections":{"Webhook":{"main":[[{"node":"Main page","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Set data and templates1","type":"main","index":0}],[{"node":"Set data and templates","type":"main","index":0}],[{"node":"Set list","type":"main","index":0}],[{"node":"Error page","type":"main","index":0}]]},"Set HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Error page","type":"main","index":0}]]},"Set HTML1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Error page","type":"main","index":0}]]},"Set HTML5":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Error page","type":"main","index":0}]]},"Error page":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}],[{"node":"Error page","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Set variables - analyses list","type":"main","index":0}]]},"Set data and templates":{"main":[[{"node":"Set HTML","type":"main","index":0}]]},"Set data and templates1":{"main":[[{"node":"Set HTML1","type":"main","index":0}]]},"Run SQL query":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Main page":{"main":[[{"node":"Find Analyses","type":"main","index":0}],[{"node":"Find Analysis","type":"main","index":0}]]},"Find Analyses":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Find Analysis":{"main":[[{"node":"Run SQL query","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Set variables - data and record","type":"main","index":0}]]},"Set variables - data and record":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set variables - analyses list":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set list":{"main":[[{"node":"Set HTML5","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"OPENAI - Send message":{"main":[[{"node":"OPENAI - Run assistant","type":"main","index":0}]]},"OPENAI - Run assistant":{"main":[[{"node":"OPENAI - Get messages","type":"main","index":0}]]},"OPENAI - Download File":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"OPENAI - Get messages":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"OPENAI - Download File","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Response1","type":"main","index":0}]]},"Create Analysis":{"main":[[{"node":"Response2","type":"main","index":0}]]},"OpenAI - Create thread2":{"main":[[{"node":"OPENAI - Send message","type":"main","index":0}]]},"Run SQL query1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI - Create thread2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Find Analysis1","type":"main","index":0}],[{"node":"Run SQL query2","type":"main","index":0}],[{"node":"Run SQL query1","type":"main","index":0}]]},"Run SQL query2":{"main":[[{"node":"Aggregate3","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Create Analysis","type":"main","index":0}]]},"Find Analysis1":{"main":[[{"node":"Update Template","type":"main","index":0}]]},"DB Schema":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Get table definition1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Set variables1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Find profile":{"main":[[{"node":"Profile Exists","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Merge Inputs","type":"main","index":0}]]},"Set variables1":{"main":[[{"node":"Merge Inputs","type":"main","index":1}]]},"Profile Exists":{"main":[[{"node":"Merge Profiles","type":"main","index":0}],[{"node":"OpenAI - Create thread","type":"main","index":0}]]},"analysis":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Merge Profiles":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Merge Inputs":{"main":[[{"node":"Find profile","type":"main","index":0}]]},"Create Profile":{"main":[[{"node":"Merge Profiles","type":"main","index":1}]]},"generate_sql_query":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"generate_graph_template":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Get Generated Analysis","type":"main","index":0}]]},"Get Generated Analysis":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Response4","type":"main","index":0}],[{"node":"Response3","type":"main","index":0}]]},"OpenAI - Create thread":{"main":[[{"node":"Create Profile","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"f9a620eb-dc18-406b-bd9d-1d5ea7965a0c","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T17:47:34.321Z","createdAt":"2025-08-04T17:47:34.321Z","role":"workflow:owner","workflowId":"tlsA2o3vi1rDHz5K","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:26:31.978Z","createdAt":"2025-08-04T16:26:31.978Z","id":"rmTsWtd2ruuzH2Lr","name":"5minAI Lessons"}]}