workflows/Backup all WF.json
{"updatedAt":"2025-11-10T10:24:16.364Z","createdAt":"2025-11-10T10:21:47.172Z","id":"KDXCbeQlvVdgoMuz","name":"Backup all WF","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,-48],"id":"c979615b-823a-4a13-8d5e-b230884b66af","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"credential","name":"n8n account","credentialTypeName":"n8nApi","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-80,-48],"id":"5905e03b-d9bd-49ed-bcd6-8aab94492364","name":"n8n","credentials":{"n8nApi":{"id":"w1p6NzKcgcmNjZ0Y","name":"n8n club"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[64,-48],"id":"da4dc921-4751-4307-bb2f-e4b96001154a","name":"Convert to File"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(\",\") }}","fileName":"backup.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[336,-48],"id":"af52fcdd-94e7-4f1b-a8c8-cf6a79eb8c56","name":"Compression"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{"includeBinaries":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,-48],"id":"6774f578-9986-426e-bff5-a228335db877","name":"Aggregate"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Compression","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"97bf2110-5b2e-42c3-b7f9-02050466f1d0","triggerCount":0,"shared":[{"updatedAt":"2025-11-10T10:21:47.172Z","createdAt":"2025-11-10T10:21:47.172Z","role":"workflow:owner","workflowId":"KDXCbeQlvVdgoMuz","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
