workflows/bot_v2.json
{"updatedAt":"2025-11-10T08:56:39.285Z","createdAt":"2025-11-08T11:08:55.286Z","id":"BmBmHZkhEU7UmDO5","name":"bot_v2","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"= {{ JSON.stringify($input.item.json.body) }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,528],"id":"d4573b99-52b1-4000-8a85-4eab2ffb707f","name":"Telegram Trigger"},{"parameters":{"jsCode":"const update = items[0].json;\n\n// Initialize the output object\nconst out = {\n  user_id: null,\n  chat_id: null,\n  message_id: null,\n  text: null,\n  event: null,\n  callback_query_id: null,\n  photo_file_id: null,\n  ref: null\n};\n\n// Handle regular messages\nif (update.message) {\n  const m = update.message;\n  out.user_id = String(m.from.id);\n  out.chat_id = String(m.chat.id);\n  out.message_id = m.message_id;\n  out.event = 'message';\n\n  if (m.text) {\n    out.text = m.text;\n    if (m.text.startsWith('/start')) {\n      out.event = 'start';\n      out.ref = m.text.split(' ')[1] || null;\n    }\n  }\n\n  if (m.photo && m.photo.length) {\n    out.photo_file_id = m.photo[m.photo.length - 1].file_id;\n  }\n}\n\n// Handle callback queries (for inline buttons)\nif (update.callback_query) {\n  const cb = update.callback_query;\n  out.user_id = String(cb.from.id);\n  out.chat_id = String(cb.message.chat.id);\n  out.message_id = cb.message.message_id;\n  out.callback_query_id = cb.id;\n  out.text = cb.data;\n  out.event = 'callback';\n}\n\n// Return the normalized output\nreturn [{ json: out }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,528],"id":"7719c147-44af-4469-b912-c0d3bb94cb82","name":"update1"},{"parameters":{"httpMethod":"POST","path":":token","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1840,528],"id":"a5c62b21-c1c0-4aba-ab6f-c082fe43d96f","name":"Webhook1","webhookId":"fe8f09cb-ec91-4ceb-aca4-128966c74dcc"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"filterByFormula":"={user_id}='{{$json.user_id}}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-800,304],"id":"4f2feddf-cb52-4b4b-843e-f52d118384e7","name":"get session1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"const rows = $('get session1').item.json.records;\nlet session = rows.length ? rows[0].fields : {};\nif(session.user_id && session.user_id !== $json.user_id) throw new Error('Session hijack');\nsession.airtable_id = rows.length ? rows[0].id : null;\nreturn [{...$json.toJSON(), session}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,320],"id":"12d58af0-d096-43fa-8c00-a8e9ed9980fc","name":"build session"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.route}}","rightValue":"=start_plain","operator":{"type":"string","operation":"equals"},"id":"eba029de-d22a-4341-9dcd-7976383c1373"}],"combinator":"and"},"renameOutput":true,"outputKey":"start_plain"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fe1e93b-077f-40be-8b4c-b545ea227cba","leftValue":"={{$json.route}}","rightValue":"start_ref","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start_ref"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbc5645e-8130-467d-afcc-3c234b3170cb","leftValue":"={{$json.route}}","rightValue":"main_menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"main_menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eed365e8-9cfe-45e7-a925-f5d7ee9fc4e6","leftValue":"={{$json.route}}","rightValue":"image_choose_format","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_choose_format"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ce9f791-a4fa-4db4-9713-d069d023f786","leftValue":"={{$json.route}}","rightValue":"image_ask_prompt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_ask_prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c5c9f6b-d44c-4d0a-92a4-624a92471480","leftValue":"={{$json.route}}","rightValue":"image_regenerate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_regenerate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09e8f592-d98b-4b6c-a849-6a038e28d353","leftValue":"={{$json.route}}","rightValue":"video_choose_model","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_choose_model"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d16fde0d-0604-41ae-b2fe-364c8f4791b0","leftValue":"={{$json.route}}","rightValue":"video_ask_prompt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_ask_prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b3bb886-ac66-42fa-856c-fc4905effa5f","leftValue":"={{$json.route}}","rightValue":"video_regenerate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_regenerate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4f0585-8bbb-451d-b682-75ead133caa0","leftValue":"={{$json.route}}","rightValue":"image_generate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_generate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0aba461e-05e8-4ed5-b959-f34b901d9027","leftValue":"={{$json.route}}","rightValue":"video_generate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_generate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af6d577e-d230-45fd-9db6-c405a2a49b7c","leftValue":"={{$json.route}}","rightValue":"rate_limit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"rate_limit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0596ab82-adc8-4b60-9253-070008241119","leftValue":"={{$json.route}}","rightValue":"unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"unknown"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fae9070e-a470-42f8-9732-eca7b520d9f6","leftValue":"={{$json.route}}","rightValue":"sora2pro_storyboard_dur","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2pro_storyboard_dur"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d0032ac-f7e4-41a3-8cb0-e18350cdc956","leftValue":"={{$json.route}}","rightValue":"force_close_session","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"force_close_session"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[528,512],"id":"62b28ebe-d7ac-48b0-962b-ea73bca7c520","name":"switch route"},{"parameters":{"chatId":"={{$json.user_id}}","text":"🎨 *Добро пожаловать в AI Creation Bot!*\n Выберите что хотите создать:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🖼️ Создать изображение","additionalFields":{"callback_data":"create_image"}}]}},{"row":{"buttons":[{"text":"🎥 Создать видео (Sora)","additionalFields":{"callback_data":"create_video_sora"}}]}},{"row":{"buttons":[{"text":"🎥 Создать видео (Veo3)","additionalFields":{"callback_data":"create_video_veo3"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[752,-16],"id":"9108087a-ab03-4424-b806-109e6a8c2282","name":"send main menu","webhookId":"57cb3907-ebb3-467f-96e9-f525191c15fd","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $json.result.chat.id }}","chat_id":"={{ $json.result.chat.id }}","state":"main","created_at":"={{new Date().toISOString()}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[928,-16],"id":"11549bc0-364a-4fbf-bf97-114d13914263","name":"create main","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"📐 *Выберите формат изображения:*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":" 1:1 Квадрат","additionalFields":{"callback_data":"format_1_1"}}]}},{"row":{"buttons":[{"text":"9:16 Вертикальный","additionalFields":{"callback_data":"format_9_16"}}]}},{"row":{"buttons":[{"text":"16:9 Горизонтальный","additionalFields":{"callback_data":"format_16_9"}}]}},{"row":{"buttons":[{"text":"↩️ Главное меню ","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[768,192],"id":"7f7bc99b-1da5-46e5-943d-293f4eccd4c1","name":"edit image format","webhookId":"af6777a9-2b43-4a7a-bbd4-a93e1b1c8dcc","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{$json.session.id}}","state":"image_format","format":"={{$json.text}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[960,192],"id":"cf823066-4212-4df5-b7f8-4e387ce7a0b6","name":"update format","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"ℹ️ *Помощь по боту*\n\n• Изображения: $0.02 за генерацию\n• Видео: от $0.15 за 10-15 секунд\n• Pro модели: от $0.75 за стандартное качество\n\nВсегда можно вернуться в главное меню!","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,208],"id":"ccc4fd5a-9c18-4b58-86ed-eddbff2e50da","name":"Edit Help","webhookId":"e71fa535-7178-4e29-8009-adc10db9222a","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"waiting_image_prompt","updated_at":"={{new Date().toISOString()}}","id":"={{$json.session.id}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1440,192],"id":"7993187c-f7cb-488c-ae6d-e65f77736209","name":"wait image","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,416],"id":"f9591815-1b14-4fac-a420-07be63e22131","name":"image gen stub"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"image_done","file_id":"={{$json.file_id}}","prompt":"={{$json.text}}","updated_at":"={{new Date().toISOString()}}","id":"={{$json.session.id}}","session_status":"closed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"orientation","displayName":"orientation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"is_expired","displayName":"is_expired","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"closed_at","displayName":"closed_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"session_status","displayName":"session_status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1008,416],"id":"ec06033a-1990-40bc-bb91-ab6bfe03a9ec","name":"image done","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"🤖 *Выберите модель для создания видео:*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Sora-2 Текст-в-Видео ","additionalFields":{"callback_data":"sora2_text"}}]}},{"row":{"buttons":[{"text":"Sora-2 Изображение-в-Видео","additionalFields":{"callback_data":"sora2_image"}}]}},{"row":{"buttons":[{"text":"Sora-2-Pro Текст-в-Видео","additionalFields":{"callback_data":"sora2_pro_text"}}]}},{"row":{"buttons":[{"text":" Sora-2-Pro Изображение-в-Видео","additionalFields":{"callback_data":"sora2_pro_image"}}]}},{"row":{"buttons":[{"text":" Veo3 Текст-в-Видео","additionalFields":{"callback_data":"veo3_text"}}]}},{"row":{"buttons":[{"text":"Veo3 Фото-в-Видео","additionalFields":{"callback_data":"veo3_photo"}}]}},{"row":{"buttons":[{"text":"↩️ Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[928,656],"id":"2b334d61-8c66-4a3e-b75a-dec6e3b8489e","name":"edit video model","webhookId":"e601b84e-350c-406b-9368-b9bf356f0c72","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"video_model","updated_at":"={{new Date().toISOString()}}","model":"={{$json.text}}","id":"={{$json.session.id}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1136,672],"id":"a73eeb33-0721-4e3a-92c5-7626e6afd2e0","name":"update model","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.session.model}}","rightValue":"sora2_text","operator":{"type":"string","operation":"equals"},"id":"8dd9d779-c2f9-46d4-a056-08f483be7654"}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"636ccb27-102a-4485-b231-8ae514f23b6c","leftValue":"={{$json.session.model}}","rightValue":"sora2_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77cb86a6-da1c-4373-be0b-5db00aaff790","leftValue":"={{$json.session.model}}","rightValue":"sora2_pro_text ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_text "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21d7aeee-e575-41e2-b12b-ee924446f4ef","leftValue":"={{$json.session.model}}","rightValue":"sora2_pro_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b86ac298-bf01-468e-9ba9-f25a00e741e2","leftValue":"={{$json.session.model}}","rightValue":"veo3_text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e5e6f44-328d-44c4-9d4d-00fb5c6ac26d","leftValue":"={{$json.session.model}}","rightValue":"veo3_photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_photo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"653cdb01-b310-4e6b-9a73-2ca3314d8df9","leftValue":"={{$json.session.model}}","rightValue":"veo3_referens_fast","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_referens_fast"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1360,640],"id":"5a4b2033-a0dc-45c0-9a7e-d394e1dfd375","name":"switch duration menu"},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⏱️ *Выберите хронометраж:* \n\n• 10 секунд: $0.15\n• 15 секунд: $0.15","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"10 секунд ($0.15)","additionalFields":{"callback_data":"duration_10"}},{"text":"15 секунд ($0.15)","additionalFields":{"callback_data":"duration_15"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,528],"id":"98e08415-d8be-4244-8274-5f2ef5949dbc","name":"edit sora2 dur","webhookId":"2d422ae7-60f3-47b2-a195-f523474e2c4c","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⏱️ *Выберите хронометраж и качество:*\n *Стандарт:*\n • 10сек: $0.75\n • 15сек: $1.35 \n\n *Высокое качество:*\n • 10сек: $1.65\n • 15сек: $3.15","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Стандарт 10сек ($0.75)","additionalFields":{"callback_data":"pro_std_10"}},{"text":"Стандарт 15сек ($1.35)","additionalFields":{"callback_data":"pro_std_15"}}]}},{"row":{"buttons":[{"text":"ВК 10сек ($1.65)","additionalFields":{"callback_data":"pro_hq_10"}},{"text":"ВК 15сек ($3.15)","additionalFields":{"callback_data":"pro_hq_15"}}]}},{"row":{"buttons":[{"text":"🎞 Storyboard","additionalFields":{"callback_data":"sora2_pro_storyboard"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1696,736],"id":"6d7a73b1-8131-4f40-8d76-ccdf95788b92","name":"edit sora2Pro dur","webhookId":"2c20c13f-ed10-4463-b6d2-d214baeb2f91","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⚡ *Выберите скорость и качество:*\n • Быстро: $0.30\n • Качество: $1.25","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Быстро $0.3","additionalFields":{"callback_data":"veo_fast"}},{"text":"Качество $1.25","additionalFields":{"callback_data":"veo_quality"}}]}},{"row":{"buttons":[{"text":"📎 Референс в видео","additionalFields":{"callback_data":"veo3_referens_in_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}},{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,976],"id":"69443c91-d6e3-4cd2-bacd-b954dbbe58da","name":"edit veo dur","webhookId":"d260e4fe-d098-4ee0-9026-d60500114095","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"=✍️ *Опишите ваше видео:*  Пришлите текстовое описание для генерации.@if($json.session.model.includes('image'))   📎 *Для моделей изображение-в-видео пришлите также фото*@endif","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"={{$json.session.model}}"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,1232],"id":"7c14146e-3165-4bf7-9e38-3de40ac68c44","name":"edit ask video prompt","webhookId":"53c9da6a-94de-44ed-9cc5-7ad2be8dce7e","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"waiting_video_prompt","duration":"={{$json.text}}","price":"={{ {duration_10:0.15,duration_15:0.15,pro_std_10:0.75,pro_std_15:1.35,pro_hq_10:1.65,pro_hq_15:3.15,veo_fast:0.3,veo_quality:1.25,storyboard_10: 0.75,storyboard_15: 1.35,storyboard_25: 1.35, storyboard_10: 0.75, veo3_referens_fast: 0.30,\nstoryboard_15: 1.35,\nstoryboard_25: 1.35}[$json.text] }}","updated_at":"={{new Date().toISOString()}}","id":"={{$json.session.id}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2064,1168],"id":"502424cb-462a-498f-8aa9-4eecb458c093","name":"save dur price","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,1184],"id":"ecaea666-4bf9-493e-9320-483f21cfb0ae","name":"video gen stub"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"video_done","file_id":"={{$json.file_id}}","prompt":"={{$json.text}}","updated_at":"={{new Date().toISOString()}}","id":"={{$json.session.id}}","session_status":"closed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"orientation","displayName":"orientation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"is_expired","displayName":"is_expired","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"closed_at","displayName":"closed_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"session_status","displayName":"session_status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1040,1184],"id":"edde1534-a2ef-4a01-a8ff-b1a6e8839774","name":"video done","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}} //from previous node","replyMarkup":"inlineKeyboard","text":" 🎥 *Ваше видео готово!*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Сделать новое","additionalFields":{"callback_data":"video_ask_prompt"}},{"text":"Выбрать другую модель","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu","url":"={{$json.file_id}}"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,1264],"id":"29f9f38d-1762-43cf-ade1-a2d58eefd5fb","name":"edit video result","webhookId":"c6eef20f-1199-41cb-a0e0-e8ff15aa1d5a","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⏱️ Подождите 1 секунду между командами.","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,960],"id":"6efae60e-d046-4ca6-bf11-55c94c2f3d14","name":"edit rate limit","webhookId":"82f4d9a3-b11d-4962-a1fe-aff60453b261","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"❌ Неизвестная команда","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[832,1392],"id":"3eb7aee9-350f-43f8-b752-ed431213b0bd","name":"edit unknown","webhookId":"2551073f-3ca1-453a-88a1-09ad0e737bda","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}} //from previous node","replyMarkup":"inlineKeyboard","text":"=🖼️ Ваше изображение готово! ","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Сделать новое","additionalFields":{"callback_data":"image_ask_prompt"}},{"text":"Скорректировать","additionalFields":{"callback_data":"regenerate"}}]}},{"row":{"buttons":[{"text":"🎥 Создать видео ","additionalFields":{"callback_data":"create_video_from_image"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,400],"id":"9b71844d-18b9-4f56-8fd4-e10e14affee6","name":"edit image result","webhookId":"9430fa25-51ce-4810-957a-5f7b0dc4dd06","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblSudwVtMGp1VJyF","mode":"list","cachedResultName":"rateLimit","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblSudwVtMGp1VJyF"},"filterByFormula":"={user_id}='{{$json.user_id}}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1936,288],"id":"1b1ad646-c0a7-47b8-9482-80a8a56ee2a7","name":"get rate","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const now = new Date();\nconst rows = $('get rate').item.json.records;\nif(rows.length){\n  const last = new Date(rows[0].fields.ts);\n  if((now - last) < 1000) return [{json:{error:'Too many requests'}}];\n}\nconst rid = rows.length ? rows[0].id : null;\nreturn [{...$json.toJSON(), rate_record_id:rid}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,272],"id":"ec1624a6-5e6f-449e-a511-7aecd9f0f15f","name":"check rate"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblSudwVtMGp1VJyF","mode":"list","cachedResultName":"rateLimit","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblSudwVtMGp1VJyF"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"{{$json.user_id}}","ts":"={{new Date().toISOString()}}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1520,288],"id":"cf4c6d6a-d018-4462-8052-288fbed020fa","name":"create rate","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblSudwVtMGp1VJyF","mode":"list","cachedResultName":"rateLimit","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblSudwVtMGp1VJyF"},"columns":{"mappingMode":"defineBelow","value":{"id":"{{$json.rate_record_id}}","ts":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1344,304],"id":"8bb237f7-9d35-4a5d-a66b-197ed481ccb2","name":"rate update","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{$json.user_id}}","file":"={{$json.file_id}}","additionalFields":{"caption":"🖼️ Ваше изображение готово! ","disable_notification":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,400],"id":"73ad9f9e-6010-4fa7-8711-235176566a8f","name":"Send a photo message","webhookId":"ef0acc0a-6502-4c51-a205-bb4511af9c6e","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"sendVideo","chatId":"={{$json.user_id}}","file":"={{$json.file_id}","additionalFields":{"caption":" 🎥 *Ваше видео готово!*","disable_notification":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1216,1184],"id":"79c62e48-92b1-4f9e-9213-7c97e4d2cd32","name":"Send a video","webhookId":"b294b9a1-096a-4158-8935-8ab3ec20229f","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.user_id }}","messageId":"={{ $json.message_id }}","replyMarkup":"inlineKeyboard","text":"⏱️ *Sora-2 Pro Storyboard*  \nВыберите хронометраж:","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"10 сек  ($0.75)","additionalFields":{"callback_data":"storyboard_10"}},{"text":"15 сек  ($1.35)","additionalFields":{"callback_data":"storyboard_15"}}]}},{"row":{"buttons":[{"text":"25 сек  ($1.35)","additionalFields":{"callback_data":"storyboard_25"}},{"text":"↩️ Назад ","additionalFields":{"callback_data":"sora2_pro_text"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[928,1600],"id":"8cf2b8b9-cc7c-44ff-9b2d-9d73870d1bc8","name":"edit sora2pro storyboard durations","webhookId":"e067e5cc-421f-433b-bfa6-6117b34b32fe","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.user_id }}","messageId":"={{ $json.message_id }}","replyMarkup":"inlineKeyboard","text":"📐 *Выберите ориентацию ролика:*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Горизонтальное видео","additionalFields":{"callback_data":"orientation_h"}}]}},{"row":{"buttons":[{"text":"Вертикальное видео","additionalFields":{"callback_data":"orientation_v"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"sora2_pro_storyboard"}},{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,1600],"id":"21630d96-3d07-4870-8ffa-e7276f7dabd0","name":"edit storyboard orientation","webhookId":"6ff707ea-4ed4-4baa-96da-f91cc43f7a8d","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"jsCode":"const o = $json.text.replace('orientation_','');\nreturn [{ ...$json.toJSON(), orientation: o }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,1600],"id":"a2571fbd-bff9-41d0-bcf2-e78d5acf2249","name":"save orientation"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{$json.session.id}}","orientation":"={{$json.orientation}}","state":"waiting_video_prompt","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"orientation","displayName":"orientation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2048,1600],"id":"f8f8245f-8b73-4f33-9e9b-20aba19ce8fc","name":"update orientation","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.user_id }}","messageId":"={{ $json.message_id }}","replyMarkup":"inlineKeyboard","text":"📐 *Выберите ориентацию ролика:*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Горизонтальное видео","additionalFields":{"callback_data":"orientation_h"}}]}},{"row":{"buttons":[{"text":"Вертикальное видео","additionalFields":{"callback_data":"orientation_v"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"={{$json.session.model}}"}},{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2304,1120],"id":"88b6eb02-d0d3-4695-a5cf-0f19b32d91a0","name":"edit choose orientation","webhookId":"4157b5c3-19fb-42e8-8d30-671c7b99f2ad","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"jsCode":"\nconst o = ($json.text === 'veo3_referens_fast') ? 'h'\n        : $json.text.replace('orientation_','');\nreturn [{ ...$json.toJSON(), orientation: o }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,1120],"id":"9aa9a4da-24b1-459d-a594-81f48dc2690f","name":"save orientation1"},{"parameters":{"operation":"editMessageText","chatId":"={{  }}","messageId":"={{  }}","replyMarkup":"inlineKeyboard","text":"⚡ *Veo-3 Референс в видео*  \nЕдинственный режим: Fast (горизонтальное).","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Fast $0.3 (горизонтальное)","additionalFields":{"callback_data":"veo3_referens_fast"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"veo3_photo"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню ","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,1088],"id":"8dcb1be0-4698-434d-b324-28fc1059a681","name":"edit veo3 referens fast","webhookId":"563ec8f4-3502-4cb5-b98f-6ecd58d2ae15","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{$json.session.user_id}}","chat_id":"={{$json.session.chat_id}}","state":"=main","created_at":"={{$json.session.created_at}}","updated_at":"={{$json.session.updated_at}}","session_status":"open"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"orientation","displayName":"orientation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"is_expired","displayName":"is_expired","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"closed_at","displayName":"closed_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"session_status","displayName":"session_status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-576,432],"id":"553bd815-4ff1-417f-9a76-8661dd946748","name":"create session","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{$json.session.id}}","updated_at":"={{$json.session.updated_at}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"orientation","displayName":"orientation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-576,608],"id":"b579bf21-2081-453e-bd27-b52600590098","name":"update session","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"const item = $input.item.json;\nconst user_id = String(item.user_id);\n\n// Search for existing session in Airtable\nconst airtable = $node[\"get session1\"].json;\n\n// Check if session exists and its status\nlet session = null;\nlet session_status = 'closed';\nlet has_open_session = false;\n\nif (airtable && airtable.fields) {\n  session = airtable.fields;\n  session_status = session.session_status || 'closed';\n  has_open_session = (session_status === 'open');\n  session.id = airtable.id;\n}\n\n// Determine action\nlet action = 'create'; // Default: create new session\n\n// If user sends /start\nif (item.event === 'start') {\n  if (has_open_session) {\n    // REJECT: Open session exists\n    action = 'reject_open_session';\n  } else {\n    // ALLOW: Create new session\n    action = 'create';\n  }\n} else {\n  // Not a /start command\n  if (has_open_session) {\n    // Continue with existing session\n    action = 'update';\n  } else {\n    // No session exists and not /start\n    action = 'no_session';\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    session: session || {},\n    action: action,\n    has_open_session: has_open_session\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,528],"id":"93333a3a-655b-42ef-ab96-565e25ae964d","name":"check or create session"},{"parameters":{"jsCode":"// Parse callback data and route accordingly\nconst i = items[0].json;\nconst s = i.session || {};\nlet route = 'unknown';\n\n// ----- rate limit -----\nif (i.error === 'Too many requests') {\n  route = 'rate_limit';\n}\n// ----- /start branches -----\nelse if (i.event === 'start') {\n  route = i.ref ? 'start_ref' : 'start_plain';\n}\n// ----- callback branches -----\nelse if (i.event === 'callback') {\n  const t = i.text;\n\n  if (t === 'main_menu')        route = 'main_menu';\n  else if (t === 'help')        route = 'help';\n  else if (t === 'create_image') route = 'image_choose_format';\n  else if (t === 'create_video_sora' || t === 'create_video_veo3') route = 'video_choose_model';\n\n  else if (t === 'create_video_from_image') route = 'main_menu';  \n  else if (t === 'sora2_pro_storyboard') route = 'sora2pro_storyboard_dur';\n  else if (['storyboard_10','storyboard_15','storyboard_25'].includes(t)) route = 'storyboard_orientation';\n  // orientation chosen → ask prompt\nelse if (['orientation_h','orientation_v'].includes(t)) route = 'video_ask_prompt';\n\n// new veo3 option\nelse if (t === 'veo3_referens_in_video') route = 'veo3_referens_fast';\n\n// new duration choices that now lead to orientation instead of direct prompt\nelse if (['duration_10','duration_15','pro_std_10','pro_std_15','pro_hq_10','pro_hq_15','veo_fast','veo_quality','storyboard_10','storyboard_15','storyboard_25'].includes(t)) route = 'video_choose_orientation';  \n\n  // image format chosen\n  else if (['format_1_1', 'format_9_16', 'format_16_9'].includes(t)) route = 'image_ask_prompt';\n\n  // video model chosen\n  else if (['sora2_text', 'sora2_image', 'sora2_pro_text','sora2_pro_image', 'veo3_text', 'veo3_photo'].includes(t)) route = 'video_choose_duration';\n\n  // duration/quality chosen → ask prompt\n  else if (['duration_10', 'duration_15', 'pro_std_10', 'pro_std_15','pro_hq_10', 'pro_hq_15', 'veo_fast', 'veo_quality'].includes(t)) route = 'video_ask_prompt';\n\n  // regenerate button\n  else if (t === 'regenerate')  route = (s.last_type === 'image')\n                                      ? 'image_regenerate'\n                                      : 'video_regenerate';\n}\n// ----- text/photo messages -----\nelse if (i.event === 'message') {\n  if (s.waiting_for === 'image_prompt') route = 'image_generate';\n  if (s.waiting_for === 'video_prompt') route = 'video_generate';\n}\n\nreturn [{ ...i, route }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,208],"id":"28cd3f4e-f564-4d84-9708-8a90887615fb","name":"router2","notesInFlow":true,"onError":"continueRegularOutput","notes":"version0"},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"✍️ *Опишите ваше изображение:* \nСтоимость: $0.02 за генерацию (Nanabanana)","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Назад ","additionalFields":{"callback_data":"create_image"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,192],"id":"07f90222-5bb4-4ddc-9e8a-da67b81651e4","name":"edit ask image prompt","webhookId":"ea43cb66-4f84-40b8-85f8-f7d4a47f6fc7","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"jsCode":"// ✅ Get input from the \"Create or Check Session\" node explicitly\nconst sourceNode = $('check or create session');  // <-- change this to your node’s exact name\nconst i = sourceNode.item.json;                   // get the first item\nconst s = i.session || {};\nlet route = 'unknown';\n\n// ----- rate limit -----\nif (i.error === 'Too many requests') {\n  route = 'rate_limit';\n}\n// ----- /start branches -----\nelse if (i.event === 'start') {\n  route = i.ref ? 'start_ref' : 'start_plain';\n}\n// ----- callback branches -----\nelse if (i.event === 'callback') {\n  const t = i.text;\n\n  if (t === 'main_menu')        route = 'main_menu';\n  else if (t === 'help')        route = 'help';\n  else if (t === 'create_image') route = 'image_choose_format';\n  else if (t === 'create_video_sora' || t === 'create_video_veo3') route = 'video_choose_model';\n\n  else if (t === 'create_video_from_image') route = 'main_menu';  \n  else if (t === 'sora2_pro_storyboard') route = 'sora2pro_storyboard_dur';\n  else if (['storyboard_10','storyboard_15','storyboard_25'].includes(t)) route = 'storyboard_orientation';\n\n  // orientation chosen → ask prompt\n  else if (['orientation_h','orientation_v'].includes(t)) route = 'video_ask_prompt';\n\n  // new veo3 option\n  else if (t === 'veo3_referens_in_video') route = 'veo3_referens_fast';\n\n  // new duration choices that now lead to orientation instead of direct prompt\n  else if (['duration_10','duration_15','pro_std_10','pro_std_15','pro_hq_10','pro_hq_15','veo_fast','veo_quality','storyboard_10','storyboard_15','storyboard_25'].includes(t))\n    route = 'video_choose_orientation';  \n\n  // image format chosen\n  else if (['format_1_1', 'format_9_16', 'format_16_9'].includes(t)) route = 'image_ask_prompt';\n\n  // video model chosen\n  else if (['sora2_text', 'sora2_image', 'sora2_pro_text','sora2_pro_image', 'veo3_text', 'veo3_photo'].includes(t))\n    route = 'video_choose_duration';\n\n  // duration/quality chosen → ask prompt\n  else if (['duration_10','duration_15','pro_std_10','pro_std_15','pro_hq_10','pro_hq_15','veo_fast','veo_quality'].includes(t))\n    route = 'video_ask_prompt';\n\n  // regenerate button\n  else if (t === 'regenerate')\n    route = (s.last_type === 'image') ? 'image_regenerate' : 'video_regenerate';\n}\n// ----- text/photo messages -----\nelse if (i.event === 'message') {\n  if (s.waiting_for === 'image_prompt') route = 'image_generate';\n  if (s.waiting_for === 'video_prompt') route = 'video_generate';\n}\n\nreturn [{ json: { ...i, route } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,192],"id":"5dceb038-674f-471c-8671-e5ae5b65cfb1","name":"router1","notesInFlow":true,"onError":"continueRegularOutput","notes":"version1"},{"parameters":{"jsCode":"//// -------------------------------------------------\n//  ROUTER  –  single-item version\n// -------------------------------------------------\nconst i = $input.item.json;   // ✅ safe way\nconst s = i.session || {};\nlet route = 'unknown';\n\n// ----- rate limit -----\nif (i.error === 'Too many requests') {\n  route = 'rate_limit';\n}\n\n// ----- /start branches -----\nelse if (i.event === 'start') {\n  route = i.ref ? 'start_ref' : 'start_plain';\n}\n\n// ----- callback branches -----\nelse if (i.event === 'callback') {\n  const t = i.text;\n\n  if (t === 'main_menu')        route = 'main_menu';\n  else if (t === 'help')        route = 'help';\n  else if (t === 'create_image') route = 'image_choose_format';\n  else if (t === 'create_video_sora' || t === 'create_video_veo3') route = 'video_choose_model';\n\n  else if (t === 'create_video_from_image') route = 'main_menu';\n  else if (t === 'sora2_pro_storyboard') route = 'sora2pro_storyboard_dur';\n  else if (['storyboard_10','storyboard_15','storyboard_25'].includes(t)) route = 'storyboard_orientation';\n\n  // NEW: image format chosen  –  MUST exist\n  else if (['format_1_1', 'format_9_16', 'format_16_9'].includes(t)) route = 'image_format_chosen';\n\n  // orientation chosen\n  else if (['orientation_h','orientation_v'].includes(t)) route = 'video_ask_prompt';\n  else if (t === 'veo3_referens_in_video') route = 'veo3_referens_fast';\n\n  // durations that lead to orientation choice\n  else if (['duration_10','duration_15','pro_std_10','pro_std_15','pro_hq_10','pro_hq_15','veo_fast','veo_quality','storyboard_10','storyboard_15','storyboard_25'].includes(t))\n    route = 'video_choose_orientation';\n\n  // video model chosen\n  else if (['sora2_text', 'sora2_image', 'sora2_pro_text','sora2_pro_image', 'veo3_text', 'veo3_photo'].includes(t))\n    route = 'video_choose_duration';\n\n  // old direct-to-prompt durations (kept for safety – will be removed later)\n  else if (['duration_10','duration_15','pro_std_10','pro_std_15','pro_hq_10','pro_hq_15','veo_fast','veo_quality'].includes(t))\n    route = 'video_ask_prompt';\n\n  // regenerate\n  else if (t === 'regenerate')\n    route = (s.last_type === 'image') ? 'image_regenerate' : 'video_regenerate';\n}\n\n// ----- text/photo messages -----\nelse if (i.event === 'message') {\n  if (s.waiting_for === 'image_prompt') route = 'image_generate';\n  if (s.waiting_for === 'video_prompt') route = 'video_generate';\n}\n\nreturn [{ json: { ...i, route } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,544],"id":"3a5b0be0-8f8a-414d-b1b8-d447502e1566","name":"router","notesInFlow":true,"notes":"version2"},{"parameters":{"jsCode":"const i     = items[0].json;\nconst uid   = i.user_id;\n\n/* 1. look for any OPEN session for this user */\nconst open = await $items('airtable', 0, [{\n  json: {\n    base: 'applvgUrTDyelU131',\n    table: 'tblJk6nIr0tywf2Vi',\n    view: 'Open per user',\n    filterByFormula: `{user_id}='${uid}'`\n  }\n}], 'airtable', { operation: 'search' });\n\nconst hasOpen = open.length && open[0].json.records?.length;\n\n/* 2. user pressed /start */\nif (i.event === 'start') {\n  if (hasOpen) {                       // ← still running\n    return [{ json: { ...i, block: 'already_running' } }];\n  }\n  // no open row → allow creation\n  return [{ json: { ...i, block: 'ok_create' } }];\n}\n\n/* 3. any other message/callback → must have open session */\nif (!hasOpen) {\n  return [{ json: { ...i, block: 'no_session' } }];\n}\n\n/* 4. attach the existing session to the payload */\nconst rec = open[0].json.records[0];\nreturn [{ json: {\n  ...i,\n  session: { ...rec.fields, id: rec.id },\n  block: 'ok_continue'\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,544],"id":"01256a55-ecfe-4f08-a43e-18a0a7ebbead","name":"guard"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"},"id":"921d7bb0-134a-415a-bc7d-f3846d772280"}],"combinator":"and"},"renameOutput":true,"outputKey":"create session"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e2949a2-accf-4e70-b563-5eda1fe4c153","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"update session"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ae63907-f166-4d1e-b3ee-861f77ac6d3c","leftValue":"={{ $json.action }}","rightValue":"reject_open_session","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reject_open_session"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a994362-91bb-4262-a0e1-63610d0bcea8","leftValue":"={{ $json.action }}","rightValue":"no_session","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_session"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1008,528],"id":"281aee37-0c5f-4982-9265-96ea41366834","name":"Switch"},{"parameters":{"chatId":"={{ $json.user_id }}","text":"⚠️ *У вас уже активна сессия!*\n\nЗавершите текущую работу или используйте команду /cancel.\nПосле закрытия сессии вы сможете начать новую командой /start.","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"❌ Закрыть текущую сессию","additionalFields":{"callback_data":"force_close_session"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-736,768],"id":"1953cd45-026b-4516-a772-33f44b8829d3","name":"reply: session busy","webhookId":"0225e584-4a32-456b-9fcc-62b6b1f9f513","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,976],"id":"fc641a53-e89e-477d-8c22-a9e5bfa1e058","name":"reply: no session","webhookId":"aa6e68e1-113c-406c-b9ab-f1c4c3f06273","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.session.id }}","updated_at":"={{ new Date().toISOString() }}","session_status":"closed"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"orientation","displayName":"orientation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"is_expired","displayName":"is_expired","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"closed_at","displayName":"closed_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"session_status","displayName":"session_status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-528,768],"id":"d6c52dcb-0d47-47fa-b372-ab45f5a18db2","name":"force close session","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"✅ *Сессия успешно закрыта*\nТеперь вы можете начать новую сессию командой /start","additionalFields":{"appendAttribution":false,"disable_notification":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-320,768],"id":"a4c3ec3d-294e-4b34-ab62-7b76059daa10","name":"confirm force close","webhookId":"25562e99-b289-4aef-98db-5618353eea43","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"update1","type":"main","index":0}]]},"update1":{"main":[[{"node":"check or create session","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Telegram Trigger","type":"main","index":0}]]},"get session1":{"main":[[]]},"build session":{"main":[[]]},"switch route":{"main":[[{"node":"send main menu","type":"main","index":0}],[{"node":"send main menu","type":"main","index":0}],[{"node":"send main menu","type":"main","index":0}],[{"node":"edit image format","type":"main","index":0}],[],[{"node":"image gen stub","type":"main","index":0}],[{"node":"edit video model","type":"main","index":0}],[{"node":"edit ask video prompt","type":"main","index":0}],[{"node":"video gen stub","type":"main","index":0}],[{"node":"image gen stub","type":"main","index":0}],[{"node":"video gen stub","type":"main","index":0}],[{"node":"edit rate limit","type":"main","index":0}],[{"node":"edit unknown","type":"main","index":0}],[{"node":"edit sora2pro storyboard durations","type":"main","index":0}],[]]},"send main menu":{"main":[[{"node":"create main","type":"main","index":0}]]},"edit image format":{"main":[[{"node":"update format","type":"main","index":0}]]},"update format":{"main":[[{"node":"edit ask image prompt","type":"main","index":0}]]},"image gen stub":{"main":[[{"node":"image done","type":"main","index":0}]]},"image done":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"edit video model":{"main":[[{"node":"update model","type":"main","index":0}]]},"update model":{"main":[[{"node":"switch duration menu","type":"main","index":0}]]},"switch duration menu":{"main":[[{"node":"edit sora2 dur","type":"main","index":0}],[{"node":"edit sora2 dur","type":"main","index":0}],[{"node":"edit sora2Pro dur","type":"main","index":0}],[{"node":"edit sora2Pro dur","type":"main","index":0}],[{"node":"edit veo dur","type":"main","index":0}],[{"node":"edit veo dur","type":"main","index":0}],[{"node":"edit veo3 referens fast","type":"main","index":0}]]},"edit sora2 dur":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit sora2Pro dur":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit veo dur":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit ask video prompt":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"save dur price":{"main":[[{"node":"edit ask video prompt","type":"main","index":0},{"node":"edit storyboard orientation","type":"main","index":0},{"node":"edit choose orientation","type":"main","index":0}]]},"video gen stub":{"main":[[{"node":"video done","type":"main","index":0}]]},"video done":{"main":[[{"node":"Send a video","type":"main","index":0}]]},"edit rate limit":{"main":[[]]},"get rate":{"main":[[{"node":"check rate","type":"main","index":0}]]},"check rate":{"main":[[{"node":"create rate","type":"main","index":0}]]},"create rate":{"main":[[{"node":"rate update","type":"main","index":0}]]},"rate update":{"main":[[]]},"Send a photo message":{"main":[[{"node":"edit image result","type":"main","index":0}]]},"Send a video":{"main":[[{"node":"edit video result","type":"main","index":0}]]},"edit sora2pro storyboard durations":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit storyboard orientation":{"main":[[{"node":"save orientation","type":"main","index":0}]]},"save orientation":{"main":[[{"node":"update orientation","type":"main","index":0}]]},"update orientation":{"main":[[{"node":"edit ask video prompt","type":"main","index":0}]]},"edit choose orientation":{"main":[[{"node":"save orientation1","type":"main","index":0}]]},"save orientation1":{"main":[[{"node":"edit ask video prompt","type":"main","index":0}]]},"create session":{"main":[[{"node":"router","type":"main","index":0}]]},"update session":{"main":[[{"node":"router","type":"main","index":0}]]},"check or create session":{"main":[[{"node":"Switch","type":"main","index":0}]]},"router2":{"main":[[]]},"edit ask image prompt":{"main":[[{"node":"wait image","type":"main","index":0}]]},"router1":{"main":[[]]},"router":{"main":[[{"node":"guard","type":"main","index":0}]]},"guard":{"main":[[{"node":"switch route","type":"main","index":0}]]},"Switch":{"main":[[{"node":"create session","type":"main","index":0}],[{"node":"update session","type":"main","index":0}],[{"node":"reply: session busy","type":"main","index":0}],[{"node":"reply: no session","type":"main","index":0}]]},"edit image result":{"main":[[]]},"edit video result":{"main":[[]]},"reply: session busy":{"main":[[{"node":"force close session","type":"main","index":0}]]},"force close session":{"main":[[{"node":"confirm force close","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"4491344b-57bd-4d0c-b17b-fcd4b81f8efc","triggerCount":1,"shared":[{"updatedAt":"2025-11-08T11:08:55.286Z","createdAt":"2025-11-08T11:08:55.286Z","role":"workflow:owner","workflowId":"BmBmHZkhEU7UmDO5","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}