workflows/business_rss_wf3.json
{"updatedAt":"2025-10-12T19:38:49.970Z","createdAt":"2025-10-12T15:50:44.445Z","id":"JQZAAEauihIA3cPX","name":"business_rss_wf3","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## wf3\n**Сохраните этот workflow и запомните его ID из URL**","height":540,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,40],"id":"eadca07d-dfab-4f7e-a8eb-26adb4980543","name":"Sticky Note2"},{"parameters":{"workflowInputs":{"values":[{"name":"content"},{"name":"operation"},{"name":"userText"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[20,220],"id":"e356e1c6-f6b4-4a05-9a76-d6ca6f62f12c","name":"When Executed by Another Workflow"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-0125","mode":"list","cachedResultName":"GPT-3.5-TURBO-0125"},"messages":{"values":[{"content":"=You are an expert in analyzing business content. Analyze the following news item and evaluate:\n1. Is there an interesting business case?  \n2. Does it contain practical insights?\n3. Is it suitable for an entrepreneurial audience?\n\nAnswer in JSON format: {“isQuality”: boolean, “reason”: “explanation”, ‘category’: “content type”}\n","role":"system"},{"content":"={ $json.content }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,120],"id":"65985de0-4a6a-4634-863c-8b8f1f25aeec","name":"analysis1","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-0125","mode":"list","cachedResultName":"GPT-3.5-TURBO-0125"},"messages":{"values":[{"content":"=Rewrite the news for the Telegram channel about business:\n\nMaximum 1000 characters\n\nAdd relevant emojis\n\nStructure: headline, essence, practical conclusion\n\nConversational tone\n\nA question at the end to engage the reader\nAnswer STRICTLY in JSON: {“telegramContent”: “ready post”}","role":"system"},{"content":"={{ $json.content }}"}]},"jsonOutput":true,"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[700,420],"id":"9572ddcd-891f-4f72-afbe-c851bb7d6d58","name":"rewrite","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42d29ea3-ca3d-490a-a683-26998c94eda1","leftValue":"={{ $json.operation }}","rightValue":"edit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,320],"id":"036540ba-0aa1-424c-876b-983883b39cd9","name":"edit?"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo-0125","mode":"list","cachedResultName":"GPT-3.5-TURBO-0125"},"messages":{"values":[{"content":"=The user has edited the text. Improve it:\n\nCorrect grammar and style.\n\nAdd emojis if appropriate.\n\nMaximum 1000 characters.\n\nPreserve the user's main meaning.\nResponse STRICTLY in JSON: {“telegramContent”: “improved post”}","role":"system"},{"content":"={{ $json.userText }}"}]},"jsonOutput":true,"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[720,220],"id":"a8610e12-0c6a-4a13-be32-06ab60229622","name":"edit","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"content":"## adding a temperature setting 0.5"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,280],"id":"90f73e1c-8388-4caf-b966-5339632c70f3","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e0c2f3a-2eea-4283-a02d-0ab964b837ac","leftValue":"={{ $json.operation }}","rightValue":"analyze","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,220],"id":"3ec139b7-cd41-407c-b19c-8756fb7ba6c3","name":"analyze?"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"analyze?","type":"main","index":0}]]},"edit?":{"main":[[{"node":"edit","type":"main","index":0}],[{"node":"rewrite","type":"main","index":0}]]},"analyze?":{"main":[[{"node":"analysis1","type":"main","index":0}],[{"node":"edit?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"40cae980-0819-4fb5-be96-a80f8db2716a","triggerCount":0,"shared":[{"updatedAt":"2025-10-12T15:50:44.445Z","createdAt":"2025-10-12T15:50:44.445Z","role":"workflow:owner","workflowId":"JQZAAEauihIA3cPX","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}