workflows/business_rss_wf2.json
{"updatedAt":"2025-10-12T16:12:42.521Z","createdAt":"2025-10-12T15:48:44.990Z","id":"k7L8FBP3rTSbtFmp","name":"business_rss_wf2","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.callback_query.data }}","rightValue":"approve","operator":{"type":"string","operation":"equals"},"id":"4ed7ca2a-c40e-48eb-a860-3ba654423ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"approve"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebb07f75-7906-47ac-8b56-eaa4370d4198","leftValue":"={{ $json.body.callback_query.data }}","rightValue":"edit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"edit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"839d2522-dfb4-4080-a4b4-4d7e2b9733d3","leftValue":"={{ $json.body.callback_query.data }}","rightValue":"reject","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reject"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13d63a2f-6b6c-4a5a-a773-be9709e14863","leftValue":"={{ $json.body.callback_query.data }}","rightValue":"approve_final","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"approve_final"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,340],"id":"d03cfe87-433f-4e3e-837e-c367897fb7b2","name":"Switch"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tbl2LZOM732pX1GdY","mode":"list","cachedResultName":"approved_news","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tbl2LZOM732pX1GdY"},"columns":{"mappingMode":"defineBelow","value":{"published":false},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"publish_date","displayName":"publish_date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"published","displayName":"published","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-60,140],"id":"04f5feec-c6fc-4e9a-8f7c-e8b4ecc3ad7c","name":"approved_news","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"sendAndWait","chatId":"chatId","message":"=📝 Отредактируйте новость:\n\nТекущий вариант:\n{{ $json.telegramContent }}\n\nОтправьте исправленный текст одним сообщением.\n","responseType":"freeText","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[180,400],"id":"cccbdf2a-149e-43af-bf88-39c91d973392","name":"edit_request","webhookId":"5592dccb-e489-406a-ba99-b1f279295bb4","credentials":{"telegramApi":{"id":"TNSxSGpuFXhraTnl","name":"business_rss_tg"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"= {{ $json.callback_query.message.message_id }}","status":"awaiting_edit"},"matchingColumns":["message_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"titele","displayName":"titele","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[500,400],"id":"f99c8351-f54a-4655-974d-bfae55d623b9","name":"Update record","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"content":"##Operation: Update\n\nTable: news_context\n\nSet: status = 'awaiting_edit'\n\nWhere: message_id = {{ $json.callback_query.message.message_id }}","height":320,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,200],"id":"23acb33e-bc9c-4faf-ae72-d2521e0d0b59","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"JQZAAEauihIA3cPX","mode":"list","cachedResultName":"business_rss_wf3"},"workflowInputs":{"mappingMode":"defineBelow","value":{"operation":"edit","userText":"={{ $node[\"edit_request\"].json.text }}"},"matchingColumns":[],"schema":[{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"operation","displayName":"operation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userText","displayName":"userText","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[780,400],"id":"50863f41-7803-4db0-ba02-fd0b4de69760","name":"Execute Workflow1"},{"parameters":{"content":"## Operation: Select\n\nTable: news_context\n\nWhere: message_id = {{ $json.callback_query.message.message_id }}","height":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,120],"id":"0cd3d911-7b3c-48e9-9e32-f444626cdc8c","name":"Sticky Note7"},{"parameters":{"base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"id":"= {{ $json.callback_query.message.message_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-500,380],"id":"732080cc-8fa4-424b-9fc7-dac861e12b08","name":"Get a record","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"content":"## Operation: create\n\nTable: approved_news\n\nValues из контекста","height":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,0],"id":"be04279f-14e3-4bef-8a3a-410334f06c41","name":"Sticky Note8"},{"parameters":{"content":"##  Airtable tables\n Контекст новостей для обработки\n\nCREATE TABLE news_context (\n    id SERIAL PRIMARY KEY,\n    chat_id BIGINT,\n    message_id BIGINT,\n    title VARCHAR(500),\n    content TEXT,\n    telegram_content TEXT,\n    source_url VARCHAR(1000),\n    status VARCHAR(50),\n    created_at TIMESTAMP DEFAULT NOW()\n);\n\n-- Утвержденные новости (backlog)\nCREATE TABLE approved_news (\n    id SERIAL PRIMARY KEY,\n    title VARCHAR(500),\n    content TEXT,\n    telegram_content TEXT,\n    source_url VARCHAR(1000),\n    publish_date DATE,\n    published BOOLEAN DEFAULT FALSE,\n    created_at TIMESTAMP DEFAULT NOW()\n);","height":540,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1700,40],"id":"cd8d127f-8d70-4dfc-892e-56d6faa344c4","name":"Sticky Note9"},{"parameters":{"content":"## Operation: update\n\nTable: news_context\n\nWhere: chat_id = {{ $json.message.chat.id }} AND status = 'awaiting_edit'\n\n","height":360,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,600],"id":"251408d2-692c-4a78-835c-833fc5223edb","name":"Sticky Note10"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $json.token }}/setWebhook","sendBody":true,"specifyBody":"json","jsonBody":"={\"url\":\"{{ $json.url }}{{ $json.token }}\",\"allowed_updates\":[\"message\",\"edited_message\",\"channel_post\",\"edited_channel_post\",\"inline_query\",\"chosen_inline_result\",\"callback_query\",\"shipping_query\",\"pre_checkout_query\",\"poll\",\"poll_answer\",\"my_chat_member\",\"chat_member\",\"chat_join_request\"]}","options":{"redirect":{"redirect":{}}}},"id":"577841cf-0cba-4122-a5b7-25970bbfa925","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-900,120]},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body.toJsonString() }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,400],"id":"10be9789-0882-4e25-a4ff-efd13bcc79e0","name":"Telegram Trigger1"},{"parameters":{"httpMethod":"POST","path":":token","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1140,400],"id":"302ebb7c-b91f-4eaf-85e6-420cbc5486da","name":"Webhook","webhookId":"adfa1544-e9b3-42e9-ba84-a628f318519b"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfunction handleTelegramWebhook(update) {\n\n    const normalized = {\n        text: null,\n        event: null,\n        user_id: null,\n        message_id: null,\n        file_id: null,\n        file_type: null,\n        raw_data: update, \n        user_data: null // добавляем данные пользователя\n    };\n\n    // Handle message updates\n    if (update.message) {\n        const msg = update.message;\n        normalized.message_id = msg.message_id;\n        normalized.user_id = msg.from.id;\n        normalized.user_data = {\n            user_id: msg.from.id,\n            first_name: msg.from.first_name,\n            last_name: msg.from.last_name,\n            user_name: msg.from.username\n        };\n\n        // Handle text messages\n        if (msg.text) {          \n            if(msg.text.startsWith(\"/start\") && msg.text.split(' ').length > 1) {              \n            normalized.text = msg.text.split(' ')[1];\n            } else {              \n              normalized.text = msg.text;\n            }            \n            normalized.event = 'text_message';\n        } else if(msg.new_chat_member) {\n            normalized.text = 'message new_chat_member';\n        } else if(msg.left_chat_member) {\n            normalized.text = 'message left_chat_member';\n        }\n        // Handle photo messages\n        else if (msg.photo) {\n            normalized.text = msg.caption || 'new photo message';\n            normalized.event = 'photo_message';\n            normalized.file_id = msg.photo[msg.photo.length - 1].file_id;\n            normalized.file_type = 'photo';\n        }\n        // Handle video messages\n        else if (msg.video) {\n            normalized.text = msg.caption || 'new video message';\n            normalized.event = 'video_message';\n            normalized.file_id = msg.video.file_id;\n            normalized.file_type = 'video';\n        }\n        // Handle document messages\n        else if (msg.document) {\n            normalized.text = msg.caption || 'new document message';\n            normalized.event = 'document_message';\n            normalized.file_id = msg.document.file_id;\n            normalized.file_type = 'document';\n        }\n        // Handle voice messages\n        else if (msg.voice) {\n            normalized.text = msg.caption || 'new voice message';\n            normalized.event = 'voice_message';\n            normalized.file_id = msg.voice.file_id;\n            normalized.file_type = 'voice';\n        }\n        // Handle audio messages\n        else if (msg.audio) {\n            normalized.text = msg.caption || 'new audio message';\n            normalized.event = 'audio_message';\n            normalized.file_id = msg.audio.file_id;\n            normalized.file_type = 'audio';\n        }\n        // Handle location messages\n        else if (msg.location) {\n            normalized.text = 'new location message ' + msg.location.latitude + ' ' + msg.location.longitude;\n            normalized.event = 'location_message';\n        }\n        // Handle contact messages\n        else if (msg.contact) {\n            normalized.text = 'new contact message ' + msg.contact.phone_number;\n            normalized.event = 'contact_message';\n        }\n    }\n    // Handle callback queries\n    else if (update.callback_query) {\n        const cb = update.callback_query;\n        normalized.text = cb.data;\n        normalized.event = 'callback_query';\n        normalized.user_id = cb.from.id;\n        normalized.message_id = cb.message.message_id;\n        normalized.user_data = {\n            user_id: cb.from.id,\n            first_name: cb.from.first_name,\n            last_name: cb.from.last_name,\n            user_name: cb.from.username\n        };\n    }\n    // Handle channel posts\n    else if (update.channel_post) {\n        const post = update.channel_post;\n        normalized.message_id = post.message_id;\n        normalized.user_id = post.chat.id;\n\n        if (post.text) {\n            normalized.text = post.text;\n            normalized.event = 'channel_post';\n        }\n    }\n    // Handle edited messages\n    else if (update.edited_message) {\n        const msg = update.edited_message;\n        normalized.message_id = msg.message_id;\n        normalized.user_id = msg.from.id;\n        normalized.user_data = {\n            user_id: msg.from.id,\n            first_name: msg.from.first_name,\n            last_name: msg.from.last_name,\n            user_name: msg.from.username\n        };\n\n        if (msg.text) {\n            normalized.text = msg.text;\n            normalized.event = 'edited_message';\n        }\n    }\n    // Handle inline queries\n    else if (update.inline_query) {\n        const query = update.inline_query;\n        normalized.text = query.query;\n        normalized.event = 'inline_query';\n        normalized.user_id = query.from.id;\n        normalized.user_data = {\n            user_id: query.from.id,\n            first_name: query.from.first_name,\n            last_name: query.from.last_name,\n            user_name: query.from.username\n        };\n    }\n    // Handle chosen inline results\n    else if (update.chosen_inline_result) {\n        const result = update.chosen_inline_result;\n        normalized.text = result.query;\n        normalized.event = 'chosen_inline_result';\n        normalized.user_id = result.from.id;\n        normalized.user_data = {\n            user_id: result.from.id,\n            first_name: result.from.first_name,\n            last_name: result.from.last_name,\n            user_name: result.from.username\n        };\n    }\n    // Handle poll answers\n    else if (update.poll_answer) {\n        const poll = update.poll_answer;\n        normalized.event = 'poll_answer';\n        normalized.user_id = poll.user.id;\n        normalized.user_data = {\n            user_id: poll.user.id,\n            first_name: poll.user.first_name,\n            last_name: poll.user.last_name,\n            user_name: poll.user.username\n        };\n    }\n    // Handle my chat member updates\n    else if (update.my_chat_member) {\n        const member = update.my_chat_member;\n        normalized.event = 'my_chat_member';\n        normalized.user_id = member.from.id;\n        normalized.user_data = {\n            user_id: member.from.id,\n            first_name: member.from.first_name,\n            last_name: member.from.last_name,\n            user_name: member.from.username\n        };\n    }\n    // Handle chat member updates\n    else if (update.chat_member) {\n        const member = update.chat_member;\n        normalized.event = 'chat_member';\n        normalized.user_id = member.from.id;\n        normalized.user_data = {\n            user_id: member.from.id,\n            first_name: member.from.first_name,\n            last_name: member.from.last_name,\n            user_name: member.from.username\n        };\n    }\n\n    return normalized;\n}\n\nreturn [handleTelegramWebhook($input.first().json)];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-780,380],"id":"865e98e9-0815-4d0c-ad4e-08e2016d650d","name":"update"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"columns":{"mappingMode":"defineBelow","value":{"status":"approved","chat_id":0,"message_id":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"titele","displayName":"titele","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[140,140],"id":"c462b633-4661-4854-9328-53b77f9251dd","name":"Update news_context","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"columns":{"mappingMode":"defineBelow","value":{"status":"rejected","message_id":"= {{ $json.body.callback_query.message.message_id }}","chat_id":"={{ $json.body.callback_query.from.id }}"},"matchingColumns":["message_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"titele","displayName":"titele","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-20,780],"id":"9ed62435-7a26-4730-ade2-10d804a63451","name":"Update reject","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"chatId":"chatId","text":"Новость отклонена.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[200,780],"id":"b500a9fd-43f2-4946-b608-64fe131c8608","name":"rejected news message","webhookId":"d72db0fa-14cb-4794-903a-ea152d3eb4ee","credentials":{"telegramApi":{"id":"TNSxSGpuFXhraTnl","name":"business_rss_tg"}}},{"parameters":{"content":"## needs to pass the correct data to WF3 for the edit operation.\n\ncontent: The original content of the news item (from the Get a record node that precedes the Switch node).\noperation: edit\nuserText: ={{ $node[\"edit_request\"].json.text }}","height":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,40],"id":"64d08282-020b-4fbb-b496-b8acc51a4ff4","name":"Sticky Note14"},{"parameters":{"content":"This should be the chat_id of the user who initiated the edit, retrieved from the news_context recor.\n\nOutput: This node will output the message_id of this new Telegram message.","height":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,160],"id":"1a687944-5a7e-422e-b6fa-ac5919eb0a0d","name":"Sticky Note15"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","chat_id":0,"telegram_content":"={{ $node[\"final approvement\"].json.message.text }}","status":"awaiting_final_approval","message_id":"={{ $node[\"final approvement\"].json.message_id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"titele","displayName":"titele","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1340,400],"id":"89bc75bb-3c7c-4664-b7a4-e5ad0a1ba11b","name":"awaiting_final_approv","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"= ✏️ Обработанная AI версия: {{ $json.telegramContent }} Утвердить эту версию?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Утвердить финальную","additionalFields":{"callback_data":"approve_final"}},{"text":"❌ Отклонить","additionalFields":{"callback_data":"reject"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,400],"id":"996241ac-4f60-4cce-ac27-27eaa5374254","name":"final approvement","webhookId":"16c02781-7520-4da9-b398-4542c78b2ac2","credentials":{"telegramApi":{"id":"TNSxSGpuFXhraTnl","name":"business_rss_tg"}}},{"parameters":{"content":"This is the message_id of the new message sent by final approvement","height":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,280],"id":"e9e3e8a7-5ba8-4dd0-8717-77eba20830e3","name":"Sticky Note16"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tbl2LZOM732pX1GdY","mode":"list","cachedResultName":"approved_news","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tbl2LZOM732pX1GdY"},"columns":{"mappingMode":"defineBelow","value":{"published":false,"title":"={{ $json.title }}","content":"={{ $json.content }}","telegram_content":"={{ $json.telegram_content }}","source_url":"={{ $json.source_url }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"publish_date","displayName":"publish_date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"published","displayName":"published","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[200,620],"id":"e5781661-1e93-4ea1-901a-5d6a35237ea7","name":"Approve Final News","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"columns":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.body.callback_query.message.message_id }}","status":"approved"},"matchingColumns":["message_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"titele","displayName":"titele","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,620],"id":"4a1925e7-4657-40af-9539-f2cc76e88a85","name":"Update News Context to Approved","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"content":"Matching Columns: message_id (from the callback query) ","height":200,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,540],"id":"9f7cb1c5-77b1-428c-b6e4-2bd48824c311","name":"Sticky Note17"},{"parameters":{"chatId":"={{ $json.body.callback_query.from.id }","text":"✅ Новость окончательно утверждена и добавлена в очередь на публикацию!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,620],"id":"aa8abd5b-7469-4ff6-ad72-79df3a0da5f9","name":"Approved Confirmation","webhookId":"2f228973-11d8-4a4b-87ef-d3b333e6e99a","credentials":{"telegramApi":{"id":"TNSxSGpuFXhraTnl","name":"business_rss_tg"}}},{"parameters":{"content":"## wf2        ","height":1060,"width":3080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1240,40],"id":"af5f1011-de89-4b0a-bede-4a555a992627","name":"Sticky Note18"},{"parameters":{"assignments":{"assignments":[{"id":"8b8dbe23-8435-4f82-937f-170b4ff3bea5","name":"token","value":"8118851724:AAHmswbRslglSC50m5Brh7d7U9FH-rAoDZg","type":"string"},{"id":"bfdaefe5-cd53-430c-ac79-2d173e44072e","name":"url","value":"https://n8n.ai-lowcode.dev/webhook/adfa1544-e9b3-42e9-ba84-a628f318519b/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,120],"id":"91b574af-005a-421d-ab22-5fadb9866242","name":"token_business_rss"}],"connections":{"Switch":{"main":[[{"node":"approved_news","type":"main","index":0}],[{"node":"edit_request","type":"main","index":0}],[{"node":"Update reject","type":"main","index":0}],[{"node":"Approve Final News","type":"main","index":0}]]},"approved_news":{"main":[[{"node":"Update news_context","type":"main","index":0}]]},"edit_request":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"final approvement","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"update","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Telegram Trigger1","type":"main","index":0}]]},"update":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Update reject":{"main":[[{"node":"rejected news message","type":"main","index":0}]]},"final approvement":{"main":[[{"node":"awaiting_final_approv","type":"main","index":0}]]},"Approve Final News":{"main":[[{"node":"Update News Context to Approved","type":"main","index":0}]]},"Update News Context to Approved":{"main":[[{"node":"Approved Confirmation","type":"main","index":0}]]},"token_business_rss":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"5e291ea9-53c7-4e73-8918-c8a91aacbdcc","triggerCount":1,"shared":[{"updatedAt":"2025-10-12T15:48:44.990Z","createdAt":"2025-10-12T15:48:44.990Z","role":"workflow:owner","workflowId":"k7L8FBP3rTSbtFmp","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
