workflows/business_rss_wf1.json
{"updatedAt":"2025-10-12T19:39:48.907Z","createdAt":"2025-10-10T18:08:12.713Z","id":"crSWeOcpLVW2ofeN","name":"business_rss_wf1","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,-400],"id":"eadd842f-28e0-468e-9182-6679170923dc","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"={{ \"0 9 * * 1\" }}\n"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-200],"id":"5c3d54de-abe7-4778-a373-df9c22d25af5","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"94179162-b89d-42fb-b10e-e1926ddf33b0","name":"kommersant","value":"https://www.kommersant.ru/rss/main","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,-600],"id":"8afe1b1a-7f30-47a9-bbc7-05d4ed859b5f","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"rssUrl","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-120,-380],"id":"c5c66be0-8954-4055-9a81-8eac12dc327b","name":"Split Out"},{"parameters":{"operation":"scrape","url":"={{ $json.rssUrl }}","scrapeOptions":{"options":{"headers":{"key":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64)"},"waitFor":2}},"requestOptions":{}},"type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[240,-220],"id":"764e1e1c-d117-4f20-9291-ddfbc82ddc8c","name":"Scrape a url and get its content","credentials":{"firecrawlApi":{"id":"WWy9m1Su7JLoVw4R","name":"Firecrawl account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61e6a991-0556-42ac-9a1d-21dacae3b5b2","leftValue":"={{ $json.isQuality === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,-1280],"id":"5f1ff4df-217a-463d-8b99-8ef14199744b","name":"isQuality?"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You are an expert in analyzing business content. Analyze the following news item and evaluate:\n1. Is there an interesting business case?  \n2. Does it contain practical insights?\n3. Is it suitable for an entrepreneurial audience?\n\nAnswer in JSON format: {“isQuality”: boolean, “reason”: “explanation”, ‘category’: “content type”}\n","role":"system"},{"content":"={{ $json.content }}"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[300,-1260],"id":"0209bdd6-3a8b-4bd9-8d64-b91338c43c7e","name":"analysis","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"=You are a copywriter for a Telegram channel about business. Rewrite the news in the corporate style:\n- Maximum 1000 characters\n- Add emojis\n- Structure: headline, main point, practical conclusion\n- Use a conversational tone\n- Add a question at the end to engage readers\n\nAnswer in JSON: {“telegramContent”: “finished post”, “hashtags”: [‘tag1’, “tag2”]}\n","role":"system"},{"content":"={{ $json.content }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[840,-1360],"id":"30986f5c-ae1e-4b46-bf15-4ada9ca0e8e9","name":"re-write_for_tg","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"content":"## send draft for approvement wf1\n\n","height":1100,"width":2380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-980],"id":"37496d0d-5745-492a-aba3-1d944556cd9e","name":"Sticky Note"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1360,-420],"id":"0685aadd-b09e-45d5-af9b-344e3b50be25","name":"Telegram Trigger","webhookId":"09ac6491-9755-48f8-818b-f183735fbdd9","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"JQZAAEauihIA3cPX","mode":"list","cachedResultName":"business_rss_wf3"},"workflowInputs":{"mappingMode":"defineBelow","value":{"content":"={{ $json.content }}","operation":"analyze"},"matchingColumns":[],"schema":[{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"operation","displayName":"operation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"userText","displayName":"userText","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[460,-400],"id":"fe728df0-727c-45e5-800a-d60df2a9202b","name":"Execute Workflow-3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[900,-500],"id":"d5fa5364-17ef-4dac-9893-9defbf5faefa","name":"Execute Workflow"},{"parameters":{"content":"## \n\n**5. Execute Sub-workflow** (AI Анализ)\n- **Source**: Database\n- **Workflow**: Выберите Workflow 3 из списка\n- **Fields to Send**:\n  - `content`: `{{ $json.content }}`\n  - `operation`: `analyze`\n  - `userText`: ``","height":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,-660],"id":"a475ecac-4d05-4c33-b527-ec3eeec7c652","name":"Sticky Note3"},{"parameters":{"content":"## \n**7. Execute Sub-workflow** (AI Переписывание - True ветка)\n- **Source**: Database  \n- **Workflow**: Workflow 3\n- **Fields to Send**:\n  - `content`: `{{ $json.content }}`\n  - `operation`: `rewrite`\n  - `userText`: ``","height":440,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,-760],"id":"547ab07b-bbf2-4de2-9ad3-770fb55d28ef","name":"Sticky Note4"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblZKyrWSaBzx7cV5","mode":"list","cachedResultName":"news_context","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblZKyrWSaBzx7cV5"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"titele","displayName":"titele","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"telegram_content","displayName":"telegram_content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1400,-480],"id":"4b5ea82d-863f-479b-baaf-dad98f3a1dd1","name":"Create a record","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"content":"## Table: news_context\n\nColumns & Values:\n\nchat_id: {{ $json.message.chat.id }}\n\nmessage_id: {{ $json.message.message_id }}\n\ntitle: {{ $json.title }}\n\ncontent: {{ $json.content }}\n\ntelegram_content: {{ $json.telegramContent }}\n\nsource_url: {{ $json.link }}\n\nstatus: awaiting_approval","height":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,-940],"id":"68f95af9-b4e2-4be5-8401-f52f95a930f1","name":"Sticky Note5"},{"parameters":{"chatId":"yourID","text":"={{ $json.telegramContent }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"✅ Утвердить","additionalFields":{"callback_data":"approve"}},{"text":"❌ Отклонить","additionalFields":{"callback_data":"reject"}}]}},{"row":{"buttons":[{"text":"✏️ Редактировать","additionalFields":{"callback_data":"edit"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,-500],"id":"d85ec9d4-a180-4d21-bccd-3ee8d9e6ef15","name":"news for approval","webhookId":"289a8ca9-e52a-4dbd-abfd-4b2b195c2fe3","credentials":{"telegramApi":{"id":"TNSxSGpuFXhraTnl","name":"business_rss_tg"}}},{"parameters":{"content":" If \"Scrape a url and get its content\" is meant to scrape the full content of each article link found in an RSS feed (which is common and aligns with your task 1: \"парсятся новости с сайтов\")\n","height":320,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-540],"id":"5b5c5456-e137-45e5-a30d-ce072d243e4a","name":"Sticky Note13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fe5139a-419e-4c76-bc4f-d6189e6e13e0","leftValue":"={{ $json.isQuality }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,-400],"id":"9c077f1f-725e-42c0-a125-286c092c48c1","name":"isQuality?1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[60,-360],"id":"4c82b484-d5a1-4965-bdb1-9bf91a060cf6","name":"Loop Over Items1"},{"parameters":{"jsCode":"const xml2js = require('xml2js');\n\nasync function parseRss(xmlString) {\n  return new Promise((resolve, reject) => {\n    xml2js.parseString(xmlString, { explicitArray: false, trim: true, normalizeTags: true, ignoreAttrs: false }, (err, result) => {\n      if (err) {\n        return reject(err);\n      }\n      resolve(result);\n    });\n  });\n}\n\nconst items = [];\nfor (const item of $input.all()) {\n  const rawContent = item.json.data.markdown;\n  const sourceUrl = item.json.data.metadata.sourceURL;\n\n  let xmlString = rawContent;\n\n  // Attempt to extract content between the first '<?xml' and the last '</rss>'\n  // This is more robust than looking for markdown code blocks if the formatting varies\n  const xmlStart = xmlString.indexOf('<?xml');\n  const rssEnd = xmlString.lastIndexOf('</rss>');\n\n  if (xmlStart !== -1 && rssEnd !== -1) {\n    xmlString = xmlString.substring(xmlStart, rssEnd + '</rss>'.length);\n  } else {\n    // Fallback: if <?xml or </rss> not found, try to remove markdown code block fences\n    xmlString = xmlString.replace(/```xml\\n|```/g, '').trim();\n    xmlString = xmlString.replace(/```\\n|```/g, '').trim(); // Catch other markdown fences\n  }\n\n  // Final trim to remove any leading/trailing whitespace or newlines\n  xmlString = xmlString.trim();\n\n  // Check if the string is empty or still doesn't look like XML\n  if (!xmlString.startsWith('<?xml') && !xmlString.startsWith('<rss')) {\n      console.error(`Extracted string does not look like XML for ${sourceUrl}:`, xmlString.substring(0, 200)); // Log first 200 chars\n      items.push({ json: { error: `Failed to extract valid XML from markdown for ${sourceUrl}`, details: `Content starts with: ${xmlString.substring(0, 50)}` } });\n      continue; // Skip to the next item\n  }\n\n\n  try {\n    const parsedXml = await parseRss(xmlString);\n    const newsItems = parsedXml.rss.channel.item;\n\n    if (Array.isArray(newsItems)) {\n      for (const newsItem of newsItems) {\n        items.push({\n          json: {\n            title: newsItem.title,\n            description: newsItem.description,\n            link: newsItem.link,\n            pubDate: newsItem.pubDate,\n            creator: newsItem['dc:creator'] || newsItem.author || 'N/A',\n            guid: newsItem.guid,\n            sourceUrl: sourceUrl\n          }\n        });\n      }\n    } else if (newsItems) { // Handle case with a single item\n        items.push({\n            json: {\n                title: newsItems.title,\n                description: newsItems.description,\n                link: newsItems.link,\n                pubDate: newsItems.pubDate,\n                creator: newsItems['dc:creator'] || newsItems.author || 'N/A',\n                guid: newsItems.guid,\n                sourceUrl: sourceUrl\n            }\n        });\n    }\n\n  } catch (error) {\n    console.error('Error parsing XML for', sourceUrl, ':', error.message);\n    items.push({ json: { error: `Failed to parse RSS for ${sourceUrl}`, details: error.message } });\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,-220],"id":"52e9d610-9ad3-4b59-aeac-fda0aaf524b2","name":"Parse RSS XML"},{"parameters":{"jsCode":"const items = [];\n\nfor (const item of $input.all()) {\n  let title = item.json.title || '';\n  let description = item.json.description || '';\n\n  // 1. Remove CDATA tags (if any are left after initial parsing)\n  title = title.replace(/^<!\\[CDATA\\[|\\]\\]>$/g, '');\n  description = description.replace(/^<!\\[CDATA\\[|\\]\\]>$/g, '');\n\n  // 2. Decode HTML entities (e.g., &amp; to &)\n  const decodeHtmlEntities = (str) => {\n    const entities = {\n      '&amp;': '&',\n      '&lt;': '<',\n      '&gt;': '>',\n      '&quot;': '\"',\n      '&#039;': \"'\",\n      '&apos;': \"'\",\n      // Add more as needed\n    };\n    for (const entity in entities) {\n      str = str.replace(new RegExp(entity, 'g'), entities[entity]);\n    }\n    return str;\n  };\n\n  title = decodeHtmlEntities(title);\n  description = decodeHtmlEntities(description);\n\n  // 3. Remove HTML tags (like <img>) from description\n  description = description.replace(/<img[^>]*>/g, '');\n  description = description.replace(/<br\\s*\\/?>/g, '\\n'); // Replace <br> with newline\n  description = description.replace(/<[^>]*>/g, ''); // Remove any remaining HTML tags\n\n  // 4. Trim whitespace\n  title = title.trim();\n  description = description.trim();\n\n  items.push({\n    json: {\n      ...item.json, // Keep all existing fields\n      title: title,\n      description: description,\n      // You might want to add a combined 'content' field here for the AI\n      content: `${title}\\n\\n${description}`\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-220],"id":"69f71d12-91ab-4cd2-b78d-9760b6a8a6ac","name":"Clean Up News Content"},{"parameters":{"jsCode":"/// Define an array of RSS feed URLs\nconst rssFeeds = [\n  'https://vc.ru/rss',\n  'https://rb.ru/feeds/all/',\n  'https://www.kommersant.ru/rss/main',\n  // Добавьте свои источники\n];\n\n// Map over each URL and return it as an n8n item\nreturn rssFeeds.map(url => ({\n  json: {\n    rssUrl: url,\n  },\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,-380],"id":"4a372b72-1723-446a-bf4d-ec04411091aa","name":"url_address_parse"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appBbD3IgIbxZq6QL","mode":"list","cachedResultName":"NewsManagement","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL"},"table":{"__rl":true,"value":"tblQSod8reaDCDxG1","mode":"list","cachedResultName":"log_errors","cachedResultUrl":"https://airtable.com/appBbD3IgIbxZq6QL/tblQSod8reaDCDxG1"},"columns":{"mappingMode":"defineBelow","value":{"source_url":"={{ $json.rssUrl }}","content":"={{ $error.message }}","status":"scrape_failed","error_details":"={{ JSON.stringify($error) }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"error_details","displayName":"error_details","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[500,-60],"id":"527f74da-97eb-4950-8730-aba09f1e2906","name":"Log Scrape Error","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"url_address_parse","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Scrape a url and get its content":{"main":[[{"node":"Parse RSS XML","type":"main","index":0}],[{"node":"Log Scrape Error","type":"main","index":0}]]},"analysis":{"main":[[{"node":"isQuality?","type":"main","index":0}]]},"isQuality?":{"main":[[{"node":"re-write_for_tg","type":"main","index":0}]]},"re-write_for_tg":{"main":[[]]},"Telegram Trigger":{"main":[[]]},"Execute Workflow-3":{"main":[[{"node":"isQuality?1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"news for approval","type":"main","index":0}]]},"news for approval":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"isQuality?1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Execute Workflow-3","type":"main","index":0}],[{"node":"Scrape a url and get its content","type":"main","index":0}]]},"Parse RSS XML":{"main":[[{"node":"Clean Up News Content","type":"main","index":0}]]},"Clean Up News Content":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"url_address_parse":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"fc127196-6324-491c-8bbc-caed7689021d","triggerCount":0,"shared":[{"updatedAt":"2025-10-10T18:08:12.713Z","createdAt":"2025-10-10T18:08:12.713Z","role":"workflow:owner","workflowId":"crSWeOcpLVW2ofeN","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}