workflows/call analyzer.json
{"updatedAt":"2025-08-04T16:53:41.251Z","createdAt":"2025-08-04T16:53:27.509Z","id":"NCoyT87t9s7Ww6KL","name":"call analyzer","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"d7fad71e-b219-4d95-9c09-03ac77aa3867","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[1360,660],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"745e32ae-61e6-429b-a107-f20c9b17e65e","name":"url","value":"https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/5minai/OUTBOUNDSAMPLE_01.mp3","type":"string"}]},"options":{}},"id":"7240e736-08de-4620-af1c-2da77d19bd16","name":"Set link to audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,660]},{"parameters":{"content":"**Replace API key in Header, webhook from 2nd scenario, change settings if needed**","height":80,"width":224.61210598590444},"id":"01c7fd62-4eb9-4f92-a9fb-132283715286","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,520]},{"parameters":{"content":"**Replace this link with direct link on your audio**","height":80,"width":167.86310443717323},"id":"a48ef859-c5b1-4f51-923c-d7430a8a6b91","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,540]},{"parameters":{"method":"POST","url":"=https://api.assemblyai.com/v2/transcript","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"audio_url","value":"={{ $json.url }}"},{"name":"language_code","value":"en_us"},{"name":"speaker_labels","value":"={{ true }}"},{"name":"speakers_expected","value":"={{ 2 }}"},{"name":"webhook_url","value":"https://n8n.lowcoding.dev/webhook/d1e5fdd0-b51d-4447-8af3-6754017d240b"}]},"options":{}},"id":"9047cb23-0cf9-4dd2-886b-5d5ce7d119b6","name":"AssemblyAI - Transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,660]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e41aa3d-7ea3-4e9f-8d99-e8199e7ec449","leftValue":"={{ $('Webhook').item.json.body.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b0e3f4c7-af2d-4a0b-8f12-9d263b3769ef","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1700,1140]},{"parameters":{"url":"=https://api.assemblyai.com/v2/transcript/{{ $('Webhook').item.json.body.transcript_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"bfe341fa-c255-4972-9e8d-e35dacb9bbe3","name":"AssemblyAI - Get transcription","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,1140]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-2024-08-06\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"{{ $('Set vars').item.json.prompt }}\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify($json.utterances.map(u => `Speaker ${u.speaker}: ${u.text}`).join(\"\\n\\n\"))}}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":   {{ JSON.stringify($('Set vars').item.json.json_schema) }} }\n  }","options":{}},"id":"4b56f137-b7f6-4030-bd2f-3f841c057288","name":"OpenAI - Analyze call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,1140]},{"parameters":{"assignments":{"assignments":[{"id":"c93d6cfb-cd36-4d8b-acc5-b3718bfc82c8","name":"prompt","value":"Analyze this call with a focus on sales performance and potential upselling opportunities. Use the following metrics to evaluate the effectiveness of the interaction from a sales perspective. Be specific in identifying areas of strength and those needing improvement, and provide actionable insights for future calls.\\r\\n\\r\\nClient Intent: Identify the client\\u2019s primary intent and motivation for engaging in the call. Is there a clear indication of their needs or desired outcomes? How well does the agent align with or address these intentions?\\r\\n\\r\\nInterest Score (0-100): Evaluate the level of genuine interest shown by the client based on their responses, tone, and any probing questions they asked. Assign a score and explain the reasoning behind it.\\r\\n\\r\\nService Presentation Score (0-100): Assess how effectively the agent presented the service options. Did they clarify benefits that align with the client\\u2019s needs? Rate the agent\\u2019s performance in this area and provide a brief explanation.\\r\\n\\r\\nUpsell Opportunity Identified: Indicate whether any upselling opportunities were identified (e.g., suggesting advanced programs, certifications, or additional services). If opportunities were missed, explain how they could have been approached.\\r\\n\\r\\nObjection Handling Score (0-100): If the client expressed objections or hesitations, analyze how effectively the agent addressed them. Did they provide relevant solutions or reassurances? Assign a score and justify it with specific examples from the call.\\r\\n\\r\\nConversion Probability (0-100): Based on the client\\u2019s interest level and engagement, estimate the likelihood of conversion. What signals from the client suggest a high or low probability of moving forward?\\r\\n\\r\\nCall Outcome: Summarize the outcome of the call (e.g., \\u201Cclient expressed strong interest,\\u201D \\u201Cclient requested more information,\\u201D or \\u201Cclient expressed no interest\\u201D). Was a clear next step established?\\r\\n\\r\\nKey Client Needs: Highlight the client\\u2019s specific needs, preferences, or pain points mentioned during the call. How could these be addressed in future interactions to improve alignment with the client\\u2019s goals?\\r\\n\\r\\nInsights for Agent Improvement: Provide constructive feedback for the agent\\u2019s performance, focusing on areas such as empathy, product knowledge, and upsell strategy. Suggest improvements that could enhance their approach to increase client engagement.\\r\\n\\r\\nNext Steps Recommended: Recommend specific follow-up actions, such as providing customized information, sending relevant resources, or setting up a consultation. Focus on actions that will nurture the client relationship and increase conversion chances.\\r\\n\\r\\nIn your analysis, emphasize clarity and actionable feedback that leverages sales best practices. Highlight how well the agent built rapport, presented the product, and worked towards a favorable outcome for both the client and company","type":"string"},{"id":"4305764d-202c-4ab9-ae1e-d753cd68b7be","name":"json_schema","value":"={{   {   \"name\": \"sales_call_analysis\",   \"description\": \"Analysis of customer engagement, interest, and potential sales conversion based on call data\",   \"strict\": true,   \"schema\": {     \"$schema\": \"http://json-schema.org/draft-04/schema#\",     \"type\": \"object\",     \"properties\": {       \"client_intent\": {         \"type\": \"string\",         \"description\": \"Client's primary intent for engaging (e.g., 'interest in education', 'general inquiry')\"       },       \"interest_score\": {         \"type\": \"integer\",         \"description\": \"Score indicating client's interest level based on responses (0-100)\"       },       \"service_presentation_score\": {         \"type\": \"integer\",         \"description\": \"Score for how effectively the agent presented the educational opportunities (0-100)\"       },       \"upsell_opportunity_identified\": {         \"type\": \"boolean\",         \"description\": \"Indicates if any upsell opportunity was identified\"       },       \"objection_handling_score\": {         \"type\": \"integer\",         \"description\": \"Score for handling client objections (0-100)\"       },       \"conversion_probability\": {         \"type\": \"integer\",         \"description\": \"Estimated likelihood of conversion based on call interaction (0-100)\"       },       \"call_outcome\": {         \"type\": \"string\",         \"description\": \"Outcome of the call (e.g., 'interest confirmed', 'no interest', 'appointment set')\"       },       \"key_client_needs\": {         \"type\": \"string\",         \"description\": \"Identified needs or requirements of the client, useful for customization or follow-up\"       },       \"insights_for_agent_improvement\": {         \"type\": \"string\",         \"description\": \"Insights and tips for the agent to improve performance\"       },       \"next_steps_recommended\": {         \"type\": \"string\",         \"description\": \"Suggested follow-up actions to improve conversion potential\"       }     },     \"additionalProperties\": false,     \"required\": [       \"client_intent\",       \"interest_score\",       \"service_presentation_score\",       \"upsell_opportunity_identified\",       \"objection_handling_score\",       \"conversion_probability\",       \"call_outcome\",       \"key_client_needs\",       \"insights_for_agent_improvement\",       \"next_steps_recommended\"     ]   } }       }}","type":"object"}]},"options":{}},"id":"b92f324a-d807-4a57-9ace-2acac6291ab6","name":"Set vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,1140]},{"parameters":{"tableId":"demo_calls","fieldsUi":{"fieldValues":[{"fieldId":"output","fieldValue":"={{ JSON.parse($json.choices[0].message.content)  }}"},{"fieldId":"input","fieldValue":"={{ {\"text\":  JSON.stringify($('AssemblyAI - Get transcription').item.json.utterances.map(u => `Speaker ${u.speaker}: ${u.text}`).join(\"\\n\\n\")) , \"audio_url\": $('AssemblyAI - Get transcription').item.json.audio_url, \"transcription_id\":$('AssemblyAI - Get transcription').item.json.id } }}"}]}},"id":"72583773-c9db-4949-b4d2-dc14906386c9","name":"Create record","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2300,1140]},{"parameters":{"content":"**Replace API key and webhook**","height":80,"width":167.86310443717323},"id":"ddad50a2-a3c3-405b-b9c0-7d8d17180049","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,1040]},{"parameters":{"content":"**Replace OpenAI connection**","height":80,"width":150},"id":"339dde3a-173e-428c-b79b-7a6acdea1ed1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,1040]},{"parameters":{"content":"#### Scenario 1: Transcribe Call with AssemblyAI\n1. **Set Up Request**:\n    - **Header Authentication**: Set `Authorization` with AssemblyAI API key.\n    - **URL**: POST to `https://api.assemblyai.com/v2/transcript/`.\n    - **Parameters**:\n        - `audio_url`: Direct URL of the audio file.\n        - `webhook_url`: URL for an N8N webhook to receive the transcription result.\n        - **Additional Settings**:\n            - `speaker_labels` (true/false): Enables speaker diarization.\n            - `speakers_expected`: Specify expected number of speakers.\n            - `language_code`: Set language (default: `en_us`).\n\n#### Scenario 2: Process Transcription with OpenAI\n1. **Webhook Configuration**: Set up a POST webhook to receive AssemblyAI’s transcription data.\n2. **Get Transcription**:\n    - **Header Authentication**: Set `Authorization` with AssemblyAI API key.\n    - **URL**: GET `https://api.assemblyai.com/v2/transcript/<transcript_id>`.\n3. **Send to OpenAI**:\n    - **URL**: POST to `https://api.openai.com/v1/chat/completions`.\n    - **Header Authentication**: Set `Authorization` with OpenAI API key.\n    - **Body Parameters**:\n        - **Model**: Use `gpt-4o-2024-08-06` for JSON Schema support, or `gpt-4o-mini` for a less costly option.\n        - **Messages**:\n            - `system`: Contains the main analysis prompt.\n            - `user`: Combined speakers’ utterances to analyze in text format.\n        - **Response Format**:\n            - `type`: `json_schema`.\n            - `json_schema`: JSON schema for structured responses.\n\n4. **Save Results in Supabase**:\n    - **Operation**: Create a new record.\n    - **Table Name**: `demo_calls`.\n    - **Fields**:\n        - **Input**: Transcription text, audio URL, and transcription ID.\n        - **Output**: Parsed JSON response from OpenAI’s analysis.","height":438.5821431288714,"width":280.2462120317618,"color":7},"id":"83244215-9204-469c-97dd-f454a75d6135","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,640],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Untitled%20(1500%20x%20300%20px).png)\n## Call analyzer with AssemblyAI transcription and OpenAI assistant integration\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-2861)**\n\nMany follow-up sales calls lack structured analysis, making it challenging to identify client needs, gauge interest levels, or uncover upsell opportunities. This workflow enables automated call transcription and AI-driven analysis to generate actionable insights, helping teams improve sales performance, refine client communication, and streamline upselling strategies.\n\nThis workflow transcribes and analyzes sales calls using AssemblyAI, OpenAI, and Supabase to store structured data. The workflow processes recorded calls as follows:\n\n1. **Transcribe Call with AssemblyAI**: Converts audio into text with speaker labels for clarity.\n2. **Analyze Transcription with OpenAI**: Using a predefined JSON schema, OpenAI analyzes the transcription to extract metrics like client intent, interest score, upsell opportunities, and more.\n3. **Store and Access Results in Supabase**: Stores both transcription and analysis data in a Supabase database for further use and display in interfaces.\n\n","height":598.6675280064023,"width":636.2128494576581,"color":7},"id":"fa4beefb-d602-4354-a2d1-ac94b6ff722e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [5 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/OPENAI%20(8).png)](https://www.youtube.com/watch?v=kS41gut8l0g)\n","height":240.6839895136402,"width":330.5152611046425,"color":7},"id":"c77fc93a-6998-4347-ad34-f1588d647baf","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[300,640],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"d1e5fdd0-b51d-4447-8af3-6754017d240b","options":{}},"id":"cfedec39-7190-438b-b957-daa9dd026de3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1340,1140],"webhookId":"d1e5fdd0-b51d-4447-8af3-6754017d240b"},{"parameters":{"content":"## Scenario 2","height":80,"color":5},"id":"eb8c7a0a-a143-47d7-bc48-5bbe485e0acf","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1160]},{"parameters":{"content":"## Scenario 1","height":80,"color":5},"id":"b8f148e3-5aac-42f5-b99b-65cefbe330ff","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,680]},{"parameters":{"content":"**Replace prompt and JSON schema**","height":80,"width":167.86310443717323},"id":"38c3bcd2-644b-443d-95ac-41d3a7b6c5ce","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,1040]},{"parameters":{"content":"**If you change speaker_labels to false it will require change user message in OpenAI and Supabase nodes**","height":92.99888586957334,"width":224.61210598590444,"color":3},"id":"815a99d7-b4bb-463b-9ac3-54cf94a82ef2","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1980,660]},{"parameters":{"content":"**Replace Supabase connection**","height":80,"width":167.86310443717323},"id":"d9eac279-da20-4d95-9320-daa884d042a5","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2280,1040]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set link to audio","type":"main","index":0}]]},"Set link to audio":{"main":[[{"node":"AssemblyAI - Transcribe","type":"main","index":0}]]},"If":{"main":[[{"node":"AssemblyAI - Get transcription","type":"main","index":0}]]},"AssemblyAI - Get transcription":{"main":[[{"node":"OpenAI - Analyze call","type":"main","index":0}]]},"OpenAI - Analyze call":{"main":[[{"node":"Create record","type":"main","index":0}]]},"Set vars":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set vars","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"1531cc04-8bcf-42d2-8a70-69d588bdfcd7","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:53:27.509Z","createdAt":"2025-08-04T16:53:27.509Z","role":"workflow:owner","workflowId":"NCoyT87t9s7Ww6KL","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}