workflows/contact_manage_wf.json
{"updatedAt":"2025-10-11T21:34:38.761Z","createdAt":"2025-10-11T09:47:56.061Z","id":"7VY9RuhbClnZPKF0","name":"contact_manage_wf","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $json.token }}/setWebhook","sendBody":true,"specifyBody":"json","jsonBody":"={\"url\":\"{{ $json.url }}{{ $json.token }}\",\"allowed_updates\":[\"message\",\"edited_message\",\"channel_post\",\"edited_channel_post\",\"inline_query\",\"chosen_inline_result\",\"callback_query\",\"shipping_query\",\"pre_checkout_query\",\"poll\",\"poll_answer\",\"my_chat_member\",\"chat_member\",\"chat_join_request\"]}","options":{"redirect":{"redirect":{}}}},"id":"80313499-2aab-4c44-8bc2-1b255730f6d5","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-200,-780]},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body.toJsonString() }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,-220],"id":"ef174514-cf49-40ec-9a2e-89a9b262c45d","name":"Telegram Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"8b8dbe23-8435-4f82-937f-170b4ff3bea5","name":"token","value":"8271558962:AAFu9iorSJ6G12f3FSpGpXDTGk0U7P4plEA","type":"string"},{"id":"bfdaefe5-cd53-430c-ac79-2d173e44072e","name":"url","value":"https://n8n.ai-lowcode.dev/webhook/adfa1544-e9b3-42e9-ba84-a628f318519b/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,-780],"id":"b604e53c-16ff-4b8e-af46-8647fae7ecc5","name":"token_connectManager"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,-780],"id":"57c3ef73-9c3c-4e2c-9c4f-517fd7e5be52","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":":token","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,-220],"id":"eb4854a9-cad4-4d78-9fe9-bbd663b37d34","name":"Webhook","webhookId":"adfa1544-e9b3-42e9-ba84-a628f318519b"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfunction handleTelegramWebhook(update) {\n\n    const normalized = {\n        text: null,\n        event: null,\n        user_id: null,\n        message_id: null,\n        file_id: null,\n        file_type: null,\n        raw_data: update, \n        user_data: null // добавляем данные пользователя\n    };\n\n    // Handle message updates\n    if (update.message) {\n        const msg = update.message;\n        normalized.message_id = msg.message_id;\n        normalized.user_id = msg.from.id;\n        normalized.user_data = {\n            user_id: msg.from.id,\n            first_name: msg.from.first_name,\n            last_name: msg.from.last_name,\n            user_name: msg.from.username\n        };\n\n        // Handle text messages\n        if (msg.text) {          \n            if(msg.text.startsWith(\"/start\") && msg.text.split(' ').length > 1) {              \n            normalized.text = msg.text.split(' ')[1];\n            } else {              \n              normalized.text = msg.text;\n            }            \n            normalized.event = 'text_message';\n        } else if(msg.new_chat_member) {\n            normalized.text = 'message new_chat_member';\n        } else if(msg.left_chat_member) {\n            normalized.text = 'message left_chat_member';\n        }\n        // Handle photo messages\n        else if (msg.photo) {\n            normalized.text = msg.caption || 'new photo message';\n            normalized.event = 'photo_message';\n            normalized.file_id = msg.photo[msg.photo.length - 1].file_id;\n            normalized.file_type = 'photo';\n        }\n        // Handle video messages\n        else if (msg.video) {\n            normalized.text = msg.caption || 'new video message';\n            normalized.event = 'video_message';\n            normalized.file_id = msg.video.file_id;\n            normalized.file_type = 'video';\n        }\n        // Handle document messages\n        else if (msg.document) {\n            normalized.text = msg.caption || 'new document message';\n            normalized.event = 'document_message';\n            normalized.file_id = msg.document.file_id;\n            normalized.file_type = 'document';\n        }\n        // Handle voice messages\n        else if (msg.voice) {\n            normalized.text = msg.caption || 'new voice message';\n            normalized.event = 'voice_message';\n            normalized.file_id = msg.voice.file_id;\n            normalized.file_type = 'voice';\n        }\n        // Handle audio messages\n        else if (msg.audio) {\n            normalized.text = msg.caption || 'new audio message';\n            normalized.event = 'audio_message';\n            normalized.file_id = msg.audio.file_id;\n            normalized.file_type = 'audio';\n        }\n        // Handle location messages\n        else if (msg.location) {\n            normalized.text = 'new location message ' + msg.location.latitude + ' ' + msg.location.longitude;\n            normalized.event = 'location_message';\n        }\n        // Handle contact messages\n        else if (msg.contact) {\n            normalized.text = 'new contact message ' + msg.contact.phone_number;\n            normalized.event = 'contact_message';\n        }\n    }\n    // Handle callback queries\n    else if (update.callback_query) {\n        const cb = update.callback_query;\n        normalized.text = cb.data;\n        normalized.event = 'callback_query';\n        normalized.user_id = cb.from.id;\n        normalized.message_id = cb.message.message_id;\n        normalized.user_data = {\n            user_id: cb.from.id,\n            first_name: cb.from.first_name,\n            last_name: cb.from.last_name,\n            user_name: cb.from.username\n        };\n    }\n    // Handle channel posts\n    else if (update.channel_post) {\n        const post = update.channel_post;\n        normalized.message_id = post.message_id;\n        normalized.user_id = post.chat.id;\n\n        if (post.text) {\n            normalized.text = post.text;\n            normalized.event = 'channel_post';\n        }\n    }\n    // Handle edited messages\n    else if (update.edited_message) {\n        const msg = update.edited_message;\n        normalized.message_id = msg.message_id;\n        normalized.user_id = msg.from.id;\n        normalized.user_data = {\n            user_id: msg.from.id,\n            first_name: msg.from.first_name,\n            last_name: msg.from.last_name,\n            user_name: msg.from.username\n        };\n\n        if (msg.text) {\n            normalized.text = msg.text;\n            normalized.event = 'edited_message';\n        }\n    }\n    // Handle inline queries\n    else if (update.inline_query) {\n        const query = update.inline_query;\n        normalized.text = query.query;\n        normalized.event = 'inline_query';\n        normalized.user_id = query.from.id;\n        normalized.user_data = {\n            user_id: query.from.id,\n            first_name: query.from.first_name,\n            last_name: query.from.last_name,\n            user_name: query.from.username\n        };\n    }\n    // Handle chosen inline results\n    else if (update.chosen_inline_result) {\n        const result = update.chosen_inline_result;\n        normalized.text = result.query;\n        normalized.event = 'chosen_inline_result';\n        normalized.user_id = result.from.id;\n        normalized.user_data = {\n            user_id: result.from.id,\n            first_name: result.from.first_name,\n            last_name: result.from.last_name,\n            user_name: result.from.username\n        };\n    }\n    // Handle poll answers\n    else if (update.poll_answer) {\n        const poll = update.poll_answer;\n        normalized.event = 'poll_answer';\n        normalized.user_id = poll.user.id;\n        normalized.user_data = {\n            user_id: poll.user.id,\n            first_name: poll.user.first_name,\n            last_name: poll.user.last_name,\n            user_name: poll.user.username\n        };\n    }\n    // Handle my chat member updates\n    else if (update.my_chat_member) {\n        const member = update.my_chat_member;\n        normalized.event = 'my_chat_member';\n        normalized.user_id = member.from.id;\n        normalized.user_data = {\n            user_id: member.from.id,\n            first_name: member.from.first_name,\n            last_name: member.from.last_name,\n            user_name: member.from.username\n        };\n    }\n    // Handle chat member updates\n    else if (update.chat_member) {\n        const member = update.chat_member;\n        normalized.event = 'chat_member';\n        normalized.user_id = member.from.id;\n        normalized.user_data = {\n            user_id: member.from.id,\n            first_name: member.from.first_name,\n            last_name: member.from.last_name,\n            user_name: member.from.username\n        };\n    }\n\n    return normalized;\n}\n\nreturn [handleTelegramWebhook($input.first().json)];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,-220],"id":"14a185ce-0640-4ce9-aaef-491f6d760550","name":"update"},{"parameters":{"content":"## airtable table\nНастройка Airtable Base\nСоздайте базу данных с таблицей \"Contacts\" со следующими полями:\n\ncontactID (Auto Number) - первичный ключ\n\nfullName (Single line text)\n\nworkplace (Single line text)\n\nkeyTags (Multiple select)\n\npersonalInfo (Long text)\n\nphoneNumber (Phone number)\n\nemail (Email)\n\nlastUpdated (Last modified time)\n\nnotes (Long text)","height":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,-480],"id":"e2b1041f-cf4e-4d83-860e-4f2202bc000c","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"text_message","operator":{"type":"string","operation":"equals"},"id":"15aca3db-f35e-4df2-9fac-157f5b901d0a"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e39e82f4-5b33-44ac-bd62-7eb6a79795d4","leftValue":"={{ $json.event }}","rightValue":"voice_message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-20,-240],"id":"1de8fd66-47ee-4c12-ad44-e45a8dacd467","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{$json.message.voice.file_id}}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,-140],"id":"33be4006-ef7a-4199-a870-0f0e8d01b177","name":"Get a file","webhookId":"ae89c5bc-4951-46ee-a4c3-01584560870b","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"ru","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,-140],"id":"94b1e5d4-bc2c-49e0-9009-a9ec4d0f8a8d","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"=You are an assistant for processing contact information. Analyze the text and extract structured information in JSON format:\n\n{\n  “fullName”: “Person's full name”,\n  “workplace”: “Place of work/company”,\n  “keyTags”: [‘tag1’, “tag2”],\n  “personalInfo”: “Additional information about the person”,\n  “phoneNumber”: “phone number”,\n  “email”: “email address”,\n  “notes”: “other notes”\n}\n\nIf any information is missing, use null. Tags should be short keywords (profession, interests, status).\n","role":"system"},{"content":"={{$json.text}}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[940,-160],"id":"cc5cba9f-162d-425b-869b-e20105db4584","name":"process contact info","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff05a38d-d3cc-4f44-bc6b-d28075c8aff5","name":"=searchQuery","value":"={{$json.message.text.replace(/найти|search|поиск/gi, '').trim()}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-540],"id":"f862e089-7255-481c-a1d0-d415d3ac7630","name":"Edit Fields"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appWCjZan9Hy5bWiF","mode":"list","cachedResultName":"contactManage","cachedResultUrl":"https://airtable.com/appWCjZan9Hy5bWiF"},"table":{"__rl":true,"value":"tblcWUMobYkGykdwp","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appWCjZan9Hy5bWiF/tblcWUMobYkGykdwp"},"columns":{"mappingMode":"defineBelow","value":{"FullName":"={{ $json.fullName }}","workplace":"={{ $json.workplace }}","keyTags":"={{ $json.keyTags }}","personalInfo":"={{ $json.personalInfo }}","phoneNumber":"={{ $json.phoneNumber }}","email":"={{ $json.email }}","notes":"={{ $json.notes }}"},"matchingColumns":["FullName"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"contactID","displayName":"contactID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"FullName","displayName":"FullName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workplace","displayName":"workplace","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"keyTags","displayName":"keyTags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"personalInfo","displayName":"personalInfo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastUpdated","displayName":"lastUpdated","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1580,-160],"id":"2a6b4261-7dfc-4554-857b-45e2f3434599","name":"Create or update a record1","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"// Get the first input item from previous node (OpenAI output)\nconst inputItem = $input.first();\n\n// Extract GPT message text safely\nconst gptOutput = inputItem.json.choices?.[0]?.message?.content || '';\n\n// Prepare a list of expected keys\nconst expectedKeys = [\n  'fullName',\n  'workplace',\n  'keyTags',\n  'personalInfo',\n  'phoneNumber',\n  'email',\n  'notes'\n];\n\n// Initialize parsedData with defaults\nlet parsedData = {\n  error: null,\n  originalText: inputItem.json.text || '',\n  user_id: inputItem.json.user_id || null,\n};\n\n// Try to clean and parse GPT output\ntry {\n  // Remove unwanted text around JSON (if GPT adds “Here is the result:” etc.)\n  const cleaned = gptOutput.trim().replace(/^```(?:json)?|```$/g, '');\n  const jsonData = JSON.parse(cleaned);\n\n  // Ensure all required keys exist\n  expectedKeys.forEach(key => {\n    parsedData[key] = jsonData[key] !== undefined ? jsonData[key] : null;\n  });\n\n  // Extra safety for tags: ensure it's always an array\n  if (!Array.isArray(parsedData.keyTags)) parsedData.keyTags = [];\n\n} catch (error) {\n  parsedData.error = `Ошибка при обработке информации: ${error.message}`;\n  console.error('Error parsing GPT output:', error, 'Raw GPT output:', gptOutput);\n\n  // Fill all expected keys with null so next nodes don’t break\n  expectedKeys.forEach(key => parsedData[key] = null);\n}\n\nreturn [{ json: parsedData }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,-160],"id":"9af1b258-04d3-4cea-82bd-c297528ef661","name":"parse json"},{"parameters":{"chatId":"={{ $json.user_id }}","text":"=Информация о контакте {{ $json.fullName }} успешно обновлена/добавлена.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,-160],"id":"b4e178f2-4769-415a-a97f-126f7b6a1940","name":"Send a text message","webhookId":"f6aba291-22dc-4995-aaa9-fbe93bf1526a","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appWCjZan9Hy5bWiF","mode":"list","cachedResultName":"contactManage","cachedResultUrl":"https://airtable.com/appWCjZan9Hy5bWiF"},"table":{"__rl":true,"value":"tblcWUMobYkGykdwp","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appWCjZan9Hy5bWiF/tblcWUMobYkGykdwp"},"filterByFormula":"=OR(SEARCH(LOWER(\"{{$node[\"Edit Fields\"].json[\"searchQuery\"]}}\"), LOWER({fullName})), SEARCH(LOWER(\"{{$node[\"Edit Fields\"].json[\"searchQuery\"]}}\"), LOWER({keyTags})), SEARCH(LOWER(\"{{$node[\"Edit Fields\"].json[\"searchQuery\"]}}\"), LOWER({workplace})))\n\n","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[660,-460],"id":"5398df64-a21f-4a32-8f87-4865d225dd9d","name":"Search by name, tag, workplace","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"const results = $input.all();\nlet message = \"\";\n\nif (results.length === 0) {\n    message = \"По вашему запросу ничего не найдено.\";\n} else {\n    message = \"Найденные контакты:\\n\\n\";\n    results.forEach(item => {\n        const contact = item.json.fields; // Assuming Airtable returns fields under 'fields'\n        message += `*Имя:* ${contact.fullName || 'N/A'}\\n`;\n        if (contact.workplace) message += `*Место работы:* ${contact.workplace}\\n`;\n        if (contact.keyTags && contact.keyTags.length > 0) message += `*Теги:* ${contact.keyTags.join(', ')}\\n`;\n        if (contact.personalInfo) message += `*Информация:* ${contact.personalInfo}\\n`;\n        if (contact.phoneNumber) message += `*Телефон:* ${contact.phoneNumber}\\n`;\n        if (contact.email) message += `*Email:* ${contact.email}\\n`;\n        if (contact.notes) message += `*Заметки:* ${contact.notes}\\n`;\n        message += \"--------------------\\n\";\n    });\n}\n\nreturn [{ json: { text: message, user_id: $input.first().json.user_id } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,-460],"id":"61b12ae7-e6e9-4e50-aa83-e83486fca615","name":"format search result"},{"parameters":{"content":"## Note:\nThe user_id needs to be passed through the workflow to send the message back to the correct user. You might need to add it to the Edit Fields node or ensure it's available in the Code node's input.","height":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,-660],"id":"8bb14237-e66a-48b9-8410-7cc7357f5c19","name":"Sticky Note1"},{"parameters":{"chatId":"={{ $json.user_id }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1180,-460],"id":"df19040d-0808-4da0-abdb-0a167274e2d5","name":"Send search","webhookId":"b5bfc286-e506-420a-bac1-42f547402aaf","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"content":"## Parse Mode: \nMarkdown (if you use markdown formatting in your Code node).","height":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,-640],"id":"ae424118-4ffd-4b89-ace1-9d4a5bd3b37d","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ['start','help'].includes($json.text.replace('/','').toLowerCase()) }}\n","rightValue":"=\n","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"29adbdf7-f229-4c3e-9760-12822501c6db"}],"combinator":"and"},"renameOutput":true,"outputKey":"start_help"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a4747f8-da94-4de0-9151-76ba13709cf1","leftValue":"={{ $json.text.toLowerCase() }}","rightValue":"найти","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"search"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"default"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[200,-520],"id":"d0c2e4a6-f255-4c8f-9931-f084d7d556c7","name":"command_router"},{"parameters":{"chatId":"={{ $json.user_id }}","text":"Привет! Я твой бот для управления контактами. Вот что я умею:\n\n*   **Добавить/Обновить контакт (голосом):** Просто отправь мне голосовое сообщение с информацией о контакте. Я его расшифрую и обработаю.\n*   **Найти контакт:** Начни сообщение с \"найти \" и затем введи имя, тег или компанию. Например:\n    `найти Иван`\n    `найти юристы`\n    `найти Альфа Банк`\n\nЕсли что-то пойдет не так, я постараюсь сообщить об этом.","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,-820],"id":"1fcac5ef-6c8e-4167-92aa-554582d0400f","name":"welcome message","webhookId":"ab0ce02c-9364-442f-9ea6-387e020fabeb","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"Извините, я не понял вашу команду. Пожалуйста, используйте: \n *   `/start` или `/help` для получения инструкций.\n *   `найти [запрос]` для поиска контактов.\n *   Или отправьте голосовое сообщение с информацией о контакте.","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,-320],"id":"b4a6a09e-36dd-4589-a9ec-3b69432778bb","name":"unknown_command","webhookId":"c7492570-6da6-4141-b12a-abe01d2d0ef9","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"Извините, не удалось расшифровать ваше голосовое сообщение. Пожалуйста, попробуйте еще раз.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,20],"id":"f8ba28d9-fc0d-4c72-8527-60288de0f490","name":"error","webhookId":"0741580e-3ae2-47e4-b07d-f0bf8a253a23","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}}],"connections":{"token_connectManager":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"token_connectManager","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Telegram Trigger1","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"update","type":"main","index":0}]]},"update":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"command_router","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"process contact info","type":"main","index":0}],[{"node":"error","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Search by name, tag, workplace","type":"main","index":0}]]},"process contact info":{"main":[[{"node":"parse json","type":"main","index":0}]]},"parse json":{"main":[[{"node":"Create or update a record1","type":"main","index":0}]]},"Create or update a record1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Search by name, tag, workplace":{"main":[[{"node":"format search result","type":"main","index":0}]]},"format search result":{"main":[[{"node":"Send search","type":"main","index":0}]]},"command_router":{"main":[[{"node":"welcome message","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"unknown_command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"ad7a6414-5317-44a5-badc-793050c11653","triggerCount":1,"shared":[{"updatedAt":"2025-10-11T09:47:56.061Z","createdAt":"2025-10-11T09:47:56.061Z","role":"workflow:owner","workflowId":"7VY9RuhbClnZPKF0","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
