workflows/cost-counter.json
{"updatedAt":"2025-08-04T18:12:58.812Z","createdAt":"2025-08-04T18:12:58.812Z","id":"DPu2NBh4lFh5W3EM","name":"cost-counter","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"execution","operation":"get","executionId":"1","options":{"activeWorkflows":true},"requestOptions":{}},"id":"99d9e33c-d338-41b7-bc36-930f8e8f075d","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[180,0]},{"parameters":{"jsCode":"const tokens = {\n  completionTokens: 0,\n  promptTokens: 0,\n  totalTokens: 0,\n}\nfor (const openAiRun of $input.first().json.data.resultData.runData.OpenAI) {\n  const runTokenUsage = openAiRun?.data?.ai_languageModel?.[0]?.[0]?.json?.response?.llmOutput.tokenUsage;\n\n  if(runTokenUsage) {\n    tokens.completionTokens += runTokenUsage.completionTokens\n    tokens.promptTokens += runTokenUsage.promptTokens\n    tokens.totalTokens += runTokenUsage.totalTokens\n  }\n}\n\nreturn { tokens };"},"id":"b81bfe7d-de43-497c-b9d5-a7b9b1d79d5f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"e45704c1-fe92-4d0b-9e23-284045793f3c","name":"When clicking ‘Test workflow’"}],"connections":{"n8n":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"2f5e06cf-381f-4bdc-8183-92a66cbd38c4","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:12:58.812Z","createdAt":"2025-08-04T18:12:58.812Z","role":"workflow:owner","workflowId":"DPu2NBh4lFh5W3EM","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}