workflows/crypto-auth.json
{"updatedAt":"2025-08-04T18:23:46.018Z","createdAt":"2025-08-04T18:23:46.018Z","id":"rikxsRyy8Krhi1Ft","name":"crypto-auth","active":false,"isArchived":false,"nodes":[{"parameters":{"action":"hmac","type":"SHA256","value":"=recvWindow={{20000}}&timestamp={{ $json.timestamp }}&startTime={{ $json.startTime }}","dataPropertyName":"signature","secret":"={{ $json.secret }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[540,360],"id":"6acb04c0-e4c7-4d9e-853f-cc92e86d3a0b","name":"Crypto3"},{"parameters":{"assignments":{"assignments":[{"id":"19bd2a16-442e-416a-a28a-63d4050f4559","name":"timestamp","value":"={{$now.format('x')}}","type":"string"},{"id":"8766d7bb-63d7-4c9f-8319-bf5a1083781f","name":"startTime","value":"={{ $now.minus(8,'hours').format('x') }}","type":"string"},{"id":"4fb075c1-12b5-4f5b-a967-87bce5a18fe9","name":"api_key","value":"<api_key>","type":"string"},{"id":"2c315fe4-422e-472f-8a1d-a3674396d3b8","name":"secret","value":"<secret>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,360],"id":"6d4562eb-b62e-45fd-b4f7-9d78c3bc310f","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"19bd2a16-442e-416a-a28a-63d4050f4559","name":"timestamp","value":"={{$now.format('x')}}","type":"string"},{"id":"90fbdf0b-1999-42b7-a179-f40a57cdabf5","name":"api_key","value":"<api_key>","type":"string"},{"id":"15ba040d-9781-41da-b6a3-cfdbc9552a2c","name":"file","value":"<file_url>","type":"string"},{"id":"df12bac1-34b9-44ec-8347-bb5be0588bf0","name":"cloud_name","value":"<cloud_name>","type":"string"},{"id":"e7e9cc1c-f6b9-49bc-8ed4-3262ffde5cf9","name":"public_id","value":"<file_name - (optional - delete from HTTP if not use too)>","type":"string"},{"id":"699ca164-b7b9-4815-b621-376f50f5cb97","name":"secret","value":"<secret>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,40],"id":"72d25912-20a2-4aa6-8b5b-90a34f4b3c94","name":"Edit Fields2"},{"parameters":{"type":"SHA256","value":"=public_id={{ $json.public_id }}&timestamp={{ $json.timestamp }}{{ $json.secret }}","dataPropertyName":"signature"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[540,40],"id":"b1a71ee2-b890-4bb4-90da-aefd1d1c3fd7","name":"Crypto2"},{"parameters":{"content":"### Cloudinary\n","height":220,"width":700},"type":"n8n-nodes-base.stickyNote","position":[260,0],"typeVersion":1,"id":"5b8cd2c5-743d-4f7f-af6d-cf07d0f02457","name":"Sticky Note"},{"parameters":{"method":"POST","url":"=https://api.cloudinary.com/v1_1/{{$('Edit Fields2').item.json.cloud_name}}/image/upload","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"file","value":"={{$('Edit Fields2').item.json.file}}"},{"name":"api_key","value":"={{$('Edit Fields2').item.json.api_key}}"},{"name":"signature","value":"={{$('Crypto2').item.json.signature}}"},{"name":"timestamp","value":"={{$('Edit Fields2').item.json.timestamp}}"},{"name":"public_id","value":"={{$('Edit Fields2').item.json.public_id}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,40],"id":"bf1cebab-8eea-4c40-94e2-16b5adae0bdc","name":"Cloudinary - Upload File"},{"parameters":{"content":"### Binance\n","height":220,"width":700},"type":"n8n-nodes-base.stickyNote","position":[260,320],"typeVersion":1,"id":"2eb52e82-6a53-47f2-921d-cc0495ef711a","name":"Sticky Note1"},{"parameters":{"url":"https://fapi.binance.com/fapi/v2/positionRisk","sendQuery":true,"queryParameters":{"parameters":[{"name":"recvWindow","value":"={{20000}}"},{"name":"timestamp","value":"={{ $('Edit Fields3').item.json.timestamp }}"},{"name":"signature","value":"={{ $json.signature }}"},{"name":"startTime","value":"={{ $('Edit Fields3').item.json.startTime }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-MBX-APIKEY","value":"={{ $('Edit Fields3').item.api_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,360],"id":"1acdfafc-f965-4c65-94cc-c3c01cf2474e","name":"Binance - Get Positions"},{"parameters":{"content":"### OKX","height":220,"width":700},"type":"n8n-nodes-base.stickyNote","position":[260,600],"typeVersion":1,"id":"24833ec8-fc4a-4ae9-bdaf-9938246ed878","name":"Sticky Note2"},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.timestamp\n }}{{ $json.method }}{{ $json.request }}{{ $json.body }}","dataPropertyName":"signature","secret":"={{ $('Edit Fields1').item.json.secret_key }}","encoding":"base64"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[540,660],"id":"f1714e63-4484-43c1-b384-0594e4ee5c10","name":"Crypto4"},{"parameters":{"assignments":{"assignments":[{"id":"19bd2a16-442e-416a-a28a-63d4050f4559","name":"timestamp","value":"={{$now.toUTC()}}","type":"string"},{"id":"f3a14aa7-f5aa-403a-8fef-31f36d46fff3","name":"request","value":"/api/v5/account/positions","type":"string"},{"id":"26b78a5b-1b48-40f0-884e-6dc2255a762f","name":"method","value":"GET","type":"string"},{"id":"dc953a8e-6216-480c-b2c3-51b06cf274ab","name":"body","value":"","type":"string"},{"id":"87d61453-ae43-40f7-b674-c173739a9bd6","name":"access_key","value":"<access_key>","type":"string"},{"id":"3fc17796-2626-4770-b9fc-ad9dff82ab47","name":"secret_key","value":"<secret_key>","type":"string"},{"id":"caa7b158-4104-4cdd-8bb7-4c6e4f18a162","name":"pass_phrase","value":"<pass_phrase>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,660],"id":"ff2385a4-43a8-47d4-bc4e-657c62e24bcf","name":"Edit Fields1"},{"parameters":{"content":"#### Auth variables:\n1. Api key\n2. Secret key\n3. Cloud name\n\n#### Request variables:\n1. File URL\n2. Public ID (Optional)\n3. Timestamp\n\n#### [Link to docs](https://cloudinary.com/documentation/image_upload_api_reference#upload)","height":280},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"ce853992-edce-4169-afe0-95526be0507d","name":"Sticky Note3"},{"parameters":{"content":"#### Auth variables:\n1. Api key\n2. Secret key\n\n#### Request variables:\n1. Start Time\n2. Timestamp\n\n#### [Link to docs](https://developers.binance.com/docs/derivatives/usds-margined-futures/trade/rest-api/Position-Information-V2)","height":240},"type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1,"id":"7f217820-8e90-4738-b9c2-12674e713ac9","name":"Sticky Note4"},{"parameters":{"content":"#### Auth variables:\n1. Api key\n2. Access key\n3. Pass phrase\n\n#### Request variables:\n1. Request\n2. Method\n3. Body (Optional)\n4. Timestamp\n\n#### [Link to docs](https://www.okx.com/docs-v5/en/#trading-account-rest-api-get-positions)","height":300},"type":"n8n-nodes-base.stickyNote","position":[0,600],"typeVersion":1,"id":"120ccf4d-f727-404c-b399-57b15b2625b3","name":"Sticky Note5"},{"parameters":{"method":"={{ $('Edit Fields1').item.json.method }}","url":"=https://www.okx.com{{ $('Edit Fields1').item.json.request }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OK-ACCESS-KEY","value":"={{ $('Edit Fields1').item.json.access_key }}"},{"name":"OK-ACCESS-SIGN","value":"={{ $json.signature }}"},{"name":"OK-ACCESS-TIMESTAMP","value":"={{ $json.timestamp }}"},{"name":"Content-Type","value":"application/json"},{"name":"OK-ACCESS-PASSPHRASE","value":"={{ $('Edit Fields1').item.json.pass_phrase }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,660],"id":"fb30404c-2dfb-4e79-a278-a3fdb11a24c5","name":"OKX - Get positions"},{"parameters":{"content":"### Always move headers to Auth credentials in Production\n\nGeneric - Header Auth","height":140,"color":4},"type":"n8n-nodes-base.stickyNote","position":[980,360],"typeVersion":1,"id":"acac3103-fb5f-41ae-af3e-60b0f39cab6d","name":"Sticky Note6"},{"parameters":{"content":"### Always move headers to Auth credentials in Production.\n\nGeneric - Header Auth","height":140,"color":4},"type":"n8n-nodes-base.stickyNote","position":[980,640],"typeVersion":1,"id":"67162793-13f1-45ef-80d7-5131ec14e111","name":"Sticky Note7"}],"connections":{"Crypto3":{"main":[[{"node":"Binance - Get Positions","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Crypto3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Crypto2","type":"main","index":0}]]},"Crypto2":{"main":[[{"node":"Cloudinary - Upload File","type":"main","index":0}]]},"Crypto4":{"main":[[{"node":"OKX - Get positions","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Crypto4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"568b16ab-f3db-4ab4-9f76-778ef18680eb","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:23:46.018Z","createdAt":"2025-08-04T18:23:46.018Z","role":"workflow:owner","workflowId":"rikxsRyy8Krhi1Ft","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T18:23:29.086Z","createdAt":"2025-08-04T18:23:29.086Z","id":"5tffGYMvo8az06Ok","name":"Solution"}]}
