workflows/cv.json
{"updatedAt":"2025-08-04T18:19:02.597Z","createdAt":"2025-08-04T18:18:51.663Z","id":"8VRLRj2oArJHIS8W","name":"cv","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_0","options":{}},"id":"0888d43f-4072-4205-bf30-bfbdbbdea600","name":"Extract Document PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[400,0],"alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"14c9c179-4218-4810-ba53-44169e1e03d1","name":"prompt","value":"=Parse the following resume text into structured JSON format according to the specified schema. Ensure that all required fields are included, even if they are null, by using union types where needed. Focus on accurately extracting key details and grouping them into relevant sections like personal information, work experience, education, skills, languages, and links.","type":"string"},{"id":"1fb28997-66be-4bb6-9cb5-9520601c80e7","name":"schema","value":"={\n  \"type\": \"object\",\n  \"properties\": {\n    \"full_name\": { \"type\": [\"string\", \"null\"] },\n    \"email\": { \"type\": [\"string\", \"null\"] },\n    \"phone\": { \"type\": [\"string\", \"null\"] },\n    \"summary\": { \"type\": [\"string\", \"null\"] },\n    \"role\": {\n      \"type\": [\"string\", \"null\"],\n      \"enum\": [\"frontend\", \"backend\", \"fullstack\", \"design\", \"manager\", \"other\", null]\n    },\n    \"work_experience\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": [\"string\"] }\n    },\n    \"education\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": [\"string\"] }\n    },\n    \"skills\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": [\"string\"] }\n    },\n    \"languages\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": [\"string\"] }\n    },\n    \"links\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": { \"type\": [\"string\"] }\n    }\n  },\n  \"required\": [\n    \"full_name\", \"email\", \"phone\", \"summary\", \"role\",\n    \"work_experience\", \"education\", \"skills\", \"languages\", \"links\"\n  ],\n\"additionalProperties\": false\n}","type":"string"}]},"options":{}},"id":"3a678c07-8a2c-4541-9941-485452e16c16","name":"Format record JSON","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,0]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": {{ JSON.stringify($json.prompt)}}\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify(encodeURIComponent($('Extract Document PDF').item.json.text))}}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {\n  \"name\": \"resume_data\",\n  \"description\": \"Structured data parsed from a resume\",\n  \"strict\": true,\n  \"schema\": {{ $json.schema}} }}\n  }","options":{}},"id":"5a22563d-135c-4d6d-8c44-40b9e77dfe31","name":"OpenAI - Analyze resume","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,0]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"from:info@lowcoding.dev test cv "}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,0],"id":"386aa527-69c9-4b1b-98b3-f63d1f7acda6","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"FMRN2awbN3BBEVCU","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[200,0],"id":"5d8d845a-373e-4006-8025-3ce931129f80","name":"Get email details + attachments","webhookId":"9007d684-e87d-428e-b3ce-2fd971f87bb8","credentials":{"gmailOAuth2":{"id":"FMRN2awbN3BBEVCU","name":"Gmail account"}}},{"parameters":{"mode":"raw","jsonOutput":"= {{ JSON.parse($json.choices[0].message.content) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,0],"id":"e4b258d4-18f7-4ec1-8fcd-e3e3e62f8cc1","name":"Parse response"},{"parameters":{"sendTo":"info@lowcoding.dev","subject":"New CV","message":"={{[\n  $json.full_name ? `<strong>Full Name:</strong> ${$json.full_name}` : null,\n  $json.email ? `<strong>Email:</strong> ${$json.email}` : null,\n  $json.phone ? `<strong>Phone:</strong> ${$json.phone}` : null,\n  $json.summary ? `<strong>Summary:</strong> ${$json.summary}` : null,\n  $json.role ? `<strong>Role:</strong> ${$json.role.charAt(0).toUpperCase() + $json.role.slice(1)}` : null,\n\n  ($json.work_experience && $json.work_experience.length) \n    ? `<strong>Work Experience:</strong><br>-${$json.work_experience.join('<br>-')}` : null,\n\n  ($json.education && $json.education.length)\n    ? `<strong>Education:</strong><br>${$json.education.join('<br>')}` : null,\n\n  ($json.skills && $json.skills.length)\n    ? `<strong>Skills:</strong> ${$json.skills.join(', ')}` : null,\n\n  ($json.languages && $json.languages.length)\n    ? `<strong>Languages:</strong> ${$json.languages.join(', ')}` : null,\n\n  ($json.links && $json.links.length)\n    ? `<strong>Links:</strong><br>${$json.links.join('<br>')}` : null\n]\n.filter(Boolean)\n.join('<br><br>') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1180,0],"id":"29446c86-cea0-4123-93af-51d7e399427b","name":"Send email","webhookId":"824895e8-6e75-49c0-bec7-0a1843e3d33b"}],"connections":{"Extract Document PDF":{"main":[[{"node":"Format record JSON","type":"main","index":0}]]},"Format record JSON":{"main":[[{"node":"OpenAI - Analyze resume","type":"main","index":0}]]},"OpenAI - Analyze resume":{"main":[[{"node":"Parse response","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Get email details + attachments","type":"main","index":0}]]},"Get email details + attachments":{"main":[[{"node":"Extract Document PDF","type":"main","index":0}]]},"Parse response":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"92c61246-04bd-47f6-a89a-1cd701185c9f","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:18:51.663Z","createdAt":"2025-08-04T18:18:51.663Z","role":"workflow:owner","workflowId":"8VRLRj2oArJHIS8W","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
