workflows/default error wf.json
{"updatedAt":"2025-10-26T05:35:19.142Z","createdAt":"2025-10-26T05:27:18.816Z","id":"R136lVryylWtJCfe","name":"default error wf","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"workflow_entity","cachedResultName":"workflow_entity"},"columns":{"value":{"id":"={{ $json.id }}","settings":"={{ JSON.stringify({ ...$json.settings, errorWorkflow: $('Set Vars').item.json.default_error_workflow_id }, null, null) }}"},"schema":[{"id":"name","type":"string","display":true,"removed":true,"required":true,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"active","type":"boolean","display":true,"removed":true,"required":true,"displayName":"active","defaultMatch":false,"canBeUsedToMatch":true},{"id":"nodes","type":"object","display":true,"removed":true,"required":true,"displayName":"nodes","defaultMatch":false,"canBeUsedToMatch":true},{"id":"connections","type":"object","display":true,"removed":true,"required":true,"displayName":"connections","defaultMatch":false,"canBeUsedToMatch":true},{"id":"createdAt","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"createdAt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"updatedAt","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"updatedAt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"settings","type":"object","display":true,"removed":false,"required":false,"displayName":"settings","defaultMatch":false,"canBeUsedToMatch":true},{"id":"staticData","type":"object","display":true,"removed":true,"required":false,"displayName":"staticData","defaultMatch":false,"canBeUsedToMatch":true},{"id":"pinData","type":"object","display":true,"removed":true,"required":false,"displayName":"pinData","defaultMatch":false,"canBeUsedToMatch":true},{"id":"versionId","type":"string","display":true,"removed":true,"required":false,"displayName":"versionId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"triggerCount","type":"number","display":true,"removed":true,"required":false,"displayName":"triggerCount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"id","type":"string","display":true,"removed":false,"required":true,"displayName":"id","defaultMatch":true,"canBeUsedToMatch":true},{"id":"meta","type":"object","display":true,"removed":true,"required":false,"displayName":"meta","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"]},"options":{}},"id":"d05850e3-f2c6-4c58-a2df-b48888811e8b","name":"Set Default Error Workflow","type":"n8n-nodes-base.postgres","position":[840,80],"retryOnFail":true,"typeVersion":2.3,"credentials":{"postgres":{"id":"WKBw7lOCAQDUE20p","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b2302801-f93e-4134-a785-47454dfe31d4","name":"default_error_workflow_id","type":"string","value":"2fgSBCqYJyEZWtTO"},{"id":"efe2c80d-2b98-4a6b-8f76-7e2d5866c4ea","name":"default_error_exclusion_tag","type":"string","value":"default_error:false"}]},"options":{}},"id":"641e64aa-57b6-4f86-bf0a-afb3851bb8f4","name":"Set Vars","type":"n8n-nodes-base.set","position":[180,80],"retryOnFail":true,"typeVersion":3.3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"911501c7-18cc-4292-a4e8-fe8f8c3cb8aa","operator":{"type":"boolean","operation":"false","singleValue":true},"leftValue":"={{ $json.tags.some(item => item.name === $('Set Vars').item.json.default_error_exclusion_tag) }}","rightValue":""},{"id":"e22db4f5-ec03-4000-a996-d3150db17a73","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.settings.errorWorkflow ? $json.settings.errorWorkflow : \"\" }}","rightValue":"={{ $('Set Vars').item.json.default_error_workflow_id }}"}],"combinator":"and"},"options":{}},"id":"b2ff979f-571e-424f-af2d-4b4f175200c0","name":"Exclude default_error:false Tagged Workflows","type":"n8n-nodes-base.filter","position":[620,80],"retryOnFail":true,"typeVersion":2},{"parameters":{},"id":"0b88fb7e-fd17-4fc3-ba63-25901eab6023","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-80,160],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"0eb03b5b-7f8f-42c7-929c-42f14315e532","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-80,-20],"notesInFlow":false,"typeVersion":1.1},{"parameters":{"filters":{},"requestOptions":{}},"id":"563e3550-0e83-4201-a51a-b5f9b13b6b91","name":"Get All Workflows","type":"n8n-nodes-base.n8n","position":[400,80],"retryOnFail":true,"typeVersion":1,"credentials":{"n8nApi":{"id":"w1p6NzKcgcmNjZ0Y","name":"n8n club"}}},{"parameters":{"content":"When activated, this helper workflow will:\n\nScan ALL other workflows every 4 hours\nMake sure ALL workflows have a default error workflow set (based on what Workflow ID you provide)\nThis helper will SKIP OVER any workflows that have the default_error:false tag set (make sure your default error workflow has the default_error:false tag set, so that you don't end up with recursive loops during errors)\nSetup Nodes:\n\nOnce imported, edit the Set Vars node with your default_error_workflow_id value.\nIf you want to change the default_error:false tag to some other tag name, you can do so here as well.\nYou need to update the Set Default Error Workflow node with your PostgreSQL credentials to access the n8n database.","height":340,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,-440],"id":"d21a1e92-09ac-4b6f-b5ed-27d092a418a2","name":"Sticky Note"}],"connections":{"Set Vars":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Vars","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Exclude default_error:false Tagged Workflows","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Set Vars","type":"main","index":0}]]},"Exclude default_error:false Tagged Workflows":{"main":[[{"node":"Set Default Error Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"298b611c-37ef-4976-aef4-9ba5e0a02e93","triggerCount":0,"shared":[{"updatedAt":"2025-10-26T05:27:18.816Z","createdAt":"2025-10-26T05:27:18.816Z","role":"workflow:owner","workflowId":"R136lVryylWtJCfe","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}