workflows/email-classifier.json
{"updatedAt":"2025-08-05T05:50:05.820Z","createdAt":"2025-08-05T05:46:10.554Z","id":"LsueuPRbrZBaOdzA","name":"email-classifier","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Routing\n✅ Optimized Response Handling – Ensures the right AI agent processes the query instead of a single generalist AI.\n\n✅ Scalable & Modular – New AI agents can be added to handle additional topics.\n\n✅ Faster & More Efficient – Reduces unnecessary LLM calls and improves response speed.\n\n✅ Human Escalation for Critical Issues – Ensures urgent problems are handled by real support staff.\n\n✅ Better User Experience – More accurate and relevant responses tailored to the customer’s needs.","height":280,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"57a5e697-7d1d-4aef-b3ba-92cd968d5a7d","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":[]},"options":{}},"id":"2f7a077c-e8c9-412d-b1cd-4e5b789e2c88","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[420,420]},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"4809fbf9-6648-4805-a342-06a5cdf105f8","name":"High Priority","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,80],"webhookId":"c2817f4a-2f52-4ae7-8cd0-16ee702b7c22"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"2b3e9245-bedd-4d06-ad47-530cded10142","name":"Customer Support","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,300],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"95b282cd-aeab-40f5-949c-44c3f21a9078","name":"Promotion","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,540],"webhookId":"1e06eea2-bead-419e-b14c-c2ccabfa736a"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"fc15e6af-c95a-404c-a23a-55381db4e146","name":"Finance/Billing","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,740],"webhookId":"f3181ea4-b320-4e02-8518-47911e4978ac"},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"High Priority","description":"Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"},{"category":"Customer Support","description":"Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"},{"category":"Promotions","description":"Emails related to marketing campaigns, promotional offers, newsletters, or business updates from partners. Typically these emails contain content aimed at engaging your audience or updating on promotions. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch"},{"category":"Finance/Billing","description":" Description: Emails related to financial matters, such as invoices, billing statements, payment reminders, or expense reports. Anything involving transactions or accounting should fall under this label.  Keywords: invoice, payment, billing, receipt, financial, expense, account"}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"bf71a2a1-ab1f-4bea-9d20-2b36fc5d5189","name":"Email Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[620,420]},{"parameters":{"options":{}},"id":"68baf445-88a1-4997-bbe9-69b55a625d57","name":"4o mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,720]},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nHere is the Email: \n{{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are an agent in charge of high priority emails. Your job is to summarize incoming emails and escalate them to the human.\n\n## Tools\nTelegram - Use this tool to escalate to a human. Send over the summary of the email."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,80],"id":"55de6245-9ed7-43d5-b35f-7c4f5aa094c5","name":"High Priority Agent"},{"parameters":{"text":"=Urgent Email: \n{{ $fromAI(\"summary\") }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[1660,360],"id":"fc3f950d-b2cc-4b9b-a25d-a32234133fc4","name":"Telegram","webhookId":"4a005847-6ed4-48c6-99bd-d09e9d7271af"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support representitive named Kelly. Your job is to respond to customer inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Kelly from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,300],"id":"778a7adb-a8bc-445b-92db-cdc7cd66c9c6","name":"Customer Support Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Meredith from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,540],"id":"3c60a7a2-4206-4add-ae01-5cdd5e296645","name":"Promotion Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of finacnes. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Angela from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,740],"id":"1430165a-f6ca-44b6-80a9-6691e47c0717","name":"Finance Agent"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1660,620],"id":"770cd6a9-5378-4f79-8d5c-c0f996871644","name":"Email Draft","webhookId":"5d8537bc-efa2-4889-82bb-cc44dc383ace"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Email Classifier","type":"main","index":0}]]},"High Priority":{"main":[[{"node":"High Priority Agent","type":"main","index":0}]]},"Customer Support":{"main":[[{"node":"Customer Support Agent","type":"main","index":0}]]},"Promotion":{"main":[[{"node":"Promotion Agent","type":"main","index":0}]]},"Finance/Billing":{"main":[[{"node":"Finance Agent","type":"main","index":0}]]},"Email Classifier":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Customer Support","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}],[{"node":"Finance/Billing","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Email Classifier","type":"ai_languageModel","index":0},{"node":"High Priority Agent","type":"ai_languageModel","index":0},{"node":"Customer Support Agent","type":"ai_languageModel","index":0},{"node":"Promotion Agent","type":"ai_languageModel","index":0},{"node":"Finance Agent","type":"ai_languageModel","index":0}]]},"Telegram":{"ai_tool":[[{"node":"High Priority Agent","type":"ai_tool","index":0}]]},"Email Draft":{"ai_tool":[[{"node":"Customer Support Agent","type":"ai_tool","index":0},{"node":"Finance Agent","type":"ai_tool","index":0},{"node":"Promotion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"0b4ded92-d9f1-4818-9919-4a45cef0bc5f","triggerCount":0,"shared":[{"updatedAt":"2025-08-05T05:46:10.554Z","createdAt":"2025-08-05T05:46:10.554Z","role":"workflow:owner","workflowId":"LsueuPRbrZBaOdzA","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
