workflows/Error handler via TG.json
{"updatedAt":"2025-10-31T17:53:09.212Z","createdAt":"2025-08-05T11:41:20.506Z","id":"TVI3MhM0oSkJpiqY","name":"Error handler via TG","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Config').item.json.telegramChatId }}","text":"=Workflow: {{ $('Error Trigger').first().json.workflow.name }}\nData & Time: {{ $now }}\nURL: {{ $('Error Trigger').first().json.execution.url }}\nLast Node: {{ $('Error Trigger').first().json.execution.lastNodeExecuted }}\nError Detal: {{ $('Error Trigger').first().json.execution.error.message }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"86fad4b8-cbf6-4756-a2af-8bdc95e97097","name":"Telegram","type":"n8n-nodes-base.telegram","position":[580,420],"webhookId":"b3f6e388-8313-4bc1-8077-d81471b2f95d","retryOnFail":true,"typeVersion":1.2,"waitBetweenTries":3000,"credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{},"id":"0b36fbba-24a8-4f04-9bad-070e43b134e0","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[120,420],"typeVersion":1},{"parameters":{"content":"### **How to Use Telegram Error Notifier**\n\n### **Step 1: Prerequisites**\n1. **Telegram Bot:**\n   - Create a bot using [BotFather](https://core.telegram.org/bots#botfather) and get the bot token.\n   - Add the bot to your Telegram group/channel and note the `chatId`.\n\n2. **n8n Setup:**\n   - Ensure the **Telegram** and **Error Trigger** nodes are installed.\n---\n### **Step 2: Configure the Workflow**\n1. **Update Telegram Chat ID:**\n   - Open the **Config** node.\n   - Replace `telegramChatId` with your actual Telegram group/channel ID:\n     ```json\n     return [\n       {\n         \"telegramChatId\": 123456789, // Replace with your chat ID, format 123456789 or -123456789\n       }\n     ];\n     ```\n\n2. **Set Telegram Bot Credentials:**\n   - Open the **Telegram** node.\n   - Add your bot token in the **Credentials** section.\n\n3. **Activate the Workflow:**\n   - Toggle the **Active** switch to enable the workflow.\n---\n### **Step 3: Set Up Error Workflow**\n1. Open the workflow where you want error notifications.\n2. Go to **Settings** > **Error Workflow**.\n3. Select **Telegram Error Notifier** from the dropdown.\n4. Save the changes.\n---\n### **Step 4: Test the Workflow**\n1. Trigger an error in the workflow.\n2. Check your Telegram for the error notification, which includes:\n   - Workflow name\n   - Date and time\n   - Execution URL\n   - Last node executed\n   - Error details\n---\n### **Example Notification**\n```\nWorkflow: My Workflow 1\nData & Time: 2023-10-27T12:34:56Z\nURL: https://n8n.example.com/execution/12345\nLast Node: HTTP Request\nError Detail: Failed to connect to the server.\n```\n---\n### **Troubleshooting**\n- **No Notifications:**  \n  Ensure the workflow is active, and the bot token/chat ID is correct.\n- **Permission Issues:**  \n  Ensure the bot can send messages in your Telegram group/channel.\n---","height":1240,"width":1420},"id":"c5ba832b-205e-417d-9393-630b611d307d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-420,-180],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"bf7b1294-b50d-49f7-a5f1-76b0d6845aea","name":"telegramChatId","type":"string","value":"-1003256448699"}]},"options":{}},"id":"a1289838-53a9-46ae-93d8-1c9ee79a5327","name":"Config","type":"n8n-nodes-base.set","position":[360,420],"typeVersion":3.4}],"connections":{"Config":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"Telegram":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"6d297681-9ab3-4731-83a2-2f16b3ce2588","triggerCount":0,"shared":[{"updatedAt":"2025-08-05T11:41:20.506Z","createdAt":"2025-08-05T11:41:20.506Z","role":"workflow:owner","workflowId":"TVI3MhM0oSkJpiqY","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
