workflows/image-factory.json
{"updatedAt":"2025-08-04T16:41:23.890Z","createdAt":"2025-08-04T16:40:59.686Z","id":"qW8jcovHG64KjAt4","name":"image-factory","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblUl226GVoKyZ0Sz","mode":"list","cachedResultName":"Photos","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblUl226GVoKyZ0Sz"},"filterByFormula":"Status=\"Draft\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1080,340],"id":"5dfaf4f1-43d4-44d7-9ee2-800531dc7ab0","name":"Get Photos"},{"parameters":{"content":"### Add own OpenAI API key and Airtable app ID (can be found in table URL - app1234...)","height":80,"width":260},"type":"n8n-nodes-base.stickyNote","position":[-1340,220],"typeVersion":1,"id":"922d7cd1-b2f1-4789-80d2-b383acdaa013","name":"Sticky Note"},{"parameters":{"path":"fa18218f-8a8e-429e-950a-5103af17f823","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,340],"id":"8298376a-282d-4824-b068-7f5b3dfaffc4","name":"Webhook","webhookId":"fa18218f-8a8e-429e-950a-5103af17f822"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Closing...</title>\n    <script>\n      window.close();\n    </script>\n  </head>\n  <body>\n    <p>If this window doesn’t close automatically, please close it manually.</p>\n  </body>\n</html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1500,340],"id":"2f16478f-6b7f-4964-9ff8-ebdfb9d6a7c4","name":"Respond to Webhook"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblrZbdOb6YyGTUxx","mode":"list","cachedResultName":"Results","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblrZbdOb6YyGTUxx"},"columns":{"mappingMode":"defineBelow","value":{"Prompt":"={{ $('Loop Over Prompts').item.json.id ? [ $('Loop Over Prompts').item.json.id ] : [] }}","Photo":"=[\"{{ $('Loop Over Photos').item.json.id }}\"]"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Result","displayName":"Result","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[60,360],"id":"358a4011-5cc8-4d0f-b293-083d536d6546","name":"Create Result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-340,340],"id":"17718a56-6207-46bd-8aac-71179b22fae3","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-900,340],"id":"5b0abd5c-9079-42bc-8cfb-160b3b0779e9","name":"Loop Over Photos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84184c33-93d0-4c18-8beb-c593621be43c","leftValue":"={{ $('Loop Over Photos').item.json[\"Custom Prompt\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-700,340],"id":"7fd3d477-71dd-4e13-8e48-3184971e9a44","name":"If Custom Prompt Exists"},{"parameters":{"assignments":{"assignments":[{"id":"91e19ee4-f57f-418c-974d-b1050b1e1daf","name":"Prompt","value":"={{ $('Loop Over Photos').item.json[\"Custom Prompt\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-540,260],"id":"5889d102-3590-450c-b1cc-7392925e0593","name":"Setup Prompt"},{"parameters":{"options":{"reset":"={{ $node['Loop Over Prompts'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,340],"id":"ced31ced-119b-4e0c-be7e-7a76e4834db4","name":"Loop Over Prompts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb2fada6-d9ea-46a6-bda8-3c6003dc3731","leftValue":"={{ $('Loop Over Photos').item.json.Action }}","rightValue":"Generate","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,360],"id":"0b4dec85-222a-4b53-809f-b9f47a1db886","name":"If Photo is attached"},{"parameters":{"assignments":{"assignments":[{"id":"92294168-c579-4414-a3b6-311fd50aaa89","name":"array","value":"={{ $('Loop Over Photos').item.json.Photo.map(x=>({url:x.url})) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,720],"id":"b0e9d312-b6aa-451c-92f5-ef67d3a48790","name":"Setup Array of Photos"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tbl3xQeUcoRah02UA","mode":"list","cachedResultName":"Prompts","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tbl3xQeUcoRah02UA"},"filterByFormula":"=FIND(RECORD_ID(),\"{{ $json.Prompts.join(',') }}\")!=0","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-540,420],"id":"e7610b77-6918-44c1-827b-76e26fd10a47","name":"Get Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"91e19ee4-f57f-418c-974d-b1050b1e1daf","name":"openai_api_key","value":"","type":"string"},{"id":"ac9c6953-c703-4a02-967b-b9ef186fab6d","name":"airtable_app_id","value":"app3cZmmA42yHlILW","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,340],"id":"888c4858-4a63-4898-bea7-ee568583c8ba","name":"Setup Variables"},{"parameters":{"operation":"toBinary","sourceProperty":"b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1960,440],"id":"e041a61a-34b4-4efe-bd54-8d5e8fad648d","name":"Convert to File"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1400,360],"id":"d6591a0f-7458-4f12-831c-e37f530c4df0","name":"Merge File"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1580,360],"id":"9a964610-94d8-46b1-a41c-552c94d65faa","name":"Split Out"},{"parameters":{"options":{"reset":"={{ $node['Loop Over Results'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1780,360],"id":"04643d94-47ab-4785-8256-33ddd199353c","name":"Loop Over Results"},{"parameters":{"method":"POST","url":"=https://content.airtable.com/v0/{{ $('Setup Variables').item.json.airtable_app_id }}/{{ $('Create Result').item.json.id }}/Result/uploadAttachment","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"contentType\": \"image/png\",\n    \"file\": \"{{ $('Convert to File').item.binary.data.data }}\",\n    \"filename\": \"{{ $('Convert to File').item.binary.data.fileName }}\"\n  }","options":{}},"id":"8b9dbb7e-8576-460e-b80b-1ff81dbf6269","name":"Upload file to Airtable","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,440],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $('Loop Over Prompts').item.json.Prompt }}"},{"name":"size","value":"={{ $('Loop Over Photos').item.json.Size }}"},{"name":"n","value":"={{ $('Loop Over Photos').item.json.Number }}"},{"name":"quality","value":"={{ $('Loop Over Photos').item.json.Quality }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,340],"id":"e9ca1d25-569e-4009-9d75-30f86ad5afa8","name":"OpenAI - Generate Image","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const fetch = require('node-fetch');\nconst FormData = require('form-data');\n\n// Input\nconst urls = $json.array;\nconst prompt = $('Loop Over Prompts').item.json.Prompt;\nconst size = $('Loop Over Photos').item.json.Size;\nconst number = $('Loop Over Photos').item.json.Number;\nconst quality = $('Loop Over Photos').item.json.Quality;\nconst openaiApiKey = \n$('Setup Variables').first().json.openai_api_key; // or hardcode\n\n// Create FormData\nconst form = new FormData();\nform.append('model', 'gpt-image-1');\nform.append('prompt', prompt);\nform.append('size', size);\nform.append('n', number);\nform.append('quality', quality);\n\nasync function downloadAndSend() {\n  for (var i = 0; i < urls.length; i++) {\n    var response = await fetch(urls[i].url);\n    if (!response.ok) {\n      throw new Error('Failed to download file: ' + urls[i].url);\n    }\n\n    var buffer = await response.buffer();\n\n    // Get file name from URL\n    var urlPath = urls[i].url.split('/');\n    var fileName = urlPath[urlPath.length - 1] || 'file' + (i + 1) + '.png';\n\n    form.append('image[]', buffer, {\n      filename: fileName,\n      contentType: 'image/png'\n    });\n  }\n\n  var res = await fetch('https://api.openai.com/v1/images/edits', {\n    method: 'POST',\n    headers: Object.assign({\n      Authorization: 'Bearer ' + openaiApiKey\n    }, form.getHeaders()),\n    body: form,\n  });\n\n  if (!res.ok) {\n    var errBody = await res.text();\n    throw new Error('OpenAI request failed: ' + res.status + ' ' + errBody);\n  }\n\n  var json = await res.json();\n  return [{ json: json }];\n}\n\nreturn downloadAndSend();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,1240],"id":"2aa68247-e379-44f3-b126-26b0db17f3b0","name":"OpenAI - Edit image"},{"parameters":{"options":{"reset":"={{ $node['Loop Over Results1'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,720],"id":"fc8cdb2d-e8c4-442b-8a86-35e87cdd2e7d","name":"Loop Over Results1"},{"parameters":{"fieldToSplitOut":"array","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,720],"id":"f87c3887-2223-4689-b9a3-dbf444f41569","name":"Split Out1"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,780],"id":"750d4ecc-bd54-415a-ac80-737e963bf2ec","name":"Download Photo"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{"includeBinaries":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,620],"id":"ff22d607-d7bf-49cd-8b1a-35db799e0b23","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/edits","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image[]","inputDataFieldName":"data"},{"name":"prompt","value":"={{ $('Loop Over Prompts').item.json.Prompt }}"},{"name":"model","value":"gpt-image-1"},{"name":"size","value":"={{ $('Loop Over Photos').item.json.Size }}"},{"name":"n","value":"={{ $('Loop Over Photos').item.json.Number }}"},{"name":"quality","value":"={{ $('Loop Over Photos').item.json.Quality }}"},{"parameterType":"formBinaryData","name":"image[]","inputDataFieldName":"data_1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,720],"id":"60c02486-61ca-4758-bc78-3107a97f850f","name":"OpenAI - Edit Images","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/edits","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image[]","inputDataFieldName":"data"},{"name":"prompt","value":"={{ $('Loop Over Prompts').item.json.Prompt }}"},{"name":"model","value":"gpt-image-1"},{"name":"size","value":"={{ $('Loop Over Photos').item.json.Size }}"},{"name":"n","value":"={{ $('Loop Over Photos').item.json.Number }}"},{"name":"quality","value":"={{ $('Loop Over Photos').item.json.Quality }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,560],"id":"618813fe-66f8-4e32-b2ec-2b8104784d61","name":"OpenAI - Edit Image","onError":"continueErrorOutput"},{"parameters":{"content":"### Works only for 2 images\n","height":500,"width":860},"type":"n8n-nodes-base.stickyNote","position":[520,540],"typeVersion":1,"id":"af244854-bcb6-41b2-a7f2-8aa509df195a","name":"Sticky Note1"},{"parameters":{"content":"### Works for any amount of images\n","height":300,"width":640},"type":"n8n-nodes-base.stickyNote","position":[520,1080],"typeVersion":1,"id":"099a648e-9212-4cee-8a97-d950d544075e","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ Object.keys($binary).length }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"ed49d892-128a-4ee3-a114-6ac38170dfd2"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c140689b-23d0-4c51-bec3-6b0063c293c8","leftValue":"={{ Object.keys($binary).length }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1020,620],"id":"7fb61ae0-697f-4822-bae8-99bd19d015d5","name":"Switch"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblUl226GVoKyZ0Sz","mode":"list","cachedResultName":"Photos","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblUl226GVoKyZ0Sz"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{$('Loop Over Photos').item.json.id }}","Status":"Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Results","displayName":"Results","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Custom Prompt","displayName":"Custom Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idea","value":"Idea"},{"name":"Draft","value":"Draft"},{"name":"Processed","value":"Processed"},{"name":"Error","value":"Error"}],"readOnly":false,"removed":false},{"id":"Run","displayName":"Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompts","displayName":"Prompts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Action","displayName":"Action","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Generate","value":"Generate"},{"name":"Combine","value":"Combine"},{"name":"Edit","value":"Edit"}],"readOnly":false,"removed":true},{"id":"Result (from Results)","displayName":"Result (from Results)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Size","displayName":"Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"1024x1024","value":"1024x1024"},{"name":"1536x1024","value":"1536x1024"},{"name":"1024x1536","value":"1024x1536"},{"name":"auto","value":"auto"}],"readOnly":false,"removed":true},{"id":"Quality","displayName":"Quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"},{"name":"auto","value":"auto"}],"readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1580,880],"id":"9d12c405-b457-4592-abb1-c354a4588f04","name":"Update Photo Status - Error"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblUl226GVoKyZ0Sz","mode":"list","cachedResultName":"Photos","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblUl226GVoKyZ0Sz"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{$('Loop Over Photos').item.json.id }}","Status":"={{ $('Get Photo').item.json.Status !='Error' ? 'Processed' :'Error'}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Photo","displayName":"Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Results","displayName":"Results","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Custom Prompt","displayName":"Custom Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idea","value":"Idea"},{"name":"Draft","value":"Draft"},{"name":"Processed","value":"Processed"},{"name":"Error","value":"Error"}],"readOnly":false,"removed":false},{"id":"Run","displayName":"Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompts","displayName":"Prompts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Action","displayName":"Action","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Generate","value":"Generate"},{"name":"Combine","value":"Combine"},{"name":"Edit","value":"Edit"}],"readOnly":false,"removed":true},{"id":"Result (from Results)","displayName":"Result (from Results)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Size","displayName":"Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"1024x1024","value":"1024x1024"},{"name":"1536x1024","value":"1536x1024"},{"name":"1024x1536","value":"1024x1536"},{"name":"auto","value":"auto"}],"readOnly":false,"removed":true},{"id":"Quality","displayName":"Quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"high","value":"high"},{"name":"medium","value":"medium"},{"name":"low","value":"low"},{"name":"auto","value":"auto"}],"readOnly":false,"removed":true},{"id":"Product","displayName":"Product","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Original Photo","displayName":"Original Photo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[220,120],"id":"8ee49cd2-ca38-44eb-92ea-4e67bbdc9f6a","name":"Update Photo Status - Processed"},{"parameters":{"base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblUl226GVoKyZ0Sz","mode":"list","cachedResultName":"Photos","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblUl226GVoKyZ0Sz"},"id":"={{ $('Loop Over Photos').item.json.id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[20,120],"id":"13d7f818-357f-4e3d-9e92-2c09fbd75013","name":"Get Photo"},{"parameters":{"content":"### Replace credentials\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[-1100,520],"typeVersion":1,"id":"6b0c1f6a-c7d6-4089-bd1e-fcb7010cdb2c","name":"Sticky Note3"},{"parameters":{"content":"### Replace credentials\n","height":80,"width":350},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"32e0b601-2cbe-46fa-8609-e11c133a3f35","name":"Sticky Note4"},{"parameters":{"content":"### Replace credentials\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[540,240],"typeVersion":1,"id":"9def4e2d-7bbd-4979-aa6e-1a60e36d8a79","name":"Sticky Note5"},{"parameters":{"content":"### Replace credentials\n","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2080,320],"typeVersion":1,"id":"1d0053b6-dc04-44b5-bc51-f318d436a874","name":"Sticky Note6"}],"connections":{"Get Photos":{"main":[[{"node":"Loop Over Photos","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Setup Variables","type":"main","index":0}]]},"Create Result":{"main":[[{"node":"If Photo is attached","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Prompts","type":"main","index":0}]]},"Loop Over Photos":{"main":[[],[{"node":"If Custom Prompt Exists","type":"main","index":0}]]},"If Custom Prompt Exists":{"main":[[{"node":"Setup Prompt","type":"main","index":0}],[{"node":"Get Prompt","type":"main","index":0}]]},"Setup Prompt":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Loop Over Prompts":{"main":[[{"node":"Get Photo","type":"main","index":0}],[{"node":"Create Result","type":"main","index":0}]]},"If Photo is attached":{"main":[[{"node":"OpenAI - Generate Image","type":"main","index":0}],[{"node":"Setup Array of Photos","type":"main","index":0}]]},"Setup Array of Photos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Get Prompt":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Setup Variables":{"main":[[{"node":"Get Photos","type":"main","index":0}]]},"Merge File":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file to Airtable","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Results","type":"main","index":0}]]},"Loop Over Results":{"main":[[{"node":"Loop Over Prompts","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Upload file to Airtable":{"main":[[{"node":"Loop Over Results","type":"main","index":0}]]},"OpenAI - Generate Image":{"main":[[{"node":"Merge File","type":"main","index":0}],[{"node":"Update Photo Status - Error","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Results1","type":"main","index":0}]]},"Loop Over Results1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Download Photo","type":"main","index":0}]]},"Download Photo":{"main":[[{"node":"Loop Over Results1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI - Edit Images":{"main":[[{"node":"Merge File","type":"main","index":1}],[{"node":"Update Photo Status - Error","type":"main","index":0}]]},"OpenAI - Edit Image":{"main":[[{"node":"Merge File","type":"main","index":1}],[{"node":"Update Photo Status - Error","type":"main","index":0}]]},"Switch":{"main":[[{"node":"OpenAI - Edit Image","type":"main","index":0}],[{"node":"OpenAI - Edit Images","type":"main","index":0}]]},"Update Photo Status - Error":{"main":[[{"node":"Loop Over Prompts","type":"main","index":0}]]},"Update Photo Status - Processed":{"main":[[{"node":"Loop Over Photos","type":"main","index":0}]]},"Get Photo":{"main":[[{"node":"Update Photo Status - Processed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"db64bb2d-1ef4-4d6a-a35d-3f4a40dc180f","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:40:59.686Z","createdAt":"2025-08-04T16:40:59.686Z","role":"workflow:owner","workflowId":"qW8jcovHG64KjAt4","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:39:43.023Z","createdAt":"2025-08-04T16:39:43.023Z","id":"AHGyngzrha2Hlxfu","name":"image"}]}
