workflows/Llama parse.json
{"updatedAt":"2025-08-04T16:51:04.014Z","createdAt":"2025-08-04T16:51:04.014Z","id":"CadvqqjY9JG2aYLx","name":"Llama parse","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"do_not_cache","value":"=true"}]},"options":{}},"id":"53f5feef-713d-4bd9-8bdc-5be47e9f9361","name":"Upload File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,380]},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"c2ea8161-30fd-4023-b90b-530acf52d8b7","name":"Get Processing Status","type":"n8n-nodes-base.httpRequest","position":[580,380],"typeVersion":4.2,"onError":"continueErrorOutput"},{"parameters":{"amount":7},"id":"11ec3425-88c3-4b15-aa77-d5815c16ad23","name":"Wait to stay within service limits","type":"n8n-nodes-base.wait","position":[1000,200],"webhookId":"17a96ed6-b5ff-47bb-a8a2-39c1eb40185a","typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0fa97d86-432a-409a-917e-5f1a002b1ab9","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"PENDING"}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e6058aa0-a3e2-4ce3-9bed-6ff41a5be052","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"ERROR"}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ceb6338f-4261-40ac-be11-91f61c7302ba","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"CANCELED"}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"300fce8c-b19a-4d0c-86e8-f62853c70ce2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"SUCCESS"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"}]},"options":{"allMatchingOutputs":true}},"id":"8494aa45-2aa2-47ba-97f1-8d30626f6ee3","name":"Is Job Ready?","type":"n8n-nodes-base.switch","position":[760,380],"typeVersion":3},{"parameters":{"errorMessage":"Problem with Llamaparser. Error during parsing."},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1000,400],"id":"cdcfe31f-4504-451d-a42d-295887b2f110","name":"Stop and Error"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"redirect":{"redirect":{}}}},"id":"0fa4981e-d31b-4bd7-a4eb-b53b75e53fee","name":"Get Parsed Data","type":"n8n-nodes-base.httpRequest","position":[1000,580],"typeVersion":4.2},{"parameters":{"jsCode":"// n8n JavaScript Code (Function Node)\nconst inputText = $json[\"markdown\"];  // Get input text from the previous node\n\n// Split text into pages while keeping table columns intact\nconst pages = inputText.split(\"\\n---\\n\");\n\n// Convert into structured array of objects\nconst result = pages.map((page, index) => ({\n    order: index + 1,\n    text: page.trim()\n}));\n\n// Return the result as JSON\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,580],"id":"ff0ab48b-5f5b-4d84-be33-afe39a82b352","name":"Split to pages"},{"parameters":{"content":"### Add Llamaparse Header auth\nAuthorization: Bearer <api_key>","height":80,"width":280},"type":"n8n-nodes-base.stickyNote","position":[400,560],"typeVersion":1,"id":"beb78eeb-76c5-4781-8151-a0a68b728112","name":"Sticky Note"},{"parameters":{"content":"### Download file here as input","height":80},"type":"n8n-nodes-base.stickyNote","position":[120,280],"typeVersion":1,"id":"942a5ac2-efdf-4e54-a32e-b4d00114138e","name":"Sticky Note1"},{"parameters":{"content":"### Workflow description\n\n1. Download file (binary file as output)\n2. Upload file to Llamaparse\n3. Check processing status\n4. Get processed data in markdown format when status=successs\n5. (optional) Split text to pages with code node","height":220,"width":480},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"33e5562a-936a-4952-8492-b85ef56fa851","name":"Sticky Note2"},{"parameters":{"url":"https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage//software_engineer_resume_example.pdf","options":{}},"id":"46199e3d-ad99-469a-bd32-6e48d2eff9d8","name":"Download file EXAMPLE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,380]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,380],"id":"50020a3b-8ea3-4d93-a03d-74f1d65a132d","name":"When clicking ‘Test workflow’"}],"connections":{"Upload File":{"main":[[{"node":"Get Processing Status","type":"main","index":0}]]},"Get Processing Status":{"main":[[{"node":"Is Job Ready?","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Wait to stay within service limits":{"main":[[{"node":"Get Processing Status","type":"main","index":0}]]},"Is Job Ready?":{"main":[[{"node":"Wait to stay within service limits","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Get Parsed Data","type":"main","index":0}]]},"Get Parsed Data":{"main":[[{"node":"Split to pages","type":"main","index":0}]]},"Download file EXAMPLE":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Download file EXAMPLE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"b94271e9-5935-4889-b80f-41adabbd81fb","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:51:04.014Z","createdAt":"2025-08-04T16:51:04.014Z","role":"workflow:owner","workflowId":"CadvqqjY9JG2aYLx","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
