workflows/lora train.json
{"updatedAt":"2025-08-04T16:40:07.484Z","createdAt":"2025-08-04T16:39:31.116Z","id":"lotY5cAnxnftN8de","name":"lora train","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"f4c8d40a-9b00-419f-931b-74d287a441b8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1300,1080],"id":"c9be8a20-1237-4034-8013-18a2785ccf8b","name":"Webhook","webhookId":"f4c8d40a-9b00-419f-931b-74d287a441b8"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/predictions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer <replicate_token>"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"version\": \"{{ $('Get Prediction').item.json['Model Version Lookup'][0].split(':')[1] }}\",\n    \"input\": {\n      \"model\": \"dev\",\n      \"prompt\": \"{{ $('Get Prediction').item.json.Prompt }}\",\n      \"go_fast\": false,\n      \"lora_scale\": 1,\n      \"megapixels\": \"1\",\n      \"num_outputs\": 4,\n      \"aspect_ratio\": \"1:1\",\n      \"output_format\": \"jpg\",\n      \"guidance_scale\": 3,\n      \"output_quality\": 80,\n      \"prompt_strength\": 0.8,\n      \"extra_lora_scale\": 1,\n      \"num_inference_steps\": 28\n    },\n  \"webhook\": \"<webhook_url>\",\n  \"webhook_events_filter\": [\"completed\"]\n  } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,1080],"id":"d14c46b0-15f3-4ad5-b746-e739b8dd52e0","name":"Run Prediction"},{"parameters":{"base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblr2XipibZi0jFYc","mode":"list","cachedResultName":"LoRas","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblr2XipibZi0jFYc"},"id":"={{ $('Webhook').item.json.query.rec_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1000,1080],"id":"b9b800bc-fca6-48f9-b8ef-e4107bb2316a","name":"Get Prediction"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tbl6LzzXI0EBF7UNJ","mode":"list","cachedResultName":"Predictions","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbl6LzzXI0EBF7UNJ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.rec_id }}","Status":"Processing"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LoRa","displayName":"LoRa","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To Process","value":"To Process"},{"name":"Processing","value":"Processing"},{"name":"Processed","value":"Processed"}],"readOnly":false,"removed":false},{"id":"Generate Images","displayName":"Generate Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Prediction ID","displayName":"Prediction ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Model Version Lookup","displayName":"Model Version Lookup","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-740,1080],"id":"749e0829-0b72-49b0-ba58-6734fdc34911","name":"Update Prediction Status"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tbl6LzzXI0EBF7UNJ","mode":"list","cachedResultName":"Predictions","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbl6LzzXI0EBF7UNJ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.rec_id }}","Prediction ID":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LoRa","displayName":"LoRa","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To Process","value":"To Process"},{"name":"Processing","value":"Processing"},{"name":"Processed","value":"Processed"}],"readOnly":false,"removed":true},{"id":"Generate Images","displayName":"Generate Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Prediction ID","displayName":"Prediction ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Model Version Lookup","displayName":"Model Version Lookup","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-240,1080],"id":"f6df1ad0-4a26-49e4-ad23-dbcb8de35043","name":"Save Prediction ID"},{"parameters":{"content":"## Prediction flow","height":280,"width":1340},"type":"n8n-nodes-base.stickyNote","position":[-1360,1000],"typeVersion":1,"id":"f9e017ca-4aee-452f-8bb2-221c48053662","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-200,200],"id":"275fec99-a9a8-4486-af67-fa9af71f56e7","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"=images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-500,220],"id":"aba1b0a2-4e8b-4141-9b2e-4e2f07940f3c","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"5c1ed889-18b2-4e34-8831-a8b7a88bf0bc","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,300],"id":"2421991a-738d-4275-99a0-ae6d1e4d23f3","name":"Edit Fields1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"url"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,80],"id":"6b0dc6ab-c8ec-498e-9389-86ad79dbe4fd","name":"Aggregate"},{"parameters":{"method":"POST","url":"<cloud_function_url>","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": {{ JSON.stringify($json.url.map(url => url)) }},\n  \"folder_name\": \"{{ $('Get Lora').item.json.id }}\"\n}","options":{}},"id":"96f74ffd-ac46-474b-acc9-bfede999bdda","name":"Google Cloud - Create ZIP","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[300,80]},{"parameters":{"method":"POST","url":"=https://<base_id>.supabase.co/storage/v1/object/sign/Files/Archives/{{ $('Get Lora').item.json.id }}.zip","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer <service_key>"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"expiresIn","value":3600}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,80],"id":"164ca852-061c-4e68-9ab5-0f6c9dba795b","name":"Generate a Signed URL"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/ostris/flux-dev-lora-trainer/versions/e440909d3512c31646ee2e0c7d6f6f4923224863a6a10c494606e79fb5844497/trainings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer <token>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"destination\": \"philippbekher31/test\",\n  \"input\": {\n\"steps\": 2000,\n\"hf_repo_id\":\"PhilippBekher/{{ $('Get Lora').item.json.id }}\",\n\"hf_token\": \"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\",\n\"trigger_word\": \"{{ $('Get Lora').item.json['Trigger Word'] }}\",\n    \"input_images\": \"https://<base_id>.supabase.co/storage/v1/{{ $json.signedURL }}\"\n  },\n\"webhook\": \"<n8n_webhook_url>\",\n\"webhook_events_filter\": [\"completed\"]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,80],"id":"38b057ff-089e-4982-9605-17022748a3dd","name":"Start Training"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblr2XipibZi0jFYc","mode":"list","cachedResultName":"LoRas","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblr2XipibZi0jFYc"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook1').item.json.query.rec_id }}","Status":"Processing"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Trigger Word","displayName":"Trigger Word","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To Process","value":"To Process"},{"name":"Processing","value":"Processing"},{"name":"Processed ","value":"Processed "}],"readOnly":false,"removed":false},{"id":"HF Repo ID","displayName":"HF Repo ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pictures","displayName":"Pictures","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Start Processing","displayName":"Start Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1120,220],"id":"870ec902-80f8-4b4a-9730-d85eaca5b603","name":"Update Lora Status"},{"parameters":{"base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblr2XipibZi0jFYc","mode":"list","cachedResultName":"LoRas","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblr2XipibZi0jFYc"},"id":"={{ $('Webhook1').item.json.query.rec_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-940,220],"id":"0e7fb876-77b7-445d-b39a-c5b3e5b30258","name":"Get Lora"},{"parameters":{"assignments":{"assignments":[{"id":"63224871-c348-4ab1-9a33-ec24205b76dd","name":"images","value":"={{ $json.Images }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,220],"id":"e16ce8e5-fa5f-4f91-b9e6-d3a406716302","name":"Set Fields"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblr2XipibZi0jFYc","mode":"list","cachedResultName":"LoRas","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblr2XipibZi0jFYc"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook1').item.json.query.rec_id }}","Training ID":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Trigger Word","displayName":"Trigger Word","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To Process","value":"To Process"},{"name":"Processing","value":"Processing"},{"name":"Processed ","value":"Processed "}],"readOnly":false,"removed":true},{"id":"Start Processing","displayName":"Start Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pictures","displayName":"Pictures","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Training ID","displayName":"Training ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1000,80],"id":"a434e6d6-d555-4fae-99ae-a988406cab43","name":"Set Training ID"},{"parameters":{"path":"f4c8d40a-9b00-419f-931b-74d287a441b8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1300,220],"id":"b5e43b22-8adc-45ae-a127-d3b0bd849ba0","name":"Webhook1","webhookId":"f4c8d40a-9b00-419f-931b-74d287a441b8"},{"parameters":{"content":"## Training flow","height":520,"width":2580},"type":"n8n-nodes-base.stickyNote","position":[-1360,40],"typeVersion":1,"id":"9fb8b8de-ebdd-4f39-9a53-c3210fbda24e","name":"Sticky Note1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblr2XipibZi0jFYc","mode":"list","cachedResultName":"LoRas","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblr2XipibZi0jFYc"},"filterByFormula":"={Training ID}='{{ $json.body.id }}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1100,740],"id":"f589619d-ea29-467c-915a-350acff27429","name":"Find Lora"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblOOf7OBUo4AunOX","mode":"list","cachedResultName":"Models","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblOOf7OBUo4AunOX"},"columns":{"mappingMode":"defineBelow","value":{"Replicate ID":"={{ $('Webhook2').item.json.body.output.version }}","LoRa":"={{[ $json.id ]}}"},"matchingColumns":[],"schema":[{"id":"Replicate ID","displayName":"Replicate ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LoRa","displayName":"LoRa","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-660,740],"id":"f46dd7b9-2e8e-4991-80e7-fb4100ce47a3","name":"Create Model Version"},{"parameters":{"httpMethod":"POST","path":"81133154-95ac-4a06-97c9-930a7de2b1ff","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1320,740],"id":"caab66e7-4bb3-4d66-8cce-267e70c11581","name":"Webhook2","webhookId":"81133154-95ac-4a06-97c9-930a7de2b1ff"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appndgSF4faN4jPXi","mode":"list","cachedResultName":"AI Content","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi"},"table":{"__rl":true,"value":"tblr2XipibZi0jFYc","mode":"list","cachedResultName":"LoRas","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblr2XipibZi0jFYc"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Processed "},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Trigger Word","displayName":"Trigger Word","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To Process","value":"To Process"},{"name":"Processing","value":"Processing"},{"name":"Processed ","value":"Processed "}],"readOnly":false,"removed":false},{"id":"HF Repo ID","displayName":"HF Repo ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pictures","displayName":"Pictures","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Start Processing","displayName":"Start Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Training ID","displayName":"Training ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-880,740],"id":"b7dd40f5-05c6-4dba-bdcf-a79c26eb2790","name":"Update Lora Status1"},{"parameters":{"content":"## Training done","height":280,"width":1340},"type":"n8n-nodes-base.stickyNote","position":[-1360,640],"typeVersion":1,"id":"56744a15-8ce1-4474-a53c-238d7f84dacd","name":"Sticky Note2"},{"parameters":{"content":"### Replace token and webhook url","height":80,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-580,980],"typeVersion":1,"id":"ab40ec19-6cbc-4d9c-8aba-5719481ddfc8","name":"Sticky Note3"},{"parameters":{"content":"### Replace function url","height":80,"color":5},"type":"n8n-nodes-base.stickyNote","position":[220,-20],"typeVersion":1,"id":"936b3cc1-7a0b-4e29-bb0e-530a6fa5dee0","name":"Sticky Note4"},{"parameters":{"content":"### Replace token and base id","height":80,"color":5},"type":"n8n-nodes-base.stickyNote","position":[500,-20],"typeVersion":1,"id":"34a9c585-8eca-4f35-a0f3-084084907c5d","name":"Sticky Note5"},{"parameters":{"content":"### Replace token, base_id and n8n webhook url","height":80,"color":5},"type":"n8n-nodes-base.stickyNote","position":[700,240],"typeVersion":1,"id":"16c51a29-5d59-42b2-aea9-042f5cb8d34f","name":"Sticky Note6"}],"connections":{"Webhook":{"main":[[{"node":"Get Prediction","type":"main","index":0}]]},"Run Prediction":{"main":[[{"node":"Save Prediction ID","type":"main","index":0}]]},"Get Prediction":{"main":[[{"node":"Update Prediction Status","type":"main","index":0}]]},"Update Prediction Status":{"main":[[{"node":"Run Prediction","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Google Cloud - Create ZIP","type":"main","index":0}]]},"Google Cloud - Create ZIP":{"main":[[{"node":"Generate a Signed URL","type":"main","index":0}]]},"Generate a Signed URL":{"main":[[{"node":"Start Training","type":"main","index":0}]]},"Start Training":{"main":[[{"node":"Set Training ID","type":"main","index":0}]]},"Update Lora Status":{"main":[[{"node":"Get Lora","type":"main","index":0}]]},"Get Lora":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Update Lora Status","type":"main","index":0}]]},"Find Lora":{"main":[[{"node":"Update Lora Status1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Find Lora","type":"main","index":0}]]},"Update Lora Status1":{"main":[[{"node":"Create Model Version","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"98a1fccd-a91d-47bb-ab9f-7fc5689b60ca","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:39:31.116Z","createdAt":"2025-08-04T16:39:31.116Z","role":"workflow:owner","workflowId":"lotY5cAnxnftN8de","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:39:43.023Z","createdAt":"2025-08-04T16:39:43.023Z","id":"AHGyngzrha2Hlxfu","name":"image"}]}