workflows/main_wf.json
{"updatedAt":"2025-11-09T10:25:36.770Z","createdAt":"2025-08-26T18:41:42.027Z","id":"EjNizo63rEECIUNS","name":"main_wf","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"cbd7deeb-ccb7-43e4-bbf2-7e6d6e88aeae","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[420,240],"typeVersion":1},{"parameters":{"options":{}},"id":"1b7bfd6d-005d-4b0f-a5af-1cf2113ab7f6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1160,240],"typeVersion":3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"ea737a36-5ffe-4b29-920a-48c845d0b130","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-140,60],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"5e87b30e-561a-4a6d-9fd6-b8aed1281503","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[300,60],"typeVersion":1},{"parameters":{"url":"https://n8n.ai-lowcode.dev/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-N8N-API-KEY","value":"={{ $json.N8N_API }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,280],"id":"70f20277-6f62-4c44-9845-b17b911172b2","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"6ebacfeb-22ca-4a53-af52-6cc5ce75f4d1","name":"N8N_API","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkOGE0MTY5ZC0wMmRlLTRkYTYtYjZhZC0zNTQ4YmFmMWU3NjQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU2MjM0MDM3fQ.hjwWqVcBfV2XQ5faLx5JMYIMWIvqxyaTEf9xB-WUCGw","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,260],"id":"b8628313-a436-4076-9693-604282c69365","name":"Edit Var"},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1400,260],"id":"5f62beaa-9b7a-4013-a4a5-5ff9bef4bd96","name":"Execute Workflow"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Edit Var","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Var":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"a380880b-1ba2-4179-b079-d7c8128143db","triggerCount":1,"shared":[{"updatedAt":"2025-08-26T18:41:42.027Z","createdAt":"2025-08-26T18:41:42.027Z","role":"workflow:owner","workflowId":"EjNizo63rEECIUNS","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}