workflows/Mark_video_tg.json
{"updatedAt":"2025-11-10T05:13:54.152Z","createdAt":"2025-10-18T16:41:05.978Z","id":"4djTCjjnydY3fPC5","name":"Mark_video_tg","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-64,1312],"id":"008ad2b9-d563-4a7d-8aab-acd2df6a88e3","name":"Wait4","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Image').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"57f5a5eb-261a-4131-bd4f-e8cac54dd3a9","name":"Get Generation","type":"n8n-nodes-base.httpRequest","position":[160,1248],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,1280],"id":"102ba617-f282-4274-a2be-b50125a43f1a","name":"Switch2"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/google/imagen-4/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.prompt) }},\n\"aspect_ratio\": \"{{ $json.aspect_ratio }}\"\n  }\n}","options":{"redirect":{"redirect":{}}}},"id":"bfe66884-6ce4-474c-9dd6-4c51d2e8de44","name":"Generate Image","type":"n8n-nodes-base.httpRequest","position":[-288,1312],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-128,4032],"id":"5042cb82-cd46-4160-b938-b8583812690e","name":"Switch1"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/kwaivgi/kling-v2.1-master/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"mode\": \"standard\",\n    \"prompt\": {{ JSON.stringify($json.prompt) }},\n    \"duration\": {{$json.duration}}, \"aspect_ratio\": \"{{$json.aspect_ratio}}\" }\n}","options":{"redirect":{"redirect":{}}}},"id":"6094bdea-8878-4340-a15b-3d738002eeb9","name":"Generate Video","type":"n8n-nodes-base.httpRequest","position":[-800,4048],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-576,4048],"id":"2ed5ef18-3f66-451f-b93f-dedea235ee89","name":"Wait","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Video').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"6629d1ee-465b-4d1b-9137-73ddd030e496","name":"Get Generation1","type":"n8n-nodes-base.httpRequest","position":[-368,3984],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"content":"### Video with Kling in Replicate","height":80},"type":"n8n-nodes-base.stickyNote","position":[-1264,4064],"typeVersion":1,"id":"b377b629-c2ae-469b-9bda-3eae5c7a09a7","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"aspect_ratio","value":"={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,1312],"id":"7ce0b7bb-0914-4c03-a27d-6425655279fe","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"duration","value":"={{ $('When Executed by Another Workflow').item.json.duration }}","type":"string"},{"id":"2ddeb560-3c20-484b-bb8c-5de3ca731d79","name":"aspect_ratio","value":"={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,4048],"id":"b830b452-de90-4871-8940-642fac9e6ddb","name":"Edit Fields1"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-64,1664],"id":"e67fe3f6-1daf-40f9-a58b-c77a7f265e0a","name":"Wait5","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Image1').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"99df23a2-8e6a-444a-b945-d48ce27feb82","name":"Get Generation2","type":"n8n-nodes-base.httpRequest","position":[160,1600],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,1648],"id":"e5470b5e-f83b-4ebe-b2ab-01a2ca4bcc29","name":"Switch4"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/bytedance/seedream-4/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.prompt) }},\n\"aspect_ratio\": \"{{ $json.aspect_ratio }}\"\n  }\n}","options":{"redirect":{"redirect":{}}}},"id":"435c2fd8-0855-44d2-a503-1f7d55f410e3","name":"Generate Image1","type":"n8n-nodes-base.httpRequest","position":[-288,1664],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-128,4352],"id":"59502740-998d-4ee3-ac1f-b4977f7f7c37","name":"Switch5"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/kwaivgi/kling-v2.1-master/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"mode\": \"standard\",\n    \"prompt\": {{ JSON.stringify($json.prompt) }},\n    \"duration\": {{$json.duration}}, \"aspect_ratio\": \"{{$json.aspect_ratio}}\",  \"start_image\":\"{{$json.start_image}}\" }\n}","options":{"redirect":{"redirect":{}}}},"id":"2d7144c5-71d3-44e6-99c9-6e5ae37d14c6","name":"Generate Video2","type":"n8n-nodes-base.httpRequest","position":[-800,4368],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-576,4368],"id":"fb019068-9e77-4d49-99c7-1304908500f2","name":"Wait1","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Video2').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"5aaa45ac-aeb0-4568-9096-ac6c732fbff8","name":"Get Generation3","type":"n8n-nodes-base.httpRequest","position":[-368,4288],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"duration","value":"={{ $('When Executed by Another Workflow').item.json.duration }}","type":"string"},{"id":"2ddeb560-3c20-484b-bb8c-5de3ca731d79","name":"aspect_ratio","value":"={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}","type":"string"},{"id":"9b132f64-86b4-499d-97a6-f327242cc5c6","name":"start_image","value":"={{ $('When Executed by Another Workflow').item.json.start_image }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,4368],"id":"b9e231b4-97f2-4f85-aa0a-fad9fcfc5f6b","name":"Edit Fields3"},{"parameters":{"content":"### Video with Kling and image in Replicate","height":80},"type":"n8n-nodes-base.stickyNote","position":[-1328,4384],"typeVersion":1,"id":"4cb19650-13fd-4078-b022-1553f227f8f8","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[864,-16],"id":"954fe88a-d50b-474c-9600-0cf503c5e423","name":"AI Agent"},{"parameters":{"workflowInputs":{"values":[{"name":"tool"},{"name":"prompt"},{"name":"aspect_ratio"},{"name":"duration","type":"number"},{"name":"model"},{"name":"image_input","type":"object"},{"name":"start_image"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,2288],"id":"395e67ec-6275-4781-8cf0-d00025413a83","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.tool }}","rightValue":"create_image","operator":{"type":"string","operation":"equals"},"id":"92fc62fd-372f-4f41-a320-2d042da288dd"}],"combinator":"and"},"renameOutput":true,"outputKey":"create_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"331300e5-aeee-4c2f-ab7c-ca422ee58fcb","leftValue":"={{ $('When Executed by Another Workflow').item.json.tool }}","rightValue":"edit_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"edit_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb7b544c-71d6-4ce1-bf85-38f34236dcf7","leftValue":"={{ $('When Executed by Another Workflow').item.json.tool }}","rightValue":"create_video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"33835343-3a0a-4fac-bf74-26c23e981edd","leftValue":"={{ $('When Executed by Another Workflow').item.json.tool }}","rightValue":"create_video_from_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_video_from_image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-960,2240],"id":"0353d5ef-416c-4636-ab82-34af3fe2af5d","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,528],"id":"9beaa74a-87c7-41a3-9644-37e5418184ec","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IeTZGRwoUTftsBdI","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,528],"id":"d98236f9-05c2-4f46-874e-57db6f76feb6","name":"Simple Memory"},{"parameters":{"description":"Call this tool to create image. Provide prompt, aspect ratio and model (\"imagen\" by default). ","workflowId":{"__rl":true,"value":"1BgxEGvR0ykqLEKL","mode":"list","cachedResultName":"Photoshop Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tool":"create_image","aspect_ratio":"={{$fromAI(\"aspect_ratio\",\"Options: 9:16,16:9,1:1,3:4,4:3\")}}","model":"={{$fromAI(\"model\",\"Options: seedream,imagen\")}}","prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"},"matchingColumns":["tool"],"schema":[{"id":"tool","displayName":"tool","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"aspect_ratio","displayName":"aspect_ratio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"image_input","displayName":"image_input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[480,528],"id":"2b902143-0ffa-4739-88fb-6e6ea27d7fb6","name":"create_image"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.model }}","rightValue":"seedream","operator":{"type":"string","operation":"equals"},"id":"8c8c6001-0067-4279-a2ea-660f08bb7066"}],"combinator":"and"},"renameOutput":true,"outputKey":"seedream"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"342829dc-56e5-450e-8587-db4122a8d89b","leftValue":"={{ $('When Executed by Another Workflow').item.json.model }}","rightValue":"imagen","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-816,1472],"id":"95d17d5a-2a23-4e7d-82da-031f1d55b753","name":"Switch3"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"aspect_ratio","value":"={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,1664],"id":"cf008096-54f0-492d-b43c-bc030c1d5c51","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"f628b61b-e000-4b58-a9b7-47f7d1072040","name":"output","value":"={{$('Get Generation').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1312],"id":"bfea6f7f-ced2-467c-9b7a-f9a7c563b800","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"f628b61b-e000-4b58-a9b7-47f7d1072040","name":"output","value":"={{$('Get Generation2').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1664],"id":"62566d98-cf03-4942-a76f-b52271d0973e","name":"Edit Fields5"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-64,2000],"id":"f52d767d-e463-4b40-938b-6d77f469fedd","name":"Wait6","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Image2').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"0709c46e-bf9a-42b4-aaa3-76fcc12e16eb","name":"Get Generation4","type":"n8n-nodes-base.httpRequest","position":[160,1952],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,2000],"id":"cb66bf07-94ff-4b73-a863-9f6bca8e8290","name":"Switch6"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/google/nano-banana/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.prompt) }},\n\"image_input\": {{ JSON.stringify($json.image_input) }}\n  }\n}","options":{"redirect":{"redirect":{}}}},"id":"7f86d697-698e-461f-bb4c-ecff1ee56aea","name":"Generate Image2","type":"n8n-nodes-base.httpRequest","position":[-528,2112],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"image_input","value":"={{ $('When Executed by Another Workflow').item.json.image_input }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,2112],"id":"eb66a596-6a96-4dbf-bb10-44ce32400a13","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"f628b61b-e000-4b58-a9b7-47f7d1072040","name":"output","value":"={{$('Get Generation4').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,2000],"id":"eff5af7c-10c2-4ea2-a72b-3c9cabaf326e","name":"Edit Fields7"},{"parameters":{"description":"Call this tool to edit image. Provide prompt and one or multiple URLs of images.","workflowId":{"__rl":true,"value":"1BgxEGvR0ykqLEKL","mode":"list","cachedResultName":"Photoshop Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tool":"edit_image","prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}","image_input":"={{$fromAI(\"image_input\",\"JSON array:['URL']\",\"json\")}}"},"matchingColumns":["tool"],"schema":[{"id":"tool","displayName":"tool","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"aspect_ratio","displayName":"aspect_ratio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"image_input","displayName":"image_input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[608,528],"id":"794c08ef-08d9-4c02-920e-967e1e1c49e1","name":"edit_image"},{"parameters":{"description":"Call this tool to create video. \n\nPrompt guide:\n[Prose scene description in plain language. Describe characters, costumes, scenery, weather and other details. Be as descriptive to generate a video that matches your vision.]\nCinematography:\nCamera shot: [framing and angle, e.g. wide establishing shot, eye level]\nMood: [overall tone, e.g. cinematic and tense, playful and suspenseful, luxurious anticipation]\nActions:\n- [Action 1: a clear, specific beat or gesture]\n- [Action 2: another distinct beat within the clip]\n- [Action 3: another action or dialogue line]\nDialogue:\n[If the shot has dialogue, add short natural lines here or as part of the actions list. Keep them brief so they match the clip length.]","workflowId":{"__rl":true,"value":"1BgxEGvR0ykqLEKL","mode":"list","cachedResultName":"Photoshop Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tool":"create_video","prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}","duration":"={{$fromAI(\"duration\",\"Options: 4,8,12\",\"number\")}}","aspect_ratio":"={{$fromAI(\"aspect_ratio\",\"Options: portrait,landscape\")}}"},"matchingColumns":["tool"],"schema":[{"id":"tool","displayName":"tool","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"aspect_ratio","displayName":"aspect_ratio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"image_input","displayName":"image_input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[720,528],"id":"19972f8d-be88-46f4-95be-302ceb4cc781","name":"create_video"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,2560],"id":"fbffb0ec-9b52-48cb-8397-fadd90d4ffff","name":"Switch7"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/openai/sora-2/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n      \"prompt\": {{ JSON.stringify($json.prompt) }},\n      \"seconds\": {{$json.duration}},\n      \"aspect_ratio\": \"{{$json.aspect_ratio}}\",\n      \"openai_api_key\": \"{{$json.openai_api_key}}\"\n    }\n  }","options":{"redirect":{"redirect":{}}}},"id":"8b19a5a5-be08-4ea7-912f-c3c38b779eb7","name":"Generate Video3","type":"n8n-nodes-base.httpRequest","position":[-528,2592],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-288,2592],"id":"9dbfa404-7950-475b-8e95-f3d77eaedee0","name":"Wait2","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Video3').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"10a25c3e-49b5-4371-880d-50d8233605c5","name":"Get Generation5","type":"n8n-nodes-base.httpRequest","position":[-64,2512],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-848,224],"id":"c3c3701e-fc43-4822-9649-92d4026e0a60","name":"Telegram Trigger","webhookId":"780b2e65-86b1-4237-89ca-9777204477a4","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1976b3c6-9b4d-4339-819c-e2f70912aba0","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,224],"id":"cca42489-7058-48ab-b81d-6cc66b6651f7","name":"If"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.photo[3].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-384,128],"id":"c2b9591b-b77c-4dc9-bbcb-1d15f4f54ee9","name":"Get a file","webhookId":"6734da18-d6c3-4e3e-9d3b-7f6b9646e1b2","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"},"id":"d8d9b5c2-da45-40b3-bcda-354a24e9afb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f495a0a-8781-4d4f-a8e0-592190721892","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1280,2960],"id":"f219c3f3-98dc-4751-8c37-11a2c6acdda4","name":"Switch8"},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/models/openai/sora-2/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"input\": {\n      \"prompt\": {{ JSON.stringify($('Edit Fields11').item.json.prompt) }},\n      \"seconds\": {{$('Edit Fields11').item.json.duration}},\n      \"aspect_ratio\": \"{{$('Edit Fields11').item.json.aspect_ratio}}\",\n      \"openai_api_key\": \"{{$('Edit Fields11').item.json.openai_api_key}}\",\n\"input_reference\":\"{{ $json.data.url }}\"\n    }\n  }","options":{"redirect":{"redirect":{}}}},"id":"8987aee8-d8a4-465d-8d5d-785bf62fc77f","name":"Generate Video4","type":"n8n-nodes-base.httpRequest","position":[384,2960],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[832,2960],"id":"c747a5b8-9cfc-435a-98d9-311a1a855daf","name":"Wait3","webhookId":"a859ba1f-3dc5-4572-80d3-ec57c2201ed6"},{"parameters":{"url":"=https://api.replicate.com/v1/predictions/{{$('Generate Video4').item.json.id}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"wait"}]},"options":{"redirect":{"redirect":{}}}},"id":"6c7e1546-fbad-4fc2-9703-27b73aa25f01","name":"Get Generation6","type":"n8n-nodes-base.httpRequest","position":[1040,2912],"retryOnFail":false,"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"MrrEJOpy1E7t0Je4","name":"Replicate club"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fc80ba9-84bb-4e39-ad24-8127d7399df6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,2960],"id":"fcaabe78-d71b-4e34-810c-7197407efc35","name":"If1"},{"parameters":{"url":"={{ $json.input_reference }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,2960],"id":"cca0d184-2a52-4f82-aa3c-6c010d96a4db","name":"Download Image"},{"parameters":{"operation":"resize","width":"={{ $json.aspect_ratio==\"portrait\" ? 720 : 1280 }}","height":"={{ $json.aspect_ratio==\"portrait\" ? 1280 : 720 }}","resizeOption":"ignoreAspectRatio","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-304,2960],"id":"69e52e74-f347-46b9-af5a-5c0804b8ab18","name":"Edit Image"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-80,2960],"id":"b51a2f77-0262-40d6-b268-2f941793a050","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiration","value":"600"},{"name":"key","value":"265fd828261f9f4c8f64f26606ab30ba"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"image","value":"={{$('Extract from File').item.json.data}}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,2960],"id":"25ca0316-0206-4eb7-9a74-4e819a55b1df","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiration","value":"6000"},{"name":"key"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"image","value":"={{$json.data}}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,128],"id":"f3eec4af-b23a-4f0e-b47a-3e1d65bc1c81","name":"HTTP Request2"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-160,128],"id":"5df5ff46-d98e-46a9-9a61-2d3d92061fd2","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"16a5d349-2733-496b-a74e-207f5846e809","name":"text","value":"=File uploaded with URL - {{$json.data.url}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,128],"id":"7d331f16-e36e-42a1-99e8-b6493cb7e245","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"785d8bc4-d9bd-40f4-8482-bd610f03ff0f","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,320],"id":"ac4ce08d-cb63-4ed6-ad7b-1fc53e944dd2","name":"Edit Fields13"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Photo', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[864,528],"id":"749dc1d7-5a08-4318-897d-48aaf1617e95","name":"Send a photo message in Telegram","webhookId":"4e7491af-bd67-46b9-96bf-4a2a32c0c221","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,128],"id":"13c32a89-64bb-4d85-9c82-e36e08184dac","name":"Send a text message","webhookId":"a346b411-7222-4938-b653-77abe2b22619","credentials":{"telegramApi":{"id":"FRssOlXEyxi0m4SO","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fc80ba9-84bb-4e39-ad24-8127d7399df6","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,2112],"id":"ccc47b45-1fe0-47ff-9578-e1038ccab10a","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"632e5b1d-42a1-4ee3-a235-a0895d2f7445","name":"output","value":"={{$json.error}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,2208],"id":"68d93838-cc05-421d-8c62-afa667f3aaef","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"duration","value":"={{ $('When Executed by Another Workflow').item.json.duration }}","type":"string"},{"id":"2ddeb560-3c20-484b-bb8c-5de3ca731d79","name":"aspect_ratio","value":"={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}","type":"string"},{"id":"9b132f64-86b4-499d-97a6-f327242cc5c6","name":"openai_api_key","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,2592],"id":"f523b832-8641-4c7a-a1c9-5ba462fdaa88","name":"Edit Fields15"},{"parameters":{"description":"Call this tool to create video based on image. Provide prompt and one URL of image.\n\nPrompt guide:\n[Prose scene description in plain language. Describe characters, costumes, scenery, weather and other details. Be as descriptive to generate a video that matches your vision.]\nCinematography:\nCamera shot: [framing and angle, e.g. wide establishing shot, eye level]\nMood: [overall tone, e.g. cinematic and tense, playful and suspenseful, luxurious anticipation]\nActions:\n- [Action 1: a clear, specific beat or gesture]\n- [Action 2: another distinct beat within the clip]\n- [Action 3: another action or dialogue line]\nDialogue:\n[If the shot has dialogue, add short natural lines here or as part of the actions list. Keep them brief so they match the clip length.]","workflowId":{"__rl":true,"value":"1BgxEGvR0ykqLEKL","mode":"list","cachedResultName":"Photoshop Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tool":"create_video_from_image","prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}","image_input":"={{$fromAI(\"image_input\",\"JSON array:['URL']\",\"json\")}}","duration":"={{$fromAI(\"duration\",\"Options: 4,8,12\",\"number\")}}","aspect_ratio":"={{$fromAI(\"aspect_ratio\",\"Options: portrait,landscape\")}}"},"matchingColumns":["tool"],"schema":[{"id":"tool","displayName":"tool","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"aspect_ratio","displayName":"aspect_ratio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"image_input","displayName":"image_input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1024,528],"id":"ab9c8f82-b7b7-4d53-a669-4ceb6cead52f","name":"create_video_from_image"},{"parameters":{"assignments":{"assignments":[{"id":"7b86db08-e6ae-40b3-a61c-5942987d92d0","name":"prompt","value":"={{ $('When Executed by Another Workflow').item.json.prompt }}","type":"string"},{"id":"9a8a4f43-8a7f-4d98-8fc8-fdb219901ee8","name":"duration","value":"={{ $('When Executed by Another Workflow').item.json.duration }}","type":"string"},{"id":"2ddeb560-3c20-484b-bb8c-5de3ca731d79","name":"aspect_ratio","value":"={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}","type":"string"},{"id":"9b132f64-86b4-499d-97a6-f327242cc5c6","name":"openai_api_key","value":"=","type":"string"},{"id":"38bb57a3-e343-4cc5-b2d5-0f0fcad821cb","name":"input_reference","value":"={{ $('When Executed by Another Workflow').item.json.image_input[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,2960],"id":"c42789c8-c34c-4288-ae5c-e15eeb7456fe","name":"Edit Fields11"},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","file":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Photo', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[1200,528],"id":"f7d24f70-473b-4327-810b-fcc6cda019eb","name":"Send a video in Telegram","webhookId":"4e7491af-bd67-46b9-96bf-4a2a32c0c221","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"assignments":{"assignments":[{"id":"f628b61b-e000-4b58-a9b7-47f7d1072040","name":"output","value":"={{$('Get Generation6').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,2960],"id":"74c62ee8-0fed-43e8-aadc-0f28a21bb800","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"f628b61b-e000-4b58-a9b7-47f7d1072040","name":"output","value":"={{$('Get Generation5').item.json.output}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,2592],"id":"ba457f23-d400-443f-95ac-528b2cbb350b","name":"Edit Fields17"},{"parameters":{"content":"\n\n## Generate image with Imagen 4","height":368,"width":1408},"type":"n8n-nodes-base.stickyNote","position":[-560,1168],"typeVersion":1,"id":"e89e3025-b91b-4499-aee9-9dab8bccab08","name":"Sticky Note"},{"parameters":{"content":"## Generate image with Seedream\n","height":336,"width":1424},"type":"n8n-nodes-base.stickyNote","position":[-560,1552],"typeVersion":1,"id":"250c09e4-9be8-4413-b925-9cd3c0ea23de","name":"Sticky Note1"},{"parameters":{"content":"## Edit image with Nanobanana\n","height":464,"width":1632},"type":"n8n-nodes-base.stickyNote","position":[-768,1920],"typeVersion":1,"id":"da7985fd-0c1a-4589-bb2e-bde0d961cf91","name":"Sticky Note4"},{"parameters":{"content":"## Generate video with Sora 2\n","height":384,"width":1344},"type":"n8n-nodes-base.stickyNote","position":[-768,2464],"typeVersion":1,"id":"9214e3c7-d010-4fb3-9dbd-72bedfa3ee7f","name":"Sticky Note5"},{"parameters":{"content":"## Generate video with Sora 2 based on image\n","height":352,"width":2448},"type":"n8n-nodes-base.stickyNote","position":[-768,2880],"typeVersion":1,"id":"58bc8d62-7386-4f3b-acf0-62659a179326","name":"Sticky Note6"},{"parameters":{"content":"### Change credentials","height":80,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"f4864e1c-6afe-42a9-bb2f-240075ac06dc","name":"Sticky Note7"},{"parameters":{"content":"### Change credentials","height":80,"width":368,"color":6},"type":"n8n-nodes-base.stickyNote","position":[144,3120],"typeVersion":1,"id":"d2eab7e0-af50-4bc6-b110-63f22e7b6c6e","name":"Sticky Note8"},{"parameters":{"content":"### Change credentials","height":80,"width":150,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-768,3120],"typeVersion":1,"id":"235f54f8-9c5d-4e0f-83df-4c13fdb436d3","name":"Sticky Note9"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[560,64],"id":"7a15f176-c422-4fe5-ad77-5537905d8e03","name":"AI Agent1"}],"connections":{"Wait4":{"main":[[{"node":"Get Generation","type":"main","index":0}]]},"Get Generation":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Switch1":{"main":[[],[],[{"node":"Wait","type":"main","index":0}]]},"Generate Video":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Generation1","type":"main","index":0}]]},"Get Generation1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Get Generation2","type":"main","index":0}]]},"Get Generation2":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Generate Image1":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Switch5":{"main":[[],[],[{"node":"Wait1","type":"main","index":0}]]},"Generate Video2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Generation3","type":"main","index":0}]]},"Get Generation3":{"main":[[{"node":"Switch5","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Generate Video2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Edit Fields15","type":"main","index":0}],[{"node":"Edit Fields11","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Generate Image1","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Get Generation4","type":"main","index":0}]]},"Get Generation4":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Switch6":{"main":[[],[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Wait6","type":"main","index":0}]]},"Generate Image2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Generate Image2","type":"main","index":0}]]},"Switch7":{"main":[[],[{"node":"Edit Fields17","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Generate Video3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get Generation5","type":"main","index":0}]]},"Get Generation5":{"main":[[{"node":"Switch7","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Switch8":{"main":[[],[{"node":"Edit Fields16","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Generate Video4":{"main":[[{"node":"If1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Generation6","type":"main","index":0}]]},"Get Generation6":{"main":[[{"node":"Switch8","type":"main","index":0}]]},"If1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Generate Video4","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"If2":{"main":[[{"node":"Wait6","type":"main","index":0}],[{"node":"Edit Fields14","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Generate Video3","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"create_image":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"edit_image":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"create_video":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Send a photo message in Telegram":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"create_video_from_image":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Send a video in Telegram":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"ecd2e60c-e8e2-4871-ba95-5f7b16e10c0b","triggerCount":0,"shared":[{"updatedAt":"2025-10-18T16:41:05.978Z","createdAt":"2025-10-18T16:41:05.978Z","role":"workflow:owner","workflowId":"4djTCjjnydY3fPC5","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
