workflows/MediaGroupRAG.json
{"updatedAt":"2025-10-06T11:13:16.563Z","createdAt":"2025-10-06T11:12:06.360Z","id":"CoxQLJshrMuT8A9r","name":"MediaGroupRAG","active":false,"isArchived":false,"nodes":[{"parameters":{"name":"knowledge_base","jsCode":"const axios = require('axios');\n\nconst OPENAI_API_KEY = '<openai_api_token>';\nconst SUPABASE_URL = 'https://<supabase_id>.supabase.co';\nconst SUPABASE_API_KEY = '<supabase_api_token>';\n\n\n// Get input from the previous node\nconst queryText = query.query;\nconst filters = $('Aggregate files').item.json || {}; // Should include { file_id: [\"uuid1\", \"uuid2\"] }\n\nasync function getEmbedding(text) {\n    if (!text || typeof text !== 'string') {\n        throw new Error(`Invalid input for embedding: \"${text}\"`);\n    }\n\n    try {\n        console.log(\"🔹 Generating embedding for query:\", text);\n        const response = await axios.post(\n            'https://api.openai.com/v1/embeddings',\n            { input: text, model: 'text-embedding-3-small' },\n            {\n                headers: {\n                    'Content-Type': 'application/json',\n                    'Authorization': `Bearer ${OPENAI_API_KEY}`\n                }\n            }\n        );\n\n        console.log(\"✅ OpenAI Embedding Generated Successfully!\");\n        return response.data.data[0].embedding;\n    } catch (error) {\n        console.error(\"❌ OpenAI Embedding Error:\", error.response?.data || error.message);\n        throw new Error(`OpenAI Embedding Error: ${JSON.stringify(error.response?.data || error.message)}`);\n    }\n}\n\nasync function fetchDocuments(queryEmbedding) {\n    try {\n        console.log(\"🔹 Sending request to Supabase...\");\n        console.log(\"🔹 Query Embedding Length:\", queryEmbedding.length);\n        console.log(\"🔹 Filters used:\", JSON.stringify(filters, null, 2));\n\n        const response = await axios.post(\n            `${SUPABASE_URL}/rest/v1/rpc/match_documents`,\n            {\n                query_embedding: queryEmbedding,\n                match_count: 5,\n                filter: filters\n            },\n            {\n                headers: {\n                    'Content-Type': 'application/json',\n                    'apikey': SUPABASE_API_KEY,\n                    'Authorization': `Bearer ${SUPABASE_API_KEY}`\n                }\n            }\n        );\n\n        console.log(\"✅ Supabase Response:\", response.data);\n        return response.data;\n    } catch (error) {\n        console.error(\"❌ Supabase Query Error:\", error.response?.data || error.message);\n        throw new Error(`Supabase Query Error: ${error.message}`);\n    }\n}\n\nasync function processQuery() {\n    try {\n        console.log(\"🔹 Processing Query:\", queryText);\n        console.log(\"🔹 Filters:\", filters);\n        console.log(\"🔎 queryText:\", JSON.stringify(queryText));\n\n        const embedding = await getEmbedding(queryText);\n        const results = await fetchDocuments(embedding);\n\n        // Format results with file name and URL\n        const formattedResults = results.map(item => ({\n            id: item.id,\n            content: item.content,\n            similarity: item.similarity.toFixed(4),\n            fileName: item.file_name,\n            fileUrl: item.file_url\n        }));\n\n        // Combine content into a single string with file metadata\n        const joinedContent = formattedResults.map(item => {\n            return `📄 *${item.fileName || \"Unnamed file\"}* (${item.similarity} similarity)\\n🔗 ${item.fileUrl || \"No link\"}\\n\\n${item.content}`;\n        }).join(\"\\n\\n---\\n\\n\");\n\n        console.log(\"✅ Final Formatted Results:\", formattedResults);\n        console.log(\"✅ Final Joined Content:\", joinedContent);\n\n        return joinedContent;\n    } catch (error) {\n        console.error(\"❌ Processing Error:\", error.message);\n        throw new Error(`Processing Error: ${error.message}`);\n    }\n}\n\nreturn processQuery();","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"n8n\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1620,640],"id":"7660ecec-ee4c-445e-8aba-375067837b50","name":"Database retrieval1"},{"parameters":{"content":"### Match_documents function\n\ncreate or replace function match_documents(\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb default '{}'\n)\nreturns table (\n  id bigint,\n  content text,\n  similarity float,\n  file_name text,\n  file_url text\n)\nlanguage plpgsql\nas $$\ndeclare\n  filter_conditions text := '';\n  file_id_list text[] := '{}';\nbegin\n  -- Extract file_id values from filter\n  if filter ? 'file_id' then\n    select array_agg(value::text)\n    into file_id_list\n    from jsonb_array_elements_text(filter->'file_id');\n  end if;\n\n  -- Add file_id filter condition\n  if array_length(file_id_list, 1) > 0 then\n    filter_conditions := ' AND (d.metadata->>''file_id'') = ANY($3)';\n  end if;\n\n  -- Run the query with JOIN to files\n  return query execute format(\n    'SELECT\n       d.id,\n       d.content,\n       1 - (d.embedding <=> $1) as similarity,\n       f.name as file_name,\n       f.google_drive_url as file_url\n     FROM documents d\n     JOIN files f ON (d.metadata->>''file_id'') = f.id::text\n     WHERE true %s\n     ORDER BY d.embedding <=> $1\n     LIMIT $2',\n    filter_conditions\n  )\n  using query_embedding, match_count, file_id_list;\nend;\n$$;"},"type":"n8n-nodes-base.stickyNote","position":[1480,80],"typeVersion":1,"id":"01c144bb-f47b-4d2a-848d-6536f8011f95","name":"Sticky Note"},{"parameters":{"content":"### Match_files function\n\ncreate function match_files (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb default '{}'\n)\nreturns table (\n  id uuid,\n  description text,\n  similarity float\n)\nlanguage plpgsql\nas $$\nbegin\n  return query\n  select\n    f.id,\n    f.description,\n    1 - (f.embedding <=> query_embedding) as similarity\n  from public.files f\n  where filter = '{}' or to_jsonb(f) @> filter\n  order by f.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;"},"type":"n8n-nodes-base.stickyNote","position":[880,700],"typeVersion":1,"id":"cd370d75-c140-48c4-94a0-1a5e931978d5","name":"Sticky Note1"},{"parameters":{"content":"### Files table\n\ncreate table public.files (\n  id uuid not null default gen_random_uuid (),\n  name text null,\n  category text null,\n  date_created timestamp with time zone null default (now() AT TIME ZONE 'utc'::text),\n  google_drive_url text null,\n  theme text null,\n  description text null,\n  embedding extensions.vector null,\n  google_drive_id text null,\n  status text null default 'ready'::text,\n  type public.file_type null,\n  video_transcription_url text null,\n  constraint files_pkey primary key (id)\n) TABLESPACE pg_default;","height":140},"type":"n8n-nodes-base.stickyNote","position":[880,900],"typeVersion":1,"id":"9fdcc608-aeab-4c6d-bf0e-7394e2f663f7","name":"Sticky Note2"},{"parameters":{"options":{}},"id":"b32a8527-0588-4008-9323-552fbd582e24","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[760,460],"webhookId":"6e95bc27-99a6-417c-8bf7-2831d7f7a4be"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $('When chat message received').item.json.chatInput }}"},{"content":"IMPORTANT Always use knowledge_base tool to retrieve data for answering.\nIMPORTANT Always return url of file as reference if exists.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1460,460],"id":"b98bf2f5-5e47-4f25-963f-5864466da79a","name":"OpenAI"},{"parameters":{"operation":"getAll","tableId":"files","returnAll":true,"matchType":"allFilters"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,1260],"id":"3a3be513-e095-4b2c-8714-152fa50223a0","name":"GetFile","executeOnce":false,"alwaysOutputData":true},{"parameters":{"operation":"update","tableId":"files","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('GetFile').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"embedding","fieldValue":"={{ $json.data[0].embedding }}"}]}},"id":"fe5181f8-9e0d-4ca7-af1f-0cca474e2b27","name":"UpdateEmbedding","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1340,1260]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"text-embedding-3-small\",\n    \"input\":  {{JSON.stringify( \"File Name:\" + $json.name + \"Description:\" + $json.description )}} \n      }","options":{}},"id":"e49efa17-b5df-4892-a640-dead1537577a","name":"OpenAI CreateEmbeddings","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,1260]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[800,1260],"id":"5611ce92-f0f0-43d2-84fe-d14207dad5d0","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst OPENAI_API_KEY = '<openai_api_token>';\nconst SUPABASE_URL = 'https://<supabase_id>.supabase.co';\nconst SUPABASE_API_KEY = '<supabase_api_token>';\n\n\n// Get input from the previous node\nconst queryText = $('When chat message received').item.json.chatInput ;\nconst filters =  {}; // Dynamic filter object\n\nasync function getEmbedding(text) {\n    try {\n        console.log(\"🔹 Generating embedding for query:\", text);\n        const response = await axios.post(\n            'https://api.openai.com/v1/embeddings',\n            { input: text, model: 'text-embedding-3-small' },\n            {\n                headers: {\n                    'Content-Type': 'application/json',\n                    'Authorization': `Bearer ${OPENAI_API_KEY}`\n                }\n            }\n        );\n\n        console.log(\"✅ OpenAI Embedding Generated Successfully!\");\n        return response.data.data[0].embedding;\n    } catch (error) {\n        console.error(\"❌ OpenAI Embedding Error:\", error.response?.data || error.message);\n        throw new Error(`OpenAI Embedding Error: ${error.message}`);\n    }\n}\n\nasync function fetchFiles(queryEmbedding) {\n    try {\n        console.log(\"🔹 Sending request to Supabase (match_files)...\");\n        console.log(\"🔹 Query Embedding Length:\", queryEmbedding.length);\n        console.log(\"🔹 Filters used:\", JSON.stringify(filters, null, 2));\n\n        const response = await axios.post(\n            `${SUPABASE_URL}/rest/v1/rpc/match_files`,\n            {\n                query_embedding: queryEmbedding,\n                match_count: 5,\n                filter: filters\n            },\n            {\n                headers: {\n                    'Content-Type': 'application/json',\n                    'apikey': SUPABASE_API_KEY,\n                    'Authorization': `Bearer ${SUPABASE_API_KEY}`\n                }\n            }\n        );\n\n        console.log(\"✅ Supabase Response:\", response.data);\n        return response.data;\n    } catch (error) {\n        console.error(\"❌ Supabase Query Error:\", error.response?.data || error.message);\n        throw new Error(`Supabase Query Error: ${error.message}`);\n    }\n}\n\nasync function processQuery() {\n    try {\n        console.log(\"🔹 Processing Query:\", queryText);\n        console.log(\"🔹 Filters:\", filters);\n\n        const embedding = await getEmbedding(queryText);\n        const results = await fetchFiles(embedding);\n\n        const formattedResults = results.map(item => ({\n            id: item.id,\n            description: item.description,\n            similarity: item.similarity\n        }));\n        return formattedResults;\n    } catch (error) {\n        console.error(\"❌ Processing Error:\", error.message);\n        throw new Error(`Processing Error: ${error.message}`);\n    }\n}\n\n// Execute and return results\nreturn processQuery();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[940,460],"id":"5055f20b-624d-4ef4-802c-fc0221f0a7a4","name":"Find Files"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9268663-5051-4cb3-a51c-c77fd81d5135","leftValue":"={{ $(\"Find Files\").item.json[\"similarity\"] }}","rightValue":0.2,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1100,460],"id":"18d4b111-a649-40dd-ad8c-3dcd3cf52163","name":"Filter similarity"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id","renameField":true,"outputFieldName":"file_id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1280,460],"id":"67c8f5b0-8c01-420c-bd80-80c3749305f9","name":"Aggregate files"},{"parameters":{"assignments":{"assignments":[{"id":"db940cb7-dc10-4b53-a310-53d15e9f2feb","name":"output","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,460],"id":"73cfaf01-5e5f-48ee-99ef-329e461dbb4b","name":"Set Output"},{"parameters":{"content":"### Documents table\n\n-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","height":140},"type":"n8n-nodes-base.stickyNote","position":[1480,260],"typeVersion":1,"id":"74ae4e4a-d531-4160-b4f4-5917aa17e89c","name":"Sticky Note3"},{"parameters":{"content":"Change similarity to get less/more results","height":80,"width":180},"type":"n8n-nodes-base.stickyNote","position":[1060,600],"typeVersion":1,"id":"de4413b9-40dd-4ed5-9e7e-2f2bec5f7609","name":"Sticky Note4"},{"parameters":{"content":"### Replace Supabase and OpenAI credentials","height":100,"width":200},"type":"n8n-nodes-base.stickyNote","position":[880,320],"typeVersion":1,"id":"cddffe3b-c620-4559-991c-53e1efab1e09","name":"Sticky Note5"},{"parameters":{"content":"Change match_count variable (5 default) to increase/decrease number of returned vectors","height":120,"width":220},"type":"n8n-nodes-base.stickyNote","position":[1560,900],"typeVersion":1,"id":"1e82429f-553a-4d5b-be1e-ac31313f4434","name":"Sticky Note6"},{"parameters":{"content":"Change match_count variable (5 default) to increase/decrease number of returned files","height":100,"width":200},"type":"n8n-nodes-base.stickyNote","position":[880,200],"typeVersion":1,"id":"3033de9d-663a-4128-a207-d82ffbde322b","name":"Sticky Note7"},{"parameters":{"content":"### Replace Supabase and OpenAI credentials","height":100,"width":200},"type":"n8n-nodes-base.stickyNote","position":[1560,780],"typeVersion":1,"id":"6079ea82-147e-4b79-82e2-2e7da3b28d9a","name":"Sticky Note8"},{"parameters":{"content":"## Main workflow","height":1160,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[680,0],"typeVersion":1,"id":"36acaa34-8e40-4f6d-9e85-35b2b3e37c57","name":"Sticky Note9"},{"parameters":{"content":"## Files description embedding workflow","height":300,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[680,1180],"typeVersion":1,"id":"04a3c04d-4827-498d-8399-c61b1d535e50","name":"Sticky Note10"},{"parameters":{"content":"![5min Logo](https://res.cloudinary.com/de9jgixzm/image/upload/Skool%20Assets/ejm3hqnvhgwpnu2fv92s)\n## AI Agent To Chat With Files In Supabase Storage\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-pro)**\n\nManually searching and reviewing info across many documents is inefficient. This workflow automates the process: first finding the right files using metadata, then running a filtered vector search, so your queries always return the best-matching results from your uploads.\n\nThe workflow integrates Supabase and an AI chatbot to process, filter, and query text or PDF files. Steps include:\n• Searching file descriptions for initial filtering\n• Filtering file results by similarity threshold\n• Aggregating relevant file_ids for next-stage search\n• Running semantic (vector) queries only on those filtered files\n• Returning matched content with file names and URLs\n","height":497.1532689930921,"width":636.2128494576581,"color":7},"id":"22621e1d-103a-4042-978f-64cff9ff7287","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Database retrieval1":{"ai_tool":[[{"node":"OpenAI","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Find Files","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Set Output","type":"main","index":0}]]},"GetFile":{"main":[[{"node":"OpenAI CreateEmbeddings","type":"main","index":0}]]},"OpenAI CreateEmbeddings":{"main":[[{"node":"UpdateEmbedding","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"GetFile","type":"main","index":0}]]},"Find Files":{"main":[[{"node":"Filter similarity","type":"main","index":0}]]},"Filter similarity":{"main":[[{"node":"Aggregate files","type":"main","index":0}]]},"Aggregate files":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"78fa10e7-81e4-4cb5-95c8-966c1e354df0","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T11:12:06.360Z","createdAt":"2025-10-06T11:12:06.360Z","role":"workflow:owner","workflowId":"CoxQLJshrMuT8A9r","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:26:31.978Z","createdAt":"2025-08-04T16:26:31.978Z","id":"rmTsWtd2ruuzH2Lr","name":"5minAI Lessons"}]}