workflows/My workflow.json
{"updatedAt":"2025-11-09T18:00:28.010Z","createdAt":"2025-11-09T10:26:28.521Z","id":"hFTNczvA3mKu16en","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Nat822"},{"name":"repo.name","value":"n8n-wf-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"31dffaf4-9f10-49ce-a8ac-d104bca39118","name":"Globals","type":"n8n-nodes-base.set","position":[-256,128],"typeVersion":1},{"parameters":{"options":{}},"id":"daac5366-9d39-452a-a679-be5f59b1705c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[208,128],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"0f1c37ab-12e7-4d2e-ba33-af9c0dc882ae","name":"If","type":"n8n-nodes-base.if","position":[640,208],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"cd022565-4578-4679-ac60-3afa3dbbb21a","name":"If1","type":"n8n-nodes-base.if","position":[1520,480],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"057496fc-5a2e-48f9-aff4-2455f6b51e85","name":"Code","type":"n8n-nodes-base.code","position":[1200,192],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"77b2c86e-d796-43c7-8f27-b738e72f1ebe","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[880,432],"typeVersion":1,"webhookId":"1fe06d22-42c6-4f7f-a634-9f2858596e45","credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"13198c62-f5e5-4012-88a5-c1d21b3f0a80","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1888,688],"typeVersion":1,"webhookId":"10fbfed2-c724-42d2-8973-d9424f4af0a8","credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"3cdcce6b-c26b-4807-85d9-c469513b036d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-480,128],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"5ca041db-8f05-40b4-a30e-b247b0d56450","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2048,704],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"ee3a1551-0e63-45b5-bc77-c676ce42d627","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1664,480],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"e126dac5-455d-44da-aaa4-cf7ef9fe6a97","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[944,384],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"5aaa3587-4155-4c5b-9a6e-a8651179d7f5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[640,112],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"af87db24-9b8b-4a9a-a1c5-90846bff0852","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1152,80],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"bbce8653-389c-4c4d-9efe-1dff633055d3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-80,32],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"a029a0c8-a688-46b8-b003-42f30f387bd8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-336,272],"typeVersion":1},{"parameters":{"filters":{"excludePinnedData":true},"requestOptions":{}},"id":"31a1542a-f183-4208-88fd-bc062b727090","name":"Get many workflows","type":"n8n-nodes-base.n8n","position":[-48,128],"typeVersion":1,"credentials":{"n8nApi":{"id":"w1p6NzKcgcmNjZ0Y","name":"n8n club"}}},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"208b791c-2b65-4e06-8495-e0ee5b2dd7bf","name":"Get a file","type":"n8n-nodes-base.github","position":[448,208],"typeVersion":1,"alwaysOutputData":true,"webhookId":"f3e2588b-da55-47b2-a6b2-4cef733c54ac","credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}},"continueOnFail":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-80],"id":"e402ee08-2cf5-456b-83a7-35aa2a2c02a0","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://n8n.ai-lowcode.dev/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[32,-304],"id":"fee7b0a5-c009-4fa0-8a3a-8589f9412a23","name":"get many workflows1","alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"Au9MXMImUXiDDfr0","name":"n8n"}}},{"parameters":{"jsCode":"const SENSITIVE_PATTERNS = [\n  /OPENAI_API_KEY/i,\n  /OPENAI_API_KEY_V2/i,\n  /HUGGING_FACE_TOKEN/i,\n  /HUGGING_FACE_USER_ACCESS_TOKEN/i,\n  /TELEGRAM_TOKEN/i,\n  /bot_token/i,\n  /REPLICATE_API_KEY/i,\n  /GITHUB_TOKEN/i,\n  /SCRAPINGBEE_API_KEY/i,\n  /APIFY_TOKEN/i,\n  /AIRTABLE_API_KEY/i,\n  /SUPABASE_KEY/i,\n  /anon_key/i,\n  /service_role_key/i,\n  /SECRET/i,\n  /PRIVATE[_-]?KEY/i,\n  /API[_-]?KEY/i,\n  /TOKEN/i,\n  /PASSWORD/i,\n];\nconst PLACEHOLDER = '[REDACTED]';\n\nfunction cleanse(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(cleanse);\n  }\n  if (obj && typeof obj === 'object') {\n    const cleaned = {};\n    for (const key in obj) {\n      if (\n        SENSITIVE_PATTERNS.some(pattern => pattern.test(key))\n      ) {\n        // Remove sensitive keys\n        continue;\n      }\n      let value = obj[key];\n      if (typeof value === 'string') {\n        if (SENSITIVE_PATTERNS.some(pattern => pattern.test(value))) {\n          value = PLACEHOLDER;\n        }\n      } else if (typeof value === 'object') {\n        value = cleanse(value);\n      }\n      cleaned[key] = value;\n    }\n    return cleaned;\n  }\n  if (typeof obj === 'string') {\n    if (SENSITIVE_PATTERNS.some(pattern => pattern.test(obj))) {\n      return PLACEHOLDER;\n    }\n    return obj;\n  }\n  return obj;\n}\n\nreturn items.map(item => {\n  item.json = cleanse(item.json);\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,336],"id":"cee4788c-5dbf-41cc-8512-cb4b0844117e","name":"clean up"},{"parameters":{"jsCode":"const SENSITIVE_PATTERNS = [\n  /OPENAI_API_KEY/i,\n  /OPENAI_API_KEY_V2/i,\n  /HUGGING_FACE_TOKEN/i,\n  /HUGGING_FACE_USER_ACCESS_TOKEN/i,\n  /TELEGRAM_TOKEN/i,\n  /bot_token/i,\n  /REPLICATE_API_KEY/i,\n  /GITHUB_TOKEN/i,\n  /SCRAPINGBEE_API_KEY/i,\n  /APIFY_TOKEN/i,\n  /AIRTABLE_API_KEY/i,\n  /SUPABASE_KEY/i,\n  /anon_key/i,\n  /service_role_key/i,\n  /SECRET/i,\n  /PRIVATE[_-]?KEY/i,\n  /API[_-]?KEY/i,\n  /TOKEN/i,\n  /PASSWORD/i,\n];\nconst PLACEHOLDER = '[REDACTED]';\n\nfunction cleanse(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(cleanse);\n  }\n  if (obj && typeof obj === 'object') {\n    const cleaned = {};\n    for (const key in obj) {\n      if (\n        SENSITIVE_PATTERNS.some(pattern => pattern.test(key))\n      ) {\n        // Remove sensitive keys\n        continue;\n      }\n      let value = obj[key];\n      if (typeof value === 'string') {\n        if (SENSITIVE_PATTERNS.some(pattern => pattern.test(value))) {\n          value = PLACEHOLDER;\n        }\n      } else if (typeof value === 'object') {\n        value = cleanse(value);\n      }\n      cleaned[key] = value;\n    }\n    return cleaned;\n  }\n  if (typeof obj === 'string') {\n    if (SENSITIVE_PATTERNS.some(pattern => pattern.test(obj))) {\n      return PLACEHOLDER;\n    }\n    return obj;\n  }\n  return obj;\n}\n\nreturn items.map(item => {\n  item.json = cleanse(item.json);\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-112],"id":"9924eaf9-418a-43d7-bb99-918b2414e34a","name":"clean up1"}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"clean up","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"get many workflows1":{"main":[[]]},"clean up":{"main":[[{"node":"Create new file and commit","type":"main","index":0}]]},"clean up1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"1358b4c9-335f-47b4-8726-cc43149b8d9f","triggerCount":0,"shared":[{"updatedAt":"2025-11-09T10:26:28.521Z","createdAt":"2025-11-09T10:26:28.521Z","role":"workflow:owner","workflowId":"hFTNczvA3mKu16en","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}