workflows/nanobanana.json
{"updatedAt":"2025-11-05T17:50:55.493Z","createdAt":"2025-11-05T17:48:16.073Z","id":"aPwCfPdLUNI2BbZR","name":"nanobanana","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"bce62618-43e1-4a77-a14d-3544b0174189","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-620,280],"webhookId":"4302df1d-7127-4554-bc5d-5e4dd6b47b66","typeVersion":1.2},{"parameters":{},"id":"feb12323-4bef-4705-b3b0-57efebbb0c8d","name":"Upsert row(s)","type":"n8n-nodes-base.dataTable","position":[-40,260],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"id":"d02019fa-747f-415f-969b-b2b9c0de3700","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-620,700],"typeVersion":1.2},{"parameters":{},"id":"18b57fb3-abb4-48d8-a40c-ee95f5a00927","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-620,880],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0d12392e-fb41-40ac-a595-6a414399839a","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ $json.max_createdAt }}","rightValue":"={{ $now.minus(7,'seconds') }}"}]},"options":{}},"id":"fd14e164-9c75-4fec-824d-02212996aed8","name":"Filter","type":"n8n-nodes-base.filter","position":[180,1060],"executeOnce":false,"typeVersion":2.2},{"parameters":{"mode":"combine","fieldsToMatchString":"media_group","options":{"multipleMatches":"all"}},"id":"d318ff68-d340-45cb-aec0-689bf52c070c","name":"Merge","type":"n8n-nodes-base.merge","position":[300,920],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[$json.message.photo.length-1].file_id }}","download":false},"id":"c2e42dc5-7a10-4f06-b1a7-68fce91ccd23","name":"Get a file","type":"n8n-nodes-base.telegram","position":[1100,920],"webhookId":"d746411c-e3f5-4353-8e78-940944de5767","typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"846cfde9-3bbc-4f11-818a-19a07285fa7a","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json?.message?.media_group_id || \"\"}}","rightValue":""},{"id":"3faea66a-470f-47fd-9bc1-37ff95cb436a","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.photo }}","rightValue":""}]},"options":{}},"id":"7263d4e7-6a6c-4a8f-9b0b-e57a20f5756e","name":"Is media group with images?","type":"n8n-nodes-base.if","position":[-380,280],"typeVersion":2.2},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"img"},{"aggregation":"append","field":"text"}]},"fieldsToSplitBy":"chat_id, media_group","options":{"skipEmptySplitFields":true}},"id":"fdde5d05-1461-4be9-babd-8c2782d2c3a2","name":"Summarize","type":"n8n-nodes-base.summarize","position":[1580,920],"typeVersion":1.1},{"parameters":{"operation":"toBinary","sourceProperty":"image_url","options":{}},"id":"bcb684c9-9b42-40b2-8d99-5060f9990759","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[2180,1060],"typeVersion":1.1},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"d558fa51-1b90-4e2a-a26c-b8c54ebf9d31","name":"Merge1","type":"n8n-nodes-base.merge","position":[2340,820],"typeVersion":3.2},{"parameters":{"mode":"chooseBranch"},"id":"2e8a8732-2d33-485d-b9f5-ace520959041","name":"Merge2","type":"n8n-nodes-base.merge","position":[2740,720],"typeVersion":3.2},{"parameters":{},"id":"ad0bb558-f63e-4614-91c7-09dc414a725a","name":"NOOP","type":"n8n-nodes-base.noOp","position":[-160,900],"typeVersion":1},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"max","field":"createdAt"}]},"fieldsToSplitBy":"media_group","options":{}},"id":"e05ee05f-569d-41e0-b728-d28d2252fb3e","name":"Latest message in media_group","type":"n8n-nodes-base.summarize","position":[40,1060],"typeVersion":1.1},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"media_group"},{"fieldName":"createdAt"}]},"options":{}},"id":"650cc926-411c-44a7-b631-8944a05b4158","name":"Sort","type":"n8n-nodes-base.sort","position":[700,920],"typeVersion":1},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": {{\n  [{\n    \"role\": \"user\",\n    \"content\": \n$json.appended_text.concat($json.appended_img)\n    \n  }].toJsonString()\n}},\n    \"modalities\": [\"image\", \"text\"]\n}\n","options":{"batching":{"batch":{"batchSize":1,"batchInterval":300}}}},"id":"81594073-0323-45e1-85c4-97ea337a6ed5","name":"Call NanoBanana via OpenRouter","type":"n8n-nodes-base.httpRequest","position":[1780,1060],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"1afd605f-bccf-4f53-aa29-45c9902c1cff","name":"image_url","type":"string","value":"={{ $json.choices[0].message.images[0].image_url.url.split(',')[1] }}"}]},"options":{}},"id":"11540def-d07f-401e-8374-d56e88b0f959","name":"Extract Base64","type":"n8n-nodes-base.set","position":[1980,1060],"typeVersion":3.4},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"Processing your request, please wait...","additionalFields":{"appendAttribution":false}},"id":"e207d058-b315-440b-b768-b591d4440f2d","name":"Send processing message","type":"n8n-nodes-base.telegram","position":[1780,800],"webhookId":"d746411c-e3f5-4353-8e78-940944de5767","typeVersion":1.2},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.result.chat.id }}","binaryData":true,"additionalFields":{"reply_to_message_id":"={{ $json.result.message_id }}"}},"id":"c865997c-2fac-4ec3-9dcd-44c4833b6ed5","name":"Send result message","type":"n8n-nodes-base.telegram","position":[2540,820],"webhookId":"6fa182d4-d7f9-425f-8864-ed9b999684d2","typeVersion":1.2},{"parameters":{},"id":"40d8a6fa-5a20-43c7-9256-8d360105a310","name":"status:processing","type":"n8n-nodes-base.dataTable","position":[520,920],"typeVersion":1},{"parameters":{},"id":"e5acaa4a-ea4c-48ae-b6ef-dc4b26e14046","name":"status:done","type":"n8n-nodes-base.dataTable","position":[2940,720],"typeVersion":1},{"parameters":{},"id":"b60c61b8-dadc-44d7-891b-7b07dc88f416","name":"Get new requests","type":"n8n-nodes-base.dataTable","position":[-160,700],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3d3c38a5-9dbf-47cb-a87a-d10556ddc408","name":"text","type":"object","value":"={{ $('parse TG messages')?.item?.json?.message?.caption ? {\"type\": \"text\", \"text\": $('parse TG messages')?.item?.json?.message?.caption} : null }}"},{"id":"2cf84a2e-beb0-4fda-a1c0-fa23fd00e040","name":"img","type":"object","value":"={\"type\":\"image_url\",\"image_url\":{\"url\":{{ `https://api.telegram.org/file/bot<TOKEN>/${$json.result.file_path}`.toJsonString() }} } }"},{"id":"452270fc-d92b-4838-bd55-989ecba84991","name":"media_group","type":"string","value":"={{ $('parse TG messages').item.json.media_group }}"},{"id":"8aa85a48-c572-4e08-b757-d91197566423","name":"chat_id","type":"string","value":"={{ $('parse TG messages').item.json.message.chat.id }}"}]},"includeOtherFields":true,"options":{}},"id":"d22560ab-62af-4b59-a978-fb53347bb50a","name":"prepare user messages","type":"n8n-nodes-base.set","position":[1360,920],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d1b933fb-b6ba-4c59-9437-5168c67f8d1b","name":"message","type":"object","value":"={{ JSON.parse($json.message) }}"}]},"includeOtherFields":true,"options":{}},"id":"6903ef14-d1e5-431c-bfa1-e1f98c9cc6ca","name":"parse TG messages","type":"n8n-nodes-base.set","position":[860,920],"typeVersion":3.4},{"parameters":{},"id":"087de01b-084b-4a20-92df-320e1a8a4689","name":"If any new records","type":"n8n-nodes-base.dataTable","position":[-380,700],"typeVersion":1},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Received your message, processing will begin shortly","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $json.message.message_id }}"}},"id":"8d7aa736-a097-4bee-820f-902b5b86e569","name":"Send initial notification","type":"n8n-nodes-base.telegram","position":[140,140],"webhookId":"d746411c-e3f5-4353-8e78-940944de5767","typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d730a632-ba84-4047-aa67-ca62299485e9","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ ($json?.message?.caption || \"\") }}","rightValue":""}]},"options":{}},"id":"2f109fea-4d61-4dcf-a1c1-f2200b2ac39d","name":"Filter1","type":"n8n-nodes-base.filter","position":[-160,140],"typeVersion":2.2},{"parameters":{"content":"## Reply to a message with caption\n### Assuming each media group has a single caption, Telegram node informs the user once","height":256,"width":432},"id":"f1182cd1-b738-441e-bfee-999d9761d8f3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-180,20],"typeVersion":1},{"parameters":{"content":"## Check if latest media group message has sufficient delay\n### Protect from slow Internet speed on the user side","height":416,"width":432},"id":"d81fc438-cb19-43a7-b84f-697c5e0a4054","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,800],"typeVersion":1},{"parameters":{"content":"## When getting file URLs directly from Telegram, update the download link\n### `https://api.telegram.org/file/bot<TOKEN>/` 👇","height":304,"width":464},"id":"eee3d39d-f3ba-4ac8-862b-722e2f2d0961","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1040,800],"typeVersion":1},{"parameters":{"content":"## Send array with caption text and all images to NanoBanana via OpenRouter\n### Transform LLM output into binary","height":240,"width":560},"id":"a65e7033-b9c8-432a-b5a2-3f4ed38955ec","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1740,960],"typeVersion":1},{"parameters":{},"id":"b77de034-c8ec-424e-b0a1-735b75687195","name":"Process other messages as usual","type":"n8n-nodes-base.noOp","position":[-160,400],"typeVersion":1},{"parameters":{"content":"## Adjust timer for checking the new records in Data Tables","height":224,"width":352},"id":"623073b3-ac9f-4007-b7e6-eb25e515f8c5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-820,600],"typeVersion":1},{"parameters":{"content":"# Prerequisites \n\n## 1️⃣ Data Table\nCreate new Data Table with the following string variables:\n- `chat_id`\n- `message_id`\n- `media_group`\n- `message`\n- `status`\n\n## 2️⃣ New Telegram bot\n1. Use `@BotFather` to create a new bot\n2. Copy bot token, create new Telegram Credentials in n8n for this token\n3. Edit `prepare user messages` node and update the URL. This is needed if you are passing direct download links from Telegram.","height":440,"width":528},"id":"da9e87e8-244f-4708-8f07-bf50b4b12d17","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1000,100],"typeVersion":1},{"parameters":{"content":"## EDUARD","color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,-140],"id":"00f1d57a-6a9a-4d02-8ff0-20c629d1d7d1","name":"Sticky Note6"}],"connections":{"NOOP":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Latest message in media_group","type":"main","index":0}]]},"Sort":{"main":[[{"node":"parse TG messages","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Send result message","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Send initial notification","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Send processing message","type":"main","index":0},{"node":"Call NanoBanana via OpenRouter","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"prepare user messages","type":"main","index":0}]]},"Extract Base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Telegram Trigger":{"main":[[{"node":"Is media group with images?","type":"main","index":0}]]},"parse TG messages":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Send result message":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"prepare user messages":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Send processing message":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Is media group with images?":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"Process other messages as usual","type":"main","index":0}]]},"Latest message in media_group":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Call NanoBanana via OpenRouter":{"main":[[{"node":"Extract Base64","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"fb6d3dc5-28b2-472b-b762-2e5c37aa28e6","triggerCount":0,"shared":[{"updatedAt":"2025-11-05T17:48:16.073Z","createdAt":"2025-11-05T17:48:16.073Z","role":"workflow:owner","workflowId":"aPwCfPdLUNI2BbZR","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
