workflows/news flow.json
{"updatedAt":"2025-08-04T18:20:23.204Z","createdAt":"2025-08-04T18:20:23.204Z","id":"93sp0ucoFfMgDBQF","name":"news flow","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# triggers","height":1188,"width":588,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[60,160],"id":"1adaeefe-563f-417a-ab1c-ac3ba41544be","name":"Sticky Note"},{"parameters":{"content":"# RSS","height":596,"width":588,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,160],"id":"f334ddb4-5421-45a4-be72-5b566bebbe0f","name":"Sticky Note1"},{"parameters":{"content":"# API","height":596,"width":588,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,760],"id":"01a5c91e-93b9-4d35-9a39-c4a37f48befd","name":"Sticky Note2"},{"parameters":{"content":"# MERGE","height":1188,"width":284},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1240,160],"id":"f5bf7852-73d8-4b9d-85a2-42205f13af2c","name":"Sticky Note3"},{"parameters":{"url":"https://krebsonsecurity.com/feed/","options":{}},"id":"875c1777-c54b-4480-86f2-12ab4ec8e645","name":"krebsonsecurity","type":"n8n-nodes-base.rssFeedRead","position":[880,240],"typeVersion":1.1},{"parameters":{"url":"https://www.securitylab.ru/_services/export/rss/vulnerabilities/","options":{}},"id":"c02b56f2-6c38-438f-9ed1-2ca8f53211ad","name":"securitylab","type":"n8n-nodes-base.rssFeedRead","position":[880,400],"typeVersion":1.1},{"parameters":{"url":"https://feeds.feedburner.com/TheHackersNews?spm=a2ty_o01.29997173.0.0.213dc921l5hnRC","options":{}},"id":"463ec259-5c99-4cdb-8cd7-fef67b220b08","name":"feeds.feedburner","type":"n8n-nodes-base.rssFeedRead","position":[880,600],"typeVersion":1.1},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"AI"},{"name":"lang","value":"en"},{"name":"apikey","value":"YOUR API KEY"}]},"options":{}},"id":"8dba32dc-6665-46eb-8b04-9751b1db2874","name":"Fetch GNews articles","type":"n8n-nodes-base.httpRequest","position":[820,840],"typeVersion":4.2},{"parameters":{"url":"https://newsapi.org/v2/everything","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"AI"},{"name":"language","value":"en"},{"name":"sortBy","value":"publishedAt"},{"name":"pageSize","value":"20"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"YOUR API KEY"}]},"options":{}},"id":"6f8cc871-ff0a-4aa7-8186-5096deea3a74","name":"Fetch NewsAPI articles","type":"n8n-nodes-base.httpRequest","position":[820,1040],"typeVersion":4.2},{"parameters":{"numberInputs":3},"id":"0383a8a9-f4dc-4573-b946-54f17427fb56","name":"Merge GNews & NewsAPI","type":"n8n-nodes-base.merge","position":[1360,400],"typeVersion":3.1},{"parameters":{"content":"# SCRAPING","height":1188,"width":1052,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,160],"id":"fe2ebc25-abdf-421a-996f-ea1ee3d75799","name":"Sticky Note4"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"isoDate","order":"descending"}]},"options":{}},"id":"9a2cfb7f-c9dc-4925-9237-863282cb4d4d","name":"Sort by date","type":"n8n-nodes-base.sort","position":[2120,420],"typeVersion":1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet ret = \"\"\nfor (const item of $input.all()) {\n  ret = ret + '- [' + item.json.title + '](' + item.json.link + ' \"‌\"): \\n' + item.json.content + \"\\n\\n\"\n}\n\nreturn {data: ret}"},"id":"c85ec02f-ca57-4a9a-a6e5-b3c5bf0b3ecb","name":"Transform new to MD","type":"n8n-nodes-base.code","position":[2320,420],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"e7cf09fb-af35-495d-a840-341f8d0ddcd8","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.isoDate }}","rightValue":"={{ Date.now() - 4 * 24 * 60 * 60 * 1000 }}"}],"combinator":"and"},"options":{}},"id":"355b229f-022d-40ca-8d5b-9c5d8da6468b","name":"Filter by date","type":"n8n-nodes-base.filter","position":[1860,420],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"9aec0a09-4b6f-4fca-98e6-789abd5fdc51","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"56277e54-31a0-4804-ad23-c9ee6d244641","name":"content","type":"string","value":"={{ $json.contentSnippet }}"},{"id":"a3586a80-588e-42d1-9780-370a956ddf6b","name":"link","type":"string","value":"={{ $json.link }}"},{"id":"58f01618-8014-4685-9192-d15d596ffcd9","name":"isoDate","type":"number","value":"={{ new Date($json.isoDate).getTime() }}"},{"id":"716bb078-8df3-4d96-8a1b-4aec4f8cf206","name":"categories","type":"array","value":"={{ $json.categories }}"}]},"options":{"ignoreConversionErrors":true}},"id":"caf9a952-e965-4c4c-b25b-0dc1f27a1497","name":"Transform date-rss","type":"n8n-nodes-base.set","position":[1600,420],"typeVersion":3.4},{"parameters":{},"id":"d40c7872-40ef-45b8-ad91-37429367e6c8","name":"Merge GNews & NewsAPI2","type":"n8n-nodes-base.merge","position":[1360,920],"typeVersion":3.1},{"parameters":{"content":"# AI ANALYSIS","height":1188,"width":1052,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2580,160],"id":"73c0fa64-fcd3-45f2-9f54-38e411afd5b1","name":"Sticky Note5"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2600,660],"id":"49c58d8a-5467-4e7f-8d8f-1cefee711686","name":"OpenRouter ChatModel"},{"parameters":{"operation":"sendPhoto","chatId":"your chat id","file":"https://i.postimg.cc/T2BDwWc3/imagenews.jpg","additionalFields":{}},"id":"4971c679-d519-4a9c-a5ff-fc2637c810ad","name":"SendSummaryTtoTelegram","type":"n8n-nodes-base.telegram","position":[2980,420],"webhookId":"21eb8e1c-87de-45af-888d-699fbd443bc8","typeVersion":1.2,"retryOnFail":true,"executeOnce":true,"alwaysOutputData":false,"waitBetweenTries":1200},{"parameters":{"promptType":"define","text":"=You are an experienced journalist and content editor. Your task is to create clear, accurate, neutral, and well-structured news items in Telegram format based on the provided data.\n\nMAIN REQUIREMENTS:\n1. Output format:\n- News must be presented as a list with Markdown links.\n- Each news item = one line in the format [Headline](url).\n- Do not add extra comments or text outside the links.\n- Language for headlines: Russian.\n2. Post length:\n- The total length of the post must be strictly up to 1000 characters (including spaces and punctuation).\n- Each headline must be concise and informative (~50-70 characters).\n3. Number of news items:\n- Output only the 10 most recent and relevant news items.\n4. Data source:\n- Data is taken from {{ $json.articles }}.\n5. Formatting:\n- Use only simple Markdown:\n- Asterisks for bold text (**headlines**)\n- Line break after each news item\n- No HTML, hashtags, or extra constructions\n\nQUALITY CRITERIA:\n- Compliance with all formatting requirements.\n- All facts must correspond to the provided data.\n- Avoid complex constructions, jargon, and tautology.\n- Ensure the text is easy to read: short headlines, clarity, logical structure.\n- Focus on the main event. Do not deviate from the topic.\n- Do not write anything extra in the output about CHECK or anything unrelated to the news.\n\nEXAMPLE OUTPUT IN ENGLISH:\n\nVeilStack AI NEWS \n• [CISA Orders Urgent Patching After Chinese Hackers Exploit SharePoint Flaws in Live Attacks](https://thehackernews.com/2025/07/cisa-orders-urgent-patching-after.html)\n\n• [Europol Arrests XSS Forum Admin After 12-Year Cybercrime Spree](https://thehackernews.com/2025/07/europol-arrests-xss-forum-admin-in-kyiv.html)\n\n• [U.S. Sanctions N. Korean IT Firm for Illicit Revenue Scheme](https://thehackernews.com/2025/07/us-sanctions-firm-behind-n-korean-it.html)","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2600,920],"id":"a405cf9d-7912-4faf-a95e-1ea4f4065324","name":"API","executeOnce":true,"retryOnFail":true,"maxTries":5},{"parameters":{"promptType":"define","text":"=You are an experienced journalist and content editor. Your task is to create clear, accurate, neutral, and well-structured news items in Telegram format based on the provided data.\n\nMAIN REQUIREMENTS:\n1. Output format:\n- News must be presented as a list with Markdown links.\n- Each news item = one line in the format [Headline](url).\n- Do not add extra comments or text outside the links.\n- Language for headlines: Russian.\n2. Post length:\n- The total length of the post must be strictly up to 1000 characters (including spaces and punctuation).\n- Each headline must be concise and informative (~50-70 characters).\n3. Number of news items:\n- Output only the 10 most recent and relevant news items.\n4. Data source:\n- Data is taken from {{ $json.data }}.\n5. Formatting:\n- Use only simple Markdown:\n- Asterisks for bold text (**headlines**)\n- Line break after each news item\n- No HTML, hashtags, or extra constructions\n\nQUALITY CRITERIA:\n- Compliance with all formatting requirements.\n- All facts must correspond to the provided data.\n- Avoid complex constructions, jargon, and tautology.\n- Ensure the text is easy to read: short headlines, clarity, logical structure.\n- Focus on the main event. Do not deviate from the topic.\n- Do not write anything extra in the output about CHECK or anything unrelated to the news.\n\nEXAMPLE OUTPUT IN ENGLISH:\n\nVeilStack AI NEWS \n• [CISA Orders Urgent Patching After Chinese Hackers Exploit SharePoint Flaws in Live Attacks](https://thehackernews.com/2025/07/cisa-orders-urgent-patching-after.html)\n\n• [Europol Arrests XSS Forum Admin After 12-Year Cybercrime Spree](https://thehackernews.com/2025/07/europol-arrests-xss-forum-admin-in-kyiv.html)\n\n• [U.S. Sanctions N. Korean IT Firm for Illicit Revenue Scheme](https://thehackernews.com/2025/07/us-sanctions-firm-behind-n-korean-it.html)","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2600,420],"id":"7d5273b8-6954-4e8b-a848-25ac1a91fdcc","name":"RSS","executeOnce":true,"retryOnFail":true,"maxTries":5},{"parameters":{"rule":{"interval":[{"triggerAtHour":9},{"triggerAtHour":21}]}},"id":"f6d46b70-c801-49a4-bca8-c1a9fb9b5668","name":"9AM AND 9PM","type":"n8n-nodes-base.scheduleTrigger","position":[320,460],"typeVersion":1.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":22},{"triggerAtHour":22}]}},"id":"1d628ffd-627e-425d-bd22-e60c9f3849a9","name":"10AM AND 10PM","type":"n8n-nodes-base.scheduleTrigger","position":[320,960],"typeVersion":1.2},{"parameters":{"chatId":"your chat id","text":"={{ $('RSS').item.json.output }}","additionalFields":{"appendAttribution":false}},"id":"8b123acd-8903-420f-b4d1-73f72266c3ac","name":"Send summary to Telegram","type":"n8n-nodes-base.telegram","position":[3440,420],"webhookId":"21eb8e1c-87de-45af-888d-699fbd443bc8","typeVersion":1.2,"retryOnFail":true,"executeOnce":true,"waitBetweenTries":500},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3200,420],"id":"bd6fd9ee-6b72-415a-922b-d839a6362f03","name":"Wait","webhookId":"bbbb83fa-b168-4bd8-a94a-1fa0854c36ec"},{"parameters":{"operation":"sendPhoto","chatId":"-your chat id","file":"https://i.postimg.cc/T2BDwWc3/imagenews.jpg","additionalFields":{}},"id":"5a77a711-912e-4aa3-a612-dabd97b0eedd","name":"SendSummaryTtoTelegram1","type":"n8n-nodes-base.telegram","position":[3020,920],"webhookId":"21eb8e1c-87de-45af-888d-699fbd443bc8","typeVersion":1.2,"retryOnFail":true,"executeOnce":true,"alwaysOutputData":false,"waitBetweenTries":1200},{"parameters":{"chatId":"your chat id","text":"={{ $('API').item.json.output }}","additionalFields":{"appendAttribution":false}},"id":"65ffb47c-1151-4108-af7c-b965139c0710","name":"Send summary to Telegram1","type":"n8n-nodes-base.telegram","position":[3460,920],"webhookId":"21eb8e1c-87de-45af-888d-699fbd443bc8","typeVersion":1.2,"retryOnFail":true,"executeOnce":true,"waitBetweenTries":500},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3220,920],"id":"e13fc3e7-1c66-4fe0-9334-72d0d971f6d5","name":"Wait1","webhookId":"bbbb83fa-b168-4bd8-a94a-1fa0854c36ec"},{"parameters":{"content":"# VERSION 1","height":1440,"width":3696,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"e2b386bc-96af-4730-a272-654152984bf6","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"name":"articles","type":"string","value":"={{ $json.articles }}"}]},"options":{}},"id":"d85f1206-a88f-411e-a923-47946fa94381","name":"GNews: Map to articles1","type":"n8n-nodes-base.set","position":[1060,840],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"name":"articles","type":"string","value":"={{ $json.articles }}"}]},"options":{}},"id":"85f71756-dd31-4b23-80dc-251fdf9f9cc3","name":"NewsAPI: Map to articles1","type":"n8n-nodes-base.set","position":[1040,1040],"typeVersion":3.4},{"parameters":{"content":"# https://github.com/VeilStack/n8n-template-NewsFlowAI","height":80,"width":960},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,0],"id":"96a886d1-4ac3-45a3-a25c-492ab7df1234","name":"Sticky Note7"}],"connections":{"krebsonsecurity":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":0}]]},"securitylab":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":1}]]},"feeds.feedburner":{"main":[[{"node":"Merge GNews & NewsAPI","type":"main","index":2}]]},"Fetch GNews articles":{"main":[[{"node":"GNews: Map to articles1","type":"main","index":0}]]},"Fetch NewsAPI articles":{"main":[[{"node":"NewsAPI: Map to articles1","type":"main","index":0}]]},"Merge GNews & NewsAPI":{"main":[[{"node":"Transform date-rss","type":"main","index":0}]]},"Sort by date":{"main":[[{"node":"Transform new to MD","type":"main","index":0}]]},"Transform new to MD":{"main":[[{"node":"RSS","type":"main","index":0}]]},"Filter by date":{"main":[[{"node":"Sort by date","type":"main","index":0}]]},"Transform date-rss":{"main":[[{"node":"Filter by date","type":"main","index":0}]]},"Merge GNews & NewsAPI2":{"main":[[{"node":"API","type":"main","index":0}]]},"OpenRouter ChatModel":{"ai_languageModel":[[{"node":"RSS","type":"ai_languageModel","index":0},{"node":"API","type":"ai_languageModel","index":0}]]},"SendSummaryTtoTelegram":{"main":[[{"node":"Wait","type":"main","index":0}]]},"API":{"main":[[{"node":"SendSummaryTtoTelegram1","type":"main","index":0}]]},"RSS":{"main":[[{"node":"SendSummaryTtoTelegram","type":"main","index":0}]]},"9AM AND 9PM":{"main":[[{"node":"krebsonsecurity","type":"main","index":0},{"node":"securitylab","type":"main","index":0},{"node":"feeds.feedburner","type":"main","index":0}]]},"10AM AND 10PM":{"main":[[{"node":"Fetch GNews articles","type":"main","index":0},{"node":"Fetch NewsAPI articles","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send summary to Telegram","type":"main","index":0}]]},"SendSummaryTtoTelegram1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send summary to Telegram1","type":"main","index":0}]]},"GNews: Map to articles1":{"main":[[{"node":"Merge GNews & NewsAPI2","type":"main","index":0}]]},"NewsAPI: Map to articles1":{"main":[[{"node":"Merge GNews & NewsAPI2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"45411c96-eb8a-4661-8731-3304a8fa216b","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:20:23.204Z","createdAt":"2025-08-04T18:20:23.204Z","role":"workflow:owner","workflowId":"93sp0ucoFfMgDBQF","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}