workflows/parser-tester.json
{"updatedAt":"2025-08-04T18:21:40.705Z","createdAt":"2025-08-04T18:21:40.705Z","id":"GKAz4926YEgNcb7A","name":"parser-tester","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-200,100],"id":"8df8204f-0054-48c7-83e0-ae1464db36db","typeVersion":1},{"parameters":{"operation":"list"},"name":"Google Drive - Folder 1","type":"n8n-nodes-base.googleDrive","position":[0,0],"id":"78de85e5-a838-4e9f-b5ad-55ccdeb5d455","typeVersion":3},{"parameters":{"operation":"list"},"name":"Google Drive - Folder 2","type":"n8n-nodes-base.googleDrive","position":[0,200],"id":"aa94201c-1dee-414e-a8a5-31f20e4cd93a","typeVersion":3},{"parameters":{"batchSize":5,"options":{}},"name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[200,100],"id":"08b6f96b-fe33-4f45-97c3-207ae7766429","typeVersion":3},{"parameters":{"url":"=https://api.mistral.ai/ocr","authentication":"headerAuth","options":{"redirect":{},"timeout":30000}},"name":"Mistral OCR","type":"n8n-nodes-base.httpRequest","position":[400,100],"id":"6c9aa3aa-820a-4c62-b465-6bcf466a7433","typeVersion":4.2},{"parameters":{"functionCode":"// Merge all document contents\nlet allDocumentsContent = \"\";\nconst items = $input.all();\n\nfor (const item of items) {\n  allDocumentsContent += `Document: ${item.json.name}\\n\\n`;\n  allDocumentsContent += `${item.json.content}\\n\\n---\\n\\n`;\n}\n\nreturn {\n  json: {\n    allDocumentsContent\n  }\n};"},"name":"Document Content Merger","type":"n8n-nodes-base.function","position":[600,100],"id":"998cb121-98a1-47ea-b640-8dca61dfb3ba","typeVersion":1},{"parameters":{"operation":"chat","requestOptions":{}},"name":"Technical Document Generator","type":"n8n-nodes-base.openAi","position":[800,100],"id":"f8cc3eb7-aee0-4344-8f57-ed56aa47fc41","typeVersion":1.1},{"parameters":{"functionCode":"// Extract reference documents (from folder 1)\nlet referenceDocumentsContent = \"\";\nconst items = $input.all().filter(item => item.json.folderId === $json.folder1Id);\n\nfor (const item of items) {\n  referenceDocumentsContent += `Document: ${item.json.name}\\n\\n`;\n  referenceDocumentsContent += `${item.json.content}\\n\\n---\\n\\n`;\n}\n\nreturn {\n  json: {\n    referenceDocumentsContent\n  }\n};"},"name":"Reference Documents Merger","type":"n8n-nodes-base.function","position":[600,260],"id":"ed25db21-6ecb-4a54-a872-07fbeb99490f","typeVersion":1},{"parameters":{"operation":"chat","requestOptions":{}},"name":"Document Review and Enrichment","type":"n8n-nodes-base.openAi","position":[1000,100],"id":"399a9104-6a0c-4e8a-b396-2ff3e9acfca1","typeVersion":1.1},{"parameters":{},"name":"PDF Generator","type":"n8n-nodes-base.htmlToPdf","position":[1200,100],"id":"59d3a155-aee7-4ff7-8bf3-7cd3edbeb7de","typeVersion":1},{"parameters":{"options":{}},"name":"Final Document Storage","type":"n8n-nodes-base.writeBinaryFile","position":[1400,100],"id":"44191cc3-be67-48aa-b760-fc10c0747e86","typeVersion":1}],"connections":{"Manual Trigger":{"main":[[{"node":"Google Drive - Folder 1","type":"main","index":0},{"node":"Google Drive - Folder 2","type":"main","index":0}]]},"Google Drive - Folder 1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Google Drive - Folder 2":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Mistral OCR","type":"main","index":0}]]},"Mistral OCR":{"main":[[{"node":"Document Content Merger","type":"main","index":0},{"node":"Reference Documents Merger","type":"main","index":0}]]},"Document Content Merger":{"main":[[{"node":"Technical Document Generator","type":"main","index":0}]]},"Technical Document Generator":{"main":[[{"node":"Document Review and Enrichment","type":"main","index":0}]]},"Reference Documents Merger":{"main":[[{"node":"Document Review and Enrichment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"c9c8e9fe-84e0-4f79-8236-c859cf8f4120","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:21:40.705Z","createdAt":"2025-08-04T18:21:40.705Z","role":"workflow:owner","workflowId":"GKAz4926YEgNcb7A","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}