workflows/pdf-to-image-per-page.json
{"updatedAt":"2025-08-05T06:07:46.078Z","createdAt":"2025-08-05T06:07:46.078Z","id":"lHboevgoRSHOcX0n","name":"pdf-to-image-per-page","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const { PDFDocument } = require('pdf-lib');\nconst { writeFileSync } = require('fs');\nconst { fromBuffer } = require('pdf2pic');\n\nasync function splitPDFtoImages() {\n    const items = $input.all();\n    const results = [];\n\n    for (let i = 0; i < items.length; i++) {\n        try {\n            // Correctly extract base64 PDF data\n            const pdfBase64 = items[i].binary.data.data;\n            \n            // Convert base64 to buffer\n            const pdfBuffer = Buffer.from(pdfBase64, 'base64');\n\n            // Configure pdf2pic conversion\n            const converter = fromBuffer(pdfBuffer, {\n                density: 300,\n                saveFilename: \"page\",\n                savePath: \"/tmp\",\n                format: \"png\",\n                width: 1200,\n                height: 1600\n            });\n\n            // Load PDF document to get page count\n            const pdfDoc = await PDFDocument.load(pdfBuffer);\n            const totalPages = pdfDoc.getPageCount();\n\n            // Convert each page\n            for (let pageIndex = 0; pageIndex < totalPages; pageIndex++) {\n                const outputImage = await converter(pageIndex + 1, { \n                    responseType: \"base64\" \n                });\n\n                results.push({\n                    json: { page: pageIndex + 1 },\n                    binary: {\n                        image: {\n                            data: outputImage.base64,\n                            mimeType: 'image/png',\n                            fileName: `page-${pageIndex + 1}.png`\n                        }\n                    }\n                });\n            }\n        } catch (error) {\n            console.error(`Error processing PDF: ${error.message}`);\n        }\n    }\n\n    return results;\n}\n\nreturn splitPDFtoImages();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,20],"id":"ed2b0615-4252-4c5d-abdf-50dc82367366","name":"Code1"},{"parameters":{"url":"https://htadqxwyfmknyianglve.supabase.co/storage/v1/object/public/private//TT38-Kasper%20Juul-2024-09-02T07_08_24-en.pdf","options":{}},"id":"d2ae8ab4-34c6-404e-a35e-ceddee2aeb8d","name":"OPENAI - Create thread1","type":"n8n-nodes-base.httpRequest","position":[-520,20],"typeVersion":4.2},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-740,20],"id":"54daf531-8991-4c18-9ccd-8c2d99dc5d7e","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"=https://htadqxwyfmknyianglve.supabase.co/storage/v1/object/private/files/{{$('OPENAI - Create thread1').item.binary.data.fileName.slice(0,-4)}}/image{{ $runIndex}}.png","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"binaryData","inputDataFieldName":"image","options":{}},"id":"d38cf14a-b8e8-4837-8fe3-9182fa056ab9","name":"OPENAI - Create thread","type":"n8n-nodes-base.httpRequest","position":[260,20],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"jvkIVZu6boZr6TPV","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"45f46d74-2a5d-49b8-9529-d607520a9e6c","name":"Loop Over Items"}],"connections":{"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OPENAI - Create thread1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"OPENAI - Create thread1","type":"main","index":0}]]},"OPENAI - Create thread":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"OPENAI - Create thread","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"805cdaad-1e62-46bc-b24f-b10a70b3414a","triggerCount":0,"shared":[{"updatedAt":"2025-08-05T06:07:46.078Z","createdAt":"2025-08-05T06:07:46.078Z","role":"workflow:owner","workflowId":"lHboevgoRSHOcX0n","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
