workflows/process cv with ai.json
{"updatedAt":"2025-08-04T16:57:24.135Z","createdAt":"2025-08-04T16:55:57.125Z","id":"EpXxVUHY9Bf4hojA","name":"process cv with ai","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":10,"unit":"minutes"}]},"filters":{"q":"test cv","readStatus":"read"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-2840,1120],"id":"8aaff31d-8271-4ccc-9377-5ccf7943a3a8","name":"Get new emails"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2060,1120],"id":"3ef9d306-56e5-417c-b9f5-0431c99bc4ad","name":"Get email details + attachments","webhookId":"9007d684-e87d-428e-b3ce-2fd971f87bb8"},{"parameters":{"options":{"reset":"={{ $node['Loop Over Attachments'].context[\"done\"] }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1880,1120],"id":"0fba9901-91eb-48cb-b533-f3ed48046119","name":"Loop Over Attachments"},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $binary.attachment_1?.fileExtension ==\"pdf\"? \"attachment_1\" : \"attachment_0\"}}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1500,1220],"id":"5186bec3-c224-445b-93eb-2c62613c36f7","name":"Extract text from PDF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64aa7dc2-c038-448a-89d7-f3ba6c4e7338","leftValue":"={{ $binary.attachment_0?.fileExtension==\"pdf\" || $binary.attachment_1?.fileExtension ==\"pdf\"}}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,1320],"id":"412a26bb-042b-42be-b035-510f45f7d75c","name":"If1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1680,640],"id":"644801a1-9775-4494-ad5e-45a7715550cd","name":"Aggregate Attachments"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblibdvsVBXeyVyEa","mode":"list","cachedResultName":"Jobs","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblibdvsVBXeyVyEa"},"filterByFormula":"Status='Open'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1320,640],"id":"d7be8d17-c105-49ee-aaba-70bcacbc03ab","name":"Get list of Jobs"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Job Title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1160,640],"id":"7d52ee6b-df86-49e9-8027-00ceb36f738a","name":"Aggregate Jobs"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"You are reviewing applications for any role at our company. You need to read the candidate's resume and deduce which role they are applying for. Just provide the role you determined as a result and nothing else. Use subject of email OR resume description to understand the role. \\n\\n IMPORTANT Use context of message to understand if it is reply that should be skipped or new email/reply with resume text. We want to skip all not valuable replies.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Subject - {{ JSON.stringify($('Get email details + attachments').item.json.headers.subject).slice(1, -1) }}\\n\\nText of resume/message: {{ JSON.stringify($('Aggregate Attachments').item.json.text.join('\\n\\n')).slice(1, -1) }}\"\n      }],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {\n  \"name\": \"choose_option\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"selected_option\": {\n        \"type\": \"string\",\n        \"enum\": [\n          {{ $('Aggregate Jobs').item.json['Job Title'].map(x=>JSON.stringify(x)).join(',') }},\"None of listed roles\"\n        ],\n        \"description\": \"The chosen option from the list of available options.\"\n      },\n\"email_type\": {\n        \"type\": \"string\",\n        \"enum\": [\n         \"New email/reply\",\"Reply - skip\"\n        ],\n        \"description\": \"The chosen option from the list of available options.\"\n      }\n    },\n    \"required\": [\n      \"selected_option\",\"email_type\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\n }\n  }","options":{}},"id":"49a0afe1-acce-4636-be98-7f3e6daae6ed","name":"OpenAI - Match with Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-980,640]},{"parameters":{"sendTo":"={{ $('Get email details + attachments').item.json.from.value[0].address }}","subject":"=About your application {{ JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).selected_option }}","emailType":"text","message":"=Hello\nThank you for your application.\n\nSorry, after reviewing your CV, we feel that you are not a good fit for the position of {{ JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).select_option }} in our company.\n\n{{ JSON.parse($('OpenAI - Score Resume').item.json.choices[0].message.content).reason }}\n\nAnyway, thanks for your interest and good luck.\nBest regards","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-140,720],"id":"5cc0b05d-b766-49fd-be00-50d37ed35898","name":"Send email - Fail","webhookId":"fa2c05c2-ac1b-4832-b3bd-e2b0fbfbbf10"},{"parameters":{"sendTo":"={{ $('Get email details + attachments').item.json.from.value[0].address }}","subject":"=About your application {{ JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).selected_option }}","emailType":"text","message":"={{ $json.message.content }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,720],"id":"ee16e6e5-0c88-412f-8649-1eae218bc263","name":"Send email - Success","webhookId":"fa2c05c2-ac1b-4832-b3bd-e2b0fbfbbf10"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ JSON.parse($('OpenAI - Score Resume').item.json.choices[0].message.content).name }}({{ $('Get email details + attachments').item.json.from.value[0].name }})  just applied for a position in our company for the role of {{ JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).selected_option }}.\n\nWe want to talk to this person! \n\nHere's why:\n\nWrite an email on behalf of our HR Manager <name>, asking to schedule an appointment with the link to his calendar: <calendar_link>\n\nUse the assessment we made of the person's suitability for the role to include a very positive detail that impressed us in their CV.\n\nJust provide the BODY of the email and nothing else.\n\nVERY IMPORTANT Do not attempt to use link tags.\nIMPORTANT Don't provide subject."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[220,520],"id":"d9b3a030-c6fd-4367-8223-041a219d90a1","name":"Create email"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"You are a specialized recruiter working in our company and you must evaluate CVs, prioritizing experience in the area of the function.  You'll be assessing for the role {{ JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).selected_option }}  Use the evaluation criteria indicated here to score the CV on a scale of 1 to 100. \\n\\nIMPORTANT Politely return 1 to 2 sentences to the candidate on why you are or are not suitable if the score is below 68. A direct address to the candidate with praise for their abilities should be used.\\n\\n{{ JSON.stringify($('Get list of Jobs').all().find(x=>x.json['Job Title']==JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).selected_option).json.Instructions).slice(1,-1) }}\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Name from email - {{ $('Get email details + attachments').item.json.from.value[0].name }}\\n\\n{{ JSON.stringify($('Aggregate Attachments').item.json.text.join('\\n\\n')).slice(1,-1) }}\"\n      }],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {\n  \"name\": \"score_schema\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"score\": {\n        \"type\": \"number\",\n        \"description\": \"The score returned as a numerical value.\"\n      },\n\"name\": {\n        \"type\": \"string\",\n        \"description\": \"Candidate name\"\n      }\n,\n\"reason\": {\n        \"type\": [\"string\",\"null\"],\n        \"description\": \"Polite 1-2 sentences addressed to candidate why they suit or not.\"\n      }\n    },\n    \"required\": [\n      \"score\",\"name\",\"reason\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\n }\n  }","options":{}},"id":"63a77f77-c0b6-4951-bc76-97c72d11d9d9","name":"OpenAI - Score Resume","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-440,520]},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Get email details + attachments').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[40,840],"id":"9ac86c9c-f149-4b8b-b056-8dcb53c72f7e","name":"Mark as Read","webhookId":"f3973b1a-b68c-4bd5-8355-e98f54a0b8fe"},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Get email details + attachments').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[740,840],"id":"6b56dab7-94ac-4c60-9d12-089730ed79d4","name":"Mark as Read1","webhookId":"f3973b1a-b68c-4bd5-8355-e98f54a0b8fe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4a7f99d-0b24-4416-90f9-b77f923cf430","leftValue":"={{ JSON.parse($json.choices[0].message.content).selected_option }}","rightValue":"=None of listed roles","operator":{"type":"string","operation":"notEquals"}},{"id":"eb37768f-9951-41e7-866f-ee3d069ab1b5","leftValue":"={{ JSON.parse($json.choices[0].message.content).email_type }}","rightValue":"Reply - skip","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,640],"id":"2d322a22-db7a-4ddf-b2a7-a945332333c4","name":"Job not found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4a7f99d-0b24-4416-90f9-b77f923cf430","leftValue":"={{ $('Get list of Jobs').all().find(x=>x.json['Job Title']==JSON.parse($('OpenAI - Match with Job').item.json.choices[0].message.content).selected_option).json.Instructions  }}","rightValue":"=None of listed","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-620,580],"id":"88a872af-aa79-439f-9b57-bdf55e4da555","name":"Instructions not found"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4a7f99d-0b24-4416-90f9-b77f923cf430","leftValue":"={{ JSON.parse($json.choices[0].message.content).score }}","rightValue":68,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,520],"id":"cd5b4fae-fae2-468e-94b8-177453f17b7a","name":"If score >70"},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Get email details + attachments').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1160,440],"id":"0652d911-359b-403e-a10c-71384e2e2008","name":"Mark as Read2","webhookId":"f3973b1a-b68c-4bd5-8355-e98f54a0b8fe"},{"parameters":{"sendTo":"={{ $('Get email details + attachments').item.json.from.value[0].address }}","subject":"=About your application","emailType":"text","message":"=Thank you for applying for our open position.\n\nUnfortunately, we were unable to process your document.\nPlease send us 1 attached file - PDF with copied text (not image PDF) or include your CV as text in the body of the email.\nGoogle Drive links in the body will not be processed.\n\nBest regards","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1320,440],"id":"dd277f78-6a20-4d96-9ab0-b297ae228449","name":"Send email - Resend","webhookId":"fa2c05c2-ac1b-4832-b3bd-e2b0fbfbbf10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4a7f99d-0b24-4416-90f9-b77f923cf430","leftValue":"={{ $('Aggregate Attachments').item.json.text.join()}}","rightValue":"=None of listed","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"bdc03ab7-ce3b-4d84-aaf6-d3f415065834","leftValue":"={{ $('Get email details + attachments').item.binary.attachment_0.fileExtension.includes('doc') }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"d7562cf6-aeeb-4a63-9452-bf303d66eb59","leftValue":"={{ $('Aggregate Attachments').item.json.text.join()}}","rightValue":"https://drive.google.com/file","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1500,640],"id":"fd552c91-ba1e-455a-b13f-a16ba5280573","name":"Couldn't process"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2280,1120],"id":"fd3fb51f-e8cf-441e-b514-dc6d208fd022","name":"Loop Over Emails"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2680,1120],"id":"4f40b2e8-31f8-4079-9dbc-b8b01bbfd1ff","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"51e8871a-7f12-4ef2-afe4-48db43a3e661","name":"text","value":"={{ $json.text ?? $('Get email details + attachments').item.json.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,1340],"id":"47e0f88e-5aa7-4d55-819b-f2569cf37d87","name":"Set Text"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"q":"subject:Test CV","readStatus":"read"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2500,1120],"id":"6911ca9b-7924-41ba-be32-8b9b12894d4e","name":"Get all Message","webhookId":"442f1c0a-a896-427f-bbc1-15ce355068bd"},{"parameters":{"content":"### Triggered with new messages but process all messages - avoid possible jam bcs of scheduling","height":80,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-2840,1340],"typeVersion":1,"id":"27f54d88-3462-4f6d-a5d7-5743200e3e90","name":"Sticky Note"},{"parameters":{"content":"### If pdf - extract text. If not pdf - use text from email","height":80,"width":360},"type":"n8n-nodes-base.stickyNote","position":[-1620,1580],"typeVersion":1,"id":"e510635f-eecc-49f7-9fd3-a89aea026394","name":"Sticky Note1"},{"parameters":{"content":"### Loop through multiple attachments - but process only first 2","height":80,"width":360},"type":"n8n-nodes-base.stickyNote","position":[-2080,1300],"typeVersion":1,"id":"bfd41c05-74be-4ef7-9023-8f4c943aa60e","name":"Sticky Note2"},{"parameters":{"content":"### Send message if won't be able to process files - if file is doc, if file attached in Body, if pdf is image and text empty","height":80,"width":360},"type":"n8n-nodes-base.stickyNote","position":[-1340,320],"typeVersion":1,"id":"c3532b28-3025-4f24-afd8-24ea4aabe600","name":"Sticky Note3"},{"parameters":{"content":"### Get list of jobs with requirements and instructions","height":80,"width":260},"type":"n8n-nodes-base.stickyNote","position":[-1320,800],"typeVersion":1,"id":"6b458dee-8579-4ee5-80e2-d528e9c61b3d","name":"Sticky Note4"},{"parameters":{"content":"### Instructions for Job wasn't added yet","height":80,"width":200},"type":"n8n-nodes-base.stickyNote","position":[-720,480],"typeVersion":1,"id":"a69f7cfc-9439-47a0-8815-1bcc378eaa44","name":"Sticky Note5"},{"parameters":{"content":"### Match CV text with job","height":80,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-980,820],"typeVersion":1,"id":"a0a3e21f-86ff-4df5-af7a-01f09d840def","name":"Sticky Note6"},{"parameters":{"content":"### Score resume using instructions, requirement, CV text and create personalized decline","height":100,"width":260},"type":"n8n-nodes-base.stickyNote","position":[-440,380],"typeVersion":1,"id":"5a6cd497-6eee-4485-b6e4-6b69a4aa28ef","name":"Sticky Note7"},{"parameters":{"content":"### Create personalized approval email","height":80},"type":"n8n-nodes-base.stickyNote","position":[220,400],"typeVersion":1,"id":"f20c7ca7-7f66-42fd-8828-d7f9f31ce3e7","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"Parse the following resume text into structured JSON format according to the specified schema. Ensure that all required fields are included, even if they are null, by using union types where needed. Focus on accurately extracting key details and grouping them into relevant sections like personal information. 1. Personal Information: Extract name, title, location, email, phone number, relocation preference, and any sponsorship needs for employment.Each section should match the JSON schema exactly, with null values for missing information. Return the output in the JSON format as defined, using the specified structure and required fields.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify($('Couldn\\'t process').item.json.text[0])}}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {\n  \"name\": \"resume_data\",\n  \"description\": \"Structured data parsed from a resume\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"personal_info\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": [\"string\", \"null\"] },\n          \"title\": { \"type\": [\"string\", \"null\"], \"description\": \"Current position or role\" },\n          \"location\": { \"type\": [\"string\", \"null\"] },\n          \"email\": { \"type\": [\"string\", \"null\"] },\n\"summary\": { \"type\": [\"string\", \"null\"],\"description\": \"Generate short summary for 2-3 sentences\" },\n\"years_experience\": { \"type\": [\"integer\", \"null\"],\"description\": \"Total years of working experience\" },\n          \"phone\": { \"type\": [\"string\", \"null\"] }\n  \n        },\n        \"required\": [\"name\", \"title\", \"email\", \"phone\", \"location\", \"summary\",\"years_experience\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"required\": [\"personal_info\"],\n    \"additionalProperties\": false\n  }\n}\n\n\n }\n  }","options":{}},"id":"0cd748c7-d250-47e5-8a0c-54bb86fb718f","name":"OpenAI - Analyze resume","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,120]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app3cZmmA42yHlILW","mode":"list","cachedResultName":"Shop","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW"},"table":{"__rl":true,"value":"tblC6hASOAVl6UE4I","mode":"list","cachedResultName":"CVs","cachedResultUrl":"https://airtable.com/app3cZmmA42yHlILW/tblC6hASOAVl6UE4I"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ JSON.parse($json.choices[0].message.content).personal_info.name }}","Status":"New","Email":"={{ JSON.parse($json.choices[0].message.content).personal_info.email }}","Phone":"={{ JSON.parse($json.choices[0].message.content).personal_info.phone }}","Location":"={{ JSON.parse($json.choices[0].message.content).personal_info.location }}","Summary":"={{ JSON.parse($json.choices[0].message.content).personal_info.summary }}","Work Experience":"={{ JSON.parse($json.choices[0].message.content).personal_info.years_experience }}","Score":"={{ JSON.parse($('OpenAI - Score Resume').item.json.choices[0].message.content).score }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Processed","value":"Processed"}],"readOnly":false,"removed":false},{"id":"File","displayName":"File","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[160,120],"id":"5f6c53f5-3d71-4fa9-be84-6b1e2443163f","name":"Create CV"},{"parameters":{"operation":"get","messageId":"={{ $('Loop Over Emails').item.json.id }}","simple":false,"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[360,120],"id":"1c0a5a2b-3f1e-4dc4-8466-3644306a30e4","name":"Get email attachment","webhookId":"9007d684-e87d-428e-b3ce-2fd971f87bb8"},{"parameters":{"method":"POST","url":"=https://content.airtable.com/v0/app3cZmmA42yHlILW/{{ $('Create CV').item.json.id }}/File/uploadAttachment","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"contentType\": \"application/pdf\",\n    \"file\": \"{{ $input.item.binary.attachment_0.data }}\",\n    \"filename\": \"{{ $input.item.binary.attachment_0.fileName }}\"\n  }","options":{}},"id":"cd48ffce-3418-4a8f-8a34-38079c4c53c6","name":"Upload file to Airtable","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,120],"onError":"continueRegularOutput"},{"parameters":{"content":"### Parse CV with AI and save it in Airtable with original file. Uploads only first attachment","height":80,"width":700},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"33e9a641-cc3d-4629-b754-9263745229c8","name":"Sticky Note9"},{"parameters":{"content":"### Change URL - provide app ID, Table ID and column name (attachment type)","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","position":[540,280],"typeVersion":1,"id":"1b5a0e72-abae-40dd-9aca-30b5f77ebed0","name":"Sticky Note10"},{"parameters":{"content":"### Change prompt - provide HR manager name, calendly link","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","position":[560,520],"typeVersion":1,"id":"fdc867e9-3bb2-49ea-b897-adff9b764b35","name":"Sticky Note11"},{"parameters":{"content":"### Create Airtable table or remap data","height":80,"width":180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[120,280],"typeVersion":1,"id":"2562bf27-27f9-4059-bb10-6f0e3a92fc72","name":"Sticky Note12"},{"parameters":{"content":"### Change prompt or JSON schema if needed","height":80,"width":180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-80,280],"typeVersion":1,"id":"015e8afe-8968-4d76-a41c-58467fd245c1","name":"Sticky Note13"},{"parameters":{"content":"### Create table with jobs and instructions in Airtable","height":80,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1320,900],"typeVersion":1,"id":"86c4ffb5-bb7a-4838-8936-c8ff008962ec","name":"Sticky Note14"},{"parameters":{"content":"### Change prompt if needed","height":80,"width":150,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-440,680],"typeVersion":1,"id":"006a5684-6b1e-412f-9eb3-33aa9e062958","name":"Sticky Note17"},{"parameters":{"content":"### Change message if needed","height":80,"width":160,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1540,460],"typeVersion":1,"id":"50ed218d-d1d8-4626-bdc5-5e236255928d","name":"Sticky Note18"},{"parameters":{"content":"### Change message if needed","height":80,"width":160,"color":4},"type":"n8n-nodes-base.stickyNote","position":[720,720],"typeVersion":1,"id":"29582317-853d-4112-b3d8-a5d06d878f5f","name":"Sticky Note19"},{"parameters":{"content":"### Change message if needed","height":80,"width":170,"color":4},"type":"n8n-nodes-base.stickyNote","position":[20,720],"typeVersion":1,"id":"f3db47a6-9ff4-42dc-8f95-9268a5f25abf","name":"Sticky Note15"}],"connections":{"Get new emails":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get email details + attachments":{"main":[[{"node":"Loop Over Attachments","type":"main","index":0}]]},"Loop Over Attachments":{"main":[[{"node":"Aggregate Attachments","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Extract text from PDF":{"main":[[{"node":"Set Text","type":"main","index":0}]]},"If1":{"main":[[{"node":"Extract text from PDF","type":"main","index":0}],[{"node":"Set Text","type":"main","index":0}]]},"Aggregate Attachments":{"main":[[{"node":"Couldn't process","type":"main","index":0}]]},"Get list of Jobs":{"main":[[{"node":"Aggregate Jobs","type":"main","index":0}]]},"Aggregate Jobs":{"main":[[{"node":"OpenAI - Match with Job","type":"main","index":0}]]},"OpenAI - Match with Job":{"main":[[{"node":"Job not found","type":"main","index":0}]]},"Send email - Fail":{"main":[[{"node":"Mark as Read","type":"main","index":0}]]},"Send email - Success":{"main":[[{"node":"Mark as Read1","type":"main","index":0}]]},"Create email":{"main":[[{"node":"Send email - Success","type":"main","index":0}]]},"OpenAI - Score Resume":{"main":[[{"node":"If score >70","type":"main","index":0}]]},"Mark as Read":{"main":[[{"node":"Loop Over Emails","type":"main","index":0}]]},"Mark as Read1":{"main":[[{"node":"Loop Over Emails","type":"main","index":0}]]},"Job not found":{"main":[[{"node":"Instructions not found","type":"main","index":0}],[{"node":"Mark as Read","type":"main","index":0}]]},"Instructions not found":{"main":[[{"node":"OpenAI - Score Resume","type":"main","index":0}],[{"node":"Loop Over Emails","type":"main","index":0}]]},"If score >70":{"main":[[{"node":"Create email","type":"main","index":0},{"node":"OpenAI - Analyze resume","type":"main","index":0}],[{"node":"Send email - Fail","type":"main","index":0}]]},"Mark as Read2":{"main":[[{"node":"Loop Over Emails","type":"main","index":0}]]},"Send email - Resend":{"main":[[{"node":"Mark as Read2","type":"main","index":0}]]},"Couldn't process":{"main":[[{"node":"Send email - Resend","type":"main","index":0}],[{"node":"Get list of Jobs","type":"main","index":0}]]},"Loop Over Emails":{"main":[[],[{"node":"Get email details + attachments","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get all Message","type":"main","index":0}]]},"Set Text":{"main":[[{"node":"Loop Over Attachments","type":"main","index":0}]]},"Get all Message":{"main":[[{"node":"Loop Over Emails","type":"main","index":0}]]},"OpenAI - Analyze resume":{"main":[[{"node":"Create CV","type":"main","index":0}]]},"Create CV":{"main":[[{"node":"Get email attachment","type":"main","index":0}]]},"Get email attachment":{"main":[[{"node":"Upload file to Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"a3d77521-8e3a-4a58-8fb8-d108e9e67c09","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:55:57.125Z","createdAt":"2025-08-04T16:55:57.125Z","role":"workflow:owner","workflowId":"EpXxVUHY9Bf4hojA","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:22:48.592Z","createdAt":"2025-08-04T16:22:48.592Z","id":"n5bEV3cSK8SadFcY","name":"N8N Template"}]}
