workflows/realtime ai agent for meetings.json
{"updatedAt":"2025-08-04T16:44:27.381Z","createdAt":"2025-08-04T16:44:08.590Z","id":"LTCMmCTOUWoqpvrP","name":"realtime ai agent for meetings","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_D5t6bNnNpenmfC7PmvywMqyR","mode":"list","cachedResultName":"5minAI - Realtime Agent"},"prompt":"define","text":"={{ \n     JSON.parse($('Insert Transcription Part').item.json.dialog)\n        .filter(item => item.date_updated && new Date(item.date_updated) >= new Date($('Insert Transcription Part').item.json.date_updated))\n        .sort((a, b) => a.order - b.order)\n        .map(item => `${item.words}\\n${item.speaker}`)\n        .join('\\n\\n')\n}}","memory":"threadId","threadId":"={{ $json.thread_id }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1500,760],"id":"88752c9e-ef5c-43ea-b541-31deecea6e4b","name":"OpenAI1"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.data\nSET output = jsonb_set(\n    output,\n    '{dialog}', \n    (\n        COALESCE(\n            (output->'dialog')::jsonb, \n            '[]'::jsonb  -- Initialize as empty array if dialog does not exist\n        ) || jsonb_build_object(\n            'order', (COALESCE(jsonb_array_length(output->'dialog'), 0) + 1),  -- Calculate the next order\n            'words', '{{ $('Webhook2').item.json.body.data.transcript.words.map(word => word.text.replace(/'/g, \"''\")).join(\" \") }}',\n            'speaker', '{{ $('Webhook2').item.json.body.data.transcript.speaker }}',\n            'language', '{{ $('Webhook2').item.json.body.data.transcript.language }}',\n            'speaker_id', ('{{ $('Webhook2').item.json.body.data.transcript.speaker_id }}')::int,\n  'date_updated', to_jsonb('{{ $now }}'::text)\n        )\n    )\n)\nWHERE input->>'recall_bot_id' = $1\nReturning input->>'openai_thread_id' as thread_id;","options":{"queryReplacement":"={{ $('Scenario 2 Start - Webhook').item.json.body.data.bot_id }}"}},"id":"daec057f-0325-4d65-a96c-b508e68c15c3","name":"Insert Transcription Part","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1080,760]},{"parameters":{"descriptionType":"manual","toolDescription":"Create note record.","operation":"executeQuery","query":"UPDATE public.data\nSET output = jsonb_set(\n    output,\n    '{notes}', \n    (\n        COALESCE(\n            (output->'notes')::jsonb, \n            '[]'::jsonb  -- Initialize as empty array if dialog does not exist\n        ) || jsonb_build_object(\n            'order', (COALESCE(jsonb_array_length(output->'notes'), 0) + 1),  -- Calculate the next order\n            'text', '{{ $fromAI(\"note\",\"Text of note.\") }}'\n        )\n    )\n)\nWHERE input->>'recall_bot_id' = $1","options":{"queryReplacement":"={{ $('Scenario 2 Start - Webhook').item.json.body.data.bot_id }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1380,940],"id":"4b93ab0e-d888-482c-9eef-3a6610a0dbff","name":"Create Note"},{"parameters":{"method":"POST","url":"https://us-west-2.recall.ai/api/v1/bot","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"meeting_url\":\"{{ $json.meeting_url }}\",\n  \"transcription_options\": {\n    \"provider\": \"assembly_ai\"\n  }\n,\n\"real_time_transcription\": {\n    \"destination_url\": \"https://n8n.lowcoding.dev/webhook/d074ca1e-52f9-47af-8587-8c24d431f9cd\"\n  },\n\"automatic_leave\": {\n  \"silence_detection\": {\n    \"timeout\": 300, \n    \"activate_after\": 600\n  },\n  \"bot_detection\": {\n    \"using_participant_events\": {\n      \"timeout\": 600, \n      \"activate_after\": 1200\n    }\n  },\n  \"waiting_room_timeout\": 600,\n  \"noone_joined_timeout\": 600,\n  \"everyone_left_timeout\": 2,\n  \"in_call_not_recording_timeout\": 600,\n  \"recording_permission_denied_timeout\": 600\n}\n}","options":{}},"id":"1bb61dac-74a1-4340-b0e3-cf2ea69e7eef","name":"Create Recall bot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,80]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"adec2740-f282-43ba-a7b5-40a7c97e5240","name":"Create OpenAI thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,80]},{"parameters":{"tableId":"data","fieldsUi":{"fieldValues":[{"fieldId":"input","fieldValue":"={{ {\"openai_thread_id\": $('Create OpenAI thread').item.json.id, \"recall_bot_id\": $('Create Recall bot').item.json.id, \"meeting_url\":$('Webhook').item.json.body.meeting_url } }}"},{"fieldId":"output","fieldValue":"={{ {\"dialog\":[]} }}"}]}},"id":"f08a50dd-b645-4778-bc68-0724bfc710be","name":"Create data record","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,80]},{"parameters":{"content":"### ... or watch set up video [10 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Realtime%20Agent%20Blur.png)](https://www.youtube.com/watch?v=rtaX6BMiTeo)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"b6236342-356f-488c-b15b-6ef0ec335889","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[300,680],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent for realtime insights on meetings\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nTranscribing meetings manually can be tedious and prone to error. This workflow automates the transcription process in real-time, ensuring that key discussions and decisions are accurately captured and easily accessible for later review, thus enhancing productivity and clarity in communications.\n\nThe workflow employs an AI-powered assistant to join virtual meetings and capture discussions through real-time transcription. Key functionalities include:\n- Automatic joining of meetings on platforms like Zoom, Google Meet, and others with the ability to provide real-time transcription.\n- Integration with transcription APIs (e.g., AssemblyAI) to deliver seamless and accurate capture of dialogue.\n- Structuring and storing transcriptions efficiently in a database for easy retrieval and analysis.\n\n1. **Real-Time Transcription**: The assistant captures audio during meetings and transcribes it in real-time, allowing participants to focus on discussions.\n2. **Keyword Recognition**: Key phrases can trigger specific actions, such as noting important points or making prompts to the assistant.\n3. **Structured Data Management**: The assistant maintains a database of transcriptions linked to meeting details for organized storage and quick access later.","height":657,"width":636,"color":7},"id":"9313ff5b-7994-4e3a-a5d9-e7c9b8e31ea5","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### Set up steps\n\n#### Preparation\n\n1. **Create Recall.ai API key**\n2. **Setup Supabase account and table**\n```\ncreate table\n  public.data (\n    id uuid not null default gen_random_uuid (),\n    date_created timestamp with time zone not null default (now() at time zone 'utc'::text),\n    input jsonb null,\n    output jsonb null,\n    constraint data_pkey primary key (id),\n  ) tablespace pg_default;\n\n```\n3. **Create OpenAI API key**\n\n#### Development\n\n1. **Bot Creation**: \n   - Use a node to create the bot that will join meetings. Provide the meeting URL and set transcription options within the API request.\n\n2. **Authentication**: \n   - Configure authentication settings via a Bearer token for interacting with your transcription service.\n\n3. **Webhook Setup**: \n   - Create a webhook to receive real-time transcription updates, ensuring timely data capture during meetings.\n\n4. **Join Meeting**: \n   - Set the bot to join the specified meeting and actively listen to capture conversations.\n\n5. **Transcription Handling**: \n   - Combine transcription fragments into cohesive sentences and manage dialog arrays for coherence.\n\n6. **Trigger Actions on Keywords**: \n   - Set up keyword recognition that can initiate requests to the OpenAI API for additional interactions based on captured dialogue.\n\n7. **Output and Summary Generation**: \n   - Produce insights and summary notes from the transcriptions that can be stored back into the database for future reference.","height":626,"width":280,"color":7},"id":"49d1cac7-b33b-4914-a74a-aaf880f449b9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,680],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"4891fa6e-2dd5-4433-925c-5497ec82e8ab","name":"meeting_url","value":"https://meet.google.com/iix-vrav-kuc","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,80],"id":"0ba00a12-94d8-4308-9682-ba9939c0a5a6","name":"Scenario 1 Start - Edit Fields"},{"parameters":{"httpMethod":"POST","path":"d074ca1e-52f9-47af-8587-8c24d431f9cd","options":{}},"id":"5ead785a-c588-4b4f-b5eb-bb20e1572a0c","name":"Scenario 2 Start - Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[880,760],"webhookId":"7f176935-cb83-4147-ac14-48c8d747863a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba6c2ae5-d0f4-4242-9cf8-97cb84335a93","leftValue":"={{ $('Scenario 2 Start - Webhook').item.json.body.data.transcript.words.map(word => word.text.replace(/'/g, \"''\")).join(\" \") }}","rightValue":"=Jimmy","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,760],"id":"0129dfbd-e915-40f4-8697-28390acd791d","name":"If Jimmy word"},{"parameters":{"content":"## Scenario 1\n\n","height":400,"width":920},"type":"n8n-nodes-base.stickyNote","position":[820,20],"typeVersion":1,"id":"600db254-8f17-4a94-b2f3-a91563b80ec2","name":"Sticky Note"},{"parameters":{"content":"## Scenario 2\n\n","height":420,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[820,700],"typeVersion":1,"id":"c0216ad6-2a2f-4f1c-a4bb-9893c40633f5","name":"Sticky Note1"},{"parameters":{"content":"### Replace Supabase credentials","height":80,"width":270,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1000,940],"typeVersion":1,"id":"91f3719f-3bc1-4d49-a4e2-7befe602645a","name":"Sticky Note2"},{"parameters":{"content":"### Replace server location\n\n","height":80,"width":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1100,280],"typeVersion":1,"id":"5ca54052-42f9-4a07-9fe5-0a908980f77b","name":"Sticky Note3"},{"parameters":{"content":"### Replace OpenAI credentials","height":80,"width":270,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1540,960],"typeVersion":1,"id":"2ffdbf49-c46b-48ee-8e8c-bc065a9a2c25","name":"Sticky Note4"},{"parameters":{"content":"### Replace credentials","height":80,"width":290,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1340,280],"typeVersion":1,"id":"a078b6c6-551d-4fb1-9a70-d70f1f905b59","name":"Sticky Note5"},{"parameters":{"content":"### Replace meeting url\n\n","height":80,"width":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[880,280],"typeVersion":1,"id":"8d0d1b90-ce54-465f-8ed9-abc3d10a8f4d","name":"Sticky Note8"}],"connections":{"Insert Transcription Part":{"main":[[{"node":"If Jimmy word","type":"main","index":0}]]},"Create Note":{"ai_tool":[[{"node":"OpenAI1","type":"ai_tool","index":0}]]},"Create Recall bot":{"main":[[{"node":"Create OpenAI thread","type":"main","index":0}]]},"Create OpenAI thread":{"main":[[{"node":"Create data record","type":"main","index":0}]]},"Scenario 1 Start - Edit Fields":{"main":[[{"node":"Create Recall bot","type":"main","index":0}]]},"Scenario 2 Start - Webhook":{"main":[[{"node":"Insert Transcription Part","type":"main","index":0}]]},"If Jimmy word":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"1577572e-9e85-489b-b7b8-42cda4450642","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:44:08.590Z","createdAt":"2025-08-04T16:44:08.590Z","role":"workflow:owner","workflowId":"LTCMmCTOUWoqpvrP","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:22:48.592Z","createdAt":"2025-08-04T16:22:48.592Z","id":"n5bEV3cSK8SadFcY","name":"N8N Template"},{"updatedAt":"2025-08-04T16:26:31.978Z","createdAt":"2025-08-04T16:26:31.978Z","id":"rmTsWtd2ruuzH2Lr","name":"5minAI Lessons"}]}