workflows/save_cred_githuv-subwf.json
{"updatedAt":"2025-08-26T18:11:48.590Z","createdAt":"2025-08-26T15:31:25.191Z","id":"foAPXWcCswd4bIig","name":"save_cred_githuv-subwf","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Subworkflow","height":750.8363163824032,"width":2086.845881354743,"color":6},"id":"c05ebc8b-6cbd-4e29-b8c7-4dce74021926","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-80,-40],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"266fab60-2c49-4077-97ae-bdcd175a788e","name":"Return","type":"n8n-nodes-base.set","position":[1800,160],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"7e7a6218-3617-42f9-950e-f96bfe265f07","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[900,40],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"9721faa4-ff6b-44d6-8da5-2a04cac74f2f","name":"If file too large","type":"n8n-nodes-base.if","position":[700,60],"typeVersion":2},{"parameters":{},"id":"531f4dc1-8b58-4d42-b005-4153e9390df3","name":"Merge Items","type":"n8n-nodes-base.merge","position":[700,320],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"c79f6549-5763-4507-86ee-101c8cedc6a0","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[900,320],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"6754c36a-9253-49f7-b9da-ceb97f880f27","name":"Check Status","type":"n8n-nodes-base.switch","position":[1120,320],"typeVersion":1},{"parameters":{},"id":"e660b206-3d93-402f-ab27-77db3d555982","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1340,160],"typeVersion":1},{"parameters":{},"id":"3f81ccdb-238c-4c05-9f9a-6041bdde9ab3","name":"File is different","type":"n8n-nodes-base.noOp","position":[1340,320],"typeVersion":1},{"parameters":{},"id":"273b793b-a9d2-4e27-9fd4-0328ba5cb44c","name":"File is new","type":"n8n-nodes-base.noOp","position":[1340,480],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"0bf09eda-e65a-48f6-8dec-a9f07b129da3","name":"Create new file","type":"n8n-nodes-base.github","position":[1560,480],"webhookId":"2074ba69-69d2-45c0-bc4b-38470befa147","typeVersion":1,"credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"cf2b0ece-88be-40e2-b87f-ed681063cf3f","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1560,300],"webhookId":"f17ed06b-0b08-48bb-94b9-ad2fc1314602","typeVersion":1,"credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"80657692-6312-47bd-bb87-8bad77672f82","name":"Get file data","type":"n8n-nodes-base.github","position":[500,60],"webhookId":"d47279e5-2a81-462f-ac67-8e4b81fb23c6","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"Nat822"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials/"}]},"options":{}},"id":"6100acca-3cf3-4314-a0d7-44481b6c7355","name":"Globals","type":"n8n-nodes-base.set","position":[300,340],"typeVersion":3.4},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"74b49894-e7b7-474c-b5be-df8fa3732d0c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[260,120],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"id":"d0022b2d-cf5d-43b5-b0da-67e4bd53273c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[20,340],"typeVersion":1.1}],"connections":{"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"e337dcd5-472d-40b8-b5c5-a2ffe82f9b54","triggerCount":0,"shared":[{"updatedAt":"2025-08-26T15:31:25.191Z","createdAt":"2025-08-26T15:31:25.191Z","role":"workflow:owner","workflowId":"foAPXWcCswd4bIig","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}