workflows/Save_creds_github.json
{"updatedAt":"2025-08-26T16:45:28.943Z","createdAt":"2025-08-26T15:21:53.607Z","id":"fdo9l3KMVPg8dtKD","name":"Save_creds_github","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"bc6f5300-fa49-40c3-9407-0c61b5f849a4","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[300,260],"typeVersion":1},{"parameters":{"options":{}},"id":"262beae2-ade0-4433-8fd9-a03c2cb8d60a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[900,360],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"id":"98c6caba-58ea-4485-972f-c3876d4fb9f4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[300,460],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance credentials to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the credentials to go into a `credentials` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - credentials/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.","height":596.4810912485963,"width":365.19481715599653,"color":4},"id":"564cb78a-e5b4-426a-832e-ea92c3ff8493","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-140,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":434.88564057365943,"width":1028.7522287279464,"color":7},"id":"9aad5a30-db9c-4d11-ac8a-0449dadbd42d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[260,180],"typeVersion":1},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"id":"366ccce6-55b4-4a58-abe3-e220462331d2","name":"Execute Command","type":"n8n-nodes-base.executeCommand","position":[520,360],"typeVersion":1},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"1144d119-5ae4-48fa-a45a-27878fff17f5","name":"JSON formatting","type":"n8n-nodes-base.code","position":[700,360],"typeVersion":2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"52a6786c-28c7-44a9-8a79-08690921513e","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1120,360],"typeVersion":1}],"connections":{"Execute Command":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"7bcb146a-253c-4569-8938-4601d1686ffc","triggerCount":1,"shared":[{"updatedAt":"2025-08-26T15:21:53.607Z","createdAt":"2025-08-26T15:21:53.607Z","role":"workflow:owner","workflowId":"fdo9l3KMVPg8dtKD","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}