workflows/Scrapeless.json
{"updatedAt":"2025-08-04T16:17:40.904Z","createdAt":"2025-08-04T16:11:16.398Z","id":"HAp8dgXahRH2Xoio","name":"Scrapeless","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Please, deeply analyse topic - {{ $('Set Query').item.json.query }}.\nProvide list of opportunities, rising topics and regions, 3 ideas for getting value from this trend based on analysis.\nKeep it short and valuable, follow 80/20 rule.\n\nIMPORTANT DONT Use markdown.\nIMPORTANT Use simple language.\n\nInterest (timestamp - value):{{ $('Set Interest').item.json.interest.map(item => `${item.date} - ${item.value}`).join('\\n') }}\n\nInterest by region:{{ $('Set Interest by Region').item.json.interest_region.map(item => `${item.country} - ${item.value}`).join('\\n') }}\n\nTopics:{{ $('Set Topics Web').item.json.topics.slice(0,5).map(item => `${item.topic} - ${item.score}`).join('\\n') }}\n\nQueries: {{ $('Set Queries Web').item.json.queries_web.slice(0,10).map(item => `${item.query} - ${item.value}`).join('\\n') }}\n\nRising Queries: {{ $('Set Queries Web').item.json.rising_web.slice(0,10).map(item => `${item.query} - ${item.value}`).join('\\n') }}\n\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[740,440],"id":"5a2aeac8-723a-4f81-b147-b5dee4938970","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[740,660],"id":"c5d9cc1f-9505-48f2-bee1-05ab2532fc47","name":"OpenAI Chat Model1"},{"parameters":{"assignments":{"assignments":[{"id":"5dae5157-1410-4937-8eb7-6ba1f860a9ee","name":"query","value":"={{ $json.query.query}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,480],"id":"7b6c6741-669f-43c2-92f8-d82bcaee766f","name":"Set Query"},{"parameters":{"operation":"googleTrends","q":"={{ $json.query }}","data_type":"interest_by_subregion","date":"today 3-m","cat":"=0"},"type":"n8n-nodes-scrapeless.scrapeless","typeVersion":1,"position":[-160,60],"id":"84799293-0cfc-432a-9783-e9082c8d8696","name":"Interest by Region","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"operation":"googleTrends","q":"={{ $json.query }}","date":"today 12-m","cat":"=0"},"type":"n8n-nodes-scrapeless.scrapeless","typeVersion":1,"position":[-160,220],"id":"59084532-39cc-4cb9-8d45-936c4e1a18ec","name":"Interest","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"operation":"googleTrends","q":"={{ $json.query }}","data_type":"related_queries","date":"today 12-m","cat":"=0"},"type":"n8n-nodes-scrapeless.scrapeless","typeVersion":1,"position":[-160,400],"id":"24cd5ac9-09ed-43ee-8da2-2e880f6fecd0","name":"Queries Web","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"q":"={{ $json.query }}"},"type":"n8n-nodes-scrapeless.scrapeless","typeVersion":1,"position":[-160,780],"id":"7d2542fb-1ab6-43d6-b850-88dfaa7413c7","name":"Search2","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"operation":"googleTrends","q":"={{ $json.query }}","data_type":"related_topics","date":"today 12-m","cat":"=0"},"type":"n8n-nodes-scrapeless.scrapeless","typeVersion":1,"position":[-160,580],"id":"0ae3dbf6-c987-4965-a477-2a89c0e41875","name":"Topics Web","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"assignments":{"assignments":[{"id":"1d31961f-d649-4a52-81fc-b1ba3a8773ca","name":"page","value":"=<!DOCTYPE html>\n<html>\n<head>\n    <title>Report Dashboard</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body { \n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: #f5f5f7;\n            color: #1d1d1f;\n            line-height: 1.6;\n        }\n        \n        .container { \n            max-width: 1200px; \n            margin: 0 auto; \n            padding: 40px 20px;\n        }\n        \n        h1 {\n            font-size: 48px;\n            font-weight: 700;\n            text-align: center;\n            margin-bottom: 60px;\n            color: #1d1d1f;\n            letter-spacing: -0.02em;\n        }\n        \n        .section {\n            background: white;\n            border-radius: 16px;\n            margin-bottom: 32px;\n            padding: 32px;\n            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);\n            border: 1px solid rgba(0, 0, 0, 0.04);\n        }\n        \n        .section h2 {\n            font-size: 24px;\n            font-weight: 600;\n            margin-bottom: 24px;\n            color: #1d1d1f;\n            letter-spacing: -0.01em;\n        }\n        \n        .chart-container {\n            height: 300px;\n            margin: 24px 0;\n        }\n        \n        .grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));\n            gap: 24px;\n        }\n        \n        .table-container {\n            overflow-x: auto;\n        }\n        \n        table {\n            width: 100%;\n            border-collapse: collapse;\n            font-size: 14px;\n        }\n        \n        th {\n            text-align: left;\n            padding: 12px 0;\n            border-bottom: 1px solid #e5e5e7;\n            font-weight: 500;\n            color: #6e6e73;\n            text-transform: uppercase;\n            font-size: 11px;\n            letter-spacing: 0.5px;\n        }\n        \n        td {\n            padding: 16px 0;\n            border-bottom: 1px solid #f5f5f7;\n            font-weight: 400;\n        }\n        \n        tr:last-child td {\n            border-bottom: none;\n        }\n        \n        .card {\n            background: white;\n            border-radius: 12px;\n            padding: 24px;\n            margin-bottom: 16px;\n            border: 1px solid rgba(0, 0, 0, 0.04);\n            transition: all 0.2s ease;\n        }\n        \n        .card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);\n        }\n        \n        .card-title {\n            font-size: 16px;\n            font-weight: 600;\n            margin-bottom: 8px;\n            color: #1d1d1f;\n            line-height: 1.3;\n        }\n        \n        .card-snippet {\n            font-size: 14px;\n            color: #6e6e73;\n            margin-bottom: 12px;\n            line-height: 1.4;\n        }\n        \n        .card-link {\n            color: #007aff;\n            text-decoration: none;\n            font-size: 14px;\n            font-weight: 500;\n        }\n        \n        .card-link:hover {\n            text-decoration: underline;\n        }\n        \n        .video-card {\n            display: flex;\n            align-items: flex-start;\n            gap: 16px;\n            background: white;\n            border-radius: 12px;\n            padding: 20px;\n            margin-bottom: 12px;\n            border: 1px solid rgba(0, 0, 0, 0.04);\n            transition: all 0.2s ease;\n        }\n        \n        .video-card:hover {\n            transform: translateY(-1px);\n            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);\n        }\n        \n        .video-thumbnail {\n            width: 120px;\n            height: 68px;\n            background: #f5f5f7;\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 12px;\n            color: #6e6e73;\n            font-weight: 500;\n            flex-shrink: 0;\n        }\n.video-thumbnail img {\n    width: 100%;\n    height: 100%;\n    object-fit: cover;\n    border-radius: 8px;\n}\n        \n        .video-info {\n            flex: 1;\n        }\n        \n        .video-title {\n            font-size: 16px;\n            font-weight: 600;\n            margin-bottom: 6px;\n            color: #1d1d1f;\n            line-height: 1.3;\n        }\n        \n        .video-channel {\n            font-size: 14px;\n            color: #6e6e73;\n            margin-bottom: 4px;\n        }\n        \n        .video-duration {\n            font-size: 12px;\n            color: #86868b;\n        }\n        \n        .country-item {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid #f5f5f7;\n        }\n        \n        .country-item:last-child {\n            border-bottom: none;\n        }\n        \n        .country-name {\n            font-size: 16px;\n            font-weight: 500;\n            color: #1d1d1f;\n        }\n        \n        .country-value {\n            font-size: 16px;\n            font-weight: 600;\n            color: #007aff;\n        }\n        \n        .tabs {\n            display: flex;\n            background: #f5f5f7;\n            border-radius: 10px;\n            padding: 2px;\n            margin-bottom: 24px;\n        }\n        \n        .tab {\n            flex: 1;\n            padding: 10px 16px;\n            text-align: center;\n            border-radius: 8px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 500;\n            color: #6e6e73;\n            transition: all 0.2s ease;\n        }\n        \n        .tab.active {\n            background: white;\n            color: #1d1d1f;\n            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);\n        }\n        \n        .tab-content {\n            display: none;\n        }\n        \n        .tab-content.active {\n            display: block;\n        }\n        \n        .map-container {\n            height: 300px;\n            background: #f5f5f7;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 14px;\n            color: #6e6e73;\n        }\n        \n        .value-badge {\n            background: #007aff;\n            color: white;\n            padding: 4px 12px;\n            border-radius: 20px;\n            font-size: 12px;\n            font-weight: 600;\n        }\n        \n        .metric-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 16px;\n            margin-bottom: 24px;\n        }\n        \n        .metric-card {\n            background: white;\n            border-radius: 12px;\n            padding: 24px;\n            text-align: center;\n            border: 1px solid rgba(0, 0, 0, 0.04);\n        }\n        \n        .metric-value {\n            font-size: 32px;\n            font-weight: 700;\n            color: #1d1d1f;\n            margin-bottom: 8px;\n        }\n        \n        .metric-label {\n            font-size: 14px;\n            color: #6e6e73;\n            font-weight: 500;\n        }\n    </style>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Analytics Report</h1>\n        \n        <!-- AI Analysis -->\n        <div class=\"section\">\n            <h2>AI Analysis of {{$('Webhook').item.json.query.query}}</h2>\n            <p id=\"aiAnalysisText\"></p>\n        </div>\n        \n        <!-- Interest Over Time -->\n        <div class=\"section\">\n            <h2>Interest Over Time</h2>\n            <div class=\"chart-container\">\n                <canvas id=\"interestChart\"></canvas>\n            </div>\n        </div>\n\n        <!-- Interest by Country -->\n        <div class=\"section\">\n            <h2>Interest by Country</h2>\n            <div class=\"tabs\">\n                <div class=\"tab active\" onclick=\"switchTab('table')\">Table</div>\n                <div class=\"tab\" onclick=\"switchTab('map')\">Map</div>\n            </div>\n            \n            <div id=\"countryTable\" class=\"tab-content active\">\n                <div id=\"countryList\"></div>\n            </div>\n            \n            <div id=\"countryMap\" class=\"tab-content\">\n                <div class=\"map-container\">\n                    World map visualization\n                </div>\n            </div>\n        </div>\n\n        <!-- Web vs YouTube Queries -->\n        <div class=\"section\">\n            <h2>Query Performance</h2>\n            <div class=\"grid\">\n                <div>\n                    <h3 style=\"font-size: 18px; font-weight: 600; margin-bottom: 16px; color: #1d1d1f;\">Web Queries</h3>\n                    <div class=\"table-container\">\n                        <table id=\"webTable\">\n                            <thead>\n                                <tr>\n                                    <th>Query</th>\n                                    <th>Volume</th>\n                                </tr>\n                            </thead>\n                            <tbody id=\"webTableBody\"></tbody>\n                        </table>\n                    </div>\n                </div>\n                <div>\n                    <h3 style=\"font-size: 18px; font-weight: 600; margin-bottom: 16px; color: #1d1d1f;\">Rising Queries</h3>\n                    <div class=\"table-container\">\n                        <table id=\"youtubeTable\">\n                            <thead>\n                                <tr>\n                                    <th>Query</th>\n                                    <th>Volume</th>\n                                </tr>\n                            </thead>\n                            <tbody id=\"youtubeTableBody\"></tbody>\n                        </table>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Topics -->\n        <div class=\"section\">\n            <h2>Top Topics</h2>\n            <div class=\"table-container\">\n                <table>\n                    <thead>\n                        <tr>\n                            <th>Topic</th>\n                            <th>Score</th>\n                        </tr>\n                    </thead>\n                    <tbody id=\"topicsTableBody\"></tbody>\n                </table>\n            </div>\n        </div>\n\n        <!-- Search Results -->\n        <div class=\"section\">\n            <h2>Search Results</h2>\n            <div id=\"searchResults\"></div>\n        </div>\n\n        <!-- Video Results -->\n        <div class=\"section\">\n            <h2>Video Results</h2>\n            <div id=\"videoResults\"></div>\n        </div>\n    </div>\n\n    <script>\n        // Dynamic Variables\n        const aiAnalysis = {{\n  JSON.stringify($json.output)\n }};\n\n        const interestData = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).interest)\n }};\n\n        const countryData = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).interest_region)\n }};\n\n        const webQueries = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).queries_web)\n }};\n\n        const youtubeQueries = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).rising_web)\n }};\n\n        const topicsData = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).topics)\n }};\n\n        const searchResults = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).search)\n }};\n\n        const videoResults = {{  \n  JSON.stringify(Object.assign({}, ...$('Aggregate').item.json.data).youtube)\n }};\n        // Initialize everything\n        document.addEventListener('DOMContentLoaded', function() {\n            // Inject AI Analysis text\n            document.getElementById('aiAnalysisText').innerText = aiAnalysis;\n\n            initializeChart();\n            renderCountryData();\n            renderQueryTables();\n            renderTopicsTable();\n            renderSearchResults();\n            renderVideoResults();\n        });\n\n        function initializeChart() {\n            const ctx = document.getElementById('interestChart').getContext('2d');\n            new Chart(ctx, {\n                type: 'line',\n                data: {\n                    labels: interestData.map(item => \n  new Date(item.date * 1000).toLocaleDateString('en-US', { month: 'short', day: 'numeric' })\n),\n                    datasets: [{\n                        label: 'Interest Score',\n                        data: interestData.map(item => item.value),\n                        borderColor: '#007aff',\n                        backgroundColor: 'rgba(0, 122, 255, 0.1)',\n                        borderWidth: 2,\n                        fill: true,\n                        tension: 0.4,\n                        pointRadius: 4,\n                        pointHoverRadius: 6,\n                        pointBackgroundColor: '#007aff',\n                        pointBorderColor: '#ffffff',\n                        pointBorderWidth: 2\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    plugins: {\n                        legend: {\n                            display: false\n                        }\n                    },\n                    scales: {\n                        y: {\n                            beginAtZero: true,\n                            max: 100,\n                            grid: {\n                                color: '#f5f5f7'\n                            },\n                            ticks: {\n                                color: '#6e6e73',\n                                font: {\n                                    size: 12\n                                }\n                            }\n                        },\n                        x: {\n                            grid: {\n                                display: false\n                            },\n                            ticks: {\n                                color: '#6e6e73',\n                                font: {\n                                    size: 12\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n        }\n\n        function renderCountryData() {\n            const container = document.getElementById('countryList');\n            container.innerHTML = countryData.map(item => `\n                <div class=\"country-item\">\n                    <span class=\"country-name\">${item.country}</span>\n                    <span class=\"country-value\">${item.value}</span>\n                </div>\n            `).join('');\n        }\n\n        function renderQueryTables() {\n            const webTableBody = document.getElementById('webTableBody');\n            webTableBody.innerHTML = webQueries.map(item => `\n                <tr>\n                    <td>${item.query}</td>\n                    <td><span class=\"value-badge\">${item.value.toLocaleString()}</span></td>\n                </tr>\n            `).join('');\n\n            const youtubeTableBody = document.getElementById('youtubeTableBody');\n            youtubeTableBody.innerHTML = youtubeQueries.map(item => `\n                <tr>\n                    <td>${item.query}</td>\n                    <td><span class=\"value-badge\">${item.value.toLocaleString()}</span></td>\n                </tr>\n            `).join('');\n        }\n\n        function renderTopicsTable() {\n            const tableBody = document.getElementById('topicsTableBody');\n            tableBody.innerHTML = topicsData.map(item => `\n                <tr>\n                    <td>${item.topic}</td>\n                    <td><span class=\"value-badge\">${item.score}</span></td>\n                </tr>\n            `).join('');\n        }\n\n        function renderSearchResults() {\n            const container = document.getElementById('searchResults');\n            container.innerHTML = searchResults.map(item => `\n                <div class=\"card\"><a href=\"${item.link}\" class=\"card-link\" target=\"_blank\">\n                    <div class=\"card-title\">${item.title}</div>\n                    <div class=\"card-snippet\">${item.snippet}</div>\n                    </a>\n                </div>\n            `).join('');\n        }\n\n        function renderVideoResults() {\n            const container = document.getElementById('videoResults');\n            container.innerHTML = videoResults.map(item => `\n                <div class=\"video-card\"> <a href=\"${item.link}\" class=\"card-link\" target=\"_blank\">\n                    <div class=\"video-thumbnail\"><img src=\"https://img.youtube.com/vi/${item.link.match(/[?&]v=([^&]+)/)?.[1]}/default.jpg\"></div>\n                    <div class=\"video-info\">\n                        <div class=\"video-title\">${item.title}</div>\n                        <div class=\"video-channel\">${item.channel}</div>\n                        <div class=\"video-duration\">${item.duration}</div>\n                    </div>\n                   </a>\n                </div>\n            `).join('');\n        }\n\n        function switchTab(tab) {\n            document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));\n            document.querySelectorAll('.tab-content').forEach(t => t.classList.remove('active'));\n            \n            event.target.classList.add('active');\n            document.getElementById(tab === 'table' ? 'countryTable' : 'countryMap').classList.add('active');\n        }\n    </script>\n</body>\n</html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,440],"id":"4795b577-97b8-46f7-a3c2-719ca0ed98b8","name":"Edit Fields9"},{"parameters":{"path":"3aa880c2-528a-4c3d-b72a-42199ec9e990","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-660,480],"id":"28330f2f-b3f8-41dd-bffc-e6600cb740ec","name":"Webhook","webhookId":"3aa880c2-528a-4c3d-b72a-42199ec9e990"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.page }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[1220,440],"id":"828388d1-67f7-499d-aace-1053cbe1e138","name":"Respond to Webhook"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[420,380],"id":"2da2e6e1-6841-4abb-b7be-42993ed7510e","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[580,440],"id":"647dc2cb-ef1a-4145-9b61-9a7795639e0b","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"206cec25-d287-499f-80c1-25446e611d77","name":"interest_region","value":"={{ \n  $json.interest_by_region\n    .sort((a, b) => (b.value?.[0] || 0) - (a.value?.[0] || 0))\n    .slice(0, 10)\n    .map(x => ({country: x.location,value:x.value?.[0]}) )\n}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,60],"id":"9ac89087-c42b-4a15-9780-8be67a515fe1","name":"Set Interest by Region"},{"parameters":{"assignments":{"assignments":[{"id":"206cec25-d287-499f-80c1-25446e611d77","name":"interest","value":"={{ \n  $json.interest_over_time.timeline_data.map(x => ({date: x.timestamp,value:x.value[0]}) )\n}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,220],"id":"16e4b524-e6ce-4be8-91c8-717caddb9c73","name":"Set Interest"},{"parameters":{"assignments":{"assignments":[{"id":"49cfffcf-d556-4760-9781-22dfc05c7008","name":"queries_web","value":"={{    $json.related_queries.top.map(x => ({query: x.query,value:x.value}) ) }}","type":"array"},{"id":"1e3a4fff-6ec8-4129-b66d-8fba958306b4","name":"rising_web","value":"={{    $json.related_queries.rising.map(x => ({query: x.query,value:x.value}) ) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,400],"id":"4a45c1d5-15dd-41e4-a066-1c45d7d41753","name":"Set Queries Web"},{"parameters":{"assignments":{"assignments":[{"id":"49cfffcf-d556-4760-9781-22dfc05c7008","name":"topics","value":"={{    $json.related_topics.top    .sort((a, b) => (b.value?.[0] || 0) - (a.value?.[0] || 0))\n    .slice(0, 10).map(x => ({topic: x.topic.title,score:x.value}) ) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,580],"id":"ca3c1d27-7823-4fc2-b411-430a494d3320","name":"Set Topics Web"},{"parameters":{"assignments":{"assignments":[{"id":"1d31961f-d649-4a52-81fc-b1ba3a8773ca","name":"search","value":"={{    $json.organic_results.map(x => ({title: x.title,snippet:x.snippet, link:x.link}) ) }}","type":"array"},{"id":"dd353f3f-c85a-4ffd-9873-998a8293ee59","name":"youtube","value":"={{    $json.inline_videos.map(x => ({channel: x.channel,title: x.title, link:x.link, duration:x.duration}) ) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,780],"id":"1c5a116e-2e5e-4f75-9377-df6def1501cb","name":"Set Search"},{"parameters":{"content":"### Replace connections","height":80},"type":"n8n-nodes-base.stickyNote","position":[-220,-60],"typeVersion":1,"id":"b78e0671-9c61-46c9-b590-4ecbd27830de","name":"Sticky Note"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Set Query":{"main":[[{"node":"Interest","type":"main","index":0},{"node":"Queries Web","type":"main","index":0},{"node":"Interest by Region","type":"main","index":0},{"node":"Topics Web","type":"main","index":0},{"node":"Search2","type":"main","index":0}]]},"Interest by Region":{"main":[[{"node":"Set Interest by Region","type":"main","index":0}]]},"Interest":{"main":[[{"node":"Set Interest","type":"main","index":0}]]},"Queries Web":{"main":[[{"node":"Set Queries Web","type":"main","index":0}]]},"Search2":{"main":[[{"node":"Set Search","type":"main","index":0}]]},"Topics Web":{"main":[[{"node":"Set Topics Web","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set Query","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Set Interest by Region":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Interest":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set Queries Web":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Set Topics Web":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Set Search":{"main":[[{"node":"Merge","type":"main","index":5}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"1a764a20-7c83-4519-aff7-70a0966259b9","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T16:11:16.398Z","createdAt":"2025-08-04T16:11:16.398Z","role":"workflow:owner","workflowId":"HAp8dgXahRH2Xoio","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[{"updatedAt":"2025-08-04T16:11:40.942Z","createdAt":"2025-08-04T16:11:40.942Z","id":"zWYYgtZubWU0mgUg","name":"parse"}]}