workflows/screenshot processor.json
{"updatedAt":"2025-08-04T18:05:45.754Z","createdAt":"2025-08-04T18:04:23.042Z","id":"eBn4wj3f8ZwUbxmK","name":"screenshot processor","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1gLg_xklBYRrlQ3Vz3GyXfNCQ0XBzggYl","mode":"list","cachedResultName":"screensheets","cachedResultUrl":"https://drive.google.com/drive/folders/1gLg_xklBYRrlQ3Vz3GyXfNCQ0XBzggYl"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[400,220],"id":"8651d466-fa96-4434-be2b-e2de68d847cc","name":"Google Drive Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[620,220],"id":"0739545d-a16f-441a-952b-8ada2da88118","name":"Google Drive"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Extract the title of the article from the following text obtained from the image. Return just the title, without any extra words or quotes.\nText: {{ $binary[\"data\"] }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,240],"id":"47919a7b-bf3c-4612-8cb6-aa102bbbbfd6","name":"OpenAI"},{"parameters":{"url":"https://serpapi.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"engine","value":"google"},{"name":"q","value":"={{ $json.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,240],"id":"e5b58804-0727-493b-b0a5-2e07a2fc5533","name":"serpAPI","notes":"search for the article"},{"parameters":{"jsCode":"// Initialize an array to store the extracted URLs\nlet urls = [];\n\n// Loop through the input items\nfor (const item of $input.all()) {\n  // Check if the item has inline_images and extract URLs from each image\n  if (item.json.inline_images && Array.isArray(item.json.inline_images)) {\n    for (const image of item.json.inline_images) {\n      if (image.source) {\n        urls.push(image.source);\n      }\n    }\n  }\n\n  // Check if the item has inline_videos and extract URLs from each video\n  if (item.json.inline_videos && Array.isArray(item.json.inline_videos)) {\n    for (const video of item.json.inline_videos) {\n      if (video.link) {\n        urls.push(video.link);\n      }\n    }\n  }\n\n  // Check if the item has related_questions and extract URLs from each question\n  if (item.json.related_questions && Array.isArray(item.json.related_questions)) {\n    for (const question of item.json.related_questions) {\n      if (question.link) {\n        urls.push(question.link);\n      }\n    }\n  }\n\n  // Check if the item has organic_results and extract URLs from each result\n  if (item.json.organic_results && Array.isArray(item.json.organic_results)) {\n    for (const result of item.json.organic_results) {\n      if (result.link) {\n        urls.push(result.link);\n      }\n    }\n  }\n}\n\n// Return an object containing the extracted URLs\nreturn {\n  urls: urls\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,240],"id":"02178478-1316-4de0-bfbc-a753e87856be","name":"URL extraction"},{"parameters":{"binaryPropertyName":"dataCSV","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1540,240],"id":"80d2e1c9-b26b-40e7-9d5a-9dbff1f06dad","name":"Convert to CSV"},{"parameters":{"inputDataFieldName":"dataCSV","name":"=articles_{{ new Date().toISOString().replace(/[:\\-T\\.Z]/g,'') }}.csv","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1gLg_xklBYRrlQ3Vz3GyXfNCQ0XBzggYl","mode":"list","cachedResultName":"screensheets","cachedResultUrl":"https://drive.google.com/drive/folders/1gLg_xklBYRrlQ3Vz3GyXfNCQ0XBzggYl"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1780,240],"id":"2d526e3d-e90c-4861-b176-22abb70371c2","name":"Google Drive1","notes":"upload file\n"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TFqiwqolzS3UL3atXKRebDixGZbdqkUd8dtLeePi-Hs","mode":"list","cachedResultName":"links to the csv file","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TFqiwqolzS3UL3atXKRebDixGZbdqkUd8dtLeePi-Hs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TFqiwqolzS3UL3atXKRebDixGZbdqkUd8dtLeePi-Hs/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"webViewLink","displayName":"webViewLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2220,240],"id":"c7b8a493-2ef0-496f-87f2-3410ef2421f5","name":"Google Sheets","notesInFlow":true,"notes":"append link"},{"parameters":{"assignments":{"assignments":[{"id":"7d9fde1f-251e-4f96-ac1c-59635f8b29de","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"51bc23a3-cb23-4763-8eb5-9952c11e3f36","name":"webViewLink","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,240],"id":"68ee3ccb-79a0-474a-aeae-8ffaffa084d1","name":"Edit Fields","notesInFlow":true,"notes":"extract link"},{"parameters":{"content":"## Automated Screenshot Processing\n\nThis workflow streamlines the process of turning unstructured screenshot data into actionable, organized information, saving time and reducing manual effort.","height":240,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-60],"id":"cdce0e04-aded-4f4b-934b-0a2590a6ca5e","name":"Sticky Note"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"serpAPI","type":"main","index":0}]]},"serpAPI":{"main":[[{"node":"URL extraction","type":"main","index":0}]]},"URL extraction":{"main":[[{"node":"Convert to CSV","type":"main","index":0}]]},"Convert to CSV":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"38dcd037-c9bb-4158-8104-386df5dd3ea0","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:04:23.042Z","createdAt":"2025-08-04T18:04:23.042Z","role":"workflow:owner","workflowId":"eBn4wj3f8ZwUbxmK","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}
