workflows/sub-wf.json
{"updatedAt":"2025-11-09T10:26:00.997Z","createdAt":"2025-08-26T19:02:57.146Z","id":"D8OcXiKNLWa695Vi","name":"sub-wf","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"57646c28-a971-41fa-a772-a9e41afd80ad","name":"Return","type":"n8n-nodes-base.set","position":[900,100],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"93050ef3-37c4-4d10-972e-6e53487aa827","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[-140,-20],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"c257b40d-42ee-4e88-91c6-e1f8687dac16","name":"If file too large","type":"n8n-nodes-base.if","position":[-380,0],"typeVersion":2},{"parameters":{},"id":"bed44e58-9958-41b1-ad85-ffffaf26632c","name":"Merge Items","type":"n8n-nodes-base.merge","position":[-380,260],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"de35f743-8e61-4361-a0f0-d565bab74eb3","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[-180,260],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"b05eead0-0e2b-432c-baf1-0c3ff7e92fc9","name":"Check Status","type":"n8n-nodes-base.switch","position":[220,260],"typeVersion":1},{"parameters":{},"id":"a12fa657-ab0d-4ec7-bcde-40e4c9a0860b","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[440,100],"typeVersion":1},{"parameters":{},"id":"21b173ec-237e-456a-ac55-93b408b76bce","name":"File is different","type":"n8n-nodes-base.noOp","position":[440,260],"typeVersion":1},{"parameters":{},"id":"9a9c1d62-1582-42ab-b55c-77e5dc063701","name":"File is new","type":"n8n-nodes-base.noOp","position":[440,460],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Config').first().item.repo_owner }}","mode":""},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"38ff93a7-a367-449f-8373-72575a95c2ed","name":"Create new file","type":"n8n-nodes-base.github","position":[660,460],"typeVersion":1,"webhookId":"1bbf4dad-83f8-4a46-8f89-49ceac119e0a","credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"12e65d0c-ac54-4ab1-9766-cd4b9fefe779","name":"Edit existing file","type":"n8n-nodes-base.github","position":[660,260],"typeVersion":1,"webhookId":"149d2788-5b9c-42a9-9162-5e4f0c97161f","credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}}},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"fcc65582-c1a9-471a-b160-c75a95bb15d6","name":"Create sub path","type":"n8n-nodes-base.set","position":[20,260],"typeVersion":3.3},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":""},"filePath":"={{ $json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"0c857cee-dc44-43f9-b90e-91419922e097","name":"Get file data","type":"n8n-nodes-base.github","position":[-580,0],"typeVersion":1,"alwaysOutputData":true,"webhookId":"dd432d08-1f66-44a7-862c-860bd1454f51","credentials":{"githubApi":{"id":"aPqWKpjfi5PeX3Ha","name":"GitHub club"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=Nat822"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"n8n-wf-backup"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"=workflows/"}]},"includeOtherFields":true,"options":{}},"id":"1bd081ae-cc4b-4a89-979c-71dad3091743","name":"Config","type":"n8n-nodes-base.set","position":[-580,280],"typeVersion":3.4},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,280],"id":"0039f919-ce85-4295-ae63-db9eb3456696","name":"When Executed by Another Workflow"}],"connections":{"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"0b4b9930-66b7-4f54-ba37-232a8cf5c01a","triggerCount":0,"shared":[{"updatedAt":"2025-08-26T19:02:57.146Z","createdAt":"2025-08-26T19:02:57.146Z","role":"workflow:owner","workflowId":"D8OcXiKNLWa695Vi","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}