workflows/test_loop.json
{"updatedAt":"2025-11-03T03:50:55.428Z","createdAt":"2025-11-03T03:37:19.213Z","id":"4tTrPY2S8z3rWgHi","name":"test_loop","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-880,680],"id":"8e620ba0-5d5a-4430-abe1-5c76b85b3d61","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c8c8b07e-55d5-41fc-929e-d6cd1e1fc45b","leftValue":"={{ $json.var }}","rightValue":"={{ $('SetVar').first().json.var2 }}","operator":{"type":"number","operation":"lte"}},{"id":"751f533d-073c-4006-b8ba-d721b7e2f057","leftValue":"={{ $json.var }}","rightValue":"={{ $('SetVar').first().json.var2 }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,140],"id":"c2dcdf1b-ba61-453a-a928-9e4709cf91c8","name":"If"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,360],"id":"7474f349-2877-4a54-8cdc-19f6c9f4ff12","name":"Wait","webhookId":"6163e0f3-a66b-4fcd-afca-5c03bd66ca41"},{"parameters":{"content":"$var = 100\n$var2=105","height":368,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-400,40],"typeVersion":1,"id":"2dbff843-0236-4cfe-80ad-a39ae1188e9e","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"c1baf768-8705-4671-adcd-d846f94a4464","name":"var","value":100,"type":"number"},{"id":"34b2d6f3-9f88-42e6-8a7c-0166b712ae93","name":"var2","value":105,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,140],"id":"17c620bd-dc80-4d58-b481-2fd134716ce7","name":"SetVar"},{"parameters":{"assignments":{"assignments":[{"id":"43769cf5-8468-4f9d-bbcc-aacd4190a343","name":"var","value":"={{ $json.var }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,120],"id":"4399a193-47b6-4d6c-afd4-f65bde329119","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a33a3487-d7c6-4437-9e4d-d8c8b37423bc","name":"var","value":"={{ $json.var + 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,400],"id":"3dc5214f-adba-41bf-a302-494c6590ca82","name":"var+1"},{"parameters":{"content":"{{ $('SetVar').item.json.var }} >= {{ $json.var2 }}\nOR\n{{ $('var+1').item.json.var }} >= {{ $json.var2 }}","height":272,"width":416},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"de1db86e-73e8-4eb0-8c51-3ce4f812bd58","name":"Sticky Note1"},{"parameters":{"content":"var= {{ Number( $json.var+1) }}","height":192,"width":368},"type":"n8n-nodes-base.stickyNote","position":[320,320],"typeVersion":1,"id":"c456b19c-227c-47cc-9374-ef331e0520c7","name":"Sticky Note2"},{"parameters":{"content":"Пока var < var2(=105)  - идём по false. Как  только var досчитается до 105 - true.","color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-180],"id":"888ecf75-b3c0-44fa-b689-ce7ef2361f5c","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"ecdfa25d-d777-4d8b-9d92-1878e64e205e","name":"var","value":100,"type":"number"},{"id":"f61068c2-630e-4686-a0f3-047a72c1856c","name":"var2","value":105,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,840],"id":"283a01b7-d747-4515-904b-988a09ec4276","name":"setVar"},{"parameters":{"assignments":{"assignments":[{"id":"ecdfa25d-d777-4d8b-9d92-1878e64e205e","name":"var","value":"={{ $json.var +1}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,1060],"id":"c8dac454-9f67-4c60-86c9-5e55b411cd8e","name":"setVar1"},{"parameters":{"assignments":{"assignments":[{"id":"ecdfa25d-d777-4d8b-9d92-1878e64e205e","name":"var","value":"100","type":"string"},{"id":"f61068c2-630e-4686-a0f3-047a72c1856c","name":"var2","value":"105","type":"string"},{"id":"b47e0c26-da38-4505-92c3-5816039312b4","name":"","value":"","type":"string"},{"id":"52e09e7b-2f70-44dd-b037-6a1e82fe618c","name":"var","value":"={{ $('setVar').item.json.var }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,820],"id":"eb9d3251-391a-4542-a9ce-1e1746f18d12","name":"set2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7304aed-ce69-452a-87d8-85d2c0613721","leftValue":"={{ $('setVar').item.json.var >= $('setVar').item.json.var2 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"5451f41c-566f-457a-a6f8-03d224e0cfbf","leftValue":"={{ $json.var >= $('setVar').item.json.var2 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,840],"id":"d13eb69c-2e82-4f43-b449-e0c6f37ea980","name":"If1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-120,1060],"id":"ae3ca9d5-9f6f-4bb2-854f-69f127e62188","name":"Wait1","webhookId":"1b048fc0-4f57-48b1-8760-0f1617520246"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"SetVar","type":"main","index":0},{"node":"setVar","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"var+1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]},"SetVar":{"main":[[{"node":"If","type":"main","index":0}]]},"var+1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"setVar":{"main":[[{"node":"If1","type":"main","index":0}]]},"setVar1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"set2","type":"main","index":0}],[{"node":"setVar1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"08cf27c6-5703-496c-8a4a-9f070357f774","triggerCount":0,"shared":[{"updatedAt":"2025-11-03T03:37:19.213Z","createdAt":"2025-11-03T03:37:19.213Z","role":"workflow:owner","workflowId":"4tTrPY2S8z3rWgHi","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}