workflows/transcription.json
{"updatedAt":"2025-08-04T18:17:20.039Z","createdAt":"2025-08-04T18:17:20.039Z","id":"zUKEFWuVkMD1mEUi","name":"transcription","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,120],"id":"ff5c71c5-3b69-40fe-ba02-5ebdae43f6fe","name":"get file1","webhookId":"e37916ac-259f-4ce1-a3c1-37eb3d67d5a2"},{"parameters":{"method":"POST","url":"https://api.assemblyai.com/v2/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.assemby_key }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,120],"id":"84fc4dcd-f449-4b27-a691-98df680159b4","name":"Assemblyai2"},{"parameters":{"method":"POST","url":"https://api.assemblyai.com/v2/transcript","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields2').item.json.assemby_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"audio_url","value":"={{ $json.upload_url }}"},{"name":"speaker_labels","value":"={{ true }}"},{"name":"language_code","value":"ru"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,120],"id":"374c7d4b-86de-4cf5-acce-b8a3e1e20025","name":"Assemblyai3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[860,120],"id":"3a0c65c6-0b9d-4a33-9711-e6392c3e6e56","name":"Wait2","webhookId":"f66a6e43-9f68-4c16-bcc9-23abf7e5111c"},{"parameters":{"url":"=https://api.assemblyai.com/v2/transcript/{{ $('Assemblyai3').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields2').item.json.assemby_key }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,120],"id":"bae47cda-d07f-4f5e-b6c1-8ead93f7e808","name":"Assemblyai4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f158a543-36f8-4307-b4d8-f31abec63805","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,120],"id":"5a07bd60-9659-45a9-9981-a9e135cea7ae","name":"If3"},{"parameters":{"assignments":{"assignments":[{"id":"c19ad33b-31fd-41de-a0bb-d923c2902160","name":"assemby_key","value":"здесь ключ вставь","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,120],"id":"9e5b732d-0e6d-406c-905a-58508c785952","name":"Edit Fields2"},{"parameters":{"content":"## Здесь вставь ключ API","height":320},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"a487df55-4ccf-431d-b57e-0ac8e6bd023c","name":"Sticky Note6"}],"connections":{"get file1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Assemblyai2":{"main":[[{"node":"Assemblyai3","type":"main","index":0}]]},"Assemblyai3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Assemblyai4","type":"main","index":0}]]},"Assemblyai4":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"Assemblyai4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Assemblyai2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"40ae62ce-582b-476c-8071-d7f08bf36b11","triggerCount":0,"shared":[{"updatedAt":"2025-08-04T18:17:20.039Z","createdAt":"2025-08-04T18:17:20.039Z","role":"workflow:owner","workflowId":"zUKEFWuVkMD1mEUi","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}