workflows/VideoGenerationBot.json
{"updatedAt":"2025-11-09T16:35:39.873Z","createdAt":"2025-11-07T07:45:46.563Z","id":"qMUmJpynPuxtk6ko","name":"VideoGenerationBot","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body.toJsonString() }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-20],"id":"5b0fb133-ba9c-4594-81a8-eb92123064b4","name":"Telegram Trigger1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfunction handleTelegramWebhook(update) {\n\n    const normalized = {\n        text: null,\n        event: null,\n        user_id: null,\n        message_id: null,\n        file_id: null,\n        file_type: null,\n        raw_data: update, \n        user_data: null // добавляем данные пользователя\n    };\n\n    // Handle message updates\n    if (update.message) {\n        const msg = update.message;\n        normalized.message_id = msg.message_id;\n        normalized.user_id = msg.from.id;\n        normalized.user_data = {\n            user_id: msg.from.id,\n            first_name: msg.from.first_name,\n            last_name: msg.from.last_name,\n            user_name: msg.from.username\n        };\n\n        // Handle text messages\n        if (msg.text) {          \n            if(msg.text.startsWith(\"/start\") && msg.text.split(' ').length > 1) {              \n            normalized.text = msg.text.split(' ')[1];\n            } else {              \n              normalized.text = msg.text;\n            }            \n            normalized.event = 'text_message';\n        } else if(msg.new_chat_member) {\n            normalized.text = 'message new_chat_member';\n        } else if(msg.left_chat_member) {\n            normalized.text = 'message left_chat_member';\n        }\n        // Handle photo messages\n        else if (msg.photo) {\n            normalized.text = msg.caption || 'new photo message';\n            normalized.event = 'photo_message';\n            normalized.file_id = msg.photo[msg.photo.length - 1].file_id;\n            normalized.file_type = 'photo';\n        }\n        // Handle video messages\n        else if (msg.video) {\n            normalized.text = msg.caption || 'new video message';\n            normalized.event = 'video_message';\n            normalized.file_id = msg.video.file_id;\n            normalized.file_type = 'video';\n        }\n        // Handle document messages\n        else if (msg.document) {\n            normalized.text = msg.caption || 'new document message';\n            normalized.event = 'document_message';\n            normalized.file_id = msg.document.file_id;\n            normalized.file_type = 'document';\n        }\n        // Handle voice messages\n        else if (msg.voice) {\n            normalized.text = msg.caption || 'new voice message';\n            normalized.event = 'voice_message';\n            normalized.file_id = msg.voice.file_id;\n            normalized.file_type = 'voice';\n        }\n        // Handle audio messages\n        else if (msg.audio) {\n            normalized.text = msg.caption || 'new audio message';\n            normalized.event = 'audio_message';\n            normalized.file_id = msg.audio.file_id;\n            normalized.file_type = 'audio';\n        }\n        // Handle location messages\n        else if (msg.location) {\n            normalized.text = 'new location message ' + msg.location.latitude + ' ' + msg.location.longitude;\n            normalized.event = 'location_message';\n        }\n        // Handle contact messages\n        else if (msg.contact) {\n            normalized.text = 'new contact message ' + msg.contact.phone_number;\n            normalized.event = 'contact_message';\n        }\n    }\n    // Handle callback queries\n    else if (update.callback_query) {\n        const cb = update.callback_query;\n        normalized.text = cb.data;\n        normalized.event = 'callback_query';\n        normalized.user_id = cb.from.id;\n        normalized.message_id = cb.message.message_id;\n        normalized.user_data = {\n            user_id: cb.from.id,\n            first_name: cb.from.first_name,\n            last_name: cb.from.last_name,\n            user_name: cb.from.username\n        };\n    }\n    // Handle channel posts\n    else if (update.channel_post) {\n        const post = update.channel_post;\n        normalized.message_id = post.message_id;\n        normalized.user_id = post.chat.id;\n\n        if (post.text) {\n            normalized.text = post.text;\n            normalized.event = 'channel_post';\n        }\n    }\n    // Handle edited messages\n    else if (update.edited_message) {\n        const msg = update.edited_message;\n        normalized.message_id = msg.message_id;\n        normalized.user_id = msg.from.id;\n        normalized.user_data = {\n            user_id: msg.from.id,\n            first_name: msg.from.first_name,\n            last_name: msg.from.last_name,\n            user_name: msg.from.username\n        };\n\n        if (msg.text) {\n            normalized.text = msg.text;\n            normalized.event = 'edited_message';\n        }\n    }\n    // Handle inline queries\n    else if (update.inline_query) {\n        const query = update.inline_query;\n        normalized.text = query.query;\n        normalized.event = 'inline_query';\n        normalized.user_id = query.from.id;\n        normalized.user_data = {\n            user_id: query.from.id,\n            first_name: query.from.first_name,\n            last_name: query.from.last_name,\n            user_name: query.from.username\n        };\n    }\n    // Handle chosen inline results\n    else if (update.chosen_inline_result) {\n        const result = update.chosen_inline_result;\n        normalized.text = result.query;\n        normalized.event = 'chosen_inline_result';\n        normalized.user_id = result.from.id;\n        normalized.user_data = {\n            user_id: result.from.id,\n            first_name: result.from.first_name,\n            last_name: result.from.last_name,\n            user_name: result.from.username\n        };\n    }\n    // Handle poll answers\n    else if (update.poll_answer) {\n        const poll = update.poll_answer;\n        normalized.event = 'poll_answer';\n        normalized.user_id = poll.user.id;\n        normalized.user_data = {\n            user_id: poll.user.id,\n            first_name: poll.user.first_name,\n            last_name: poll.user.last_name,\n            user_name: poll.user.username\n        };\n    }\n    // Handle my chat member updates\n    else if (update.my_chat_member) {\n        const member = update.my_chat_member;\n        normalized.event = 'my_chat_member';\n        normalized.user_id = member.from.id;\n        normalized.user_data = {\n            user_id: member.from.id,\n            first_name: member.from.first_name,\n            last_name: member.from.last_name,\n            user_name: member.from.username\n        };\n    }\n    // Handle chat member updates\n    else if (update.chat_member) {\n        const member = update.chat_member;\n        normalized.event = 'chat_member';\n        normalized.user_id = member.from.id;\n        normalized.user_data = {\n            user_id: member.from.id,\n            first_name: member.from.first_name,\n            last_name: member.from.last_name,\n            user_name: member.from.username\n        };\n    }\n\n    return normalized;\n}\n\nreturn [handleTelegramWebhook($input.first().json)];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-20],"id":"691f6829-455a-44e5-b5cb-fcc793aace27","name":"update"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"15aca3db-f35e-4df2-9fac-157f5b901d0a"}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e39e82f4-5b33-44ac-bd62-7eb6a79795d4","leftValue":"={{ $json.text }}","rightValue":"create_video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef193d17-c600-4c2b-b679-2a75e0db3d96","leftValue":"={{ $json.event }}","rightValue":"create_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25297ca2-cb1a-43a1-9a4d-ad700188c3ce","leftValue":"={{ $json.event }}","rightValue":"text_message","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"default"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7fc4f5d5-de36-4afd-ae3b-2b072bcda164","leftValue":"={{ $json.event }}","rightValue":"callback_query","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"callback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,-60],"id":"2ed1d067-7d1d-40de-86b1-cc284ed6f45e","name":"Switch"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $json.token }}/setWebhook","sendBody":true,"specifyBody":"json","jsonBody":"={\"url\":\"{{ $json.url }}{{ $json.token }}\",\"allowed_updates\":[\"message\",\"edited_message\",\"channel_post\",\"edited_channel_post\",\"inline_query\",\"chosen_inline_result\",\"callback_query\",\"shipping_query\",\"pre_checkout_query\",\"poll\",\"poll_answer\",\"my_chat_member\",\"chat_member\",\"chat_join_request\"]}","options":{"redirect":{"redirect":{}}}},"id":"bbeb029c-ced7-449d-9fb1-f324596cbccc","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[260,-560]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,-580],"id":"d56d9d4c-8977-473c-beaf-f572cbd933e7","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"8b8dbe23-8435-4f82-937f-170b4ff3bea5","name":"token","value":"8590012587:AAGUfmhmhiN_nZXRlB9N20o8adVbyg05xAw","type":"string"},{"id":"bfdaefe5-cd53-430c-ac79-2d173e44072e","name":"url","value":"https://n8n.ai-lowcode.dev/webhook/fe8f09cb-ec91-4ceb-aca4-128966c74dcc/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-560],"id":"e2cc4b1d-bb2b-40ab-bb2b-386059ddc5a3","name":"token_getyourvideo"},{"parameters":{"httpMethod":"POST","path":":token","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,-20],"id":"cf6f50a3-114f-4238-8ba0-11fe577a7cdf","name":"Webhook","webhookId":"fe8f09cb-ec91-4ceb-aca4-128966c74dcc"},{"parameters":{"chatId":"={{ $json.user_id }}","text":"🎨 *Добро пожаловать в AI Creation Bot!*\nВыберите что хотите создать:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🖼️ Создать изображение","additionalFields":{"callback_data":"create_image"}}]}},{"row":{"buttons":[{"text":"🎥 Создать видео","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"ℹ️ Помощь","additionalFields":{"callback_data":"help"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,-220],"id":"69c8d751-c146-43c1-8db8-c869c0497f6e","name":"main meny","webhookId":"afcbb7c2-6c7d-4054-9afe-0e85541e20ca","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"jsCode":"// Parse callback data and route accordingly\nconst callbackData = items[0].json.text;\nconst userId = items[0].json.user_id;\nconst messageId = items[0].json.message_id;\n\nlet response = {\n  action: \"send_message\",\n  chatId: userId,\n  messageId: messageId,\n  text: \"\",\n  replyMarkup: {}\n};\n\n// Route based on callback data\nswitch(callbackData) {\n  case \"create_image\":\n    response.text = \"📐 *Выберите формат изображения:*\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [{ text: \"1:1 Квадрат\", callback_data: \"format_1_1\" }],\n        [{ text: \"9:16 Вертикальный\", callback_data: \"format_9_16\" }],\n        [{ text: \"16:9 Горизонтальный\", callback_data: \"format_16_9\" }],\n        [{ text: \"↩️ Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    break;\n    \n  case \"create_video\":\n    response.text = \"🤖 *Выберите модель для создания видео:*\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [{ text: \"Sora-2 Текст-в-Видео\", callback_data: \"sora2_text\" }],\n        [{ text: \"Sora-2 Изображение-в-Видео\", callback_data: \"sora2_image\" }],\n        [{ text: \"Sora-2 Pro Текст-в-Видео\", callback_data: \"sora2_pro_text\" }],\n        [{ text: \"Sora-2 Pro Изображение-в-Видео\", callback_data: \"sora2_pro_image\" }],\n        [{ text: \"Veo3 Текст-в-Видео\", callback_data: \"veo3_text\" }],\n        [{ text: \"Veo3 Фото-в-Видео\", callback_data: \"veo3_photo\" }],\n        [{ text: \"↩️ Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    break;\n    \n  case \"main_menu\":\n    response.text = \"🎨 *Главное меню*\\n\\nВыберите что хотите создать:\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: \"🖼️ Создать изображение\", callback_data: \"create_image\" },\n          { text: \"🎥 Создать видео\", callback_data: \"create_video\" }\n        ],\n        [\n          { text: \"ℹ️ Помощь\", callback_data: \"help\" }\n        ]\n      ]\n    };\n    break;\n    \n  case \"help\":\n    response.text = \"ℹ️ *Помощь по боту*\\n\\n• Изображения: $0.02 за генерацию\\n• Видео: от $0.15 за 10-15 секунд\\n• Pro модели: от $0.75 за стандартное качество\\n\\nВсегда можно вернуться в главное меню!\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [{ text: \"↩️ Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    break;\n    \n  // Image format selection\n  case \"format_1_1\":\n  case \"format_9_16\":\n  case \"format_16_9\":\n    response.text = \"✍️ *Опишите ваше изображение:*\\n\\nСтоимость: $0.02 за генерацию\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [{ text: \"↩️ Назад\", callback_data: \"create_image\" }],\n        [{ text: \"🏠 Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    response.session = { type: \"image\", format: callbackData };\n    break;\n    \n  // Video model selection with duration\n  case \"sora2_text\":\n  case \"sora2_image\":\n    response.text = \"⏱️ *Выберите хронометраж:*\\n\\n• 10 секунд: $0.15\\n• 15 секунд: $0.15\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: \"10 секунд ($0.15)\", callback_data: \"duration_10\" },\n          { text: \"15 секунд ($0.15)\", callback_data: \"duration_15\" }\n        ],\n        [{ text: \"↩️ Назад\", callback_data: \"create_video\" }],\n        [{ text: \"🏠 Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    response.session = { type: \"video\", model: callbackData };\n    break;\n    \n  case \"sora2_pro_text\":\n  case \"sora2_pro_image\":\n    response.text = \"⏱️ *Выберите хронометраж и качество:*\\n\\n*Стандарт:*\\n• 10сек: $0.75\\n• 15сек: $1.35\\n\\n*Высокое качество:*\\n• 10сек: $1.65\\n• 15сек: $3.15\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: \"Стандарт 10сек ($0.75)\", callback_data: \"pro_std_10\" },\n          { text: \"Стандарт 15сек ($1.35)\", callback_data: \"pro_std_15\" }\n        ],\n        [\n          { text: \"ВК 10сек ($1.65)\", callback_data: \"pro_hq_10\" },\n          { text: \"ВК 15сек ($3.15)\", callback_data: \"pro_hq_15\" }\n        ],\n        [{ text: \"↩️ Назад\", callback_data: \"create_video\" }],\n        [{ text: \"🏠 Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    response.session = { type: \"video\", model: callbackData };\n    break;\n    \n  case \"veo3_text\":\n  case \"veo3_photo\":\n    response.text = \"⚡ *Выберите скорость и качество:*\\n\\n• Быстро: $0.30\\n• Качество: $1.25\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [\n          { text: \"Быстро $0.3\", callback_data: \"veo_fast\" },\n          { text: \"Качество $1.25\", callback_data: \"veo_quality\" }\n        ],\n        [{ text: \"↩️ Назад\", callback_data: \"create_video\" }],\n        [{ text: \"🏠 Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    response.session = { type: \"video\", model: callbackData };\n    break;\n    \n  // Duration selection final step\n  case \"duration_10\":\n  case \"duration_15\":\n  case \"pro_std_10\":\n  case \"pro_std_15\":\n  case \"pro_hq_10\":\n  case \"pro_hq_15\":\n  case \"veo_fast\":\n  case \"veo_quality\":\n    response.text = \"✍️ *Опишите ваше видео:*\\n\\nПришлите текстовое описание для генерации.\";\n    if(items[0].json.session && items[0].json.session.model.includes(\"image\")) {\n      response.text += \"\\n\\n📎 *Для моделей изображение-в-видео пришлите также фото*\";\n    }\n    response.replyMarkup = {\n      inline_keyboard: [\n        [{ text: \"↩️ Назад\", callback_data: items[0].json.session?.model || \"create_video\" }],\n        [{ text: \"🏠 Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n    response.session = { \n      ...items[0].json.session, \n      duration: callbackData,\n      waitingForPrompt: true \n    };\n    break;\n    \n  default:\n    response.text = \"❌ Неизвестная команда\";\n    response.replyMarkup = {\n      inline_keyboard: [\n        [{ text: \"🏠 Главное меню\", callback_data: \"main_menu\" }]\n      ]\n    };\n}\n\nreturn [response];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,-620],"id":"8826192e-eddd-455f-ac3d-246ef1f90edf","name":"callback_handle"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"create_image","operator":{"type":"string","operation":"equals"},"id":"7f4d996c-0006-4f1c-ab65-f3d23dbdba78"}],"combinator":"and"},"renameOutput":true,"outputKey":"image_menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bc73ae33-995e-445d-8172-6712799e9379","leftValue":"={{ $json.text }}","rightValue":"create_video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"04e55f5c-a8b7-4585-b6c8-915b4cb57024","leftValue":"={{ $json.text }}","rightValue":"main_menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"main-menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d50d374c-e520-419e-a6a6-e6e34a8ee1e3","leftValue":"={{ $json.text }}","rightValue":"help","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"help"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"341cc8da-1815-472a-a4d6-666f5ecd161f","leftValue":"={{ $json.text }}\n","rightValue":"={{ ['format_1_1', 'format_9_16', 'format_16_9'].includes($json.text) }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f0a4927a-c1cf-41e1-8e58-02706fa71657","leftValue":"={{ $json.text }}","rightValue":"={{ ['sora2_text', 'sora2_image'].includes($json.text) }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_duration"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"83eaa859-a831-4166-914c-5687d3037d97","leftValue":"={{ $json.text }}","rightValue":"={{ ['sora2_pro_text', 'sora2_pro_image'].includes($json.text) }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_duration"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d62d55fe-bd32-4371-be8e-7d52e806cc61","leftValue":"={{ $json.text }}","rightValue":"={{ ['veo3_text', 'veo3_photo'].includes($json.text) }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_quality"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5cf88e71-05b5-4dc2-8d65-7b4271a5cdcd","leftValue":"={{ $json.text }}","rightValue":"duration_10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"duration_10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"34ea0781-5dc6-43e0-b626-a9f95933504c","leftValue":"={{ $json.text }}","rightValue":"duration_15","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"duration_15"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3122367a-0221-496f-ab08-d8156d94a3ea","leftValue":"={{ $json.text }}","rightValue":"pro_std_10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pro_std_10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"556db40a-e0e6-45da-b221-59e5ff436006","leftValue":"={{ $json.text }}","rightValue":"pro_std_15","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pro_std_15"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1bf4e2c1-1d05-4d96-8e4e-16077c91d7a1","leftValue":"={{ $json.text }}","rightValue":"pro_hq_10","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pro_hq_10"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8dcb8dac-b72a-4db4-8545-2cbb5c2062ef","leftValue":"={{ $json.text }}","rightValue":"pro_hq_15","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pro_hq_15"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"50c6085e-8b4c-4cf4-89ce-194c8ba4b548","leftValue":"={{ $json.text }}","rightValue":"veo_fast","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo_fast"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c6ee33ab-d817-4e71-adf4-cfc0117d44b5","leftValue":"={{ $json.text }}","rightValue":"veo_quality","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo_quality"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[760,160],"id":"f55319ff-4782-4121-8e21-c5652de698ad","name":"Callback Router"},{"parameters":{"chatId":"={{ $json.user_id }}","text":"📐 *Выберите формат изображения:*","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"1:1 Квадрат","additionalFields":{"callback_data":"format_1_1"}}]}},{"row":{"buttons":[{"text":"9:16 Вертикальный","additionalFields":{"callback_data":"format_9_16"}}]}},{"row":{"buttons":[{"text":"16:9 Горизонтальный","additionalFields":{"callback_data":"format_16_9"}}]}},{"row":{"buttons":[{"text":"↩️ Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1020,-220],"id":"3de32a33-a255-41b6-bb1d-82e8efed087e","name":"Image Format Menu","webhookId":"0561180c-03bb-4207-8275-1f7324fea089","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"chatId":"={{ $('Switch').item.json.user_id }}","text":"✍️ *Опишите ваше изображение:*\nСтоимость: $0.02 за генерацию","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_image"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1260,180],"id":"7cfce245-e7ef-42b8-b61b-fb6482771787","name":"Image Prompt","webhookId":"703fca76-b951-45a3-a239-0dfd09354130","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"🤖 *Выберите модель для создания видео:*","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Sora-2 Текст-в-Видео","additionalFields":{"callback_data":"sora2_text"}}]}},{"row":{"buttons":[{"text":"Sora-2 Изображение-в-Видео","additionalFields":{"callback_data":"sora2_image"}}]}},{"row":{"buttons":[{"text":"Sora-2 Pro Текст-в-Видео","additionalFields":{"callback_data":"sora2_pro_text"}}]}},{"row":{"buttons":[{"text":"Sora-2 Pro Изображение-в-Видео","additionalFields":{"callback_data":"sora2_pro_image"}}]}},{"row":{"buttons":[{"text":"Veo3 Текст-в-Видео","additionalFields":{"callback_data":"veo3_text"}}]}},{"row":{"buttons":[{"text":"Veo3 Фото-в-Видео","additionalFields":{"callback_data":"veo3_photo"}}]}},{"row":{"buttons":[{"text":"↩️ Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,-20],"id":"41bfc005-9f20-4895-bfb5-2af0f77c3da2","name":"Video Model Menu","webhookId":"2886f7e8-29a4-4442-9bde-f19023c859e5","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"⏱️ *Выберите хронометраж:*\n• 10 секунд: $0.15\n• 15 секунд: $0.15","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"10 секунд ($0.15)","additionalFields":{"callback_data":"duration_10"}},{"text":"15 секунд ($0.15)","additionalFields":{"callback_data":"duration_15"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1540,400],"id":"2e5d0a32-4b9a-4c5b-8740-cb200c502a52","name":"Sora2 Duration","webhookId":"4ae151d4-bd51-45aa-b2f2-fb717f5cbe34","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"⏱️ *Выберите хронометраж и качество:*\n*Стандарт:*\n• 10сек: $0.75\n• 15сек: $1.35\n\n*Высокое качество:*\n• 10сек: $1.65\n• 15сек: $3.15","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Стандарт 10сек ($0.75)","additionalFields":{"callback_data":"pro_std_10"}},{"text":"Стандарт 15сек ($1.35)","additionalFields":{"callback_data":"pro_std_15"}}]}},{"row":{"buttons":[{"text":"ВК 10сек ($1.65)","additionalFields":{"callback_data":"pro_hq_10"}},{"text":"ВК 15сек ($3.15)","additionalFields":{"callback_data":"pro_hq_15"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1900,480],"id":"f56f2364-3f91-4b70-820d-536b697486b9","name":"Sora2 Pro Duration","webhookId":"c0eb2565-26f5-4cbe-a7e2-3b99fb255789","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"⚡ *Выберите скорость и качество:*\n\n• Быстро: $0.30\n• Качество: $1.25","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Быстро $0.3","additionalFields":{"callback_data":"veo_fast"}},{"text":"Качество $1.25","additionalFields":{"callback_data":"veo_quality"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,660],"id":"be36d9bc-7a37-465f-a79c-2964c57f4e95","name":"Veo3 Quality","webhookId":"6f7c0ff2-e8cf-42cd-b88c-ae8b08c0ca52","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"chatId":"={{ $json.user_id }}","text":"✍️ *Опишите ваше видео:*\n\nПришлите текстовое описание для генерации.\n*Отправьте ваш промпт текстовым сообщением в этот чат*","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,860],"id":"b0819094-2123-4f83-87b2-78b686aff53b","name":"Video Prompt","webhookId":"c47b74c5-7fac-4dc6-b6c0-a3d5eee89a63","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"652a91ca-2ab1-439e-bbdd-ab2f2ea69185","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"a73a34d3-d1ef-4fe3-8a78-447d4f289196","name":"waiting_for","value":"image_prompt","type":"string"},{"id":"83e199dc-937f-400c-aacf-445f9e492130","name":"image_format","value":"={{ $json.text }}","type":"string"},{"id":"b2b03ecd-cbd6-4705-81b3-3c9d77061e13","name":"timestamp","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,-220],"id":"750a310f-a531-48bf-9aed-54213c7b0482","name":"Set Image Session"},{"parameters":{"assignments":{"assignments":[{"id":"5a6a3847-ee30-4796-80c3-1c215d63f709","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"17e3eda3-c761-470e-9fcc-7700afe8ea08","name":"waiting_for","value":"video_model_selected","type":"string"},{"id":"b87bdbfe-693e-4f21-9ae5-f7250544f620","name":"video_model","value":"={{ $json.text }}","type":"string"},{"id":"71c079a8-7873-4f56-94c9-4e4c8fe95e30","name":"timestamp","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,-20],"id":"611d3279-ac19-46f9-a22b-6825978614e4","name":"Set Video Session"},{"parameters":{"jsCode":"\n// Get or initialize workflow data\nconst workflowData = $workflow.data || {};\nconst userId = items[0].json.user_id;\n\n// Create sessions object if it doesn't exist\nif (!workflowData.sessions) {\n  workflowData.sessions = {};\n}\n\n// Store user session data\nworkflowData.sessions[userId] = {\n  ...items[0].json,  // This includes waiting_for, image_format, video_model, etc.\n  last_updated: new Date().toISOString()\n};\n\n// Save back to workflow data\n$workflow.data = workflowData;\n\n// Pass data through to next node\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-220],"id":"f179dba0-3809-462f-aaa6-ae687ec466f3","name":"Save to Workflow Data-image"},{"parameters":{"jsCode":"Mode: \"Function\"\nValue: \n```javascript\n// Get or initialize workflow data\nconst workflowData = $workflow.data || {};\nconst userId = items[0].json.user_id;\n\n// Create sessions object if it doesn't exist\nif (!workflowData.sessions) {\n  workflowData.sessions = {};\n}\n\n// Store user session data\nworkflowData.sessions[userId] = {\n  ...items[0].json,  // This includes waiting_for, image_format, video_model, etc.\n  last_updated: new Date().toISOString()\n};\n\n// Save back to workflow data\n$workflow.data = workflowData;\n\n// Pass data through to next node\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,-20],"id":"b9f644ed-af09-45fe-ab22-ba7483b14a5a","name":"Save to Workflow Data-video"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.video_model }}","rightValue":"sora2_text","operator":{"type":"string","operation":"equals"},"id":"f11b7d58-3a2a-4832-96d3-d38f0bcdb4c2"}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cc8eb6b-23be-449d-8f97-b615c683ca07","leftValue":"={{ $json.video_model }}","rightValue":"sora2_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"087fa17b-e1af-4786-a31f-9133791b2dba","leftValue":"={{ $json.video_model }}","rightValue":"sora2_pro_text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2f15bf7-6491-4cde-adcd-0b6239364d7a","leftValue":"={{ $json.video_model }}","rightValue":"sora2_pro_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d718c17b-79a9-4830-b7b9-45f434787d12","leftValue":"={{ $json.video_model }}","rightValue":"veo3_text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dc11779-48dd-45cc-9102-7b7873cc8efd","leftValue":"={{ $json.video_model }}","rightValue":"veo3_photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_photo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1700,-20],"id":"3c22a4db-99d9-4a39-8523-db723ffe8ea5","name":"Video Model Router"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"filterByFormula":"={user_id}='{{$json.user_id}}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,-560],"id":"56510c30-f315-46ce-8b38-c9cf4761308f","name":"get session","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{$json.user_id}}","chat_id":"={{$json.chat_id ?? $json.user_id}}","state":"={{$json.state ?? 'main'}}","model":"={{$json.model ?? ''}}","format":"={{$json.format ?? ''}}","duration":"={{$json.duration ?? ''}}","quality":"={{$json.quality ?? ''}}","price":"={{$json.price ?? ''}}","prompt":"={{$json.prompt ?? ''}}","file_id":"={{$json.file_id ?? ''}}","created_at":"={{new Date().toISOString()}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[780,-560],"id":"afdf3c7f-65b5-4434-8329-03d036eefc69","name":"create session","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"id":"{{ $('Airtable: Get Session').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1000,-560],"id":"daeaaf0f-6564-4828-97a8-849510b68cad","name":"update session","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body.toJsonString() }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,1620],"id":"5f60b002-e403-4cfa-b91b-2132c26033d5","name":"Telegram Trigger"},{"parameters":{"jsCode":"const update = items[0].json.body;\nconst token = items[0].json.params.token;\nif(token !== $env.BOT_TOKEN) return [{json:{error:'Invalid token'}}];\nconst out = { user_id: null, chat_id: null, message_id: null, text: null, event: null, callback_query_id: null, photo_file_id: null, ref: null };\nif(update.message){\n  const m = update.message;\n  out.user_id = String(m.from.id);\n  out.chat_id = String(m.chat.id);\n  out.message_id = m.message_id;\n  out.event = 'message';\n  if(m.text){\n    out.text = m.text;\n    if(m.text.startsWith('/start')){ out.event = 'start'; out.ref = m.text.split(' ')[1] || null; }\n  }\n  if(m.photo && m.photo.length) out.photo_file_id = m.photo[m.photo.length-1].file_id;\n}\nif(update.callback_query){\n  const cb = update.callback_query;\n  out.user_id = String(cb.from.id);\n  out.chat_id = String(cb.message.chat.id);\n  out.message_id = cb.message.message_id;\n  out.callback_query_id = cb.id;\n  out.text = cb.data;\n  out.event = 'callback';\n}\nreturn [{json:out}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1620],"id":"45aaf187-4490-4dbb-a873-30f8d8913fbb","name":"update1"},{"parameters":{"httpMethod":"POST","path":":token","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,1620],"id":"3764d5f4-d577-4b8a-b076-a232124df409","name":"Webhook1","webhookId":"fe8f09cb-ec91-4ceb-aca4-128966c74dcc"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"filterByFormula":"={user_id}='{{$json.user_id}}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1460,1620],"id":"c61e9bb3-b16b-4f6e-92ac-11a69a64cc5b","name":"get session1","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"const rows = $('get session1').item.json.records;\nlet session = rows.length ? rows[0].fields : {};\nif(session.user_id && session.user_id !== $json.user_id) throw new Error('Session hijack');\nsession.airtable_id = rows.length ? rows[0].id : null;\nreturn [{...$json.toJSON(), session}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,1620],"id":"bba39375-ba6d-4948-8f29-5a923bca185e","name":"build session"},{"parameters":{"jsCode":"// Parse callback data and route accordingly\nconst i = items[0].json;\nconst s = i.session || {};\nlet route = 'unknown';\n\n// ----- rate limit -----\nif (i.error === 'Too many requests') {\n  route = 'rate_limit';\n}\n// ----- /start branches -----\nelse if (i.event === 'start') {\n  route = i.ref ? 'start_ref' : 'start_plain';\n}\n// ----- callback branches -----\nelse if (i.event === 'callback') {\n  const t = i.text;\n\n  if (t === 'main_menu')        route = 'main_menu';\n  else if (t === 'help')        route = 'help';\n  else if (t === 'create_image') route = 'image_choose_format';\n  else if (t === 'create_video') route = 'video_choose_model';\n\n  // image format chosen\n  else if (['format_1_1', 'format_9_16', 'format_16_9'].includes(t))\n                                route = 'image_ask_prompt';\n\n  // video model chosen\n  else if (['sora2_text', 'sora2_image', 'sora2_pro_text',\n            'sora2_pro_image', 'veo3_text', 'veo3_photo'].includes(t))\n                                route = 'video_choose_duration';\n\n  // duration/quality chosen → ask prompt\n  else if (['duration_10', 'duration_15', 'pro_std_10', 'pro_std_15',\n            'pro_hq_10', 'pro_hq_15', 'veo_fast', 'veo_quality'].includes(t))\n                                route = 'video_ask_prompt';\n\n  // regenerate button\n  else if (t === 'regenerate')  route = (s.last_type === 'image')\n                                      ? 'image_regenerate'\n                                      : 'video_regenerate';\n}\n// ----- text/photo messages -----\nelse if (i.event === 'message') {\n  if (s.waiting_for === 'image_prompt') route = 'image_generate';\n  if (s.waiting_for === 'video_prompt') route = 'video_generate';\n}\n\nreturn [{ ...i, route }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,1620],"id":"7b86049a-0993-497c-9a1c-a43a7acb24aa","name":"router","onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.route}}","rightValue":"=start_plain","operator":{"type":"string","operation":"equals"},"id":"eba029de-d22a-4341-9dcd-7976383c1373"}],"combinator":"and"},"renameOutput":true,"outputKey":"start_plain"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fe1e93b-077f-40be-8b4c-b545ea227cba","leftValue":"={{$json.route}}","rightValue":"start_ref","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start_ref"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbc5645e-8130-467d-afcc-3c234b3170cb","leftValue":"={{$json.route}}","rightValue":"main_menu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"main_menu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7dd38da-1474-44a3-8854-08e69f90437f","leftValue":"={{$json.route}}","rightValue":"help","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"help"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eed365e8-9cfe-45e7-a925-f5d7ee9fc4e6","leftValue":"={{$json.route}}","rightValue":"image_choose_format","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_choose_format"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ce9f791-a4fa-4db4-9713-d069d023f786","leftValue":"={{$json.route}}","rightValue":"image_ask_prompt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_ask_prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c5c9f6b-d44c-4d0a-92a4-624a92471480","leftValue":"={{$json.route}}","rightValue":"image_regenerate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_regenerate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09e8f592-d98b-4b6c-a849-6a038e28d353","leftValue":"={{$json.route}}","rightValue":"video_choose_model","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_choose_model"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d16fde0d-0604-41ae-b2fe-364c8f4791b0","leftValue":"={{$json.route}}","rightValue":"video_ask_prompt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_ask_prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b3bb886-ac66-42fa-856c-fc4905effa5f","leftValue":"={{$json.route}}","rightValue":"video_regenerate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_regenerate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4f0585-8bbb-451d-b682-75ead133caa0","leftValue":"={{$json.route}}","rightValue":"image_generate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image_generate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0aba461e-05e8-4ed5-b959-f34b901d9027","leftValue":"={{$json.route}}","rightValue":"video_generate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video_generate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af6d577e-d230-45fd-9db6-c405a2a49b7c","leftValue":"={{$json.route}}","rightValue":"rate_limit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"rate_limit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0596ab82-adc8-4b60-9253-070008241119","leftValue":"={{$json.route}}","rightValue":"unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"unknown"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2080,1620],"id":"e4aa1fcc-d1c3-4866-b0c8-f4f5923ae0ba","name":"switch route"},{"parameters":{"chatId":"={{$json.user_id}}","text":"🎨 *Добро пожаловать в AI Creation Bot!*\n Выберите что хотите создать:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🖼️ Создать изображение","additionalFields":{"callback_data":"create_image"}}]}},{"row":{"buttons":[{"text":"🎥 Создать видео","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"ℹ️ Помощь ","additionalFields":{"callback_data":"help"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2300,1100],"id":"f0561b9d-1831-446d-adfc-ef4751b81fef","name":"send main menu","webhookId":"57cb3907-ebb3-467f-96e9-f525191c15fd","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{$json.user_id}}","chat_id":"={{$json.chat_id}}","state":"main","created_at":"={{new Date().toISOString()}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2480,1100],"id":"43458414-32fe-4ff2-a3f8-73799751b89b","name":"create main","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"📐 *Выберите формат изображения:*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":" 1:1 Квадрат","additionalFields":{"callback_data":"format_1_1"}}]}},{"row":{"buttons":[{"text":"9:16 Вертикальный","additionalFields":{"callback_data":"format_9_16"}}]}},{"row":{"buttons":[{"text":"16:9 Горизонтальный","additionalFields":{"callback_data":"format_16_9"}}]}},{"row":{"buttons":[{"text":"↩️ Главное меню ","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2320,1300],"id":"036715e0-da09-413b-99fa-bbbbf0fb2fa8","name":"edit image format","webhookId":"af6777a9-2b43-4a7a-bbd4-a93e1b1c8dcc","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"id":"{{$json.session.airtable_id}}","state":"image_format","format":"={{$json.text}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2520,1300],"id":"b08d9b25-3937-4132-89f1-79bb8bd10ec8","name":"update format","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"ℹ️ *Помощь по боту*\n\n• Изображения: $0.02 за генерацию\n• Видео: от $0.15 за 10-15 секунд\n• Pro модели: от $0.75 за стандартное качество\n\nВсегда можно вернуться в главное меню!","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2040,1320],"id":"606f57ca-2b71-4cfe-8a93-1bad7620b8e6","name":"Edit Help","webhookId":"e71fa535-7178-4e29-8009-adc10db9222a","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"✍️ *Опишите ваше изображение:* \nСтоимость: $0.02 за генерацию","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Назад ","additionalFields":{"callback_data":"create_image"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2360,1540],"id":"b7fbb1b7-4d22-4fbd-993a-21ebb39bbf07","name":"Edit Ask Image Prompt","webhookId":"ea43cb66-4f84-40b8-85f8-f7d4a47f6fc7","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"waiting_image_prompt","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2540,1540],"id":"74c56918-4424-4546-a5ce-9d729f934abd","name":"wait image","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2360,1740],"id":"054fd66e-ab73-4b39-9080-3d3634be7bc3","name":"image gen stub"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"image_done","file_id":"={{$json.file_id}}","prompt":"={{$json.text}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2580,1740],"id":"5ed60ebf-0e71-4e78-8bf7-98437f4379a2","name":"image done","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"🤖 *Выберите модель для создания видео:*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Sora-2 Текст-в-Видео ","additionalFields":{"callback_data":"sora2_text"}}]}},{"row":{"buttons":[{"text":"Sora-2 Изображение-в-Видео","additionalFields":{"callback_data":"sora2_image"}}]}},{"row":{"buttons":[{"text":"Sora-2-Pro Текст-в-Видео","additionalFields":{"callback_data":"sora2_pro_text"}}]}},{"row":{"buttons":[{"text":" Sora-2-Pro Изображение-в-Видео","additionalFields":{"callback_data":"sora2_pro_image"}}]}},{"row":{"buttons":[{"text":" Veo3 Текст-в-Видео","additionalFields":{"callback_data":"veo3_text"}}]}},{"row":{"buttons":[{"text":"Veo3 Фото-в-Видео","additionalFields":{"callback_data":"veo3_photo"}}]}},{"row":{"buttons":[{"text":"↩️ Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,1880],"id":"47ed7ac2-1c80-4d30-8ff3-4b9949ce9f12","name":"edit video model","webhookId":"e601b84e-350c-406b-9368-b9bf356f0c72","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"video_model","updated_at":"={{new Date().toISOString()}}","model":"={{$json.text}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2700,1880],"id":"33da3e6f-d14c-4b3f-8fcf-47aa4098237b","name":"update model","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.session.model}}","rightValue":"sora2_text","operator":{"type":"string","operation":"equals"},"id":"8dd9d779-c2f9-46d4-a056-08f483be7654"}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"636ccb27-102a-4485-b231-8ae514f23b6c","leftValue":"={{$json.session.model}}","rightValue":"sora2_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77cb86a6-da1c-4373-be0b-5db00aaff790","leftValue":"={{$json.session.model}}","rightValue":"sora2_pro_text ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_text "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21d7aeee-e575-41e2-b12b-ee924446f4ef","leftValue":"={{$json.session.model}}","rightValue":"sora2_pro_image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sora2_pro_image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b86ac298-bf01-468e-9ba9-f25a00e741e2","leftValue":"={{$json.session.model}}","rightValue":"veo3_text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e5e6f44-328d-44c4-9d4d-00fb5c6ac26d","leftValue":"={{$json.session.model}}","rightValue":"veo3_photo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"veo3_photo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2920,1880],"id":"d056ec3c-0fcd-40e9-926a-62fab9a7d68c","name":"switch duration menu"},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⏱️ *Выберите хронометраж:* \n\n• 10 секунд: $0.15\n• 15 секунд: $0.15","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"10 секунд ($0.15)","additionalFields":{"callback_data":"duration_10"}},{"text":"15 секунд ($0.15)","additionalFields":{"callback_data":"duration_15"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3220,1780],"id":"79c4ce66-49e7-4513-9c9e-6547f8ce0463","name":"edit sora2 dur","webhookId":"2d422ae7-60f3-47b2-a195-f523474e2c4c","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⏱️ *Выберите хронометраж и качество:*\n *Стандарт:*\n • 10сек: $0.75\n • 15сек: $1.35 \n\n *Высокое качество:*\n • 10сек: $1.65\n • 15сек: $3.15","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Стандарт 10сек ($0.75)","additionalFields":{"callback_data":"pro_std_10"}},{"text":"Стандарт 15сек ($1.35)","additionalFields":{"callback_data":"pro_std_15"}}]}},{"row":{"buttons":[{"text":"ВК 10сек ($1.65)","additionalFields":{"callback_data":"pro_hq_10"}},{"text":"ВК 15сек ($3.15)","additionalFields":{"callback_data":"pro_hq_15"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3220,1960],"id":"0606254e-bb76-4463-9223-767326422e1c","name":"edit sora2Pro dur","webhookId":"2c20c13f-ed10-4463-b6d2-d214baeb2f91","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⚡ *Выберите скорость и качество:*\n • Быстро: $0.30\n • Качество: $1.25","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Быстро $0.3","additionalFields":{"callback_data":"veo_fast"}},{"text":"Качество $1.25","additionalFields":{"callback_data":"veo_quality"}}]}},{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3220,2140],"id":"83a392e4-614b-4cba-8261-c2b898d8b2a0","name":"edit veo dur","webhookId":"d260e4fe-d098-4ee0-9026-d60500114095","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"=✍️ *Опишите ваше видео:*  Пришлите текстовое описание для генерации.@if($json.session.model.includes('image'))   📎 *Для моделей изображение-в-видео пришлите также фото*@endif","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"↩️ Назад","additionalFields":{"callback_data":"={{$json.session.model}}"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3240,2340],"id":"a0a35356-688e-40ce-8b54-71e783cc1736","name":"edit ask video prompt","webhookId":"53c9da6a-94de-44ed-9cc5-7ad2be8dce7e","credentials":{"telegramApi":{"id":"WkhN45nAM0rbsZmf","name":"Telegram club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"waiting_video_prompt","duration":"={{$json.text}}","price":"={{ {duration_10:0.15,duration_15:0.15,pro_std_10:0.75,pro_std_15:1.35,pro_hq_10:1.65,pro_hq_15:3.15,veo_fast:0.3,veo_quality:1.25}[$json.text] }}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3620,2280],"id":"73108a78-f47c-4060-adbc-72ba999b1520","name":"save dur price","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2380,2300],"id":"e37ac4c2-2f60-4615-9908-b2f00ccc45b7","name":"video gen stub"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblJk6nIr0tywf2Vi","mode":"list","cachedResultName":"sessions","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblJk6nIr0tywf2Vi"},"columns":{"mappingMode":"defineBelow","value":{"state":"video_done","file_id":"={{$json.file_id}}","prompt":"={{$json.text}}","updated_at":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"quality","displayName":"quality","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2560,2300],"id":"40f85276-f162-4dcb-bb13-0c766f3a7708","name":"video done","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}} //from previous node","replyMarkup":"inlineKeyboard","text":" 🎥 *Ваше видео готово!*","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Сделать новое","additionalFields":{"callback_data":"video_ask_prompt"}},{"text":"Выбрать другую модель","additionalFields":{"callback_data":"create_video"}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu","url":"={{$json.file_id}}"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2920,2420],"id":"f363149b-cc52-4199-9f92-db26d3a0efa5","name":"edit video result","webhookId":"c6eef20f-1199-41cb-a0e0-e8ff15aa1d5a","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"⏱️ Подождите 1 секунду между командами.","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2360,2080],"id":"3e1526ac-00cb-4850-8d6c-a745ec54ccd8","name":"edit rate limit","webhookId":"82f4d9a3-b11d-4962-a1fe-aff60453b261","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}}","replyMarkup":"inlineKeyboard","text":"❌ Неизвестная команда","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2380,2500],"id":"b2cab772-ecf6-4d7a-a655-0efd8250dd60","name":"edit unknown","webhookId":"2551073f-3ca1-453a-88a1-09ad0e737bda","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{$json.user_id}}","messageId":"={{$json.message_id}} //from previous node","replyMarkup":"inlineKeyboard","text":"=🖼️ Ваше изображение готово! ","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Сделать новое","additionalFields":{"callback_data":"image_ask_prompt","url":"={{$json.file_id}}"}},{"text":"Скорректировать","additionalFields":{"callback_data":"regenerate"}}]}},{"row":{"buttons":[{"text":"Главное меню","additionalFields":{}}]}},{"row":{"buttons":[{"text":"🏠 Главное меню","additionalFields":{"callback_data":"main_menu"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3020,1640],"id":"0c9ef9ed-927a-4bed-852c-dfe978cea29d","name":"edit image result","webhookId":"9430fa25-51ce-4810-957a-5f7b0dc4dd06","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblSudwVtMGp1VJyF","mode":"list","cachedResultName":"rateLimit","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblSudwVtMGp1VJyF"},"filterByFormula":"={user_id}='{{$json.user_id}}'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[540,1620],"id":"a00caf68-862f-4e13-8b9f-ee01e9a2f6bb","name":"get rate","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"jsCode":"const now = new Date();\nconst rows = $('get rate').item.json.records;\nif(rows.length){\n  const last = new Date(rows[0].fields.ts);\n  if((now - last) < 1000) return [{json:{error:'Too many requests'}}];\n}\nconst rid = rows.length ? rows[0].id : null;\nreturn [{...$json.toJSON(), rate_record_id:rid}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,1620],"id":"f7921824-f5f9-47ea-a979-e3455612dae2","name":"check rate"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblSudwVtMGp1VJyF","mode":"list","cachedResultName":"rateLimit","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblSudwVtMGp1VJyF"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"{{$json.user_id}}","ts":"={{new Date().toISOString()}}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1020,1620],"id":"c5aa5963-8cef-4f5a-b582-27b7572c4c89","name":"create rate","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"applvgUrTDyelU131","mode":"list","cachedResultName":"getYourVideoBot","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131"},"table":{"__rl":true,"value":"tblSudwVtMGp1VJyF","mode":"list","cachedResultName":"rateLimit","cachedResultUrl":"https://airtable.com/applvgUrTDyelU131/tblSudwVtMGp1VJyF"},"columns":{"mappingMode":"defineBelow","value":{"id":"{{$json.rate_record_id}}","ts":"={{new Date().toISOString()}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ts","displayName":"ts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1240,1620],"id":"31b50ea9-2477-4c2e-a2c3-8062d9f303c6","name":"rate update","credentials":{"airtableTokenApi":{"id":"Mwb1i03voej07l1G","name":"Airtable club"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{$json.user_id}}","file":"={{$json.file_id}}","additionalFields":{"caption":"🖼️ Ваше изображение готово! ","disable_notification":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,1740],"id":"8e7249c0-91dc-4134-a709-bcb0f99ddb9f","name":"Send a photo message","webhookId":"ef0acc0a-6502-4c51-a205-bb4511af9c6e","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}},{"parameters":{"operation":"sendVideo","chatId":"={{$json.user_id}}","file":"={{$json.file_id}","additionalFields":{"caption":" 🎥 *Ваше видео готово!*","disable_notification":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2740,2360],"id":"2911a0f4-550a-45f8-bb8f-b3f6f13dc758","name":"Send a video","webhookId":"b294b9a1-096a-4158-8935-8ab3ec20229f","credentials":{"telegramApi":{"id":"E8YvnKvqzpS2HIKb","name":"getYourVideo_bot"}}}],"connections":{"Telegram Trigger1":{"main":[[{"node":"update","type":"main","index":0}]]},"update":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"token_getyourvideo","type":"main","index":0}]]},"token_getyourvideo":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Telegram Trigger1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"main meny","type":"main","index":0}],[],[],[],[{"node":"Callback Router","type":"main","index":0}]]},"Callback Router":{"main":[[{"node":"Image Format Menu","type":"main","index":0}],[{"node":"Video Model Menu","type":"main","index":0}],[],[],[{"node":"Image Prompt","type":"main","index":0},{"node":"Set Image Session","type":"main","index":0}],[{"node":"Sora2 Duration","type":"main","index":0},{"node":"Set Video Session","type":"main","index":0}],[{"node":"Sora2 Pro Duration","type":"main","index":0},{"node":"Set Video Session","type":"main","index":0}],[{"node":"Veo3 Quality","type":"main","index":0},{"node":"Set Video Session","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}],[{"node":"Video Prompt","type":"main","index":0}]]},"Veo3 Quality":{"main":[[]]},"Image Format Menu":{"main":[[{"node":"Set Image Session","type":"main","index":0}]]},"Set Image Session":{"main":[[{"node":"Save to Workflow Data-image","type":"main","index":0}]]},"Video Model Menu":{"main":[[{"node":"Set Video Session","type":"main","index":0}]]},"Set Video Session":{"main":[[{"node":"Save to Workflow Data-video","type":"main","index":0}]]},"Save to Workflow Data-image":{"main":[[{"node":"Image Prompt","type":"main","index":0}]]},"Save to Workflow Data-video":{"main":[[{"node":"Video Model Router","type":"main","index":0}]]},"Video Model Router":{"main":[[{"node":"Sora2 Duration","type":"main","index":0}],[{"node":"Sora2 Duration","type":"main","index":0}],[{"node":"Sora2 Pro Duration","type":"main","index":0}],[{"node":"Sora2 Pro Duration","type":"main","index":0}],[{"node":"Veo3 Quality","type":"main","index":0}],[{"node":"Veo3 Quality","type":"main","index":0}]]},"main meny":{"main":[[]]},"get session":{"main":[[]]},"create session":{"main":[[]]},"Telegram Trigger":{"main":[[{"node":"update1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Telegram Trigger","type":"main","index":0}]]},"update1":{"main":[[{"node":"get rate","type":"main","index":0}]]},"get session1":{"main":[[{"node":"build session","type":"main","index":0}]]},"build session":{"main":[[{"node":"router","type":"main","index":0}]]},"router":{"main":[[{"node":"switch route","type":"main","index":0}]]},"switch route":{"main":[[{"node":"send main menu","type":"main","index":0}],[{"node":"send main menu","type":"main","index":0}],[],[{"node":"Edit Help","type":"main","index":0}],[{"node":"edit image format","type":"main","index":0}],[{"node":"Edit Ask Image Prompt","type":"main","index":0}],[{"node":"image gen stub","type":"main","index":0}],[{"node":"edit video model","type":"main","index":0}],[{"node":"edit ask video prompt","type":"main","index":0}],[{"node":"video gen stub","type":"main","index":0}],[{"node":"image gen stub","type":"main","index":0}],[{"node":"video gen stub","type":"main","index":0}],[{"node":"edit rate limit","type":"main","index":0}],[{"node":"edit unknown","type":"main","index":0}]]},"send main menu":{"main":[[{"node":"create main","type":"main","index":0}]]},"edit image format":{"main":[[{"node":"update format","type":"main","index":0}]]},"Edit Ask Image Prompt":{"main":[[{"node":"wait image","type":"main","index":0}]]},"update format":{"main":[[{"node":"Edit Ask Image Prompt","type":"main","index":0}]]},"image gen stub":{"main":[[{"node":"image done","type":"main","index":0}]]},"edit video model":{"main":[[{"node":"update model","type":"main","index":0}]]},"update model":{"main":[[{"node":"switch duration menu","type":"main","index":0}]]},"switch duration menu":{"main":[[{"node":"edit sora2 dur","type":"main","index":0}],[{"node":"edit sora2 dur","type":"main","index":0}],[{"node":"edit sora2Pro dur","type":"main","index":0}],[{"node":"edit sora2Pro dur","type":"main","index":0}],[{"node":"edit veo dur","type":"main","index":0}],[{"node":"edit veo dur","type":"main","index":0}]]},"edit ask video prompt":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit sora2 dur":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit sora2Pro dur":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"edit veo dur":{"main":[[{"node":"save dur price","type":"main","index":0}]]},"save dur price":{"main":[[{"node":"edit ask video prompt","type":"main","index":0}]]},"video gen stub":{"main":[[{"node":"video done","type":"main","index":0}]]},"video done":{"main":[[{"node":"Send a video","type":"main","index":0}]]},"image done":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"get rate":{"main":[[{"node":"check rate","type":"main","index":0}]]},"check rate":{"main":[[{"node":"create rate","type":"main","index":0}]]},"create rate":{"main":[[{"node":"rate update","type":"main","index":0}]]},"rate update":{"main":[[{"node":"get session1","type":"main","index":0}]]},"edit rate limit":{"main":[[]]},"Send a photo message":{"main":[[{"node":"edit image result","type":"main","index":0}]]},"Send a video":{"main":[[{"node":"edit video result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"50bf85a3-132a-4eb5-bb14-219dd4c40e1c","triggerCount":2,"shared":[{"updatedAt":"2025-11-07T07:45:46.563Z","createdAt":"2025-11-07T07:45:46.563Z","role":"workflow:owner","workflowId":"qMUmJpynPuxtk6ko","projectId":"zwyEtHn1PnfmNkEl"}],"tags":[]}